
@font-face {
  font-family: 'LifehackSans-Regular';
  src: url('LifehackSans-Regular.eot?#iefix') format('embedded-opentype'),  url('LifehackSans-Regular.woff') format('woff'), url('LifehackSans-Regular.ttf')  format('truetype'), url('LifehackSans-Regular.svg#LifehackSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
