/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "TTNorms-Light";

  src: url("./fonts/TTNorms-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/TTNorms-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}