.actionclick {
	max-width: 500px;
	display: inline-block;
	text-align: center;

	&__info {
		color: #b0b8c5;
		margin-top: 15px;

		&.animated {
			animation-delay: 3.9s;
		}
	}

	.i-padlock {
		margin: -8px 7px 0 0;
	}

	.btn-gold {
		&__inner.animated {
			animation-delay: 3.75s;
		}

		&__info.animated {
			animation-delay: 4.1s;
		}
	}
}