.i-phone,
.i-phone-call {

	display: inline-block;

	width: 16px;
	height: 16px;

	fill: $blue;

}

.i-phone-call {
	width: 22px;
	height: 22px;
}

.i-padlock {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	fill: #b6c0ce;
	transform: scaleX(1.16);
}

.i-arrow-left {
	display: block;

	width: 118px;
	height: 77px;
}

.i-doc {
	display: inline-block;

	width: 50px;
	height: 50px;
}



// Graphic
.service__ico {
	&-1 {
		display: inline-block;
		width: 70px;
		height: 74px;
		background: url('../img/ico-1.png') no-repeat center / contain;
	}

	&-2 {
		display: inline-block;
		width: 70px;
		height: 71px;
		background: url('../img/ico-2.png') no-repeat center / contain;
	}

	&-3 {
		display: inline-block;
		width: 70px;
		height: 57px;
		background: url('../img/ico-3.png') no-repeat center / contain;
	}
}