.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	min-height: 7rem;
	padding: 1rem 4.5rem;

	font-size: 1.4rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: var(--color-accent);

	color: #fff;
	border-radius: 1rem;
	cursor: pointer;

	transition: .5s;
	column-gap: 16px;
}
.btn__text {
	text-align: left;
}
.btn__text-normal {
	font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -.025em;
	margin-bottom: 1px;
}
.btn__text-sub {
	font-size: 1.2rem;
	color: #ccd7e2;
	letter-spacing: .05em;
}
.btn._normal {
	min-height: 44px;
	font-size: 1.2rem;
	padding: .5rem 1.5rem;
	border-radius: .8rem;
}
.btn._big {
	min-height: 8.8rem;
	padding: 1.5rem 2.2rem;
}
.btn._light {
	background-color: var(--color-light);
	color: var(--color-blacklight);
}


.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo__icon {
	width: 40px;
	height: 40px;
	margin-right: 13px;
	fill: var(--color-dark);
	transition: .3s;
}
.logo__text {
	width: 157px;
	height: 22px;
	margin-top: 2px;
	fill: var(--color-dark);
	transition: .3s;
}
/* hover */
.logo:hover .logo__icon,
.logo:hover .logo__text {
    fill: var(--color-accent);
}


.menu {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}
.menu a {
	transition: .3s;
	text-decoration: none;
	color: var(--color-dark);
}
.menu a:hover {
	color: var(--color-accent);
}



.messenger {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.messenger__link {
    display: block;
    transition: .3s;
}
.messenger__link:hover {
    transform: scale(1.2);
}
.messenger svg {
    width: 27px;
    height: 27px;
}
.messenger ._i-whatsapp {
    width: 25px;
    height: 25px;
}