$color-dark: #323232;

$color-silver: #d7c7c7;

$color-aqua: #b9ebee;

$color-pink: #ff7b90;
$color-pink--light: #fbf5f6;

$color-yellow: #ffc601;
$color-yellow--light: #ffc708;

$color-blue: #1E90FF;

$color-red: #ff353e; 
$color-red--dark: #df0d38; 

$color-green: #7fc300; 

$color-orange: #FFB406; 