.header {
    padding-top: 20px;
    padding-bottom: 20px;
}


.hero-action {
    padding: 55px 80px;
}
.hero-action__title {
    /* font-weight: normal; */
}
.hero-action__text {
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-dark);
}

.hero-advantages {
    column-gap: 64px;
}
.hero-advantages__item {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4.5px);
}
.hero-advantages__icon {
    margin-right: 30px;
    fill: var(--color-silver);
}
.hero-advantages__icon._icon-stroke-color {
    stroke: var(--color-silver);
}
.hero-advantages__text {
    font-size: 2.4rem;
    color: var(--color-dark);
}


.dealer-item__content {
    padding-left: 50px !important;
}
.dealer-item__description {
    border-left: 1px solid var(--color-dark);
    padding-left: 50px;
    margin-left: -50px;
}


.footer {
    font-size: 1.6rem;
    padding: 25px 0;
}
.footer-menu {
    margin-top: -5px;
}
.footer-menu li {
    padding: 0 20px 10px;
}
.footer-menu a {
    display: inline-block;
    color: var(--color-dark);
    text-decoration: none;
    padding: 5px;
}
.footer-menu a:hover {
    text-decoration: underline;
}
.footer-contact__tel {
    font-size: 2.4rem;
    color: initial;
    text-decoration: none;
}
.footer-contact__tel:hover {
    color: var(--color-primary);
    text-decoration: none;
}
.footer-contact__mail {
    color: initial;
    text-decoration: none;
}


.contact {
    background: linear-gradient(97.23deg, #EEEEEE -1.39%, #9E9E9E 101.83%);
}
.contact__subtitle {
    font-size: 3.2rem;
}