.logo-description {
	font-size: 1.4rem;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	height: 5.5rem;
	padding-left: 78px;
	padding-right: 78px;

	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: var(--color-dark);
	color: #fff;
	cursor: pointer;

	transition: .5s;
}
.btn:hover {
   background-color: var(--color-black);
   color: #fff;
   text-decoration: none;
}
.btn-outline {
	background-color: transparent;
	color: var(--color-dark);
	border-color: var(--color-dark);
}


.hr-line {
	height: 1px;
	background-color: #A2A9AD;
}


.userbar {
	
}


.ui-box-number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 66px;
	height: 66px;
	background-color: var(--color-dark);
	color: white;
	text-align: center;
	font-size: 2.4rem;
}