// ≥992px
@include media-breakpoint-down(md) {

.header {
	&__top {
		padding-right: 80px;
		.call-info {
			order: 1;
			width: 100%;
			margin: 15px 0;
		}
	}
	&__offer {
		padding-top: 50px;
	}
	&__bg {
		.bg__el-1 {
			margin-left: 255.5px;
			top: 133.3px;
		}
		.bg__el-2 {
			margin-left: -333px;
			top: 133.3px;
		}
	}
}

.s-total {
	&__bg1 {
	    right: -10px;
	    top: -320px;
	}
}

.doc-inf {
	&__device1 {
	    margin: -50px 0 -50px -480px;
		transform: scale(.7);
		position: relative;
	    left: 50%;
	}
	&__verstka {
		padding-bottom: 0;
		&-bg1 {
			bottom: 40px;
		    top: inherit;
		}
		.device {
			margin: 20px 0;
		}
	}
}

.content-img-3,
.content-img-4 {
	margin: 0;
}

.start-ad {
	margin-bottom: 60px;
	&_banner {
		text-align: center;
		img {
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
}

.txt-bg-yellow {
	margin-right: 0;
}

.device-content {
	.device__mac {
	    left: 50%;
		margin-left: -495px;
	}
	.device__ipad {
		top: 120px;
	    left: 50%;
	    margin-left: -270px;
	}
	.device__iphone {
		left: 50%;
	    margin-left: -155px;
	    top: 232px;
	}
}

.go-offer {
	.btn,
	.txt-and-ico {
		width: 100%;
		max-width: 500px;
	}
}

.convers-inf {
	.total-ul {
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		font-size: 20px;
		li {
			width: 50%;
			padding-right: 20px;
		}
	}
	&-graphic {
		order: -1;
		margin-bottom: 30px;
		img {
			max-width: 100%;
		}
	}
}

.total-ul {
    padding-left: 0;
}

}