// ≥768px
@include media-breakpoint-down(sm) {

.device__mac,
.device__ipad,
.device__iphone {
	transform: scale(.75);
}

.header {
	&__offer {
		padding-bottom: 530px;
		.device {
			bottom: 20px;
		}
		.device__mac {
		    margin-left: -488px;
		}
		.device__ipad {
			margin-left: -282px;
		}
		.device__iphone {
			margin-left: -315px;
			top: 220px;
		}
	}
	&__bg {
		.bg__el-1 {
		    margin-left: 155.5px;
		    top: 77.7px;
		    opacity: .6;
		}
		.bg__el-2 {
			margin-left: -277.7px;
		    top: 177.7px;
		    opacity: .6;
		}
	}
}

.doc-inf {
	&__verstka-bg1 {
		left: -11.1px;
		bottom: 11.1px;
	}
	&_title1 {
		font-size: 33.3px;
	}
}

.start-ad_txt:before {
    right: -260px;
    top: -300px;
}

.s-intro {
	font-size: 20px;
	padding-bottom: 80px;
}

.s-total {
	&__bg1 {
	    right: -120px;
	    top: -310px;
	}
	.total-ul {
		font-size: 20px;
	}
}

.accent-inf {
	.h2 {
		margin-bottom: 20px;
	}
}

.btn {
	&__ico {
		margin: 0 8px;
	}
}

.lst-itms {
	padding-top: 10px;
	li {
		margin-bottom: 10px;
	}
}

.device-content {
	.device__iphone {
		margin-left: -245px;
		top: 202px;
	}
}

}