// ≥576px
@include media-breakpoint-down(xs) {

.h1, h1 {
	font-size: 33px;
}
.h2, h2 {
	font-size: 28px;
}


// text size
.t-sm {
	font-size: 13px;
}
.t-md {
	font-size: 16px;
}
.t-lg {
	font-size: 20px;
}
.t-xl {
	font-size: 24px;
}
.t-xxl {
	font-size: 27px;
}

.logo {
	&__ico {
		width: 73px;
		height: 37px;
		background-size: cover;
	}
	&__img {
		width: 97px;
		height: 37px;
		background-size: cover;
	}
	&__txt {
		font-size: 13px;
	}
}

.header {
	&__top {
		padding: 20px 60px 20px 15px;
	}
	&__offer {
		padding-top: 10px;
		padding-bottom: 380px;
		.device {
			bottom: -20px;
			&__mac {
			    margin-left: -478px;
		        top: 130px;
			}
			&__ipad {
			    margin-left: -333px;
			}
			&__iphone {
			    margin-left: -203px;
			}
		}
	}
	&__bg {
		.bg__el-1 {
			transform: scale(.7);
			margin-left: 122.2px;
		    top: 65px;
		}
		.bg__el-2 {
			transform: scale(.7);
			margin-left: -217.7px;
		    top: 133px;
		}
	}
	.alert-txt {
		margin-bottom: 40px;
		max-width: 250px;
	}
}

.s-intro {
	padding-right: 15px;
	font-size: 17px;
	position: relative;
	min-height: 475px;
	padding-bottom: 100px;
	margin-bottom: -60px;
	&:before {
		content: '';
		width: 43px;
		height: 474px;
		background-image: url(../img/sm/bg-el0.jpg);
		position: absolute;
		bottom: -80px;
		right: 0;
		z-index: -1;
	}
	&__txt {
		max-width: 350px;
	}
	.mb-35 {
		margin-bottom: 25px;
	}
}

.s-total {
	&__bg1 {
		display: none;
	}
	.device__mac {
		position: relative;
		left: 50%;
	    margin: -100px 0 -122px -478px;
	    margin-left: -478px;
	    z-index: 1;
	}
}

.alert-txt {
	font-size: 16px;
}

.device__ipad, .device__iphone, .device__mac {
    transform: scale(.5);
}
.device__mac {
	margin-top: -100px;
	margin-bottom: -122px;
}

.device-content {
	.device__mac {
		margin-left: -478px;
	}
}

.total-ul {
	li {
		margin-bottom: 20px;
	}
	.t-medium {
		font-size: 24px;
	}
}

.accent-inf {
	font-size: 18px;
	margin-bottom: 50px;
	.h2 {
		padding-right: 0;
	}
}

.doc-inf {
	font-size: 18px;
	&_title1 {
		margin: 0;
		padding: 15px 0 30px;
		font-size: 26px;
	}
	&__verstka {
		margin-bottom: 20px;
		&-device {
			.device__mac {
				top: 30px;
			}
			.device__ipad {
				top: 180px;
			    margin-left: -320px;
			}
			.device__iphone {
				margin-left: -202px;
			    top: 245px;
			}
		}
	}
	.h2 {
		margin-bottom: 20px;
		line-height: inherit;
	}
	.lst-itms {
		margin-bottom: 40px;
	}
	.mb-60 {
		margin-bottom: 45px;
	}
	.mb-85 {
		margin-bottom: 60px;
	}
	.mb-90 {
		margin-bottom: 50px;
	}
}

.start-ad {
	&_txt {
		margin-top: 0;
		&:before {
			display: none;
		}
	}
}

.convers-inf {
	.total-ul {
		font-size: 17px;
	}
	.t-medium {
		font-size: 20px;
	}
}

.lst-counter {
	margin-bottom: 40px;
}


.go-offer {
	padding: 50px 15px;
}

.btn {
	border-radius: 60px;
}

.txt-and-ico {
	font-size: 13px;
	&__ico {
		font-size: 24px;
		margin-right: 8px;
	}
}


.phone-address-content {
	.soc-bar {
		margin-left: inherit;
		margin-right: auto;
		order: -1;
	}
	.call-info {
		width: 100%;
		margin-top: 20px;
		text-align: left;
	}
}


}