// ≥1200px
@include media-breakpoint-down(lg) {

.container {
	max-width: 100%;
}

.header {
	&__offer {
		min-height: auto;
		padding-bottom: 600px;
		text-align: center;
		&-content {
			margin-left: auto;
			margin-right: auto;
		}
		.device {
			top: inherit;
			margin-top: 0;
			bottom: 80px;
		}
		.device__mac {
			left: 50%;
			margin-left: -495px;
			top: 30px;
		}
		.device__ipad {
		    margin-left: -222px;
		}
		.device__iphone {
		    margin-left: -400px;
		    top: 250px;
		}
		.txt {
			padding-right: 0;
		}
	}
	&__bg {
		.bg__el-1 {
			margin-left: 324px;
		}
		.bg__el-2 {
			margin-left: -444px;
		}
	}
}

.s-total {
	.device__mac {
		margin-left: -188px;
	}
}

.doc-inf {
	&_intro {
		margin-bottom: 50px;
	}
	&__device1 {
		margin: 25px auto 0;
		position: relative;
	}
	&_title1 {
		text-align: center;
		margin: 70px 0;
	}
	.bg-el1 {
		margin-left: -90px;
	}
}

.content-img-2 {
	margin: 0 0 35px;
	text-align: center;
}

.content-img-3 {
    margin: 0 0 -150px 320px;
}

.content-img-4 {
    margin-left: 100px;
}

.device-content {
	.device__mac {
	    margin-left: -470px;
	}
	.device__ipad {
		top: 180px;
	    margin-left: -320px;
	}
	.device__iphone {
		left: -33.3px;
	    top: 333px;
	}
}

.doc-inf {
	.lst-itms {
		margin-bottom: 60px;
	}
}

.total-ul {
	padding-left: 25px;
}


.start-ad {
	&_txt {
		position: relative;
		&:before {
			content: '';
			width: 499px;
			height: 663px;
			background: url('../img/bg-el1.jpg');
			position: absolute;
			right: -50px;
			top: -300px;
			z-index: -1;
		}
		&-inner {
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
		}
	}
	&_reklama {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 50px;
	}
	.bg-el1 {
		display: none;
	}
}

.footer {
	text-align: center;
	line-height: 1.5;
}

}