@media only screen and (max-width : 1600px) {

.s-intro {
	padding-right: 17.77%;
}

.s-total {
	&__bg1 {
		right: -50px;
	    top: -450px;
	}
}

.header {

	.logo , .alert-txt {
		margin-left: 0;
	}
	.togg-lang {
		margin-right: 0;
	}

	&__top {
		padding-left: 15px;
		padding-right: 15px;
	}
	&__offer {
		padding-bottom: 600px;
		.device {
			top: inherit;
			margin-top: 0;
			bottom: 50px;
		}
		.device__mac {
			margin-left: -640px;
		}
		.device__ipad {
	        top: 160px;
		    margin-left: -197px;
		}
		.device__iphone {
			top: 250px;
		    margin-left: -550px;
		}
	}
}

.doc-inf__verstka-bg1 {
	top: 270px;
    left: -30px;
}

.device-content {
	.device__ipad {
		margin-left: -158px;
	}
	.device__iphone {
		left: -50px;
	    top: 240px;
	}
}

.s-total {
	.device__mac {
		margin-left: -115px;
	}
}

.start-ad {
	margin-bottom: 55.5px;
	&_txt {
		margin-top: 99.9px;
	}
}

}