@media only screen and (max-width : 1200px) {

.container {
	max-width: 100%;
}

.site-descrp {
	max-width: 250px;
}

.header__top {
	align-items: flex-start;
	padding-top: 15px;
}
.header__top-aside {
	max-width: 380px;
	flex-direction: column;
}

.callinfo {
	padding: 0 0 10px;
	text-align: right;
}
.callinfo__text {
	margin: 0;
}

.whitebox {
	padding: 25px;
}

.offerbox .listpoint {
	margin-left: 0;
}

.featuresbox__item {
	padding-left: 5px;
	padding-right: 5px;
}
.featuresbox__text {
	font-size: 16px;
}

.quizcalc__content {
	padding-left: 33px;
	padding-right: 33px;
}
.quizcalc__title {
	padding-top: 0;
}

.we__graphic .img-journal {
	right: -40px;
}
.we__graphic .img-brus {
	right: -20px;
}

.questions__block {
	padding: 42px 34px;
}
.questions__form {
	max-width: 580px;
}

.advantage__img .objectfit-cover {
	object-position: left center;
}

.why__content {
	height: 777px;
	background-image: url(../img/media/1200/why.jpg);
	margin-top: -222px;
}

.reviews {
	padding: 111px 0 33px;
	margin-bottom: 55px;
}
.reviews .img-brus {
	margin-left: -555px;
}
.reviews .img-brus-right {
	top: 222px;
    margin-left: 111px;
}

.working__descrp {
	left: 33px;
	top: 22px;
}
.working__descrp-title {
	line-height: 1.1;
}

} /* end media 1200 */


@media only screen and (max-width : 992px) {

.h1, h1 {
	font-size: 47px;
}
.h2, h2 {
	font-size: 42px;
}

.header__title {
	margin-right: -50px;
}
.header__subtitle {
	font-size: 20px;
}

.offerbox__action {
	padding-right: 0;
	max-width: 555px;
	margin: 0 auto;
}
.offerbox .listpoint {
	margin: 0;
}
.offerbox .listpoint {
	display: flex;
	flex-wrap: wrap;
}
.offerbox .listpoint__item {
	width: 50%;
}
.offerbox .listpoint__text {
	max-width: 295px;
	padding-right: 15px;
}

.quizcalc {
	flex-direction: column;
}
.quizcalc__aside {
	max-width: 100%;
	border-radius: 12px;
	margin: 0 33px 33px;
}
.quizcalc__aside::before {
	border-radius: 10px;
	width: calc(100% - 16px);
	border: 1px solid rgba(0,0,0,.05);
	left: 8px;
}

.yourdiscount__sum,
.devmaster {
	max-width: 333px;
	margin-left: auto;
	margin-right: auto;
}

.img-journal {
	width: 757px;
	height: 515px;
}
.img-journal::after {
	width: 946px;
	height: 705px;
	background-image: url("../img/media/992/journal.png");
	left: -130px;
	top: 0;
}

.we__content {
	min-height: 475px;
}
.we__graphic {
	height: 475px;
}
.we__graphic .img-brus {
	top: -70px;
}
.we__btn-wrap {
	text-align: center;
}

.infolist__title {
	font-size: 18px;
}
.infolist__text {
	font-size: 16px;
	max-width: 333px;
}

.portfolio {
	margin-bottom: 0;
}

.advantage {
	margin-bottom: 30px;
}

.featuresbox__title {
	max-width: 555px;
	font-size: 20px;
}
.featuresbox__text .h6 {
	font-size: 18px;
}

.whylogs {
	margin-bottom: 50px;
}

.working__descrp-num {
	font-size: 50px;
}
.working__descrp-title {
	font-size: 21px;
	line-height: 1;
}

.questions__title {
	margin-bottom: 15px;
}
.questions__form {
	text-align: center;
	margin-bottom: 40px;
}
.questions__content {
	flex-direction: column;
}
.questions__call {
	margin: 0 auto;
}

} /* end media 992 */


@media only screen and (max-width : 768px) {

.h2, h2 {
	font-size: 38px;
}

.header .site-descrp {
	display: none;
}

.animation-icon-phone {
	display: block;
	margin: 15px 0 0 auto;
}

.header__top {
	margin-bottom: 40px;
}
.header__top-aside {
	display: none;
}
.header__offer {
	flex-direction: column;
}
.header__title {
	margin-right: 0;
}
.header__hgroup {
	text-align: center;
}
.header__circlebox {
	margin: 0 auto;
}

.listpoint__item {
	align-items: flex-start;
}
.listpoint .img67x67 {
	margin-right: 12px;
}
.listpoint__text {
	font-size: 16px;
	line-height: 1.2;
}


.featuresbox__item:first-child,
.featuresbox__item:last-child {
    margin-top: 0;
}
.featuresbox__item {
	flex: 50%;
}

.quizcalc__title {
	text-align: center;
}
.quizcalc__btn-wrap {
	text-align: center;
}

.infolist__title {
	font-size: 16px;
}
.infolist__text {
	font-size: 15px;
}

.portfolio__col {
	padding-bottom: 30px;
}
.portfolio__item {
	padding-bottom: 20px;
}
.portfolio__descrp {
	font-size: 18px;
}
.portfolio__img {
	margin-bottom: 10px;
}

.advantage__item {
	padding: 10px;
	min-height: 160px;
}
.advantage__title {
	font-size: 18px;
}
.advantage__text {
	font-size: 16px;
	max-width: 400px;
}

.why__content {
	height: 600px;
	background-image: url(../img/media/768/why.jpg);
	margin-top: -97px;
}
.why__circlebox {
	bottom: 90px;
	margin-left: 40px;
}

.circlebox.--big {
	width: 170px;
	height: 170px;
	font-size: 16px;
}

.reviews {
	padding-top: 50px;
}
.reviews-slider__item img {
	max-width: 70%;
}

.questions__form-tel {
	width: 100%;
}

.footer .header__top {
	padding-top: 120px;
	margin-bottom: 10px;
	text-align: center;
}
.footer .site-descrp {
	margin: 0 auto;
}
.footer .animation-icon-phone {
	position: absolute;
	right: 15px;
	top: 15px;
}


} /* end media 768 */


@media only screen and (max-width : 576px) {

.h1, h1 {
	font-size: 32px;
}
.h2, h2 {
	font-size: 28px;
}
.h4, h4 {
	font-size: 23px;
	line-height: 1.2;
}

.header__subtitle {
	font-size: 18px;
}
.offerbox .listpoint__item {
	width: 100%;
}
.listpoint__text {
	font-size: 15px;
}

.btn__text {
	font-size: 13px;
}

.featuresbox__title {
	font-size: 18px;
}
.featuresbox__item {
	flex: 100%;
	margin-bottom: 20px;
}

.cost {
	padding-bottom: 0;
}

.quizcalc-action {
	justify-content: center;
}
.quizcalc__content {
	padding: 20px 20px 50px;
}
.quizcalc__aside {
	margin: 0 15px 15px;
}

.calc {
	padding-bottom: 10px;
}

.we {
}
.we__header {
	margin-bottom: 30px;
}
.we__graphic-wrap {
	display: none;
}
.why__content {
	margin-top: -200px;
}
.why__circlebox {
	margin-left: -85px;
}

.reviews-slider .slick-arrow--left {
    margin-left: 0;
    left: 5%;
}
.reviews-slider .slick-arrow--right {
    margin-left: 0;
    left: inherit;
    right: 5%;
}

.questions__block {
    padding: 30px 15px;
}
.questions__form-inner {
	flex-direction: column;
}
.questions__form-tel {
	margin-bottom: 20px;
}

} /* end media 576 */


@media only screen and (max-width : 480px) {



} /* end media 480 */