/* Grid lines */
.gridlines {
	width: 932px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -674px;
	pointer-events: none;
}
.gridlines span {
	width: 1px;
	height: 100%;
	background-color: rgba(169, 169, 169, .1);
	position: absolute;
	left: 0;
	top: 0;
}
.gridlines span:nth-child(2) {
	left: 384px;
}
.gridlines span:nth-child(3) {
	left: 100%;
	margin-left: -6px;
}


/* Burger button */
.burger-btn {
	width: 52px;
	height: 52px;
	position: relative;
	background-color: #fff;
	border-radius: 50px;
	cursor: pointer;
	z-index: 1;
}
.burger-btn__line {
	width: 20px;
	height: 1px;
	background-color: #0e0e0e;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -1px 0 0 -10px;
}
.burger-btn__line:nth-child(1) {
	margin-top: -9px;
	box-shadow: 0 1px 0 rgba(0,0,0,.5);
}
.burger-btn__line:nth-child(2) {
	box-shadow: 0 -1px 0 rgba(0,0,0,.2),
				0 1px 0 rgba(0,0,0,.2);
}
.burger-btn__line:nth-child(3) {
	margin-top: 7px;
	box-shadow: 0 -1px 0 rgba(0,0,0,.5);
}


/* Site description */
.site-descrp {
	max-width: 380px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .015em;
}


/* Logo */
.logo {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	width: 185px;
	height: 103px;
	padding: 10px 10px 40px;
}
.logo::before {
	content: "";
	width: 269px;
	height: 154px;
	background: url("../img/logobox.png");
	position: absolute;
	left: -42px;
	top: 0;
}
.logo__text {
	display: block;
	position: relative;
	font: bold 21px/1 'PlayfairDisplay';
	letter-spacing: .015em;
	word-wrap: break-word;
	text-align: center;
	text-transform: uppercase;
}

.callinfo {
	position: relative;
	z-index: 1;
	color: #808080;
	font-weight: 300;
	font-size: 14px;
	padding: 5px 38px 5px 15px;
}
.callinfo__text {
    letter-spacing: .01em;
    margin: 0 0 5px 8px;
}
.callinfo__tel {
	font-size: 21px;
	font-weight: 500;
	color: initial;
	text-decoration: none;
	letter-spacing: .02em;
}


/* button */
.btn {
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90px;
	padding: 10px 40px 5px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}
.btn::before ,
.btn::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 10px;
}
.btn::before {
	border-radius: 20px;
	background-color: #c2b590;
	box-shadow: 0 20px 12px -20px rgba(0,0,0,.4);
	top: 5px;
}
.btn::after {
	background-image: -webkit-linear-gradient( 31deg, rgb( 224, 201, 134 ) 0%, rgb( 255, 241, 191 ) 100%);
}
.btn__text {
	color: #564a39;
	font-size: 15px;
	line-height: 1.45;
	letter-spacing: .085em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}
.btn__text strong {
	font-weight: 500;
}

.btn--normal {
	height: 65px;
	padding: 9px 75px 5px;
}
.btn--normal::before {
	top: 3px;
}
.btn--normal .btn__text {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: .1em;
}


.btn-silver {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	min-height: 57px;
	padding: 10px 28px;
	border-radius: 8px;
	background-color: #b7b7b7;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: .05em;
	text-decoration: none;
	text-transform: uppercase;
}


/* circle box */
.circlebox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 154px;
	height: 154px;
	border-radius: 50%;
	background-color: #f8f8fa;
	border: 1px dashed #e1e1e2;
	box-shadow: 0 0 0 5px #f8f8fa;
	font: 300 16px/1.2 'Rubik';
	position: relative;
	text-align: center;
	color: #000;
	overflow: hidden;
	padding: 0 10px 9px;
	letter-spacing: .05em;
}
.circlebox.--big {
	width: 196px;
	height: 196px;
	box-shadow: 0 0 0 6px #f8f8fa;
	font-size: 18px;
}
.circlebox [class*="i-"] {
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
}
.circlebox [class*="i-"]::before {
	content: " ";
	display: block;
	width: 90px;
	height: 70px;
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
	position: absolute;
	top: -20px;
	left: -35px;
}

/* icons */
.i-element {
	display: inline-block;
}
.i-home svg {
	width: 42px;
	height: 42px;
	fill: #707070;
}
.i-checkmark svg {
	width: 28px;
	height: 28px;
	fill: #89d47f;
}

/* images */
.img67x67 , .img141x141 {
	display: inline-block;
	width: 67px;
	height: 67px;
	overflow: hidden;
}
.img141x141 {
	width: 141px;
	height: 141px;
}


/* description mark */
.descrpmark-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 26px;
}
.descrpmark-group .descrpmark {
	margin-bottom: -3px;
}
.descrpmark {
	display: inline-block;
	text-align: center;
	background-color: #8AE37C;
	border-radius: 6px;
	padding: 8px 22px 7px;
}
.descrpmark.--white {
	min-width: 186px;
	background-color: white;
	position: relative;
}
.descrpmark.--small {
	font-size: 15px;
}


/* Images elements */

.img-brus {
	display: inline-block;
	width: 239px;
	height: 243px;
	background-image: url("../img/brus.png");
}

.img-brus-right {
	display: inline-block;
	width: 225px;
	height: 204px;
	background-image: url("../img/brus-right.png");
}

.img-journal {
	position: relative;
	display: inline-block;
	width: 1082px;
	height: 729px;
}
.img-journal::after {
	content: "";
	width: 1351px;
	height: 1007px;
	background-image: url("../img/journal.png");
	position: absolute;
	left: -183px;
	top: 0;
}


/* Information list */

.infolist__item {
	display: flex;
	max-width: 555px;
	margin-bottom: 37px;
}
.infolist__icon {
	margin-right: 15px;
}
.infolist__title {
	margin-bottom: 10px;
}
.infolist__text {
	font-size: 18px;
	font-weight: 300;
}


/* section Heading */
.heading {
	padding-bottom: 35px;
}
.heading__title {
	margin-bottom: 30px;
}
.heading__text {
	font-size: 20px;
}