.main-nav {
	background-color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	box-shadow: 0 10px 50px rgba($blue, .2);
	&.red {
		background-color: $red;
		font-size: 14px;
		font-weight: 500;
		color: #fff;
		li {
			&:hover {
				& > a {
					color: #333;
				}
				& > a.active {
					color: #333;
				}
			}
		}
		a {
			height: 64px;
			padding-top: 2px;
			&:hover {
				color: #333;
			}
			&.active {
				background-color: #fff;
				color: #333;
				box-shadow: 0 0 30px rgba(#651019, .35);
			}
		}
	}
	ul {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	li {
		flex-grow: 1;
		position: relative;
		&:hover {
			& > a {
				color: $blue-normal;
				&.active {
					color: #fff;
				}
			}
			.main-nav__submenu {
				visibility: visible;
				opacity: 1;
			}
		}
		.main-nav__submenu {
			position: absolute;
			width: 380px;
			left: 50%;
			top: 100%;
			margin-left: -190px;
			background-color: #fff;
			z-index: 2;
			box-shadow: 0 10px 50px rgba($blue, .2);
			border-radius: 0 0 4px 4px;
			padding: 25px 0;
			transition: .5s;
			visibility: hidden;
			opacity: 0;
			h6 {
				font-size: 15px;
				font-weight: 600;
				padding: 0 35px 12px;
				color: #000;
			}
			a {
				height: auto;
				display: block;
				padding: 4px 35px;
				font-size: 16px;
				font-weight: 400;
				text-transform: none;
				color: $blue;
				&:hover {
					color: $red;
				}
			}
		}
	}
	a {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: inherit;
		transition: .5s;
		padding: 0 5px;
		&.active {
			cursor: default;
			font-weight: 500;
			background-color: $red;
			color: #fff;
		}
	}
}

.offer {
	width: 100%;
	max-width: 980px;
    padding: 34px 0 40px;
	background-color: $blue;
	font-size: 18px;
	border-radius: 4px;
	a {
		color: inherit;
		border-bottom: 1px solid #3b5980;
	}
	.container,
	.col {
		padding: 0 30px;
	}
	.row {
		padding: 0;
	}
	.h3 {
		margin: 0 -20px 22px;
	}
	.ul-list a {
		border-color: #3b5980;
		line-height: 1;
		&:hover {
			color: $red;
		}
	}
	&__description {
		padding-top: 55px;
		p {
			margin-bottom: 7px;
		}
		li {
			line-height: 1.7;
		}
	}
}

.association {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 0;
	a {
		display: block;
		width: 33.33%;
		padding: 8px 10px;
		span {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 120px;
			border: 1px solid $silver;
			background-color: #fff;
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			transition: 1s;
		}
		strong {
			margin-top: 8px;
		}
		&:hover span {
			box-shadow: 0 10px 60px rgba($blue, .35);
			z-index: 1;
		}
	}
	&.two-version {
		a {
			width: 50%;
			padding: 10px;
			span {
				height: 180px;
				border: none;
			}
		}
	}
}

.certificate {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	&__item {
		display: block;
		width: 290px;
		height: 400px;
		padding: 10px;
		img {
			max-width: 100%;
		}
		picture {
			display: block;
			background-color: #fff;
			border-radius: 4px;
			padding: 19px 16px;
			position: relative;
			transition: 1s;
			span {
				display: block;
				width: 238px;
				height: 342px;
				overflow: hidden;
			}
		}
		&:hover picture {
			box-shadow: 0 10px 60px rgba($blue, .35);
			z-index: 1;
		}
	}
}

.our-partners {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		padding: 30px 0;
		a {
			flex-grow: 1;
			flex-basis: 180px;
			padding: 10px;
			&:hover {
				picture {
					border: 1px solid rgba(#fff, .3);
				}
				img {
					opacity: 1;
				}
			}
		}
		picture {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;
			max-width: 180px;
			border: 1px solid rgba(#fff, .1);
			border-radius: 4px;
			overflow: hidden;
			transition: 1s;
		}
		img {
			display: block;
			max-width: 80%;
			transition: 1s;
			opacity: .55;
		}
	}
}

.news-list {
	&.two-version {
		a {
			font-weight: 500;
		}
		li {
			margin-bottom: 27px;
		}
	}
	li {
		margin-bottom: 13px;
	}
	time {
		display: block;
		font-size: 14px;
		color: #999;
		margin-bottom: 3px;
	}
	a {
		font-size: 18px;
		line-height: 1.45;
		border-bottom: 1px solid rgba(#0856ab, .2);
		&:hover {
			color: $red !important;
			border-bottom-color: transparent;
		}
	}
	p {
		font-size: 14px;
		color: #333;
		margin: 6px 0 10px;
	}
}

.information-box {
	background-color: #fff;
	border-radius: 4px;
	padding: 0 0 43px 0;
	&__header {
		padding: 29px 0 0 100px;
		min-height: 80px;
		position: relative;
		margin-bottom: 33px;
		h4 {
			display: inline;
			border-bottom: 2px solid $blue-normal;
			padding-bottom: 10px;
			margin-right: 20px;
			line-height: 1.8;
		}
		.i-info {
			width: 50px;
			height: 77px;
			background-color: $red;
			color: #fff;
			position: absolute;
			left: 40px;
			top: 0;
			&:before {
				font-size: 25px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 14px;
			}
			&:after {
				content: '';
				display: block;
				border: 25px solid transparent;
				border-top: 10px solid $red;
				position: absolute;
				left: 0;
				top: 100%;
			}
		}
	}
	.ul-list {
		padding: 0 20px 24px 57px;
		li {
			padding-left: 43px;
			margin-bottom: 10px;
			&:before {
				top: 12px;
			}
		}
	}
}


.ul-list {
	font-size: 18px;
	&.padding-left li {
		padding-left: 60px;
	}
	li {
		padding-left: 30px;
		position: relative;
	    margin-bottom: 4px;
		&:before {
			content: '';
			width: 16px;
			height: 1px;
			background-color: $red;
			position: absolute;
			left: 0;
			top: 14px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		border-bottom: 1px solid rgba(8,86,171,.2);
	}
}

.ol-list {
	counter-reset: number;
	li {
		position: relative;
		padding-left: 30px;
		margin-bottom: 25px;
		&:before {
			counter-increment: number;
		    content: counter(number) ".";
		    position: absolute;
		    left: 0;
		    top: 0;
		}
	}
}


.tab {
	&-nav {
		display: flex;
		flex-wrap: wrap;
		li {
			flex-grow: 1;
		}
		a {
			display: block;
			height: 78px;
			border-bottom: 1px solid $silver;
			background-color: #fff;
			padding: 31px 10px 0;
			text-align: center;
			font-size: 24px;
			font-weight: 500;
			color: $blue-light;
			&.active {
				background-color: $blue;
				color: #fff;
			}
		}
	}
	&-content {
		position: relative;
		background-color: #fff;
		overflow: hidden;
		& .make_transist {
			position: absolute;
			top: 0;
			&.showscale {
				z-index: 2;
			}
		}
		.news-list {
			padding: 36px 40px 40px;
		}
	}
}

.offer-form {
	color: #fff;
	background-color: $blue;
	border-radius: 4px;
	padding: 35px 20px;
	text-align: center;
	font-size: 14px;
	position: relative;
	input[type='text'],
	input[type='email'],
	input[type='tel'] {
		font-size: 16px;
		margin-bottom: 15px;
		&:focus {
			box-shadow: 0 5px 20px rgba(#fff, .3);
			border-color: rgba(#fff, .4);
		}
	}
	a {
		color: inherit;
		border-bottom-color: rgba(#fff, .2);
		&:hover {
			color: $red;
		}
	}
	p {
		margin-bottom: 15px;
	}
	.h5 {
		margin-bottom: 20px;
	}
	.offer__description {
		color: #fff;
		padding-top: 20px;
	}
	.ul-list {
		text-align: left;
		font-size: 14px;
		margin-bottom: 0;
		li {
			line-height: 1.4;
			margin-bottom: 12px;
			&:before {
				top: 10px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.mfp-close {
		color: #fff;
	}
}


.contacts {
	font-size: 18px;
	padding: 0 80px 80px 0;
	font-weight: 500;
	line-height: 1.4;
	color: #333;
	ul {
		margin: 25px 0;
	}
	li {
		padding: 12px 0 12px 30px;
		position: relative;
		[class*="i-"] {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: $red;
			font-size: 16px;
			margin-top: -2px;
		}
		.i-smartphone {
			font-size: 18px;
		}
		.i-phone {
			font-size: 17px;
		}
		.i-location {
			font-size: 19px;
		}
	}
	strong {
		font-weight: 500;
	}
	a {
		color: $blue-normal;
		&:hover {
			color: $red;
		}
	}
	p {
		margin: 0 0 0;
	}
}

.google-map {
	width: 100%;
}

.content {
	color: #333;
	padding: 0 60px 25px 0;
	&.padding-right--0 {
		padding-right: 0;
	}
	strong {
		font-weight: 500;
	}
	h1, h2, h3, h4 {
		font-weight: 500;
		color: #000;
	}
	h3 {
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 25px;
	}
	p {
		margin-bottom: 20px;
		&.margin-bottom--40 {
			margin-bottom: 40px;
		}
	}
	.ul-list {
		font-size: 16px;
		margin-bottom: 0;
		li {
			margin-bottom: 25px;
			&.margin-bottom--40 {
				margin-bottom: 40px;
			}
		}
	}
	.link-more {
		display: inline-block;
		margin-top: 25px;
	}
}

.aside-nav {
	nav {
		border: 1px solid $silver;
		border-radius: 4px;
		margin-bottom: 16px;
		padding: 30px 0;
	}
	a {
		display: block;
		font-weight: 500;
		color: $blue;
		text-transform: uppercase;
		padding: 0 20px 0 30px;
		margin-bottom: 15px;
		position: relative;
		transition: .5s;
		&:hover {
			color: $red;
		}
		&.active {
			color: #000;
			cursor: default;
			&:before {
				content: '';
				width: 4px;
				height: 100%;
				background-color: $red;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}


.back-call-form {
	max-width: 580px;
	margin: 0 auto;
	padding: 45px 15px;
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	text-align: center;
	h3 {
		margin-bottom: 20px;
	}
	input, .btn {
		display: block;
		width: 80%;
		margin: 0 auto 20px;
	}
}