@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

body {
	font-size: 15px;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding: 0 15px;
}

.container {
	max-width: 100%;
}

.panel-top {
	.reg-number {
		display: none;
	}
	.sandwich-box {
		display: block;
	}
	.main-nav {
		display: none;
	}
}

.offer .col,
.offer .container {
	padding: 0 15px;
}

.information {
	&__tabs {
		padding-right: 0;
	}
	.information-box {
		margin-left: 0;
	}
}

.ul-list {
	font-size: 17px;
}

.news-list a {
	font-size: 17px;
}

.about {
	padding: 70px 0 50px;
}

.company {
	padding-bottom: 60px;
	.header-title {
		h2 {
			font-size: 32px;
		}
		.link-burger {
			margin-top: 10px;
		}
	}
}

.advantages {
	margin-bottom: 70px;
	.red-box-title {
		margin-left: -33px;
	}
}

.testimonies {
    padding: 70px 0 50px;
	.col-6 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 30px;
	}
}

.footer {
	.main-nav {
		display: none;
	}
	.footer--phone {
		display: block;
		margin-bottom: 5px;
	}
}
	
}

// ≥992px
@include media-breakpoint-down(md) {

.panel-top {
	.call-box {
		display: none;
	}
	.request-call-phone {
		display: block;
	}
}

.header {
	padding-bottom: 0;
	height: auto;
	background: $silver;
	h1 {
		height: 600px;
		background: #337ab7 url('../img/bg-header.jpg') no-repeat center;
	    background-size: cover;
	    margin-left: -10px;
	    margin-right: -10px;
	    margin-bottom: 70px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 44px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.offer {
		position: static;
		transform: none;
	}
}

.offer {
	&__description {
		font-size: 16px;
	}
	.h3 {
		font-size: 26px;
	}
	.ul-list {
		font-size: 16px;
	}
}

.information {
	padding-top: 70px;
}
.information-box {
	&__header {
		padding-left: 70px;
		.i-info {
			left: 10px;
		}
	}
	.ul-list {
		padding-left: 30px;
	}
}

.tab-content .news-list {
	padding-left: 15px;
	padding-right: 15px;
}

.about {
	.col-6 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.picture-box {
		display: block;
		float: none;
		text-align: center;
	}
}

.advantages {
	.col-3 {
		display: none;
	}
	.col-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.advantages__list {
		padding-left: 0;
		li:nth-child(1),
		li:nth-child(2),
		li:nth-child(3),
		li:nth-child(4) {
			padding-left: 0;
		}
	}
}

.company {
	padding-bottom: 20px;
	.col-6 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 40px;
	}
}

.contacts {
	padding-right: 0;
}

.offer-form {
	max-width: 480px;
	margin: 0 auto;
}

.aside-nav {
	position: relative;
	margin-top: 20px;
	.sandwich-box {
		display: block;
		position: absolute;
		right: -8px;
		top: -65px;
	}
	nav {
		display: none;
	}
}

.aside-btn-offer-form {
	display: inline-block !important;
}
 
.nav-bread {
	display: none;
}

.hidden-md {
	display: none;
}


}

// ≥768px
@include media-breakpoint-down(sm) {

.panel-top {
	height: 118px;
	position: relative;
	.col-4 {
		position: static;
	}
	.logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.top {
	&__inner {
		padding-top: 44px;
	}
}

.our-partners {
	padding-top: 30px;
	text-align: center;
	h4 {
		margin-bottom: 10px;
	}
	&__list {
		padding-top: 0;
		justify-content: center;
		a {
			flex-basis: 200px;
			flex-grow: inherit;
		}
	}
}

.offer {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	.col {
		flex: 0 0 390px;
		max-width: 390px;
		margin: 0 auto;
	}
}

.information {
	padding-bottom: 70px;
	.col-6 {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0 auto 30px;
	}
}

.about {
	.h1 {
		text-align: center;
	}
}

.footer {
	&__contact {
		.col-footer-logo {
			order: -1;
			padding-bottom: 20px;
		}
		.col-12 {
			text-align: center;
		}
		.footer--phone {
			margin-right: 0;
		}
		.footer--email {
			display: inline-block;
			margin-bottom: 5px;
		}
		.footer--address {
			display: inline-block;
		}
	}
	&__info {
		padding-left: 20px;
		padding-right: 20px;
	}
}



}

// ≥576px
@include media-breakpoint-down(xs) {

.panel-top .logo {
    width: 230px;
    height: 60px;
}

.header {
	h1 {
		font-size: 34px;
	}
}

.advantages {
	height: auto;
	padding-bottom: 20px;
	&__list {
		li {
			width: 50%;
			padding-bottom: 20px;
		}
	}
}

.association {
	justify-content: center;
	a {
		width: 50%;
	}
}

.certificate {
	&__item {
		width: 50%;
		height: auto;
		picture {
			width: 100%;
			span {
				width: 100%;
				height: auto;
			}
		}
	}
}

}

@media only screen and (max-width : 480px) {

.panel-top .logo {
    width: 180px;
    height: 47px;
}

.header {
	h1 {
		height: 450px;
		font-size: 32px;
		margin-bottom: 50px;
	}
}

.offer {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	.h3 {
		margin-left: 0;
		margin-right: 0;
	}

	.col {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0 auto;
	}
}

.about {
	.h1 {
		font-size: 36px;
	}
}

.offer-form {
	max-width: 100%;
}

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
