.logo {
	display: block;
	width: 272px;
	height: 71px;
	background: url('../img/logo.png') no-repeat center;
	background-size: cover;
	margin: 0 auto;
	&.light {
		width: 244px;
		height: 64px;
		background: url('../img/logo-light.png') no-repeat center;
	}
}

.btn {
	display: inline-block;
	height: 48px;
	border: 0;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	color: #fff;
	background-color: $red;
	cursor: pointer;
	border-radius: 4px;
	text-transform: uppercase;
	padding: 0 24px;
	transition: .5s;
	&:hover {
		color: #fff;
		background-color: $blue-normal;
	}
}

.call-box {
	text-align: right;
	strong {
		display: block;
		font-size: 24px;
		letter-spacing: -.015em;
	}
}

.link-burger {
	font-size: 14px;
	.i-burger {
		vertical-align: middle;
		margin-top: 1px;
	}
}

.header-title {
	overflow: hidden;
	margin-bottom: 21px;
	.link-burger {
		float: right;
	    margin-top: 20px;
	}
}

.red-box-title {
	width: 316px;
	height: 311px;
	padding: 13px 18px 48px 18px;
	background: url('../img/bg-red-box.png') no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.link-more {
	font-weight: 500;
	text-transform: uppercase;
	color: $blue;
	transition: .5s;
	.i-right {
		margin-left: 10px;
		color: $blue-light;
		transition: .5s;
	}
	&:hover {
		color: $red;
		.i-right {
			color: $red;
			border-color: $red;
		}
	}
}

.link-dashed {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	&:hover {
		text-decoration: none;
	}
	.underline {
		display: inline-block;
		border-bottom: 1px dashed $blue-normal;
	}
	.i-right-arrow {
		margin-left: 3px;
	}
}

.nav-bread {
	display: flex;
	font-size: 14px;
	color: #999;
	margin-bottom: 15px;
	.i-right-arrow {
		font-size: 17px;
		margin-top: -2px;
		margin-right: 8px;
	}
	a {
		margin-right: 8px;
		&.active {
			color: inherit;
			cursor: default;
		}
	}
}

.beefup {
	background-color: #fff;
	border-radius: 4px;
	transition: 1s;
	margin-bottom: 15px;
	&.is-open {
		box-shadow: 0 10px 60px rgba($blue, .35);
		position: relative;
		z-index: 1;
		.beefup__head {
			border: 0;
			border-bottom: 1px solid $silver;
			& .i-down {
				transform: rotate(180deg);
			}
		}
	}
	&__head {
		border: 1px solid $silver;
		font-size: 16px;
		font-weight: 500;
		color: $blue;
		text-transform: uppercase;
		padding: 15px 60px;
		position: relative;
		cursor: pointer;
		border-radius: 4px;
		.i-down {
			position: absolute;
			left: 30px;
			top: 18px;
			transition: .5s;
		}
	}
	&__body {
		padding: 35px 15px 35px 60px;
		position: relative;
		.file-item {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.file-item {
	position: relative;
	padding-left: 55px;
	min-height: 45px;
	[class*="i-"] {
		position: absolute;
		left: 0;
		top: 4px;
		font-size: 40px;
		color: $blue;
	}
	a {
		font-size: 18px;
		font-weight: 500;
		border-bottom: 1px solid rgba($blue, .2);
		line-height: 1;
		margin-bottom: 4px;
	}
	&__info {
		display: inline-block;
		font-size: 14px;
		color: #999;
		padding-right: 30px;
	}
}


.sandwich-box {
  display: none;
  width: 46px;
  height: 42px;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.sandwich-icon {
  width: 30px;
  position: relative;
  top: 12px;
  left: 9px;
}
.sw-top {
    position: relative;
    top: 0;
    width: 30px;
    height: 2px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    border-radius: 1px;
    transition: .5s;
}
.sw-center {
  position: relative;
  width: 30px;
  height: 2px;
  top: 6px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
  border-radius: 1px;
  transition: .5s;
}
.sw-bottom {
  position: relative;
  width: 30px;
  height: 2px;
  top: 12px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
  border-radius: 1px;
  transition: .5s;
}
.sandwich-icon.active {
  & .sw-top {
    top: 8px;
    transform: rotate(-45deg);
  }
  & .sw-center {
    top: 6px;
    transform: rotate(45deg);
  }
  & .sw-bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
  }
}

.panel-top .sandwich-icon.active {
	position: fixed;
	left: 20px;
	top: 55px;
	& .sw-top {
	  background: #fff;
	}
	& .sw-center {
	  background: #fff;
	}
	& .sw-bottom {
	  background: #fff;
	}
}

.mobile-nav {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0; top: 0;
	background-color: rgba(#000, .9);
	z-index: 8;
	text-align: center;
	&__inner {
		width: 100%;
		height: 100%;
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	& a {
		color: #fff;
		padding: 15px;
		font-size: 19px;
		font-weight: 300;
		text-transform: uppercase;
		transition: .5;
		&:hover {
			color: $blue-light;
		}
		&.active {
			color: rgba(#fff, .7);
			& span {
				position: relative;
				&:after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: $red;
					position: absolute;
					left: 0;
					bottom: -8px;
				}
			}
		}
	}
}


.request-call-phone {
	display: none;
	font-size: 22px;
	text-align: right;
	position: relative;
	top: -5px;
}
.svg-call {
  overflow: visible;
}

.svg-call .svg-phone {
  animation: call 1s infinite;
  transform-origin: center;
}

@keyframes call {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.phone-line-1, .phone-line-2, .phone-line-3, .phone-line-4 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.phone-line-1 {
  animation-name: fade1;
}

.phone-line-2 {
  animation-name: fade2;
}

.phone-line-3 {
  animation-name: fade3;
}

.phone-line-4 {
  animation-name: fade4;
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@keyframes fade2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

@keyframes fade3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
}

@keyframes fade4 {
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}