/* Default */
html {
	/*width: 1920px;*/
	overflow-x: auto;
}
body {
	font-weight: 300;
	background-color: #fff;
	color: #0B0B0B;
}
p {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
form {
	overflow: none;
}
i {
	font-style: normal;
}


/* Heading */
h1 , .h1 {
	font-size: 5.4rem;
}
h2 , .h2 {
	font-size: 4.4rem;
}
h3 , .h3 {
	font-size: 3.4rem;
}
h4 , .h4 {
	font-size: 3rem;
}
h5 , .h5 {
	font-size: 2.4rem;
}
/* Heading sizes */
.heading-small-size {
	font-size: 54.5%;
	display: block;
	padding: 10px 0;
}


/* Colors */
.c-blue {
	color: #2b59fa;
}
.c-yellow {
	color: #fac141;
}
.c-darken {
	color: #505050;
}


/* Text size */
.t-16 {
	font-size: 1.6rem;
}
.t-18 {
	font-size: 1.8rem;
}

/* Text align */
.-t-center {
	text-align: center;
}

/* Text weight */
.t-thin {
	font-weight: 100;
}
.t-light {
	font-weight: 300;
}
.t-medium {
	font-weight: 500;
}
.t-bold {
	font-weight: 700;
}
.t-bolder {
	font-weight: 900;
}

/* Text transform */
.-t-upper {
	text-transform: uppercase;
}


/* objectfit cover image */
.img-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.img-contain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}


/* Line-height */
.lh-03 {
	line-height: 1.3;
}


/*Util*/



/* Margins */
.mb-1r {
	margin-bottom: 1rem;
}
.mb-2r {
	margin-bottom: 2rem;
}
.mb-3r {
	margin-bottom: 3rem;
}


/* Transparent */
.opc-06 {
	opacity: .6;
}


/* Blocks */
.section-heading {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 20px;
	padding: 15px;
	line-height: 1.17;
}
.section-heading > * {
	margin-bottom: 15px;
}
.section-heading > *:last-child {
	margin-bottom: 0;
}