@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.anim-rotating {
	animation: rotating 3s linear infinite;
}

.a-duration-10s {
	animation-duration: 10s;
}

.a-duration-20s {
	animation-duration: 20s;
}


.a-delay-03 {
	animation-delay: .3s;
}

@keyframes slideme {
	0% {
		left: -400px;
	}

	100% {
		left: 300%;
	}
}