@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "content";
@import "ui";


.header {
	min-height: 725px;
	background: #f8f6fb url('../img/header.jpg') no-repeat center / cover;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	padding-bottom: 80px;
	color: $black;

	.alert-txt {
		margin: 0 0 32px -10px;

		&.animated {
			animation-duration: .3s;
			animation-delay: 1.5s;
		}
	}

	.logo {
		margin-left: 25px;

		&__ico.animated {
			animation-delay: 2.5s;
			animation-duration: .3s;
		}

		&__img.animated {
			animation-delay: 2.7s;
			animation-duration: .3s;
		}

		&__txt.animated {
			animation-delay: 3s;
			animation-duration: .5s;
		}
	}

	.soc-bar {
		margin-left: auto;

		.i-whatsapp.animated {
			animation-delay: 3s;
			animation-duration: .5s;
		}

		.i-viber.animated {
			animation-delay: 3.3s;
			animation-duration: .5s;
		}

		.i-telegram.animated {
			animation-delay: 3.6s;
			animation-duration: .5s;
		}
	}

	.call-info {
		margin-left: 20px;

		&__tel.animated {
			animation-delay: 4.2s;
			animation-duration: .3s;
		}

		&__txt.animated {
			animation-delay: 4.4s;
			animation-duration: .3s;
		}
	}

	.togg-lang {
		margin: 5px 20px 5px 17px;

		&.animated {
			animation-delay: 4.7s;
			animation-duration: .6s;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding: 27px 5% 27px;
		position: relative;
		z-index: 1;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		.bg__el {
			&-1 {
				position: absolute;
				left: 50%;
				top: 245px;
				margin-left: 160px;

				&.animated {
					animation-delay: 1.5s;
				}
			}

			&-2 {
				position: absolute;
				left: 50%;
				top: 167px;
				margin-left: -654px;

				&.animated {
					animation-delay: 3s;
				}
			}

			&-bush {
				position: absolute;
				right: 10%;
				bottom: 0;
				z-index: 1;
			}
		}
	}

	&__offer {
		padding: 20px 0;
		margin: auto 0;
		position: relative;
		z-index: 1;

		&-content {
			max-width: 630px;

			.h2.animated {
				animation-delay: 2s;
			}

			.txt.animated {
				animation-delay: 2.3s;
			}
		}

		.txt {
			opacity: .75;
			padding: 0 80px 0 30px;
			// font-size: 20px;
		}

		.device {
			width: 100%;
			height: 500px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -167px;
			z-index: -1;

			&__itm {
				&.animated:nth-child(1) {
					animation-duration: 1.5s;
				}

				&.animated:nth-child(2) {
					animation-duration: 1.5s;
					animation-delay: .7s;
				}

				&.animated:nth-child(3) {
					animation-duration: 1.5s;
					animation-delay: .4s;
				}
			}

			&__mac {
				position: absolute;
				left: 50%;
				top: 8px;
				margin-left: 8px;
			}

			&__ipad {
				position: absolute;
				left: 50%;
				top: 142px;
				margin-left: 410px;
			}

			&__iphone {
				position: absolute;
				left: 50%;
				top: 241px;
				margin-left: 78px;
			}
		}
	}

}


.s-intro {
	font-size: 21px;
	padding: 150px 0 130px;
	position: relative;

	.bg__el-flag {
		position: absolute;
		left: -300px;
		top: -150px;
	}

	&__txt {
		opacity: .75;
	}
}


.s-total {
	font-size: 24px;
	min-height: 400px;
	position: relative;
	margin-bottom: 110px;

	.device__mac {
		margin: -8px 0 -22px -36px;
	}

	.bg__el-violet {
		position: absolute;
		right: 0;
		bottom: 200px;
	}
}


.s-prototype {
	.device__mac {
		margin-left: -150px;
	}
}


.s-article {
	min-height: 800px;
	margin-top: 300px;
	position: relative;
	background-color: #f9f9fa;
	padding-bottom: 1px;
	margin-bottom: 50px;

	&:before {
		content: '';
		width: 100%;
		height: 300px;
		background: url('../img/top.svg') no-repeat center top / cover;
		position: absolute;
		left: 0;
		top: -300px;
	}

	&:after {
		content: '';
		width: 100%;
		height: 350px;
		background-color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.bg__el {
		&-flag {
			position: absolute;
			left: 50%;
			top: -100px;
		}

		&-blue {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -250px;
		}

		&-2 {
			&.pos-1 {
				position: absolute;
				left: 50%;
				top: 30%;
				margin-left: -640px;
			}

			&.pos-2 {
				position: absolute;
				left: 50%;
				bottom: 170px;
				margin-left: 555px;
				z-index: 1;
			}
		}
	}
}

.s-work {
	&__graphic {
		height: 504px;
		position: relative;
		overflow: hidden;

		.bg__el {

			&-1 {
				position: absolute;
				left: 50%;
				margin-left: -380px;
				top: 20px;
			}

			&-diagram {
				position: absolute;
				left: 50%;
				margin-left: -550px;
				top: 70px;
				z-index: 1;
			}

			&-ipad {
				position: absolute;
				left: 50%;
				margin-left: -400px;
				bottom: 0;
				z-index: 2;
			}

			&-bush {
				position: absolute;
				z-index: 3;
				left: 50%;
				bottom: -30px;
				margin-left: -400px;
			}

			&-violet {
				position: absolute;
				right: 0;
				bottom: 95px;
			}
		}
	}
}

.go-offer {
	text-align: center;
	padding: 100px 15px;
}


.footer {
	padding: 20px 0;
	background-color: $silver-ultralight;
	font-size: 14px;
}

@import "media";