/* Logo */
.logo {
	display: inline-block;
}
.logo__img {
	display: block;
	width: 23.2rem;
}

/* Buttons */
.btn {
	display: inline-flex;
	font-size: 1.6rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.btn::after {
	content: "";
	height: 30px;
	width: calc(100% - 6px);
	background-color: #f00;
	border-radius: .8rem;
	position: absolute;
	bottom: -3px;
	left: 3px;
	z-index: 1;
}
.btn__content {
	display: flex;
	align-items: center;
	column-gap: 1.4rem;
	height: 7.5rem;
	background-color: #ff3f1f;
	border-radius: 1.2rem;
	position: relative;
	z-index: 2;
	box-shadow: inset 0 -2px 2px rgba(255, 255, 255, .3);
	padding: 1rem 3.7rem 1.2rem;
}
.btn__icon {
	width: 1.8rem;
	height: 1.8rem;
	fill: #fff;
}
.btn__text {
	padding-top: 1px;
	font-size: 2.3rem;
	position: relative;
	z-index: 1;
}
.btn__shadow {
	width: 86%;
	height: 50%;
	background-color: #ff3f1f;
	border-radius: 20%;
	position: absolute;
	bottom: -10px;
	left: 7%;
	filter: blur(20px);
}
/* hover */
.btn:hover {
	color: #fff;
	text-decoration: none;
}
/* sizes */
.btn.-big::after {
	border-radius: 2.8rem;
}
.btn.-big .btn__content {
	height: 10rem;
	border-radius: 1.8rem;
}
/* styles */
.btn.-orange::after {
	background-color: #f4c36f;
}
.btn.-orange .btn__shadow {
	background-color: #ffe261;
	bottom: -17px;
}
.btn.-orange .btn__content {
	background-color: #ffd361;
	color: #78673a;
	overflow: hidden;
}
.btn.-orange .btn__content::after {
	content: "";
	width: 300%;
	height: 100%;
	background: linear-gradient(to right, #ffc740, #ffe28a, #ffc740, #ffe28a);
	box-shadow: inset 0 -2px 2px rgba(255, 255, 255, .35);
	position: absolute;
	left: -100%;
	top: 0;
	transition: .5s;
}
.btn.-orange:hover .btn__content::after {
	left: 0;
}



/* Link */
.link {
	display: flex;
	column-gap: .8rem;
	text-decoration: none;
	color: #9da0cf;
}
.link__text {
	text-decoration: underline;
	text-underline-offset: .3rem;
}
.link__icon {
	width: 2.3rem;
	height: 2.3rem;
	fill: #9da0cf;
}
/* hover */
.link:hover {
	color: #ff480b;
}
.link:hover .link__icon {
	fill: #ff480b;
}