.logo {
	font-weight: 900;
    display: inline-block;
    height: 40px;
    font-size: 20px;
    padding-left: 59px;
    line-height: 38px;
    position: relative;
    margin-right: 64px;
	&:before {
		content: '';
		width: 81px;
		height: 40px;
		background: url('../img/logo.png') no-repeat center;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.i-phone {
	display: inline-block;
	width: 28px;
	height: 32px;
	background: url('../img/i-phone.png') no-repeat center / cover;
}

.i-covid {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('../img/i-covid.png') no-repeat center / cover;
}

.i-call {
	display: inline-block;
	width: 20px;
	height: 25px;
	background: url('../img/i-call.png') no-repeat center / cover;
}
.i-consent {
	display: inline-block;
	width: 27px;
	height: 32px;
	background: url('../img/i-consent.png') no-repeat center / cover;
}


.phone-call {
	padding-left: 44px;
	min-height: 32px;
	text-align: right;
	position: relative;
	.i-phone {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -16px;
	}
	&__tel {
		font-size: 24px;
		font-weight: bold;
		color: #222632;
		span {
			font-weight: normal;
			color: #aaa;
		}
		small {
			font-size: 16px;
		}
	}
	p {
		letter-spacing: .05em;
	}
}

.covid {
	display: inline-flex;
	align-items: center;
	color: #f00;
	font-weight: bold;
	font-size: 18px;
	a {
		margin-left: 10px;
		color: inherit;
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 0;
			border-bottom: 2px dotted #f00;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}
}


.customer-support {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	strong {
		margin-left: 12px;
	}
}


.btn {
	display: inline-flex;
	align-items: center;
	color: #fff;
	height: 42px;
	position: relative;
	padding: 0 18px;
	font-weight: bold;
	font-size: 18px;
	&__bg {
		width: 100%;
		height: 100%;
		background-color: #006de6;
		background: linear-gradient(to right, rgba(0,106,229,1) 0%,rgba(0,162,255,1) 100%);
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 5px;
		transform: skewX(-19deg);
	}
	.text {
		position: relative;
		z-index: 1;
	}
}

.btn-primary {
	height: 62px;
	display: inline-flex;
	align-items: center;
	padding: 0 35px 0 60px;
	background-color: #0087f2;
	background: linear-gradient(to right, rgba(0,106,229,1) 0%,rgba(0,162,255,1) 100%);
	border-radius: 40px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	border-left: 2px solid #fff;
	box-shadow: 0 5px 15px rgba(#000, .15);
	&__arrow {
		font-size: 29px;
		margin-left: 20px;
	}
	&:hover {
		text-decoration: none;
	}
}

.btn, .btn-primary {
	transition: .75s;
	&:hover {
		transform: scale(1.07);
		text-decoration: none;
		color: #fff;
		text-shadow: 0 0 10px #fff, 0 1px 1px rgba(#000, .5);
	}
}