@import "vars";
@import "fonts";
@import "libs";
@import "ui";

html, body {
	overflow-x: hidden;
}

body {
	font: 14px 'Roboto', sans-serif;
	color: #222632;
}

h1, .h1 {
	font: 60px/.8 'Bebas Neue';
    letter-spacing: -.015em;
    margin-bottom: 10px;
}

p {
	margin: 0;
}

.text-right {
	text-align: right;
}
.font-weight-medium {
	font-weight: 500;
}

.header {
	height: 100vh;
	background: #322c48 url('../img/bg.png') no-repeat center bottom / cover;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	&__panel {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&__info {
		color: #fff;
		padding: 7px 0 8px;
		background-color: #222632;
	}
	&__top {
		background-color: #fff;
		position: relative;
		padding: 16px 0;
		&:after {
			content: '';
			width: 1920px;
			height: 37px;
			background: url('../img/shadow.png') no-repeat center top;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -960px;
		}
		.container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		.covid {
			margin-left: auto;
		}
		.customer-support {
			margin: 0 42px 0 55px;
		}
	}
	&__content {
		width: 100%;
		color: #fff;
		padding-top: 110px;
		.container {
			position: relative;
			min-height: 470px;
		}
	}
	&__offer {
		max-width: 670px;
		position: relative;
		z-index: 1;
		p {
			font-size: 18px;
			padding-right: 55px;
			padding-left: 15px;
			margin-bottom: 27px;
			line-height: 1.2;
		}
		.consent {
			font-size: 13px;
			margin-right: 100px;
		}
		.btn-primary {
			margin-bottom: 22px;
		    margin-left: 15px;
		}
	}
	&__img {
		width: 638px;
		height: 469px;
		background: url('../img/offer-img.png') no-repeat center / cover;
		position: absolute;
		right: -100px;
		top: 50%;
		margin-top: -309px;
	}

	.footer {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 15px;
		text-align: right;
		font-weight: 100;
		color: #fff;
		a {
			display: inline-block;
			color: inherit;
			opacity: 45%;
			margin-bottom: 10px;
		}
		p {
			opacity: 25%;
			line-height: 1.4;
		}
	}
}
.consent {
	display: flex;
	color: #c7c7c7;
	font-size: 13px;
	.i-consent {
		flex-shrink: 0;
		margin-right: 10px;
	}
}

@import "media";
