.logo {
	display: inline-flex;
	align-items: center;
	flex-wrap:  wrap;
	&__ico {
		display: inline-block;
		width: 91px;
		height: 46px;
		background: url('../img/logo.png');
		margin-right: 8px;
	}
	&__img {
		display: inline-block;
		width: 121px;
		height: 46px;
		background: url('../img/logo.png') right top;
		margin-right: 28px;
	}
	&__txt {
		display: inline-block;
		max-width: 240px;
		font-size: 14px;
		color: $silver-light;
		margin: 10px 0;
	}
}


.call-info {
	display: inline-block;
	text-align: right;
	&__tel {
		font-size: 21px;
		color: #000;
	}
	&__txt {
		font-size: 12px;
		color: $silver-light;
	}
}


.alert-txt {
	display: inline-block;
	font-size: 18px;
	padding: 6px 15px 7px;
	border: 1px solid $silver-light;
	border-radius: 10px;
	margin-bottom: 20px;
	&.s-danger {
		border-color: $danger;
	}
}


// Backgrounds elements
.bg__el {
	&-1 {
		display: inline-block;
		width: 92px;
		height: 99px;
		background: url('../img/sprite-one.png') 0 0;
	}
	&-2 {
		display: inline-block;
		width: 97px;
		height: 90px;
		background: url('../img/sprite-one.png') 0 -99px;
	}
}


.device {
	&__mac {
		width: 918px;
		height: 461px;
		background-image: url('../img/devices/mac.png');
		&-screen {
			width: 604px;
			height: 378px;
			position: relative;
			left: 196px;
		    top: 22px;
		    overflow: hidden;
		}
	}
	&__ipad {
		width: 750px;
		height: 430px;
		background: url('../img/devices/ipad.png') no-repeat;
		&-screen {
			width: 445px;
			height: 335px;
			position: relative;
			left: 258px;
		    top: 48px;
		    overflow: hidden;
		}
		&.small {
			width: 655px;
			height: 375px;
			background-size: cover;
			.device__ipad-screen {
				width: 388px;
				height: 292px;
				left: 226px;
				top: 42px;
			}
		}
	}
	&__iphone {
		width: 194px;
		height: 255px;
		background-image: url('../img/devices/iphone.png');
		&-screen {
			width: 110px;
			height: 236px;
			position: relative;
			left: 42px;
			top: 7px;
			overflow: hidden;
			border-radius: 9px;
			&:after {
				content: '';
				width: 60px;
				height: 6px;
				background: url('../img/devices/iphone.png') -68px -8px;
				position: absolute;
				left: 50%;
				top: 0;
				z-index: 1;
				border-radius: 0 0 5px 5px;
				margin-left: -30px;
			}
		}
	}
}


.togg-lang {
    position: relative;
    width: 56px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    &_box {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }
    &_knobs {
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	z-index: 1;
    	&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-color: #03A9F4;
			width: 26px;
			height: 26px;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			line-height: 1;
			padding: 9px 4px;
			border-radius: 50%;
			transition: 0.3s ease all;
			box-shadow: 0 5px 15px rgba(#000, .5);
    	}
    }
    &_name {
    	height: 100%;
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 0;
    	z-index: 1;
    	cursor: pointer;
    	&-txt {
    		float: left;
    		width: 50%;
    		height: 26px;
    		line-height: 26px;
    		font-size: 13px;
    		text-align: center;
    		transition: .3s;
    		color: #a3a3a3;
    		&.first {
    			color: #fff;
    		}
    	}
    }

    &_box {
    	&:checked {
    		& + .togg-lang_knobs:before {
    			left: 26px;
    		}
    		& ~ .togg-lang_name {
    			.togg-lang_name-txt {
    				&.first {
    					color: #a3a3a3;
    				}
    				&.last {
    					color: #fff;
    				}
    			}
    		}
    	}
    }
}

.soc-bar {
	&_itm {
		float: left;
		width: 38px;
		height: 38px;
		text-align: center;
		line-height: 40px;
		color: lighten($dark, 20%);
		font-size: 23px;
		transition: .3s;
		&:hover {
			text-decoration: none;
			transform: scale(1.2);
		}
		&.i-whatsapp:hover {
			color: #43d854;
		}
		&.i-viber:hover {
			color: #665CAC;
		}
		&.i-telegram:hover {
			color: #0088CC;
		}
	}
}


.total-ul {
	color: $dark;
	font-size: 24px;
	line-height: 1.3;
	padding-left: 80px;
	li {
		margin-bottom: 39px;
	}
	.t-medium {
		font-size: 28px;
	}
}



.btn {
	min-height: 72px;
	margin: 0;
	padding: 18px 25px 21px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: inherit;
	cursor: pointer;

	position: relative;
	text-align: center;
	font: 21px/1 'Roboto';
	color: #fff;
    text-decoration: none;
    border-radius: 7px;
    background: linear-gradient(to right, $accent, $accent-light);
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	letter-spacing: .02em;
    &__txt {
    	text-shadow: 5px 5px 15px rgba(#08131b, .6);
    }
    &__ico {
    	font-size: 26px;
	    margin: 0 8px 0 20px;
    	transition-duration: .5s;
    	position: relative;
    	top: 3px;
    }

    &:hover {
    	box-shadow: 0 0 0 6px rgba($accent-light, .15),
    				0 0 0 12px rgba($accent-light, .1),
    				0 0 0 20px rgba($accent-light, .05),
    				inset 0 0 8px 3px rgba(#fff, .5);
    	transform: scale(1.05);
    	text-decoration: none;
    	color: #fff;
    	.btn__ico {
    		transform: scale(1.3);
    		text-shadow: 0 0 25px #fff;
    	}
    }

}


.txt-and-ico {
	font-size: 14px;
	display: inline-flex;
	padding: 15px 9px;
	text-align: left;
	a {
		color: inherit;
		text-decoration: underline;
	}
	&__ico {
		font-size: 30px;
		color: $accent;
		margin-right: 15px;
	}
}



.wrapper-nav {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(#000, .6);
	z-index: 10;
}

.sandwich-box {
	display: inline-block;
	width: 54px;
	height: 54px;
	cursor: pointer;
	z-index: 11;
	overflow: hidden;
	position: absolute;
	right:12px;
	top: 30px;
}
.sandwich-icon {
	width: 28px;
	position: relative;
	top: 16px;
	left: 50%;
	margin-left: -14px;
	z-index: 11;
}
.sw-top, .sw-center, .sw-bottom {
    position: relative;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #6d6a6a;
    border: none;
    transition: transform 0.5s, top 0.2s;
    border-radius: 2px;
}

.sw-center {
	top: 7px;
}
.sw-bottom {
	top: 14px;
}
.sandwich-box.active {
	& .sw-top,
	& .sw-center,
	& .sw-bottom {
		background-color: white;
		box-shadow: 0 2px 15px white, 0 1px 1px rgba(black, .3);
	}
	& .sw-top {
		top: 8px;
		transform: rotate(-45deg);
	}
	& .sw-center {
		top: 6px;
		transform: rotate(45deg);
	}
	& .sw-bottom {
		opacity: 0;
		top: 0;
		transform: rotate(180deg);
	}
}

.phone-address-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	right: 80px;
	top: 10px;
	background-color: #fff;
	text-align: center;
	padding: 30px 25px;
	padding-left: 105px;
	border-radius: 5px;
	.soc-bar {
		margin: 0 25px 0 auto;
	}
}