@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "content";
@import "ui";

.wrapper {
	position: relative;
	background-color: white;
	min-height: 100vh;
	&__content {
		position: relative;
		z-index: 1;
	}
	&__bg {
		width: 100%;
		height: 900px;
		background: url('../img/bg-wrapper.jpg') no-repeat center bottom / cover;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.header {

	.alert-txt {
		margin: 0 0 82px -10px;
	}

	.soc-bar {
		margin-left: auto;
	}

	.logo {
		margin-left: 25px;
	}

	.togg-lang {
	    margin: 5px 20px 5px 17px;
	}

	.call-info {
		margin-left: 20px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding: 27px 5% 27px;
		position: relative;
		z-index: 1;
	}
	&__bg {
		width: 100%;
		height: 400px;
		position: absolute;
		left: 0;
		top: 0;
		.bg__el {
			&-1 {
				position: absolute;
				left: 50%;
				top: 245px;
			    margin-left: 160px;
			}
			&-2 {
				position: absolute;
			    left: 50%;
		        top: 167px;
		        margin-left: -654px;
			}
		}
	}
	&__offer {
		min-height: 700px;
		padding: 100px 0 50px;
		margin-bottom: 8px;
		position: relative;
		z-index: 1;

		&-content {
			max-width: 630px;
		}
		.txt {
			opacity: .75;
			padding-right: 60px;
		}

		.device {
			width: 100%;
			height: 500px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -167px;
			&__mac {
				position: absolute;
			    left: 50%;
		        top: 8px;
		        margin-left: 8px;
			}
			&__ipad {
				position: absolute;
			    left: 50%;
			    top: 142px;
		        margin-left: 410px;
			}
			&__iphone {
				position: absolute;
			    left: 50%;
			    top: 241px;
	            margin-left: 78px;
			}
		}
	}
	&__bg {
		width: 100%;
		height: 400px;
		position: absolute;
		left: 0;
		top: 0;
	}

}


.s-intro {
	font-size: 24px;
	padding-bottom: 146px;
}


.start-ad {
	margin-bottom: 125px;
	&_reklama {
		margin-bottom: 15px;
	}
}


.s-total {
	font-size: 24px;
	min-height: 400px;
	position: relative;
	&:after {
		content: '';
		width: 499px;
		height: 663px;
		background-image: url('../img/bg-el0.jpg');
		position: absolute;
		right: 0;
		top: -50px;
		z-index: -1;
	}
	.h2 {
		margin-bottom: 35px;
	}
	.device__mac {
		margin: -8px 0 -22px -36px;
	}
}


.go-offer {
	text-align: center;
	padding: 100px 15px;
}


.footer {
	padding: 20px 0;
	background-color: #07090e;
	color: #fff;

}

@import "media";
