// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$gutter: $grid-gutter-width;

// colors
$dark: #222;
$silver: #e6e6e6;
$red: #e21c31;
$blue: #0a2f60;
$blue-light: #337ab7;
$blue-normal: #3666a5;