@import "vars";
@import "libs";

@import "fonts/fonts";
@import "fonts/font-icons";

@import "default";
@import "utilities";

@import "ui";
@import "icons";
@import "content";

// section top
.panel-top {
	order: -1;
	background-color: #f0f8fb;
	position: relative;
	z-index: 1;
}
.top {
	&__inner {
		padding: 24px 0 14px;
	}
	.reg-number {

	}
	.logo {
		margin-bottom: 9.99px;
	}
	.call-box {
		margin-bottom: 5px;
		strong {
			margin-bottom: -1px;
		}
	}
}

// section header
.header {
	height: 600px;
    padding-bottom: 195px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background: $blue-light url('../img/bg-header.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	h1 {
		max-width: 1111px;
		margin: 0 auto;
		text-align: center;
	}
	.offer {
		position: absolute;
		left: 50%;
		bottom: -125px;
		transform: translateX(-50%);
	}
}


// section information
.information {
	background: $silver url('../img/bg-city-1.png') repeat-x center bottom;
	padding: 206px 0 119px;
	&__tabs {
		padding-right: 20px;
	}
	.information-box {
		margin-left: 10px;
	}
}


// section about
.about {
	padding: 107px 0 88px;
	&__article {
		color: #333;
		margin: 0 25px 25px 0;
	}
	.h1 {
		margin-bottom: 28px;
	}
	.link-more {
		display: inline-block;
		margin-top: 27px;
	}
	p {
		margin-bottom: 24px;
	}
	.picture-box {
		float: right;
		margin-top: 10px;
	}
}


// section advantages
.advantages {
	height: 250px;
	margin-bottom: 111px;
	background: $blue url('../img/bg-advantages.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	&__list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		padding: 64px 0 0 20px;
		li {
			width: 25%;
			&:nth-child(2) {
				padding-left: 15px;
			}
			&:nth-child(3) {
				padding-left: 35px;
			}
			&:nth-child(4) {
				padding-left: 55px;
			}
		}
	}
	.red-box-title {
		margin: -13px 0 0 -18px;
	}
}


// section company
.company {
	padding-bottom: 110px;
	.news-list {
		padding-top: 4px;
	}
}

// section testimonies
.testimonies {
	background: $silver url('../img/bg-city-2.png') repeat-x center bottom;
	padding: 114px 0 110px;
	h2 {
		margin-bottom: 15px;
	}
	.nav-bread {
		margin-bottom: 20px;
	}
}

// section main-content
.main-content {
	padding: 40px 0;
	h1 {
		margin: 0 0 15px;
	}
	ul {
		margin-bottom: 20px;
	}
}


// footer
.footer {
	background-color: $dark;
	font-size: 14px;
	color: #999;
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	hr {
		margin: 0;
		border: 0;
		height: 1px;
		background-color: #fff;
		opacity: .1;
	}
	&__info {
		max-width: 780px;
		margin: 0 auto;
		text-align: center;
		font-size: 12px;
		padding: 35px 0;
		p {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__contact {
		color: #fff;
	    padding: 40px 0;
	}
	&--phone {
		display: inline-block;
		font-size: 16px;
		margin-right: 55px;
		strong {
			font-weight: 500;
			vertical-align: middle;
		}
	}
	&--email {
		span {
			vertical-align: middle;
		}
	}
	&--address {
		margin: 0;
		span {
			vertical-align: middle;
		}
	}
	[class*='i-'] {
		color: $red;
	}
	.i-smartphone,
	.i-location,
	.i-mail {
		font-size: 16px;
		vertical-align: middle;
		margin-right: 3px;
	}
	.i-location {
		font-size: 17px;
	}
}


@import "media";