/* 1710px */
@media only screen and (max-width : 1710px) {

html {
   font-size: 9px;
}
.header__action {
   margin-right: 25px;
   margin-left: 25px;
}
.section-heading::before {
   left: 15px;
}
.services__card-inner,
.article-item__inner {
   padding-left: 25px;
   padding-right: 25px;
}
.about-us__inner {
   padding-left: 50px;
}
.consut__form {
   padding-left: 25px;
}
.consut__advantage {
   padding-left: 0;
}

.work-boxs__inner {
   padding-left: 11px;
   padding-right: 11px;
}
.work-boxs__item {
   padding-left: 11px;
   padding-right: 11px;
}

.footer {
   padding-left: 30px;
   padding-right: 30px;
}
.footer__copy {
   margin-left: -30px;
   margin-right: -30px;
}
.footer__copy .container {
   padding-left: 45px;
   padding-right: 45px;
}
.footer__copy-link {
   margin-right: 0;
}
.call-modal__inner {
   padding-top: 137px;
}
.call-modal__close {
   left: initial;
   margin-left: initial;
   right: 120px;
   top: 120px;
}

.quiz-form {
   margin-right: 0;
}

}

/* 1550px */
@media only screen and (max-width : 1550px) {
.quiz__container {
   padding-right: 48px;
}
.quiz .bread {
   margin-bottom: 50px;
}
.quiz__heading {
   margin-bottom: 20px;
}
.header-offer {
   min-height: 526px;
}
}

/* 1400px */
@media only screen and (max-width : 1400px) {

html {
   font-size: 8px;
}
.ul li {
   padding-left: 30px;
}
.ul li::before {
   top: 0;
}
.ul-line li::before {
   top: 7px;
}
.header-hero {
   padding: 0;
}
.header-offer {
   padding-top: 20px;
   padding-bottom: 60px;
}
.header-offer__action {
   display: flex;
   padding-top: 20px;
   align-items: center;
}
.header-offer__action-btn {
   margin-right: 15px;
}
.header-art {
   background-image: url("../img/media/1400/header.jpg");
}
.header-tags {
   max-width: 650px;
}

.phone-panel,
.call-modal {
   background-image: url("../img/media/1400/modal-bg.jpg");
}
.phone-panel__content .section-heading {
   margin-bottom: 35px;
}
.contact-item {
   min-height: 100px;
}

.services__offers {
   padding-left: 10px;
   padding-right: 10px;
}
.services__card {
   padding: 15px 10px;
}
.services__card-txt {
   font-size: 1.8rem;
}
.services__card .btn {
   height: 56px;
}

.about-us__inner {
   padding-bottom: 66px;
}
.about-us__desc {
   font-size: 3.8rem;
   max-width: 1000px;
   margin-bottom: 60px;
}

.bitrix {
   min-height: auto;
}
.bitrix__logo {
   width: 302px;
   height: 302px;
   right: 152px;
   margin-top: -143px;
}
.bitrix__content {
   padding-left: 40px;
   padding-right: 40px;
}
.bitrix__lists .ul {
   margin-right: 40px;
}

.consut-form__inputs .input {
   margin-right: 40px;
}

.article {
   padding-bottom: 30px;
}
.article__header {
   margin-bottom: 10px;
}
.article-item {
   padding-left: 10px;
   padding-right: 10px;
}

.job {
   padding: 40px 0 50px;
}
.job-beefup__list {
   margin-left: 50px;
}
.job-beefup__body {
   padding-left: 40px;
}
.job-beefup__action {
   padding-top: 20px;
}

.section-desc {
   padding-left: 0;
   padding-right: 0;
}

.call-modal__close {
   top: 99px;
   right: 46px;
}
.call-modal__close svg {
   width: 50px;
   height: 50px;
}

.quiz__container {
   flex-wrap: wrap;
}
.quiz__content {
   width: 100%;
   max-width: 100%;
}
.quiz-choise {
   padding-right: 82px;
}
.quiz__aside {
   padding-top: 40px;
   padding-left: 0;
   width: 100%;
}
.quiz-nav {
   display: flex;
   flex-wrap: wrap;
}
.quiz-nav__item {
   width: 320px;
   margin-right: 12px;
}
}

/* 1200px */
@media only screen and (max-width : 1200px) {

h2, .h2 {
   margin-bottom: 20px;
}
.logo__ico {
   width: 50px;
   height: 50px;
}
.logo__txt {
   width: 200px;
   height: 27px;
}
.header {
   border-radius: 0 0 40px 40px;
}
.header-art {
   background-image: url(../img/media/1200/header.jpg);
}
.header__call {
   margin-right: 14px;
}
.header__action .btn {
   height: 54px;
}
.header__sandwich {
   margin-right: 0;
}
.header__action {
   margin-right: 15px;
   margin-left: 15px;
}

.phone-panel__content {
   padding: 30px 25px 20px;
}

.services {
   padding-left: 0;
   padding-right: 0;
}
.services__card {
   width: 33.33%;
   padding: 10px;
}
.services__card .btn {
   height: 50px;
}

.work-block {
   width: 100%;
}

.about-us__art {
   width: 320.5px;
   height: 253px;
   right: -32px;
   bottom: -32px;
}
.about-us__inner {
   padding: 45px 35px;
}
.about-us__desc {
   font-size: 3.4rem;
   max-width: 900px;
   margin-bottom: 50px;
}

.clients__header {
   flex-direction: column;
   align-items: flex-start;
}
.clients__desc {
   margin-right: 0;
   margin-left: 50px;
}
.clients__box {
   width: 300px;
   height: 110px;
}
.clients__logo-kamin {
   width: 202px;
   height: 45px;
}
.clients__logo-dinamika {
   width: 154px;
   height: 40px;
}
.clients__logo-ragrad {
   width: 143px;
   height: 46px;
}
.clients__logo-houseboat {
   width: 164px;
   height: 45px;
}
.clients__logo-genomics {
   width: 191px;
   height: 42px;
   margin-top: 6px;
}
.clients__logo-madars {
   width: 236px;
   height: 36.5px;
}
.clients__logo-stylebooks {
   width: 162px;
   height: 39px;
}
.clients__logo-styleeco {
   width: 162px;
   height: 54px;
}

.work-cards {
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 20px;
}
.work-cards__item {
   padding-left: 15px;
   padding-right: 15px;
}

.work-boxs__item {
   width: 50%;
   padding-bottom: 35px;
}

.btn {
   height: 60px;
   font-size: 2.1rem;
}
.btn-small {
   height: 45px;
   padding-left: 24px;
   padding-right: 24px;
}
.btn__circle-box {
   width: 46px;
   height: 46px;
}
.btn__ico-right {
   width: 18px;
   height: 18px;
}

.bitrix__logo {
   opacity: .6;
}

.consut .section-heading {
   max-width: 680px;
}
.consut-form__inputs .input {
   width: 276px;
   margin-right: 25px;
}

.section-heading__txt {
   margin-bottom: 20px;
}


.accent-title {
   margin-bottom: 35px;
}

.list-point__item {
   margin-bottom: 30px;
}
.list-point__ico {
   width: 64px;
}

.article-item {
   width: 33.33%;
   padding-top: 10px;
   padding-bottom: 10px;
}

.footer {
   border-radius: 30px 30px 0 0;
}
.footer-art {
   background-image: url(../img/media/1200/footer.jpg);
}

.quiz .bread {
   margin-bottom: 30px;
}
.quiz-progress,
.quiz-choise {
   padding-right: 0;
}
.quiz__container {
   padding: 30px 30px 53px 20px;
}
.quiz-choise__box {
   padding: 25px;
}

.call-modal__close {
   right: 21px;
}


}

/* 992px */
@media only screen and (max-width : 992px) {
html {
   font-size: 7px;
}
.ul li::before {
   top: -1px;
}
.ul-line li::before {
   height: 3px;
   top: 6px;
}
h1, .h1 {
   font-size: 5.6rem;
   margin-bottom: 28px;
}
.check {
   padding-left: 37px;
}
.link {
   font-size: 1.7rem;
}
.link__ico {
   width: 18px;
   height: 18px;
   margin-right: 8px;
}
.btn {
   height: 56px;
   font-size: 2rem;
}
.btn-small {
   height: 38px;
   font-size: 1.7rem;
   padding-left: 20px;
   padding-right: 20px;
}
.section-heading {
   font-size: 4.6rem;
}
.section-heading::before {
   height: 4px;
   margin-top: -2px;
}
.header {
   border-radius: 0 0 30px 30px;
}
.header__call {
   display: none;
}
.header__logo {
   margin-left: 0;
}
.header-top {
   padding-top: 15px;
   padding-bottom: 15px;
}
.header-offer {
   margin-left: 18px;
}
.header-offer__txt {
   max-width: 555px;
   font-size: 1.9rem;
}
.callbox__tel {
   font-size: 2.1rem;
}
.logo__ico {
   width: 38px;
   height: 38px;
}
.header-art {
   background-image: url("../img/media/992/header.jpg");
}

.contact-item {
   min-height: 80px;
}

.services {
   padding-bottom: 30px;
}
.services__card {
   width: 50%;
}
.services__card--big {
   width: 100%;
}
.about-us {
   padding-bottom: 65px;
}
.about-us__desc {
   max-width: 750px;
   margin-bottom: 35px;
}
.in-numbers__item {
   margin-right: 33px;
}
.in-numbers__num {
   font-size: 4.4rem;
}
.in-numbers__txt {
   font-size: 2rem;
}
.clients {
   padding-bottom: 45px;
}
.clients__heading {
   margin-top: 0;
}
.clients__header {
   margin-bottom: 32px;
}
.swiper-work {
   width: 100%;
   padding-right: 20px;
}
.swiper-work::after {
   display: none;
}

.work {
   padding-bottom: 65px;
   padding-right: 0;
}
.work-block {
   width: 100%;
   min-height: 470px;
}
.work-box:hover .work-box__action {
   height: 56px;
}
.work-modal {
   padding: 20px;
}

.bitrix::before,
.bitrix::after,
.bitrix__logo {
   opacity: .35;
}
.bitrix__content {
   padding-left: 20px;
   padding-right: 20px;
}
.competence {
   margin-bottom: -20px;
}
.competence__item {
	margin-right: 20px;
   margin-bottom: 20px;
}
.consut .section-heading {
   padding-top: 65px;
   padding-bottom: 25px;
}
.consut__advantage {
   min-width: 333px;
   max-width: none;
}
.consut-form__action {
   margin-bottom: 20px;
}
.consut-form__inputs {
   flex-wrap: wrap;
}
.consut-form__inputs .input {
   width: 100%;
   margin-right: 0;
}
.article {
   padding-top: 60px;
}
.article-item {
   width: 50%;
}
.article-item__inner {
   padding: 30px 25px;
}
.article-item__links a {
   margin-bottom: 20px;
}
.job {
   padding: 20px 0 40px;
}
.job .section-heading {
   margin-bottom: 30px;
}
.job .section-desc {
   font-size: 2.4rem;
   padding-bottom: 34px;
}
.job-beefup__body {
   padding-left: 25px;
}
.job-beefup__aside {
   width: 180px;
}
.job-beefup__txt {
   max-width: 600px;
   font-size: 1.9rem;
   margin-bottom: 30px;
}
.job-beefup__list {
   margin-left: 0;
   margin-right: 30px;
}
.job-beefup__list:last-child {
   margin-right: 0;
}
.beefup__head button {
   padding-left: 20px;
}
.beefup__toggle {
   right: 7px;
}
.beefup__toggle-arrow {
   margin-top: -5px;
}
.footer-contact__item {
   margin-right: 50px;
}
.footer-contact__item:last-child {
   margin-right: 0;
}
.footer-art {
   background-image: url(../img/media/992/footer.jpg);
}
.call-modal::after {
   display: none;
}
.call-modal__inner {
   padding-top: 120px;
}
.call-modal .section-heading {
   margin-left: -18px;
   margin-bottom: 50px;
   font-size: 4.2rem;
}
.call-modal__form {
   padding-left: 40px;
   padding-right: 40px;
}
.call-modal__input-row {
   flex-wrap: wrap;
}
.call-modal__input {
   width: 100%;
   margin-right: 0;
   margin-bottom: 35px;
}
.call-modal__input .input {
   width: 100%;
}
.call-modal__textarea {
   margin-bottom: 30px;
}
.call-modal .textarea {
   max-width: 646px;
}
.call-modal__action {
   margin-bottom: 15px;
}
.call-modal .consut-form__agreement {
   max-width: 450px;
}
.page-inner {
   padding-top: 90px;
}
.bread {
   font-size: 2rem;
}

.quiz-nav {
   margin-right: -12px;
}
.quiz-nav__item {
   width: calc(50% - 12px);
}
.quiz-form__inputs {
   flex-wrap: wrap;
   margin-bottom: 0;
}
.quiz-form .input {
   width: 320px;
   margin-bottom: 25px;
}

}

/* 768px */
@media only screen and (max-width : 768px) {

.logo {
   font-size: 28px;
}
.logo__ico {
   width: 36px;
   height: 36px;
}
.logo__txt {
   width: 180px;
   height: 23px;
}
.header {
   padding-top: 70px;
}
.header-top {
   padding-top: 12px;
   padding-bottom: 12px;
}
.header__action {
   display: none;
}
.header-offer {
   height: 460px;
   padding-bottom: 30px;
}
.header-offer__txt {
   font-size: 2.2rem;
}
.btn-normal .btn__circle-box.-right {
   margin-left: 14px;
}
.header-art {
   left: 70px;
}
.sandwich-box {
   top: 5px;
}
.clients__header {
   margin-bottom: 15px;
}
.work-block__aside {
    width: 30%;
}
.work-block__content {
   width: 70%;
   padding-left: 40px;
   padding-right: 40px;
}
.work-box {
   min-height: auto;
}
.work-box__preview {
   width: 354px;
   height: 222px;
}
.work-box__preview-screen {
   width: 300px;
   height: 188px;
   margin-top: 9px;
}
.competence {
   justify-content: center;
}
.consut .section-heading__title {
   font-size: 3.8rem;
}
.consut__advantage {
   min-width: 260px;
}
.consut__form {
   padding-top: 42px;
   padding-bottom: 42px;
}
.consut-form__inputs {
   margin-bottom: 10px;
}

.accent-title {
   margin-bottom: 25px;
}
.accent-title__txt {
   font-size: 2.2rem;
}

.article {
   padding-top: 50px;
   padding-bottom: 25px;
}
.job-beefup__aside {
   width: 100px;
}
.job-beefup__content {
   padding-top: 0;
}

.footer {
   padding-left: 10px;
   padding-right: 10px;
}
.footer-contact__row {
   flex-wrap: wrap;
}
.contact__item-social {
   width: 100%;
}

.call-modal__form {
   padding-left: 30px;
   padding-right: 30px;
}
.call-modal .section-heading {
   max-width: 480px;
}

.quiz__title {
   margin-bottom: 25px;
}
.quiz-choise__item {
   width: 50%;
}
.quiz-form .input {
   width: 100%;
}

}

/* 576px */
@media only screen and (max-width : 576px) {

.mfp-close {
   width: 26px;
   height: 26px;
   right: 30px;
   top: 30px;
}

.call-modal .section-heading {
   max-width: 400px;
   margin-left: -25px;
   margin-bottom: 40px;
   font-size: 3.5rem;
}
.call-modal__close {
   right: 4px;
   top: 68px;
}
.call-modal__close svg {
   width: 45px;
   height: 45px;
}
.call-modal__form {
   padding-left: 22px;
   padding-right: 22px;
}
.call-modal__inner {
   padding-top: 115px;
}
.call-modal__textarea textarea {
   font-size: 2.2rem;
}

.phone-panel__inner {
   padding-left: 40px;
   padding-right: 40px;
}
.phone-panel__content .section-heading {
   margin-bottom: 20px;
   margin-left: -50px;
}

h1, .h1 {
   font-size: 4.6rem;
   margin-bottom: 25px;
}
input[type="email"], input[type="password"], input[type="tel"], input[type="text"] {
   height: 48px;
   font-size: 2.5rem;
}

.logo__txt {
   width: 160px;
   height: 20px;
}

.menu__link {
   font-size: 3.2rem;
}

.section-heading {
   padding-left: 50px;
   font-size: 4rem;
}
.section-heading::before {
   height: 3px;
   width: 24px;
}
.btn {
   height: 50px;
}
.btn__circle-box {
   width: 44px;
   height: 44px;
}
.btn__circle-box.-right {
   margin-right: -32px;
}
.btn-small {
   height: 34px;
}
.header-art {
   background-image: url(../img/media/576/header.jpg);
   left: 0;
   top: 50px;
   opacity: .6;
}
.services {
   padding-top: 40px;
}
.services__card-inner {
   padding: 30px 20px;
}
.services__card .btn {
   height: 48px;
}
.about-us {
   padding-top: 10px;
}
.about-us__inner {
   padding: 30px;
}
.about-us__desc {
   text-align: justify;
   margin-bottom: 25px;
}
.about-us__art {
   opacity: .5;
}
.in-numbers__num {
   font-size: 4rem;
}
.in-numbers__txt {
   font-size: 1.8rem;
}
.clients {
   padding-top: 40px;
   padding-bottom: 45px;
}
.clients__desc {
   margin-left: 38px;
   font-size: 2rem;
}
.work {
   padding-bottom: 45px;
}
.work-block {
   min-height: 450px;
}
.work-block__content {
   padding-left: 20px;
   padding-right: 20px;
}
.work-block .btn__txt {
   margin-right: 20px;
}
.work-block__conv {
   right: 25px;
}
.consut .section-heading {
   max-width: 440px;
   padding-top: 45px;
   padding-bottom: 15px;
   padding-left: 50px;
}
.consut .section-heading__title {
   font-size: 3.6rem;
}
.consut .section-heading__txt {
   font-size: 2.6rem;
}
.consut__container {
   flex-direction: column;
}
.consut__advantage {
   padding: 25px 0 30px 0;
}
.consut__advantage .accent-title {
   margin-left: -20px;
   margin-right: -20px;
}
.consut__advantage .accent-title__txt {
   font-size: 2.6rem;
   display: block;
   padding-left: 40px;
}
.consut__advantage .list-point {
   max-width: 370px;
}
.list-point__svg._ico1 {
   width: 27px;
   height: 22px;
}
.list-point__svg._ico2 {
   width: 26px;
   height: 24px;
}
.list-point__svg._ico3 {
   width: 32px;
   height: 32px;
}
.consut__form {
   padding: 30px 20px;
   border-left: 0;
   border-top: 1px solid #272639;
}
.article__post {
   padding-left: 10px;
   padding-right: 10px;
}
.article-item {
   width: 100%;
   padding-left: 0;
   padding-right: 0;
}
.job .section-heading {
   margin-bottom: 20px;
}
.job-beefup__aside {
   display: none;
}

.footer .section-heading {
   margin-bottom: 30px;
}
.footer-contact__link,
.footer-contact__txt {
   font-size: 2.2rem;
}
.footer__copy .container {
   align-items: center;
   padding-left: 40px;
   padding-right: 40px;
}
.footer__copy-txt,
.footer__copy-link {
   font-size: 1.9rem;
}

.page-inner {
   padding-top: 90px;
   padding-bottom: 20px;
}

.policy-ul {
   padding-left: 20px;
}

.bread {
   margin-left: 35px;
}

.quiz__container {
   padding: 30px 0;
}
.quiz-progress__txt {
   top: 1px;
}
.quiz-progress {
   padding-bottom: 35px;
}
.quiz-progress__bar {
   height: 10px;
}
.quiz-progress__bar:after {
   width: 77px;
   height: 77px;
   background-size: contain;
   right: -12px;
   top: -52px;
}

}
/* 468px */
@media only screen and (max-width : 468px) {

.header {
   padding-top: 60px;
   border-radius: 0 0 20px 20px;
}
.header__call {
   display: none;
}
.logo {
   font-size: 26px;
}
.logo__ico {
   width: 34px;
   height: 34px;
}
.header-offer {
   margin-left: 0;
}
.header-offer__heading {
   margin-left: 0;
}
.header-tags {
   display: none;
}
.sandwich-box {
   right: 0;
}
.menu__link {
   height: 64px;
   font-size: 2.6rem;
}
.header-offer__heading {
   font-size: 4rem;
   margin-bottom: 15px;
}
.header-offer {
   min-height: auto;
}
.header-offer__txt {
   max-width: 340px;
   font-size: 1.8rem;
   margin-bottom: 10px;
}
.header-offer .btn {
   height: 47px;
}
.marquee-text__item {
   opacity: .6;
}
.header-offer__action {
   flex-direction: column;
   align-items: initial;
}
.header-art {
   opacity: .3;
}
.services {
   padding-top: 30px;
   padding-bottom: 25px;
}
.services__card-inner {
   border-radius: 20px;
}
.section-heading {
   font-size: 3.2rem;
}
.services__card {
   width: 100%;
}
.services__card-title {
   font-size: 2.6rem;
}
.services__card-txt {
   font-size: 2rem;
}
.services__offers {
   display: none;
}
.services-slider {
   display: block;
}
.about-us {
   padding-bottom: 40px;
}
.about-us__inner {
   border-radius: 20px;
}
.about-us__desc {
   font-size: 2.4rem;
   text-align: left;
   max-width: 305px;
}
.about-us__inner {
   padding: 30px 20px;
}
.in-numbers {
   flex-direction: column;
   margin-bottom: 10px;
}
.in-numbers__item {
   margin-right: 0;
   margin-bottom: 10px;
}
.work-block {
   border-radius: 20px;
}
.work-block .work-block__pic {
   opacity: .5;
}
.swiper-clients {
   margin-left: -20px;
   margin-right: -20px;
}
.swiper-clients .swiper-wrapper {
   padding-left: 20px;
}
.clients__box {
   width: 200px;
   height: 64px;
}
.clients__logo-kamin {
   width: 152px;
   height: 34px;
}
.clients__logo-dinamika {
   width: 123px;
   height: 32px;
}
.clients__logo-ragrad {
   width: 107px;
   height: 35px;
}
.clients__logo-houseboat {
   width: 123px;
   height: 34px;
}
.clients__logo-genomics {
   width: 143px;
   height: 31px;
   margin-top: 4px;
}
.clients__logo-madars {
   width: 177px;
   height: 27.5px;
}
.clients__logo-stylebooks {
   width: 130px;
   height: 31px;
}
.clients__logo-styleeco {
   width: 122px;
   height: 41px;
}
.work-block.-white {
   color: #fff;
}
.work-block__aside {
   display: none;
}
.work-block__content {
   width: 100%;
}
.work-block__pic {
   display: none;
}
.swiper-work-next svg {
   fill:#adbbd7;
}
.swiper-work .swiper-wrapper {
   padding-bottom: 30px;
}
.swiper-work .swiper-pagination {
	display: block;
}
.bitrix {
   width: auto;
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 60px;
}
.bitrix::before, .bitrix::after {
   width: 172px;
   height: 256px;
}
.bitrix::before {
   right: -45px;
   top: -76px;
}
.bitrix::after {
   right: initial;
   bottom: -133px;
   left: -30px;
}
.bitrix__content {
   padding: 15px 5px;
}
.bitrix__title {
   margin-bottom: 20px;
}
.bitrix__heading {
   font-size: 2.8rem;
   margin-bottom: 20px;
}
.bitrix__subtitle {
   padding-right: 0;
   padding-bottom: 8px;
   display: block;
   margin-bottom: 25px;
}
.bitrix__subtitle::after {
   left: 0;
}
.bitrix__logo {
   display: none;
}
.bitrix__lists {
   flex-wrap: wrap;
   margin-bottom: 0;
}
.bitrix__lists .ul {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}
.bitrix__lists .ul br {
   display: none;
}
.bitrix__lists .ul:last-child {
   margin-right: auto;
}
.bitrix .competence {
   display: none;
}
.bitrix-gold-certified {
   display: block;
}
.consut .section-heading {
   padding: 35px 0 30px 20px;
   margin-left: 0;
}
.consut .section-heading::before {
   display: none;
}
.consut .section-heading__title {
   font-size: 2.8rem;
   margin-bottom: 0;
}
.consut .section-heading__txt {
   font-size: 2.1rem;
   margin-bottom: 5px;
}
.article {
   padding-top: 40px;
}
.article__header {
   margin-bottom: 0;
}
.article__post {
   display: none;
}
.article-item__logo {
   height: 70px;
}
.article-item__links a {
   color: #a3a2a6;
}
.swiper-article {
   display: block !important;
   padding-bottom: 20px;
}
.swiper-article .swiper-slide {
	height: auto;
	min-height: 100%;
}
.swiper-article .article-item {
	height: 100%;
}
.job {
   padding-bottom: 10px;
}
.job .section-heading {
   margin-right: -20px;
   margin-left: -25px;
}
.job .section-desc {
   font-size: 2rem;
   padding-bottom: 25px;
   padding-left: 26px;
}
.beefup__heading {
   font-size: 2.2rem;
   font-weight: 500;
   padding-right: 50px;
}
.beefup__toggle {
   right: 0;
}
.beefup__toggle-arrow {
   margin-top: -3px;
   width: 20px;
   height: 12px;
}
.beefup__toggle-close {
   width: 28px;
   height: 28px;
   margin-top: -12px;
   margin-left: -14px;
}
.job-beefup__body {
   padding-left: 22px;
   padding-right: 22px;
}
.job-beefup__txt {
   font-size: 1.8rem;
   margin-bottom: 20px;
}
.job-beefup__lists {
   flex-wrap: wrap;
}
.job-beefup__list {
   margin-right: 0;
   margin-bottom: 20px;
}
.job-beefup__list:last-child {
   margin-bottom: 0;
}
.footer {
   border-radius: 20px 20px 0 0;
}
.footer .section-heading {
   margin: 0 0 25px -30px;
}
.footer .section-heading {
   padding-left: 44px;
}
.footer .section-heading::before {
   width: 18px;
}
.footer-contact {
   padding-left: 15px;
   margin-bottom: 20px;
}
.footer__inner {
   padding-top: 35px;
}
.footer-contact__row {
   margin-bottom: 0;
}
.footer-contact__item {
   margin-right: 20px;
}
.footer-contact__title {
   margin-bottom: 10px;
   font-size: 1.8rem;
}
.contact__item-social {
   margin-bottom: 20px;
}
.social-box__btn {
   width: 22px;
   height: 22px;
   border-radius: 3px;
}
.social-box__ico {
   width: 14px;
   height: 14px;
}
.social-box__vk .social-box__ico {
   width: 17px;
   height: 17px;
}
.social-box__vb .social-box__ico {
   width: 18px;
   height: 18px;
}
.footer-contact__address {
   max-width: 240px;
   margin-bottom: 10px;
}
.footer-contact__polityc {
   margin-top: 10px;
}
.footer__copy {
   padding-top: 15px;
   padding-bottom: 15px;
}
.footer__copy-txt {
   font-size: 2.5rem;
}
.footer__copy .container {
   padding-left: 65px;
   padding-right: 20px;
}
.footer-art {
   opacity: 1;
   background-image: url(../img/media/468/footer.jpg);
}
.bread {
   margin-left: 0;
}
.quiz__title {
   margin-bottom: 15px;
   font-size: 3.2rem;
}
.quiz__heading {
   margin-bottom: 10px;
}
.quiz-progress {
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 30px;
}
.quiz-progress__txt {
   margin-bottom: 8px;
}
.quiz-choise__item {
   width: 100%;
}
.quiz-choise__txt {
   font-size: 2rem;
}
.quiz-nav {
   margin-right: 0;
}
.quiz-nav__item {
   width: 100%;
   margin-right: 0;
   padding-left: 20px;
   padding-right: 20px;
}
.quiz-nav__txt {
   font-size: 1.9rem;
}
}