:root {
	--black: #202020;
	--dark: #0c2950;
	--gray: #5b5454;
	--light: #f7f9ff;
	--primary: #5171d0;
	--primary-light: #bccbf7;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder {
	transition: 0.5s;
}
:focus::placeholder {
	color: rgba(255, 255, 255, 0.2);
}

::selection {
	background-color: #218ce6;
	color: #fff;
}

/* Fonts */
/* Inter */
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/Gilroy-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/Gilroy-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/Gilroy-Semibold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	min-height: -webkit-fill-available;
	font:
		400 1.5rem/1.3 "Gilroy",
		sans-serif;
	color: var(--dark);
	background-color: #fff;
	position: relative;
}

.container-full {
	width: 100%;
	max-width: 1680px;
	margin-left: auto;
	margin-right: auto;
}

/* heading */
[class*="heading-"] {
	font-weight: 600;
}
.heading-1 {
	font-size: 5.5rem;
	line-height: 1.1;
}
.heading-2 {
	font-size: 4rem;
	line-height: 1.1;
}
.heading-5 {
	font-size: 2.2rem;
}
.heading-6 {
	font-size: 2rem;
}

/* list */
.list {
	/* style */
	&._gray .list__item {
		color: var(--gray);
		&::before {
			background-color: var(--gray);
		}
	}
	&._white .list__item {
		color: #fff;
		&::before {
			background-color: #fff;
		}
	}
}
.list__item {
	padding-left: 1.2rem;
	margin-bottom: 0.4rem;
	position: relative;
	color: var(--dark);
	font-size: 1.5rem;
	&::before {
		content: "";
		width: 4px;
		height: 4px;
		background-color: var(--dark);
		position: absolute;
		left: 0;
		top: 0.6rem;
		border-radius: 50%;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 78px;
	min-width: 330px;
	padding: 1px 3rem 0;
	font: 1.6rem sans-serif;
	color: #333;
	background-color: rgba(246, 246, 246, 0.5);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
	transition: 0.5s;
	border-radius: 50px;
	border: none;

	&:focus {
		outline: 0;
		background-color: #fff;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
	}
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}

/* weight */
.weight-300 {
	font-weight: 300;
}
.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}

/* text */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/* colors */
.color-gray {
	color: var(--gray);
}
.color-accent-gradient {
	background-image: linear-gradient(to right, #2567eb, #2285e7);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

/* width */
.width-450 {
	width: 100%;
	max-width: 450px;
}

/* animation */
@keyframes upDownWave1 {
	0% {
		transform: translateY(50px);
	}
	50% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(50px);
	}
}
@keyframes upDownWave2 {
	0% {
		transform: translateY(50px);
	}
	50% {
		transform: translateY(180px);
	}
	100% {
		transform: translateY(50px);
	}
}
@keyframes upDownWave3 {
	0% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(60px);
	}
	100% {
		transform: translateY(-30px);
	}
}
@keyframes upDownWave4 {
	0% {
		transform: translateY(30px);
	}
	50% {
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(30px);
	}
}
