/*Graphic - Elements*/

.graphic-roulette {
    width: 152px;
    height: 88px;
    background-image: url(../img/roulette.png);
}
.graphic-key {
    width: 220px;
    height: 118px;
    background-image: url(../img/key.png);
}
.graphic-cardname {
    width: 122px;
    height: 133px;
    background-image: url(../img/cardname.png);
}


/*UI - Elements*/

.logo {
	display: block;
	width: 160px;
	height: 71px;
	background-image: url(../img/svg/logo.svg);
}


.messbox {
	max-width: 300px;
}
.messbox__title {
	color: rgb(255 255 255 / .4);
	font-size: 12px;
	margin: 0 5px 5px;
	letter-spacing: .035em;
}
.messbox__group {
	display: flex;
	flex-wrap: wrap;
}
.messbox__link {
	display: inline-flex;
	align-items: center;
	padding: 5px;
	margin-right: 28px;
	text-decoration: none;
	color: #fff;
}
.messbox__ico {
	width: 14px;
	height: 14px;
	margin-right: 6px;
}
.messbox__ico.-telegram {
	width: 15px;
	height: 15px;
}
.messbox__txt {
	font-size: 11px;
}


.callbox__title {
	font-size: 12px;
	color: rgb(255 255 255 / .4);
	letter-spacing: .025em;
	margin: 0 0 4px 3px;
}
.callbox__dott {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #00a400;
	border-radius: 50%;
	margin-left: 6px;
}
.callbox__tel {
	font: 21px/1.1 'BebasNeue';
}
.callbox__lnk {
	font-size: 11px;
	text-transform: uppercase;
	color: #fee37a;
	margin-left: 7px;
}


.menu-btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
}
.menu-btn__txt {
	font-size: 10px;
	text-transform: uppercase;
	margin: 6px 16px 0 0;
}
.menu-btn__ico {
	width: 28px;
	height: 28px;
	fill: #fee37a;
}


.advantage {
	width: 720px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.advantage__box {
	width: 264px;
	position: relative;
	padding: 60px 0 17px;
}
.advantage__box::after {
	content: "";
	width: 239px;
	height: 40px;
	background: url(../img/leaves.png) no-repeat center top;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -119.5px;
	opacity: .2;
}
.advantage__box-top {
	width: 100%;
	height: 60px;
	background: url(../img/advantage-box.png) 0 0;
	position: absolute;
	top: 0;
	left: 0;
}
.advantage__box-center {
	min-height: 100%;
	background: #fff url(../img/advantage-box.png) 0 -60px;
	color: #333;
	position: relative;
	padding-bottom: 21px;
}
.advantage__box-content {
	padding: 5px 30px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}
.advantage__box-num {
	display: inline-block;
	width: 100%;
	max-width: 180px;
	text-align: right;
	font: 20px/1 'Acrom';
	color: #cfcfcf;
	position: absolute;
	right: 45px;
	top: -5px;
}
.advantage__box-title {
	font: 18px/1.45 'Acrom';
	color: #0e1215;
	margin-bottom: 10px;
}
.advantage__box-txt {
	color: #626262;
	font-size: 13px;
	line-height: 1.47;
	margin-bottom: 14px;
	letter-spacing: .03em;
}
.advantage__box-bottom {
	width: 100%;
	height: 17px;
	background: url(../img/advantage-box.png) 0 bottom;
	position: absolute;
	left: 0;
	bottom: 0;
}
.advantage__box-graphic {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-bottom: -60px;
	position: relative;
	z-index: 1;
}
.advantage__box-graphic .graphic-roulette {
	position: relative;
	left: 14px;
	top: 11px;
}
.advantage__box-graphic .graphic-key {
	position: relative;
	left: 11px;
	top: 3px;
}
.advantage__box-graphic .graphic-cardname {
	position: relative;
	left: 18px;
	top: -11px;	
}

/*element modification*/
.advantage__box:nth-child(even) {
	margin: 0 -54px 0 -30px;
	z-index: 3;
}
.advantage__box:nth-child(even)::after {
	height: 90px;
	bottom: -23px;
}
.advantage__box:nth-child(even) .advantage__box-top {
	height: 86px;
	top: -26px;
}
.advantage__box:nth-child(even) .advantage__box-center {
	top: -20px;
	padding-bottom: 41px;
	margin-bottom: -20px;
}
.advantage__box:nth-child(even) .advantage__box-bottom {
	height: 40px;
	bottom: -23px;
}


.heading-section {
	width: 100%;
	max-width: 999px;
	margin: 0 auto;
	padding: 17px 15px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.heading-section.-brick-to-brick {
	background: url(../img/brick-to-brick.png) no-repeat center 0;

}
.heading-section__info {
	display: block;
	font-size: 21px;
	font-weight: 300;
	padding: 12px 0 14px;
}
.heading-section__title {
	font: bold 52px/1.03 'BebasNeue';
	padding: 22px 0 14px;
	letter-spacing: .025em;
}
.heading-section__subtitle {
	font: 300 36px 'BebasNeue';
	padding: 11px 0;
	letter-spacing: .025em;
}


.informboxes {
	display: inline-block;
	padding: 12px 0 34px;
}
.informboxes__row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.informboxes__item {
	width: 240px;
	background-color: #fff;
	border-radius: 4px;
	color: #0d1019;
	box-shadow: 0 16px 51px rgba(211, 206, 204, .31);
	padding: 11px;
	position: relative;
}
.informboxes__img {
	position: absolute;
	left: 0;
	bottom: 0;
}
.informboxes__img img {
	display: block;
}
.informboxes__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
	border: 1px solid #c7d7ee;
	padding: 11px;
}
.informboxes__descrp {
	width: 129px;
	margin-left: auto;
}
.informboxes__title {
	font: 500 17.12px 'Acrom';
	padding: 5px 0;
}
.informboxes__txt {
	font-size: 13.32px;
	color: #666768;
	padding: 5px 0;
}

/*modification style*/
.informboxes__item.-center {
	width: 282px;
	z-index: 1;
	margin: 0 -29px;
}
.-center .informboxes__content {
	min-height: 126px;
}
.-center .informboxes__descrp {
	width: 119px;
}

.-calendar.informboxes__item {
	margin-left: -35px;
}
.-calendar .informboxes__descrp {
	width: 76px;
}
.-calendar .informboxes__img {
	left: 38px;
}