/* Max-Width media */

/* 1200px */
@media only screen and (max-width : 1200px) {
.hero-service {
   width: 100%;
   max-width: 675px;
}
.hero-service__block {
   margin-bottom: -30px;
}
}

/* 992px */
@media only screen and (max-width : 992px) {
.logo__ico {
   width: 44px;
   height: 44px;
   margin-right: 12px;
}
.logo__txt {
   width: 180px;
   height: 24px;
   margin-top: 0px;
}
.callbox__text {
   font-size: 14px;
}
.accent-heading {
   font-size: 4.6rem;
}
.accent-heading__text._big {
   font-size: 5.5rem;
}
.header-offer-list__item {
   font-size: 18px;
}
.hero__img {
   margin-left: 30px;
}
.messenger svg {
   width: 30px;
   height: 30px;
}
.messenger ._i-whatsapp {
   width: 27px;
   height: 27px;
}
}

/* 768px */
@media only screen and (max-width : 768px) {
.callbox__info {
   display: none;
}
.accent-heading {
   font-size: 3rem;
}
.accent-heading__text {
   padding-left: 20px;
   padding-right: 20px;
   box-shadow: 0 5px 10px 10px rgba(4, 8, 40, .25);
}
.accent-heading__text._big {
   font-size: 4.2rem;
}
.header-offer-list {
   padding-top: 15px;
   margin-bottom: 45px;
}
.header-offer-list__item {
   font-size: 17px;
}
.header-offer-list__icon {
   width: 66px;
   font-size: 30px;
}
.header-offer-action {
   padding-left: 130px;
   position: relative;
}
.header-offer-action__line {
   margin-left: 25px;
   margin-bottom: -10px;
   position: absolute;
   left: 0;
   top: -30px;
   transform: rotate(90deg);
}
.confidentiality {
   padding-left: 24px;
}
.confidentiality__text {
   margin-left: 0;
   font-size: 13px;
}
.btn {
   height: 68px;
   font-size: 20px;
   padding-left: 40px;
   padding-right: 40px;
   column-gap: 22px;
}
.header-offer-action .btn {
   padding-right: 30px;
}
}


/* 576px */
@media only screen and (max-width : 576px) {
.header-offer-action {
   display: flex;
   justify-content: center;
   padding-left: 0;
}
.header-offer-action__line {
   display: none;
}
.confidentiality__icon {
   width: 26px;
}
.hero-service__block:nth-child(1).animated {
   animation-delay: .3s;
}
.hero-service__block:nth-child(2).animated {
   animation-delay: .3s;
}
.hero-service__block:nth-child(3).animated {
   animation-delay: .3s;
}
.hero-service__block:nth-child(4).animated {
   animation-delay: .3s;
}
}


/* 480px */
@media only screen and (max-width : 480px) {
.header-top {
   margin-bottom: 55px;
}
.accent-heading {
   font-size: 2.3rem;
   padding-bottom: 4px;
}
.accent-heading__text._big {
   font-size: 3.3rem;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 5px;
}
}


/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {

}