*, *::before, *::after {
    box-sizing: border-box;
}
  
/* base */
html {
    overflow-x: hidden;
}
html, body {
    height: 100vh;
}
body {
    background-color: #EFF4FA;
    color: #183152;
    overflow-x: hidden;
    margin: 0 auto;
    font: 400 16px/1.46 'VelaSans', sans-serif;
}

/* link */
a {
    color: #183152;
}
a:hover {
    color: #366CAB;
    text-decoration: none;
}

/* heading */
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 500;
}
h1, .h1 {
    font-size: 37px;
    line-height: 109%;
}
h2, .h2 {
    font-size: 28px;
    line-height: 108%;
}
h3, .h3 {
    font-size: 21px;
    line-height: 111%;
}
h4, .h4 {
    font-size: 18px;
    line-height: 128%;
}
h5, .h5 {
    font-size: 15px;
    line-height: 134%;
}
h6, .h6 {
    font-size: 13px;
    line-height: 147%;
}


/* text style */
.p1 {
    font-size: 28px;
    line-height: 126%;
}
.p2 {
    font-size: 16px;
    line-height: 147%;
}
.p3 {
    font-size: 14px;
    line-height: 128%;
}


/* weight */
.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}
.weight-600 {
    font-weight: 600;
}


/* margins */
.mb-0 {
    margin-bottom: 0;
}


/* background color */
.--bg-light {
    background-color: #EFF4FA;
}
.--bg-white {
    background-color: #FFF;
}

/* radius */
.radius-100 {
    border-radius: 100px;
}
.radius-all {
    border-radius: 15px;
}
.radius-left {
    border-radius: 15px 0 0 15px;
}

/* display */
.d-none {
    display: none;
}