.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	height: 8rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;

	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: var(--color-accent);
	color: #fff;
	border-radius: 5rem;
	cursor: pointer;

	transition: .5s;
}
.btn:hover {
   background-color: var(--color-darkcyan);
   color: #fff;
   text-decoration: none;
}