/* HERO */
.hero-s {
   max-width: 1920px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}
.hero-s__inner {
   min-height: 100%;
   position: relative;
   z-index: 1;
}
.hero-s-img {
}


/* Header */
.header {
   padding: 12px 0;
   margin-bottom: 50px;
}


/* Offer */
.offer-s {
   padding: 20px 0 40px;
}