/* SVG icons */
.i-arrow-right {
	width: 14px;
	height: 14px;
	fill: #2b59fa;
}
.i-arrow-check {
	width: 23px;
	height: 17px;
	fill: #ff5c3b;
}
.i-arrow-down {
	display: block;
	width: 22px;
	height: 25px;
	fill: #fff;
	margin: auto;
}
.i-arrow-down.-black {
	fill: #0B0B0B;
}


/* Graphic icons */
.graphic-ico-filter,
.graphic-ico-analytics {
	display: inline-block;
	width: 36px;
	height: 36px;
}
.graphic-ico-filter {
	background-image: url("../../img/graphic-icons/filter.png");
}
.graphic-ico-analytics {
	background-image: url("../../img/graphic-icons/analytics.png");
}
.graphic-ico__seo-analytics {
	display: inline-block;
	width: 240px;
	height: 126px;
	background-image: url("../../img/graphic-icons/seo-analytics.png");
}


/* Big graphic icons */
.big-ico-analysis {
	position: relative;
	display: inline-block;
	width: 482px;
	height: 414px;
}
.big-ico-analysis::after {
	content: "";
	width: 614px;
	height: 453px;
	background-image: url("../../img/big-icons/analysis.png");
	position: absolute;
	left: -48px;
	top: -16px;
}


/* Graphic elements */
.graphic-img-geocamera {
	display: inline-block;
	width: 196px;
	height: 196px;
	background-image: url("../../img/graphic-img/geocamera.png");
}
.graphic-img-repair {
	display: inline-block;
	width: 156px;
	height: 149px;
	background-image: url("../../img/graphic-img/repair.png");
}
.graphic-img-marketingbox {
	width: 488px;
	height: 360px;
	position: relative;
}
.graphic-img-marketingbox::before {
	content: "";
	width: 780px;
	height: 494px;
	background-image: url("../../img/marketingbox.png");
	position: absolute;
	left: -131px;
	top: -105px;
}


/* ———————————
 UI — elementss
———————————— */

/* Link */
.lnk-group {
	display: flex;
	flex-wrap: wrap;
}
.lnk-group.--center {
	justify-content: center;
}
.lnk-group .lnk {
	margin: 0 24px 15px 0;
}
.lnk-group.--center .lnk {
	margin: 0 12px 15px 12px;
}
.lnk {
	display: inline-flex;
	color: #2b59fa;
	line-height: 1.1;
}
.lnk__ico svg, .lnk__txt {
	transition: .5s ease-out;
}
.lnk__ico {
	display: inline-flex;
	margin-right: 10px;
}
.lnk__ico.--center {
	align-items: center;
}
.lnk__txt-wrap {
	display: inline-flex;
	align-items: center;
}
.lnk__txt {
	border-bottom: 1px dotted #2b59fa;
}
/* light */
.lnk.--light {
	color: #ffffc2;
}
.lnk.--light .lnk__txt {
	border-bottom-color: #ffffc2;
}
/* elements */
.lnk .i-arrow-right {
	margin-top: 2px;
}
/* event :hover */
.lnk:hover {
	color: #ff6346;
}
.lnk:hover .lnk__ico svg {
	fill: #ff6346;
}
.lnk:hover .lnk__txt {
	border-bottom-color: #ff6346;
}


/* Decor title */
.decor-title {
	position: relative;
	padding-left: 30px;
}
.decor-title::before {
	content: "";
	width: 4px;
	height: 80%;
	max-height: 68px;
	background-color: #fac141;
	margin: 5px 0;
	position: absolute;
	left: -4px;
	top: 0;
}
.decor-title__sub {
	position: absolute;
    padding: 2px 0 0 75px;
    font-size: 60%;
    letter-spacing: -.05em;
    line-height: 1.1;
}


/* Decorlines */
.decorlines {
	width: 100%;
	max-width: 1111px;
	margin: 0 auto;
}
.decorline {
	height: 9px;
	background-color: #006fe7;
	border-radius: 0 0 9px 9px;
}
.decorline.-after {
	background-color: #114499;
	margin: 0 45px;
}


/* Step item */
.step-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #171717;
}
.step-item__num {
	font-size: 12px;
	padding: 2px 10px;
	background-color: #f3f3fb;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 0 #fff;
	position: relative;
	z-index: 1;
}
.step-item__btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 47px;
	padding: 8px 5px;
	border-radius: 5px;
	background-color: #f4f3f6;
	font-size: 15px;
	line-height: 1.1;
	font-weight: 500;
	box-shadow: 0 -1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(255,255,255,.3);
	transition: .5s ease-in;
	position: relative;
	overflow: hidden;
	/* z-index: 1; */
}
.step-item__btn::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,.25));
	position: absolute;
	left: 0;
	top: 0;
}
.step-item__txt {
	position: relative;
}


/* Bright tip */
.bright-tip {
	min-height: 48px;
	padding: 7px 20px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	background: #fb9136 linear-gradient(#ffb25d, #f88035);
	border-radius: 5px;
	line-height: 1.1;
	color: #fff;
}


/* Numberes list */
.numbered-list {
	width: 100%;
	max-width: 720px;
	padding-bottom: 40px;
}
.numbered-list__item {
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.numbered-list__num {
	min-width: 50px;
	padding-right: 8px;
	font-size: 28px;
	font-weight: 700;
	color: #f9894d;
	background: -webkit-linear-gradient(#ffba9a, #f9894d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.numbered-list__txt {
	opacity: .8;
	font-size: 1.8rem;
	color: #010101;
}


/*itemtext*/
.itemtext {
	width: 100%;
	max-width: 444px;
	display: inline-flex;
	align-items: center;
	padding: 20px 10px;
}
/*style*/
.itemtext.-center {
	text-align: center;
	flex-direction: column;
}
.itemtext.-right .itemtext__info {
	order: -1;
	text-align: right;
}

.itemtext__ico {
	width: 48px;
	height: 48px;
	background-color: #f3f3f3;
	border-radius: 50%;
	margin: 0 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.itemtext__title {
	color: #a6c8ed;
	font-size: 2.6rem;
	line-height: 1.1;
	font-weight: 500;
	margin-bottom: 10px;
}


/*Info card*/
.infocard {
	width: 100%;
	max-width: 333px;
}
.infocard__content {
	z-index: 1;
	position: relative;
	min-height: 222px;
	padding: 15px;
	color: #fff;
	font-size: 1.5rem;
}
.infocard__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 8px;
	pointer-events: none;
	overflow: hidden;
	background-color: #27262b;
}
.infocard__bg::before {
	content: "";
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(top right, #FFFFFF, #000000);
	background: -moz-radial-gradient(top right, #FFFFFF, #000000);
	background: radial-gradient(to bottom left, #FFFFFF, #000000);
	position: absolute;
	right: 0;
	top: 0;
	opacity: .3;
}
.infocard__shadow {
	height: 17px;
	position: relative;
	margin-top: -7px;
}
.infocard__shadow::before ,
.infocard__shadow::after {
	content: "";
	position: absolute;
	position: absolute;
	background-color: #333;
	width: 70px;
	height: 30px;
	bottom: 7px;
	filter: blur(9px);
	transform: skewY(15deg) rotate(-5deg);
	left: 15px;
	opacity: .7;
}
.infocard__shadow::after {
	transform: skewY(-5deg) rotate(-8deg);
	left: inherit;
	right: 15px;
}
.infocard__picture,
.infocard__descrp {
	position: relative;
	z-index: 1;
}
.infocard__picture {
	display: block;
	height: 140px;
	position: relative;
}