/* SVG icons */
.i-arrow-right {
	width: 19px;
	height: 19px;
	fill: #2b59fa;
}
.i-arrow-check {
	width: 23px;
	height: 17px;
	fill: #ff5c3b;
}
.i-arrow-down {
	display: block;
	width: 22px;
	height: 25px;
	fill: #fff;
	margin: auto;
}
.i-arrow-down.-black {
	fill: #0B0B0B;
}
.i-whatsapp {
	width: 16px;
	height: 16px;
}
.i-telegram,
.i-viber {
	width: 17px;
	height: 17px;
}
.i-shield {
	width: 32px;
	height: 32px;
}
.i-cursor {
	width: 30px;
	height: 30px;
}
.i-arr {
	display: inline-block;
	width: 89px;
	height: 88px;
}
.i-arr.-inver {
	transform: scaleX(-1);
}
.i-read {
	width: 22px;
	height: 22px;
}
.i-sett {
	width: 22px;
	height: 22px;
}
.i-idea {
	width: 33px;
	height: 33px;
}
.i-arrow-cursore {
	display: inline-block;
	width: 88px;
	height: 89px;
}
/*modification*/
.-i-color.-white {
	fill: #fff;
}



/* Graphic icons */
.graphic-ico-filter {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-image: url("../../img/graphic-icons/filter.png");
}
.graphic-ico-analytics {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-image: url("../../img/graphic-icons/analytics.png");
	background-size: cover;
}
.graphic-ico-money {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-image: url("../../img/graphic-icons/money.png");
	background-size: cover;
}
.graphic-ico-time {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-image: url("../../img/graphic-icons/time.png");
	background-size: cover;
}
.graphic-ico-analytics.x2,
.graphic-ico-time.x2,
.graphic-ico-money.x2 {
	width: 55px;
	height: 55px;
}
.graphic-ico-conversion {
	display: inline-block;
	width: 66px;
	height: 63px;
}
.graphic-ico-conversion.-i1 {
	background: url("../../img/sprite.png") -89px -88px;
}
.graphic-ico-conversion.-i2 {
	background: url("../../img/sprite.png") -155px -88px;
}
.graphic-ico-conversion.-i3 {
	background: url("../../img/sprite.png") -221px -88px;
}
.graphic-ico-conversion.-i4 {
	background: url("../../img/sprite.png") -287px -88px;
}
.graphic-ico-conversion.-i5 {
	background: url("../../img/sprite.png") -353px -88px;
}

/*Big icons*/
.graphic-ico__seo-analytics {
	display: inline-block;
	width: 240px;
	height: 126px;
	background-image: url("../../img/graphic-icons/seo-analytics.png");
}
.graphic-ico__rose {
	display: inline-block;
	width: 305px;
	height: 152px;
	background-image: url("../../img/graphic-icons/rose.png");
}
.graphic-ico__magnet {
	display: inline-block;
	width: 178px;
	height: 131px;
	background-image: url("../../img/graphic-icons/magnet.png");
}
.graphic-ico__moscow-loc {
	display: inline-block;
	width: 157px;
	height: 155px;
	background-image: url("../../img/graphic-icons/moscow-loc.png");
}
.graphic-ico__questions {
	display: inline-block;
	width: 209px;
	height: 139px;
	background-image: url("../../img/graphic-icons/questions.png");
}
.graphic-ico__ads {
	display: inline-block;
	width: 221px;
	height: 148px;
	background-image: url("../../img/graphic-icons/ads.png");
}
.graphic-ico__social {
	display: inline-block;
	width: 180px;
	height: 165px;
	background-image: url("../../img/graphic-icons/social.png");
}
.graphic-ico__crm {
	display: inline-block;
	width: 236px;
	height: 118px;
	background-image: url("../../img/graphic-icons/crm.png");
}


/*Graphic arrow*/
.arr-top {
	display: inline-block;
	width: 15px;
	height: 51px;
	background: url(../../img/sprite.png) -110px -151px;
}
.arr-top.-invert {
	transform: scaleX(-1);
}


/* Big graphic icons */
.big-ico-analysis {
	position: relative;
	display: inline-block;
	width: 482px;
	height: 414px;
}
.big-ico-analysis::after {
	content: "";
	width: 614px;
	height: 453px;
	background-image: url("../../img/big-icons/analysis.png");
	position: absolute;
	left: -48px;
	top: -16px;
}


/* Graphic elements */
.graphic-img-geocamera {
	display: inline-block;
	width: 196px;
	height: 196px;
	background-image: url("../../img/graphic-img/geocamera.png");
}
.graphic-img-repair {
	display: inline-block;
	width: 156px;
	height: 149px;
	background-image: url("../../img/graphic-img/repair.png");
}
.graphic-img-marketingbox {
	width: 488px;
	height: 360px;
	position: relative;
}
.graphic-img-marketingbox::before {
	content: "";
	width: 780px;
	height: 494px;
	background-image: url("../../img/marketingbox.png");
	position: absolute;
	left: -131px;
	top: -105px;
}
.graphic-img-pen {
	position: relative;
	display: inline-block;
	width: 71px;
	height: 250px;
}
.graphic-img-pen::after {
	content: "";
	width: 71px;
	height: 250px;
	background: url("../../img/sprite.png") 0 -88px;
	position: absolute;
	left: 0;
	bottom: 0;
}


/* Decor elements */
.right-corner-box {
	width: 82px;
	height: 82px;
	position: relative;
}
.right-corner-box::after {
	content: "";
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-right-color: #FF8645;
	border-bottom-color: #FF8645;
    position: absolute;
    left: 0;
    top: 0;
}
.right-corner-box__ico {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	position: absolute;
	right: 2px;
	bottom: 4px;
	z-index: 1;
	color: #fff;
}
.right-corner-box__ico svg {
	fill: rgba(0,0,0,.8);
}


/* ———————————
 UI — elementss
———————————— */

/* Link */
.lnk-group {
	display: flex;
	flex-wrap: wrap;
}
.lnk-group.--center {
	justify-content: center;
}
.lnk-group .lnk {
	margin: 0 24px 15px 0;
}
.lnk-group.--center .lnk {
	margin: 0 12px 15px 12px;
}
/*Element link*/
.lnk {
	display: inline-flex;
	color: #2b59fa;
	line-height: 1.1;
}
/*-icon*/
.lnk__ico {
	display: inline-flex;
	margin-right: 10px;
}
.lnk__ico svg, .lnk__txt {
	transition: .5s ease-out;
}
.lnk__ico.--center {
	align-items: center;
}
/*-text*/
.lnk__txt-wrap {
	display: inline-flex;
	align-items: center;
}
.lnk__txt {
	border-bottom: 1px dotted #2b59fa;
}
/* -modification */
.lnk .i-arrow-right {
	margin-top: 2px;
}
/* Event */
/*:hover*/
.lnk:hover {
	color: #ff6346;
}
.lnk:hover .lnk__ico svg {
	fill: #ff6346;
}
.lnk:hover .lnk__txt {
	border-bottom-color: #ff6346;
}
/*Style theme*/
/* light */
.lnk.--light {
	color: #ffffc2;
}
.lnk.--light .lnk__txt {
	border-bottom-color: #ffffc2;
}
/* Orange */
.lnk.--orange {
	color: #ff6346;
}
.lnk.--orange .lnk__txt {
	border-bottom-color: #ff6346;
}
.lnk.--orange .lnk__ico svg {
	fill: #ff6346;
}
.lnk.--orange:hover {
	color: #2b59fa;
}
.lnk.--orange:hover .lnk__txt {
	border-bottom-color: #2b59fa;
}
.lnk.--orange:hover .lnk__ico svg {
	fill: #2b59fa;
}


/* Decor title */
.decor-title {
	position: relative;
	padding-left: 30px;
}
.decor-title::before {
	content: "";
	width: 4px;
	height: 80%;
	max-height: 68px;
	background-color: #fac141;
	margin: 15px 0;
	position: absolute;
	left: -4px;
	top: 0;
}
.decor-title__sub {
	position: absolute;
    padding: 2px 0 0 87px;
    font-size: 60%;
    letter-spacing: -.05em;
    line-height: 1.1;
}


/* Decor paragraph */
.decor-paragraph {
	padding: 0 15px 20px 25px;
}


/* Footer lines */
.foolines {
	width: 100%;
	padding: 0 30px;
	margin: 0 auto;
}
.foolines__el {
	height: 9px;
	background-color: #006fe7;
	border-radius: 0 0 9px 9px;
}
.foolines__el.-after {
	background-color: #114499;
	margin: 0 45px;
}


/* Step item */
.step-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #171717;
}
.step-item__num {
	font-size: 12px;
	padding: 2px 10px;
	background-color: #f3f3fb;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 0 #fff;
	position: relative;
	z-index: 1;
}
.step-item__btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 47px;
	padding: 8px 5px;
	border-radius: 5px;
	background-color: #f4f3f6;
	font-size: 15px;
	line-height: 1.1;
	font-weight: 500;
	box-shadow: 0 -1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(255,255,255,.3);
	transition: .5s ease-in;
	position: relative;
	overflow: hidden;
	 z-index: 1; 
}
.step-item__btn::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,.25));
	position: absolute;
	left: 0;
	top: 0;
}
.step-item__txt {
	position: relative;
}


/* Bright tip */
.bright-tip {
	min-height: 48px;
	padding: 7px 20px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	background: #fb9136 linear-gradient(#ffb25d, #f88035);
	border-radius: 5px;
	line-height: 1.1;
	color: #fff;
}


/* Numberes list */
.numbered-list {
	width: 100%;
	max-width: 720px;
	padding-bottom: 40px;
}
.numbered-list__item {
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.numbered-list__num {
	min-width: 50px;
	padding-right: 8px;
	font-size: 28px;
	font-weight: 700;
	color: #f9894d;
	background: -webkit-linear-gradient(#ffba9a, #f9894d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.numbered-list__txt {
	opacity: .8;
	font-size: 1.8rem;
	color: #010101;
}


/*itemtext*/
.itemtext {
	width: 100%;
	max-width: 449px;
	display: inline-flex;
	align-items: center;
	padding: 20px 10px;
}
.itemtext__ico {
	width: 48px;
	height: 48px;
	background-color: #f3f3f3;
	border-radius: 50%;
	margin: 0 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.itemtext__title {
	color: #a6c8ed;
	font-size: 2.6rem;
	line-height: .95;
	font-weight: 500;
	margin-bottom: 6px;
}
/*style*/
.itemtext.-center {
	text-align: center;
	flex-direction: column;
}
.itemtext.-right .itemtext__info {
	order: -1;
	text-align: right;
}
.itemtext.-center .itemtext__ico {
	margin-bottom: 20px;
}


/*Info card*/
.infocard {
	width: 100%;
	max-width: 333px;
}
.infocard__content {
	z-index: 1;
	position: relative;
	min-height: 306px;
	color: #fff;
	font-size: 1.5rem;
}
.infocard__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 8px;
	pointer-events: none;
	overflow: hidden;
	background-color: #27262b;
}
.infocard__bg::before {
	content: "";
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(top right, #FFFFFF, transparent);
	background: -moz-radial-gradient(top right, #FFFFFF, transparent);
	background: radial-gradient(to bottom left, #FFFFFF, transparent);
	position: absolute;
	right: 0;
	top: 0;
	opacity: .4;
}
.infocard__shadow {
	height: 17px;
	position: relative;
	margin-top: -7px;
}
.infocard__shadow::before ,
.infocard__shadow::after {
	content: "";
	position: absolute;
	position: absolute;
	background-color: #333;
	width: 70px;
	height: 30px;
	bottom: 7px;
	filter: blur(9px);
	transform: skewY(15deg) rotate(-5deg);
	left: 15px;
	opacity: .7;
}
.infocard__shadow::after {
	transform: skewY(-5deg) rotate(-8deg);
	left: inherit;
	right: 15px;
}
.infocard__picture,
.infocard__descrp {
	position: relative;
	z-index: 1;
}
.infocard__picture {
	display: block;
	height: 141px;
}
.infocard__picture .graphic-ico__questions {
	position: absolute;
	left: 14px;
	bottom: 28px;
}
.infocard__picture .graphic-ico__magnet {
	position: absolute;
	left: 24px;
	bottom: 22px;
}
.infocard__picture .graphic-ico__rose {
	position: absolute;
	left: 0;
	bottom: 6px;
}
.infocard__picture .graphic-ico__moscow-loc {
	border-radius: 8px 0 0 0;
}
.infocard__picture .graphic-ico__seo-analytics {
	left: 7px;
	bottom: 3px;
	position: absolute;
}
.infocard__picture .graphic-ico__ads {
	left: 11px;
	bottom: 0px;
	position: absolute;
}
.infocard__picture .graphic-ico__social {
	left: 10px;
	bottom: -6px;
	position: absolute;
}
.infocard__picture .graphic-ico__crm {
	left: 0px;
	bottom: 4px;
	position: absolute;
}
.infocard__descrp {
	padding: 15px 15px 14px 15px;
}
.infocard__descrp-title {
	font-weight: 500;
	font-size: 2.2rem;
	margin-bottom: 10px;
}
.infocard__descrp-p {
	font-weight: 300;
	font-size: 1.3rem;
	margin-bottom: 5px;
	line-height: 1.4;
	margin-right: -5px;
}
.infocard__descrp-p strong {
	letter-spacing: .02em;
}


/*Titles Lines*/
.titleslines {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	border-radius: 8px 0 0 8px;
	margin-bottom: 42px;
}
.titleslines__el {
	color: #fff;
	background-color: #f98f1d;
	padding: 0px 18px 5px 13px;
	margin-bottom: -3px;
}
.titleslines__el:first-child {
	padding: 3px 13px;
}
.titleslines__el:last-child {
	border-bottom-right-radius: 8px;
	margin-bottom: 0;
}



/*Area box*/
.areabox-wrap {
	width: 100%;
	max-width: 440px;
	position: relative;
	margin: auto;
	color: initial;
}
.areabox-wrap .graphic-img-pen {
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 50%;
	left: 100%;
	margin: 0 0 19px -9px;
}
.areabox-wrap .graphic-img-pen::after {
	bottom: -37px;
}
.areabox-wrap .foolines {
	padding: 0 12px;
}
.areabox-wrap .foolines__el.-after {
	margin: 0px 18px;
}
.areabox {
	background: #efeef2 url("../../img/texture.jpg");
	padding: 13px 12px;
	border-radius: 12px;
	position: relative;
	z-index: 1;
}
.areabox::after {
	content: "";
    pointer-events: none;
    width: 70%;
    height: 100%;
    background: linear-gradient(
111deg, rgba(255,255,255,0) 60%, rgba(0,0,0,.1) 80%);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
}
.areabox__inner {
	border: 1px solid rgba(0,0,0,.25);
	min-height: 100px;
	border-radius: 10px;
	padding: 10px 40px;
	position: relative;
	z-index: 1;
}
.areabox__pen {

}




/*Link button*/
.lnkbtn-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 9px 0;
}
.lnkbtn-group > * {
	margin: 0 5px 10px 5px;
}
.lnkbtn {
	flex-shrink: 0;
	width: 104px;
	min-height: 38px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 4px 6px 3px;
	border: 1px solid rgba(130,179,230,.3);
	box-shadow: inset 0 0 0 1px rgba(130,179,230,.1);
	color: rgba(47,47,47,.5);
	font-size: 1.3rem;
	border-radius: 4px;
}
.lnkbtn__ico {
	margin-right: 5px;
}



/*Input element*/
.inputelement-item {
	display: flex;
	padding: 11px 0;
}
.inputelement-item .inputelement {
	width: 100%;
}
.inputelement {
	min-width: 260px;
	display: inline-block;
	width: inherit;
	height: 82px;
	position: relative;
}
.inputelement__input {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	font-size: 1.8rem;
	letter-spacing: .03em;
	font-weight: 300;
	background: #f5f5f5 linear-gradient(to right, #f2f2f2, #f8f8f8);
	box-shadow: inset 1px 3px 3px rgba(0,0,0,.1);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: .75s;
}
.inputelement__input[type=tel] {
	letter-spacing: .07em;
}
.inputelement__input.-center {
	text-align: center;
}
.inputelement__input::placeholder {
	font-size: 1.35rem;
	font-weight: 100;
	color: rgba(47,47,47,.5);
	letter-spacing: .02em;
}
.inputelement__input:focus {
	outline: none;
	background: #fff;
}



/*Button*/
.bttn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: none;
	color: inherit;
	cursor: pointer;
	position: relative;
	border-radius: 12px;
	box-shadow: 0px 41px 22px -25px rgba(34, 60, 80, 0.8);
	margin-bottom: 20px;
	padding: 0 10px;
}
.bttn.-block {
	width: 100%;
	display: flex;
}
.bttn__txt {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 86px;
	text-align: center;
	font-size: 1.3rem;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	padding: 10px;
	position: relative;
	z-index: 1;
}
.bttn__ico {
	display: block;
	padding: 10px;
	position: relative;
	top: 2px;
	z-index: 1;
}
.bttn__ico svg {
	fill: #fff;
}
.bttn__ico-img {
	display: flex;
	width: auto;
	max-width: 68px;
	height: 68px;
	pointer-events: none;
	position: relative;
	z-index: 1;
}
.bttn__bg {
	width: 100%;
	height: 100%;
	background-color: #ecca4e;
	border-bottom: 4px solid rgba(0,0,0,.3);
	border-radius: inherit;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: .5s ease;
}
.bttn__bg::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: linear-gradient(to top, transparent, rgba(250,234,125,.8) 60%);
}
/*hover button*/
.bttn:hover .bttn__bg {
	background-color: #f98f1d;
	border-bottom: 4px solid rgba(0,0,0,.15);
}
/*colors*/
.bttn.--c-dark  {
	color: #121212;
}
.bttn.--c-dark .bttn__ico svg {
	fill: #121212;
}
/*style*/
.bttn.--sz-medium .bttn__txt {
	font-size: 1.5rem;
}
.bttn.--sz-normal {
	padding-left: 18px;
	padding-right: 8px;
}
.bttn.--sz-normal .bttn__txt {
	min-height: 68px;
	padding-top: 7px;
	font-size: 1.7rem;
	letter-spacing: .015em;
}
/*modification*/
.bttn.--styl-darts {
	padding-left: 20px;
	padding-right: 60px;
}
.bttn.--styl-darts .bttn__ico-img {
	position: absolute;
	right: 0;
}



/*Icon and Text*/
.icoandtxt {
	display: flex;
	align-items: center;
}
.icoandtxt__ico {
	flex-shrink: 0;
	margin-right: 14px;
}
.icoandtxt__txt {
	font-size: 1.4rem;
	color: rgba(12,12,12,.75);
}
.icoandtxt__txt a {
	color: inherit;
	text-decoration: underline;
}
.icoandtxt__txt a:hover {
	color: rgb(114, 171, 228);
}


/*List info text*/
.listinfotxt.-col {
	display: flex;
	justify-content: center;
	padding: 9px 26px;
}
.listinfotxt__el {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.-col .listinfotxt__el {
	padding: 14px 26px;
}
.listinfotxt__ico {
	flex-shrink: 0;
	margin-right: 17px;
}


/*Steps information*/
.stepsinform {

}
/*item*/
.stepsinform__item {
	display: flex;
	align-items: center;
	min-height: 61px;
	padding: 5px 0;
}
/* -item modification*/
.stepsinform__item.-el-a {
	min-height: 86px;
}
.stepsinform__item.-el-b {
	min-height: 80px;
}
.stepsinform__item.-el-setting {
	min-height: 134px;
}
/* -item arrow-top*/
.stepsinform__ico .arr-top {
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 10px 0 0 -4px;
}
.stepsinform__ico .arr-top.-invert {
	margin: 8px 0 0 -15px;
}
/*icon*/
.stepsinform__ico {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 42px;
	height: 42px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 15px 15px 50px rgba(35,56,88,.25);
	margin-right: 40px;
	position: relative;
}
.stepsinform__ico svg {
	fill: #7b7b7b;
}
/*icon style*/
.stepsinform__ico-a ,
.stepsinform__ico-b {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ff5f3d;
}
.stepsinform__ico-b {
	color: #4fcb2d;
}
/*text*/
.stepsinform__txt {
	width: 100%;
	font-size: 1.8rem;
	line-height: 1.35;
}



/* ProjectGrid  */
.project-grid {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 42px 0 20px;
}
/* ProjectCard  */
.project-card {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 440px;
	min-height: 440px;
	padding: 160px 15px 19px;
	overflow: hidden;
	border-radius: 15px;
	background-color: #27262b;
	margin: 30px 30px 20px;
	color: #fff;
	position: relative;
}
.project-card__pic {
	width: 100%;
	height: 220px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none;
}
.project-card__pic::after {
	content: "";
	width: 100%;
	height: 240px;
	position: absolute;
	left: 0;
	bottom: 0;
	pointer-events: none;
	background-image: linear-gradient(to top, rgba(39,38,43,1), transparent), linear-gradient(to top, rgba(39,38,43,.5), transparent);
}
.project-card__article {
	display: flex;
	flex-direction: column;
	min-height: 175px;
	margin-top: auto;
	text-align: center;
	position: relative;
	z-index: 1;
}
.project-card__titl {
	padding: 10px 0;
	opacity: .75;
}
.project-card__cat {
	font-size: 1.8rem;
	margin: auto 0;
	opacity: .5;
	padding-top: 5px;
}
.project-card__txt {
	font-weight: 100;
	font-size: 2.4rem;
	margin-top: auto;
	opacity: .5;
}
.project-card__btn {
	margin-top: auto;
	margin-bottom: 5px;
}
.project-card__btn .bttn {
	margin-bottom: 0;
}
/*-client*/
.--client .project-card__titl {
	opacity: 1;
}
.--client .project-card__cat {
	opacity: .7;
}
.--client .project-card__txt {
	opacity: .85;
	text-shadow: 0 2px 25px rgba(255,255,255,.7);
}



/* Device  */
/*mac*/
.macbook {
	width: 700px;
	height: 483px;
	background: url('../../img/macbook/device.png') no-repeat center / contain;
	position: relative;
}
.macbook__screen {
	width: 555px;
	height: 347px;
	position: relative;
	left: 73px;
	top: 23px;
	overflow: hidden;
}
.macbook__shadow {
	display: block;
	width: 300px;
	height: 900px;
	left: -400px;
	top: -200px;
	background: #fff;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
	position: absolute;
	z-index: 1;
	transform: rotate(25deg);
	animation-delay: 5s;
	animation-name: slideme;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes slideme {
	0% {
		left: -400px;
	}

	100% {
		left: 300%;
	}
}
.macbook__screen .macbook__shadow {
	animation-name: slideme;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}
/*modification*/
/*-brus*/
.macbook.-brus::before {
	content: "";
	width: 81px;
	height: 82px;
	background: url('../../img/sprite.png') 0 0;
	position: absolute;
	right: 43px;
	top: -20px;
	z-index: 2;
}
.macbook.-brus::after {
	content: "";
	width: 32px;
	height: 69px;
	background: url('../../img/sprite.png') -86px -205px;
	position: absolute;
	left: 30px;
	bottom: 106px;
}


/*Helper box*/
.helperbox {
	display: inline-flex;
	align-items: center;
	position: relative;
}
/*color theme*/
.helperbox.-white {
	color: #c4c4c4;
}
.helperbox.-white .helperbox__ico ,
.helperbox.-white .helperbox__arr {
	fill: #c4c4c4;
}
/*to right */
.helperbox.-to-right .helperbox__inf {
	text-align: right;
	padding-right: 0;

}
.helperbox.-to-right .helperbox__ico {
	order: 1;
	margin-right: 0;
	padding: 5px;
	max-width: auto;
	width: auto;
}

.helperbox__ico {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 48px;
	flex-shrink: 0;
	padding: 10px;
	margin-right: 10px;
}
.helperbox__inf {
	display: inline-flex;
	width: auto;
	max-width: 460px;
	padding-right: 15px;
	font-size: 1.8rem;
	line-height: 1.25;
	font-weight: 100;
}
.helperbox__inf a {
	color: #8c95c8;
}
.helperbox__inf a:hover {
	color: #8cc7c8;
	text-decoration: underline;
}
.helperbox__arr {
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%) rotate(90deg) scaleY(-1) scale(.68);
	margin-top: 24px;
	margin-left: -34px;
}
/*styles*/
.helperbox.-style-1 .helperbox__arr {
	transform: translateY(0) rotate(0) scaleY(1) scale(1);
	left: 0;
	top: 100%;
	margin-top: 7px;
	margin-left: 43px;
}




/*SocialBox*/
.socialbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 440px;
	padding: 15px 0;
}
.socialbox__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 72px;
	height: 66px;
	border-radius: 5px 5px 5px 5px / 50% 50% 50% 50%;
	background-color: #239ad6;
	margin: 0 10px 20px;
	fill: #fff;
}
.socialbox__btn.-whatsapp {
	background-color: #29a71a;
}
.socialbox__btn.vk {
	background-color: #4c75a3;
}
.socialbox__ico {
	width: 40px;
	height: 40px;
}



/*PulseDott*/
.pulsedott {
	margin: 14px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #29a71a;
	box-shadow: 0 0 20px 5px #29a71a;
	transform: scale(1);
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.8);
		box-shadow: 0 0 20px 5px #29a71a, 0 0 0 0 rgba(41, 167, 26, 0.6);
	}

	40% {
		background-color: #f7c864;
		transform: scale(1);
		box-shadow: 0 0 25px 5px #f7de64, 0 0 0 30px rgba(41, 167, 26, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 20px 5px #29a71a, 0 0 0 0 rgba(41, 167, 26, 0);
	}
}



/*Loader dotted*/
.loaderdott {
	padding-top: 5px;
}
.loaderdott__el {
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid rgba(255,255,255,.75);
	border-radius: 50%;
	margin: 0 auto 5px;
}
.loaderdott__el:nth-child(1) {
	border-color: rgba(255,255,255,.25);
}
.loaderdott__el:nth-child(2) {
	border-color: rgba(255,255,255,.5);
}