// TTCommons-Light
@font-face {
	font-family: 'TTCommons';
	src: url('fonts/ttcommons/light/ttcommons-light.woff2') format('woff2'),
		url('fonts/ttcommons/light/ttcommons-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

// TTCommons Regular
@font-face {
	font-family: 'TTCommons';
	src: url('fonts/ttcommons/regular/ttcommons-regular.woff2') format('woff2'),
		url('fonts/ttcommons/regular/ttcommons-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// TTCommons-Medium
@font-face {
	font-family: 'TTCommons';
	src: url('fonts/ttcommons/medium/ttcommons-medium.woff2') format('woff2'),
		url('fonts/ttcommons/medium/ttcommons-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

// TTCommons-Bold
@font-face {
	font-family: 'TTCommons';
	src: url('fonts/ttcommons/bold/ttcommons-bold.woff2') format('woff2'),
		url('fonts/ttcommons/bold/ttcommons-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}