/* Container */
.container-xxxl {
	width: 100%;
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}


/* Background colors */
.-bg-white {
	background-color: var(--color-white);
}
.-bg-black {
	background-color: var(--color-black);
}


/* Colors text */
.-color-white {
	color: var(--color-white);
}
.-color-black {
	color: var(--color-black);
}
.-color-blue {
	color: var(--color-blue);
}
.-color-blue-accent {
	color: var(--color-blue-accent);
}
.-color-silver {
	color: var(--color-silver);
}
.-color-silverlight {
	color: var(--color-silverlight);
}
.-color-orange {
	color: var(--color-orange);
}


/* Text size */
.-text-11 {
	font-size: 1.1rem;
}
.-text-12 {
	font-size: 1.2rem;
}
.-text-14 {
	font-size: 1.4rem;
}
.-text-15 {
	font-size: 1.5rem;
}
.-text-18 {
	font-size: 1.8rem;
}
.-text-20 {
	font-size: 2rem;
}
.-text-26 {
	font-size: 2.6rem;
}


/* Text weight */
.-text-normal {
	font-weight: normal;
}
.-text-bold {
	font-weight: bold;
}


/* Text align */
.-text-left {
	text-align: left;
}
.-text-right {
	text-align: right;
}
.-text-center {
	text-align: center;
}


/* Text decoration */
.-text-decor-none {
	text-decoration: none;
}


/* Border-Radius */
.-radius-50 {
	border-radius: 50%;
}
.-radius-30 {
	border-radius: 30px;
}
.-radius-20 {
	border-radius: 20px;
}
.-radius-10 {
	border-radius: 10px;
}
.-radius-6 {
	border-radius: 6px;
}


/* Links */
.-link-silver {
	color: var(--color-silver);
}
.-link-silver:hover {
	color: var(--color-blue);
}