@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/GothamPro/Light/GothamPro-Light.woff') format('woff'),
		 url('fonts/GothamPro/Light/GothamPro-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/Regular/GothamPro.eot?#iefix') format('embedded-opentype'),
		 url('fonts/GothamPro/Regular/GothamPro.woff') format('woff'),
		 url('fonts/GothamPro/Regular/GothamPro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/Medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/GothamPro/Medium/GothamPro-Medium.woff') format('woff'),
		 url('fonts/GothamPro/Medium/GothamPro-Medium.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}