@media only screen and (max-width : 1400px) {

.main-content-center {
	margin: 0 4px 0 0;
	width: 70%;
}

.best-news__list li {
	padding-right: 15px;
}

}
// end - max-width : 1400px


@media only screen and (max-width : 1170px) {

.top-panel {
	&__content {
		width: 71.5%;
	}
	.flare-light {
		font-size: 0;
		padding: 0;
		width: 50px;
		height: 50px;
		justify-content: center;
		.fas {
			margin-right: 0;
		}
	}
}

.logo {
	font-size: 28px;
	span {
		font-size: 33px;
	}
}

.search-home {
	width: 260px;
	margin-right: 15px;
}

.main {
	&-aside {
		width: 30%;
	}
	&-content {
		&-center {
			width: 100%;
			margin-right: 0;
		}
		&-right {
			display: none;
		}
		&-article {
			width: 100%;
		}
	}
}

}
// end - max-width : 1170px


@media only screen and (max-width : 992px) {

.search-home {
	display: none;
}

}
// end - max-width : 992px


@media only screen and (max-width : 768px) {

.top-panel {
	&__user {
		.ml-3 {
			margin-left: 0 !important;
		}
		.btn-link {
			padding-left: 10px;
			padding-right: 10px;
		}
		.dropdown-bell-btn {
			display: none;
		}
	}
	.burger-btn {
		display: block;
	}
	.logo {
		font-size: 22px;
		span {
			font-size: 28px;
		}
	}
	.btn.flare-light {
		width: 46px;
		height: 46px;
		margin-right: 5px;
	}
}

.main {
	&-aside {
		display: none;
	}
	&-content {
		width: 100%;
		&:before {
			left: -15px;
		}
	}
}

.dropdown-user-box {
	.name {
		display: none;
	}
	.fas {
		margin-left: 8px;
	}
}

}
// end - max-width : 768px


@media only screen and (max-width : 576px) {

.best-news {
	&__list li {
		flex-direction: column;
		padding: 15px;
	}
	.btn-link {
		display: block;
		text-align: center;
		background-color: rgba(#fff, .6);
		transition: none;
		&:active {
			background-color: $blue;
			color: #fff;
		}
		&:focus {
			text-decoration: none;
		}
	}
}

.posts {
	&__header {
		padding-left: 15px;
		padding-right: 55px;
		.posts__dropdown {
			right: 15px;
		}
	}
	&__media {
		height: 250px;
	}
	&__content {
		padding: 0 15px 15px;
	}
	&__footer {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.comments {
	padding-left: 15px;
	padding-right: 15px;
	&__item {
		.comments__item {
			padding-left: 20px;
		}
	}
}

}
// end - max-width : 576px