
@font-face {
  font-family: 'Lora-Italic';
  src: url('Lora-Italic.eot?#iefix') format('embedded-opentype'),  url('Lora-Italic.woff') format('woff'), url('Lora-Italic.ttf')  format('truetype'), url('Lora-Italic.svg#Lora-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
