:root {
	--color-white: #fff;
	--color-silver: #c2c2c2;
	--color-black: #0f0d23;
	--color-dark: #2d2d4d;
	--color-accent: #da1135;
	--color-accent-hover: #3b94fb;
	--color-link: #3b94fb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	overflow-x: hidden;
	font-size: 10px;
}

body {
	background: #f0f3ff;
	font: normal 1.6rem 'MuseoSans', sans-serif;
	color: #000;
	overflow-x: hidden;
	margin: 0 auto;
}
.container {
	width: 100%;
	max-width: 1720px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* link */
a {
	color: var(--color-link);
}
a:hover {
    color: var(--color-accent);
}

/*Typography*/
p, label, address {
	margin-bottom: 0;
	margin-top: 0;
}
strong, b {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 0;
}
h1, .h1 {
	font-size: 5.9rem;
	line-height: 1.02;
	letter-spacing: .035em;
	margin-bottom: 36px;
}
h2, .h2 {
	font-size: 4.8rem;
	letter-spacing: .025em;
	margin-bottom: 31px;
}
h3, .h3 {
	font-size: 4.2rem;
	letter-spacing: .025em;
}
h4, .h4 {
	font-size: 3.6rem;
}
h5, .h5 {
	font-size: 2.4rem;
}
h6, .h6 {
	font-size: 2rem;
}

/* Texting */
.section-heading {
	font-size: 4.8rem;
	padding-left: 64px;
	margin-left: 3px;
	position: relative;
}
.section-heading::before {
	content: "";
	width: 30px;
	height: 6px;
	background-color: var(--color-accent);
	position: absolute;
	left: 1px;
	top: 50%;
	margin-top: -4px;
}
.section-heading__title {
	font-size: 4.2rem;
	margin-bottom: 11px;
}
.section-heading__txt {
	font-size: 3rem;
	letter-spacing: .032em;
	margin-bottom: 43px;
}

.section-desc {
	max-width: 1444px;
	font-size: 2.2rem;
	padding: 0 125px 54px;
	letter-spacing: .002em;
}

.accent-title {
	margin-bottom: 46px;
	font-size: 2.4rem;
	font-weight: 100;
}
.accent-title__txt {
	display: inline-block;
	padding: 5px 27px 7px;
	background-color: var(--color-accent);
	color: #fff;
}


/* List */
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ul li {
	min-height: 22px;
	position: relative;
	padding-left: 35px;
	margin-bottom: 18px;
}
.ul li:last-child {
	margin-bottom: 0;
}
.ul li::before {
	content: "";
	width: 18px;
	height: 18px;
	background: url(../../img/svg/check.svg) no-repeat center / cover;
	position: absolute;
	top: 1px;
	left: 3px;
}
.ul-line li {
	padding-left: 40px;
	height: auto;
	margin-bottom: 8.5px;
}
.ul-line li::before {
	width: 14px;
	height: 4px;
	background: var(--color-accent);
	top: 9px;
	left: 0;
}

/*text*/
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}
.t-upcase {
	text-transform: uppercase;
}


/*text size*/
.t-xsm {
	font-size: 14px;
}
.t-ssm {
	font-size: 15px;
}
.t-sm {
	font-size: 16px;
}
.t-sm-normal {
	font-size: 17px;
}
.t-sm-big {
	font-size: 18px;
}
.t-md-small {
	font-size: 21px;
}
.t-md {
	font-size: 22px;
}
.t-lg {
	font-size: 24px;
}
.t-xl {
	font-size: 28px;
}
.t-xxl {
	font-size: 30px;
}

/*text weight*/
.weight-300 {
	font-weight: 300;
}
.weight-500 {
	font-weight: 500;
}
.weight-700 {
	font-weight: 700;
}

/* colors */
.color-accent {
	color: var(--color-accent);
}
.color-white {
	color: #fff;
}
.color-dark {
	color: var(--color-dark);
}