/*Forms*/
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 58px;
	background-color: transparent;
	padding: 0 10px;
	font: 300 2.8rem 'MuseoSans', sans-serif;
	border: none;
   border-bottom: 1px solid #adbbd7;
	transition: 0.5s;
   color: var(--color-accent-hover);
}
/*textarea*/
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	resize: none;
}
/*input hover*/
input[type="email"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
textarea:hover {
	background-color: rgba(255,255,255,.1);
}
/*focus*/
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
	outline: 0;
   background-color: rgba(255,255,255,.1);
	border-color: var(--color-accent-hover);
   color: var(--color-accent-hover);
}

/*Placeholder*/
::placeholder {
	color: #777c90;
	transition: .75s;
}
:hover::placeholder {
	color: #95a2d5;
}
:focus::placeholder {
	color: rgba(255,255,255,.2);
}

/*Selection*/
::selection {
	background-color: rgba(57, 174, 169, .3);
	color: #000;
}

.input {
   width: 296px;
}
.input input {
   width: 100%;
}
.input__label {
   color: #adbbd7;
   font-weight: 500;
   font-size: 2rem;
   padding-bottom: 8px;
}


.check{
	cursor: pointer;
    position: relative;
    padding-left: 41px;
    letter-spacing: .025em;
}
.check__box{
	position:absolute;
	width:20px;
	height:20px;
	border:1px solid #f0f3ff;
	transition:.5s;
	left:0;
	top:50%;
	margin-top:-10px;
   border-radius: 6px;
}
.check__box:before{
	content:'';
	height:10px;
	width:10px;
	background-color: var(--color-accent-hover);
	transition:.5s;
	position:absolute;
	left:50%;
	top:50%;
	margin:-5px 0 0 -5px;
	visibility:hidden;
	opacity:0
}
.check__input{
	position:absolute;
	width:1px;
	height:1px;
	overflow:hidden;
	clip:rect(0 0 0 0)
}
.check__input:focus+.check__box{
	box-shadow:0 0 0 .2rem rgba(0,123,255,.35)
}
.check__input:checked+.check__box:before{
	visibility:visible;
	opacity:1
}
.check__input:disabled+.check__box{
	opacity:.4
}