.site-descrp.animated {
	animation-delay: .5s;
	animation-duration: 3s;
}
.header__logo.animated {
	animation-delay: 1s;
}
.header__logo .logo__text.animated {
	animation-delay: 1.3s;
	animation-duration: 2s;
}

.header__top-aside .callinfo__text.animated {
	animation-delay: 2s;
	animation-duration: 1.5s;
}
.header__top-aside .callinfo__tel.animated {
	animation-delay: 1.5s;
	animation-duration: 2s;
}
.header__top-aside .btn-silver.animated {
	animation-delay: 2.3s;
}

.header__title.animated {
	animation-delay: .5s;
}
.header__subtitle.animated {
	animation-delay: 1s;
}

.header__circlebox.animated {
	animation-delay: 2.5s;
	animation-duration: 2s;
}

.offerbox__action-title.animated {
	animation-delay: 1s;
}
.offerbox__action-btn.animated {
	animation-delay: .5s;
}

.quizcalc__bar.animated {
	animation-duration: 2s;
}

.quizcalc-action__item.animated:nth-child(2) {
	animation-delay: .5s;
}
.quizcalc-action__item.animated:nth-child(3) {
	animation-delay: 1s;
}

.quizcalc__btn.animated {
	animation-delay: 1.2s;
}


.yourdiscount__title.animated {
	animation-delay: 2s;
}
.yourdiscount__sum.animated {
	animation-delay: 2.3s;
}

.quizcalc__aside .devmaster__photo.animated {
	animation-delay: 2.6s;
}
.quizcalc__aside .descrpmark.--white.animated {
	animation-delay: 2.9s;
}
.quizcalc__aside .descrpmark.--small.animated {
	animation-delay: 3.1s;
}
.quizcalc__aside .devmaster__descrp.animated {
	animation-delay: 3.5s;
	animation-duration: 2.5s;
}

.we__graphic .img-journal.animated {
	animation-delay: .5s;
}

.infolist__title.animated {
	animation-delay: .3s;
}
.infolist__text.animated {
	animation-delay: .6s;
}