/*Gilroy*/
/*-Regular*/
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy/regular/gilroy-regular.woff2') format('woff2'),
		 url('../fonts/gilroy/regular/gilroy-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*-Light*/
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy/light/gilroy-light.woff2') format('woff2'),
		 url('../fonts/gilroy/light/gilroy-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


/*BebasNeue*/
/*-Regular*/
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue/regular/bebasneue-regular.woff2') format('woff2'),
		 url('../fonts/bebasneue/regular/bebasneue-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*-Bold*/
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue/bold/bebasneue-bold.woff2') format('woff2'),
		 url('../fonts/bebasneue/bold/bebasneue-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/*-Book*/
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue/book/bebasneue-book.woff2') format('woff2'),
		 url('../fonts/bebasneue/book/bebasneue-book.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


/*Acrom*/
/*-Book*/
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/acrom/medium/acrom-medium.woff2') format('woff2'),
		 url('../fonts/acrom/medium/acrom-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}