/* Mont */
/* ------ */

/*-Regular*/
@font-face {
	font-family: 'Mont';
	src: url('../fonts/mont/400/MontBook.woff2') format('woff2'),
		  url('../fonts/mont/400/MontBook.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/*-Heavy*/
@font-face {
	font-family: 'Mont';
	src: url('../fonts/mont/800/MontHeavy.woff2') format('woff2'),
		  url('../fonts/mont/800/MontHeavy.woff') format('woff');
	font-weight: 800;
}