/*Sitepanel*/
.sitepanel {
	padding: 15px 0;
}
.sitepanel__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sitepanel__slogan {
	font-size: 13px;
	max-width: 200px;
}
.sitepanel__loc {
	font-size: 12px;
	max-width: 120px;
	color: #fee37a;
}