.wrrap-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/*Sitepanel*/
.sitepanel {
	padding: 14px 0;
}
.sitepanel__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sitepanel__slogan {
	font-size: 12px;
	max-width: 200px;
	padding: 5px;
}
.sitepanel__loc {
	font-size: 11px;
	max-width: 120px;
	padding: 5px;
	color: #fee37a;
}
.sitepanel__messbox {
	padding: 5px;
	margin-bottom: auto;
}
.sitepanel__callbox {
	padding: 5px;
	margin-bottom: auto;
}
.sitepanel__menu {
	padding: 5px;
}


.header {
	min-height: 777px;
	background: url(../img/bg-header.jpg) center bottom / cover;
}
.header__content {
	padding: 77px 0 15px;
}
.header__offer {
	padding-left: 13px;
}
.header__offer-title {
	font: bold 75px/1.01 'BebasNeue';
	letter-spacing: .007em;
	margin-bottom: -4px;
}
.header__offer-subtitle {
	font: bold 32px/1.13 'BebasNeue';
	margin-bottom: 12px;
}
.header__offer-text {
	font: 300 38px/1.1 'BebasNeue';
	letter-spacing: .005em;
	text-transform: uppercase;
	color: rgb(255 255 255 / .4);
	margin-bottom: 22px;
}

.header__info {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.header__action {
	width: 540px;
	padding: 15px 0 15px 13px;
}
.header__action .btn {
	margin-left: 4px;
}
.header__advantage {
	width: 600px;
	position: absolute;
	right: 5px;
}


/*section — Gallery*/
.s-gallery {
	padding: 15px 0;
	position: relative;
}
.s-gallery::after {
	content: "";
	width: 1560px;
	height: 1438px;
	background-image: url(../img/bg-one.jpg);
	position: absolute;
	left: 0;
	top: 0;
}

/*Gallery*/
.gallery__wrap {
	padding: 32px 0 20px;
	position: relative;
	z-index: 1;
}
.gallery__inner {
	width: 100%;
	max-width: 1390px;
	padding: 11px;
	margin: 0 auto;
	color: #0d1019;
	background-color: #fff;
	box-shadow: 0 15px 55px rgba(255, 255, 255, .3);
	border-radius: 4px;
}
.gallery__container {
	display: flex;
	border: 1px solid #c7d7ee;
	padding: 28px 9px;
}
.gallery__photos {
	margin: 4px 10px 0 0;
}
.gallery__descrp {
	padding: 0 10px;
}
.gallery__title {
	font: 23px/1.45 'Acrom';
	padding: 0 0 10px 26px;
}


.services {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1458px;
	margin: 0 auto;
	padding: 3px 0;
}
.services__item {
	width: 432px;
	height: 247px;
	color: #000;
	position: relative;
	margin: 18px 18px 33px 18px;
}
.services__bg {
	width: 542px;
	height: 339px;
	background: url(../img/services-box.png);
	position: absolute;
	left: -47px;
	top: -30px;
}
.services__content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px 59px;
	position: relative;
	z-index: 1;
}
.services__descrp {
	flex-basis: 220px;
	flex-shrink: 0;
	margin-bottom: 13px;
}
.services__title {
	display: inline-block;
	position: relative;
	font: 500 17px/1.4 'Acrom';
	color: #0d1019;
	margin-bottom: 10px;
}
.services__num {
	position: absolute;
	left: 100%;
	top: -3px;
	margin-left: 19px;
	font: 20px/1 'Acrom';
	color: rgb(13 16 25 / .2);
}
.services__txt {
	color: #666768;
	font-size: 13px;
}
.services__graphic {
	display: flex;
}
.services__graphic .--img-1 {
	margin-left: -35px;
}
.services__graphic .--img-2 {
	margin-top: -30px;
}
.services__graphic .--img-3 {
	margin: -12px 0 0 -12px;
}
.services__graphic .--img-4 {
	margin: -32px 0 0 -32px;
}
.services__graphic .--img-5 {
	margin: -7px 0 0 12px;
}
.services__graphic .--img-6 {
	margin: 7px 0 0 -53px;
}


/*Heading and description*/
.heading-and-descrp {
	display: flex;
	padding: 20px 0;
	margin-bottom: 38px;
}
.heading-and-descrp__title {
	width: 38%;
	padding-right: 10px;
}
.heading-and-descrp__text {
	font-size: .95em;
	width: 62%;
	padding-right: 10px;
	color: #666768;
	line-height: 1.45;
	word-wrap: break-word;
}


/*Heading and button*/
.heading-and-btn {
	display: flex;
	align-items: center;
	padding: 25px 0;
}
.heading-and-btn__title {
	padding-right: 15px;
}
.heading-and-btn__btn {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.heading-and-btn__btn .btn {
	width: 100%;
	padding-right: 40px;
}


/*Footer*/
.footer {
	padding: 30px 0;
	background-color: #1a1a1a;
	margin-top: auto;
}