/*fonts*/
@import "fonts.css";

/*base*/
@import "base/normalize.css";
@import "base/default.css";

/*libs*/
@import "libs/bootstrap/grid.css";
@import "libs/bootstrap/util.css";

/*style*/
@import "sections.css";
@import "elements.css";


.advantagelist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}
.advantagelist__item {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
    color: #d85f34;
}
.advantagelist__ico {
    width: 25px;
    height: 25px;
    fill: #f2d95b;
    margin-right: 10px;
}
.btn {
	text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 60px;
    min-height: 80px;
    border-radius: 4px;
    background-color: #272e3b;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 245, 197, 0.004), inset 0 0 27px 0 rgba(249, 236, 151, 0.71), inset 0 -1px 0 #fff5c5;
    box-shadow: inset 0 -1px 0 0 rgba(255, 245, 197, 0.004), inset 0 0 27px 0 rgba(249, 236, 151, 0.71), inset 0 -1px 0 #fff5c5;
    background: -o-radial-gradient(top, ellipse, rgba(255, 255, 255, 0.85), #f6c622), -o-radial-gradient(bottom, ellipse, #f9ec97, #f6c622);
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.85), #f6c622), radial-gradient(ellipse at bottom, #f9ec97, #f6c622);
    position: relative;
}
.btn::after {
    content: "";
    width: calc(100% - 8px);
    height: 6px;
    background-color: #c0952e;
    position: absolute;
    left: 4px;
    top: 100%;
    border-radius: 0 0 6px 6px;
}
.btn__txt {
    color: initial;
    text-transform: uppercase;
    font-size: 15px;
}
.btn__subtxt {
    font-size: 13px;
}
.btn--calculate {
    padding-left: 140px;
}
.btn--calculate::before {
    content: "";
    width: 102px;
    height: 92px;
    background-image: url(../img/btn-calculate.png);
    position: absolute;
    left: 20px;
    bottom: 1px;
}
.userights {
    max-width: 400px;
    padding: 25px 0;
}
.userights__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #8c909a;
    margin-bottom: 8px;
    font-size: 14px;
}
.userights__ico {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #fff;
}
.userights__ico--user {
    width: 18px;
    height: 18px;
}
.bestservice {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bestservice__item {
    width: 100%;
    max-width: 264px;
    background: #fff url(../img/bg-texture.png) no-repeat center calc(100% + 35px);
    border-radius: 6px;
    text-align: center;
    padding: 12px;
    position: relative;
    margin-bottom: 30px;
    color: #333;
}
.bestservice__item-inner {
    min-height: 100%;
    padding: 45px 0 60px;
    border: 1px solid #ccd5f2;
    border-radius: 3px;
}
.bestservice__item:nth-child(even) {
    background-position: center bottom;
    margin-top: -25px;
    margin-left: -50px;
    margin-right: -50px;
    z-index: 1;
}
.bestservice__item:nth-child(even) .bestservice__item-inner {
    padding: 60px 0 80px;
}
.bestservice__title {
    font-size: 18px;
}
.bestservice__title-txt {
    position: relative;
}
.bestservice__title-num {
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 20px;
    opacity: 0.2;
}
.bestservice__graphic {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.graphic-roulette {
    width: 152px;
    height: 88px;
    background-image: url(../img/roulette.png);
}
.graphic-key {
    width: 220px;
    height: 108px;
    background-image: url(../img/key.png);
}
.graphic-cardname {
    width: 122px;
    height: 133px;
    background-image: url(../img/cardname.png);
}
.header__center {
    padding-top: 80px;
}
.header .bestservice {
    width: 710px;
    margin-left: -10px;
}
.mainoffer__title {
    font-size: 56px;
    max-width: 650px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.mainoffer__subtitle {
    max-width: 550px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.mainoffer__text {
	margin-bottom: 40px;
	font-size: 24px;
	color: rgb(255 255 255 / .5);
	text-transform: uppercase;
}