.header-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 15px;
}


.slide-descrp {

}
.slide-descrp__title {
	margin-bottom: 10px;
}
.slide-descrp__txt {
	line-height: 147%;
	color: #626F82;
}


.swiper-hello {
	overflow: visible !important;
}
.swiper-navigation {
	margin-top: 20px;
	padding: 40px 0 20px;
	position: relative;
}
.swiper-navigation .swiper-pagination {
	left: 0;
	top: 0;
}
.swiper-navigation .navigation__next {
	position: relative;
	font-weight: 500;
	font-size: 17px;
	line-height: 145%;
	color: #8B818E;
	z-index: 10;
	cursor: pointer;
}
.swiper-navigation .navigation__next:active {
	color: #0183D1;
}

.swiper-slide.-slide-2 {

}






/*************************/
.page-pin {
  height: 100vh;
  color: #012169;
  line-height: 1.2;
  padding: 30px 0 0;
  position: relative;
}

.page-pin__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.page-pin__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-pin .title {
  text-align: center;
  color: #626F82;
}

.page-pin .title span {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  color: #0183D1;
  padding: 0 0 10px;
}

.page-pin .title__logo {
  max-width: 234px;
}

.page-pin .title__sub {
  padding: 30px 10px;
}

.page-pin .title__sub.v2 {
  font-size: 1.3em;
  font-weight: 700;
  color: #000;
}

.page-pin .fields__label {
  font-size: 0.9em;
  padding: 3px 10px;
}

.page-pin .fields__label a {
  font-size: 0.85em;
  font-weight: 700;
  color: #FF5750;
}

.page-pin .fields__label.right {
  text-align: right;
}

.page-pin .fields__label.center {
  text-align: center;
}

.page-pin .fields__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.page-pin .fields__country-f {
  position: relative;
}

.page-pin .fields__country-f .input-text {
  width: 77px;
  color: #000;
  font-size: 1em;
  font-weight: 400;
  padding-top: 30px;
}

.page-pin .fields__country-f-label {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 0.85em;
  color: #83818C;
  text-align: center;
}

.page-pin .fields__tel-f {
  width: 258px;
}

.page-pin .fields__num-f {
  width: 63px;
  height: 63px;
  text-align: center;
  margin: 0 3px;
}

.page-pin .help {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid #EDEDED;
  padding: 5px 16px;
  margin: 20px 0 0;
  box-sizing: border-box;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  filter: drop-shadow(0px 100px 116px rgba(5, 4, 82, 0.0251754)) drop-shadow(0px 30.1471px 56.0134px rgba(5, 4, 82, 0.0271063)) drop-shadow(0px 12.5216px 20.5816px rgba(5, 4, 82, 0.0285864)) drop-shadow(0px 4.5288px 3.97867px rgba(5, 4, 82, 0.04));
}

.page-pin .help::after {
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background: url(../img/sprite.svg#help-arrow) no-repeat;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%, 0);
}

.page-pin .help.open {
  visibility: visible;
  opacity: 1;
}

.page-pin .help.right::after {
  left: auto;
  right: 50px;
  transform: translate(0, 0);
}

.page-pin .help p {
  margin: 10px 0;
}

.page-pin .help p.center {
  text-align: center;
}

.page-pin .help p.space-between {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.page-pin .keyboard__dots {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.page-pin .keyboard__dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #012169;
  opacity: 0.25;
}

.page-pin .keyboard__nums {
  width: 263px;
  height: 324px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto 0;
}

.page-pin .keyboard__nums .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 2.2em;
  color: #3CB6E2;
}

.page-pin .keyboard__nums .num.img {
  background: none;
}

.page-pin .keyboard__nums .num.img svg {
  width: 40px;
}

.page-pin .faceID {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px 0 0;
}

.page-pin .faceID__icon {
  width: 96px;
  height: 96px;
}

.page-pin .faceID__subtitle {
  font-weight: 500;
  text-align: center;
  color: #626F82;
  max-width: 270px;
  margin: 50px auto 0;
}

.page-pin .buttons {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.page-pin .buttons__not {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}

.page-pin .buttons__notred {
  display: block;
  color: #FF5750;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
}