*, *:before, *:after {
	box-sizing: border-box;
}

::placeholder {
	color: #555;
}

::selection {
	background-color: $green;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

html,
body {
	height: 100%;
}


body {
	min-width: 320px;
	position: relative;
	font: 16px/1.5 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
	color: #222;
	display: flex;
    flex-direction: column;
}
p {
	margin: 0;
}
h1 {
	font-size: 60px;
	margin: 0 0 18px;
	line-height: 1.1;
}
h2 {
	font-size: 35px;
	margin: 0;
	line-height: 1.1;
}
h3 {
	font-size: 40px;
	margin: 0 0 34px;
	line-height: 1.1;
}
h4 {
	font-size: 26px;
	line-height: 1.1;
	font-weight: normal;
	margin: 0 0 8px;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
sup {
	font-size: 60%;
	top: -7px;
}

table {
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	font-size: 18px;
}
table, td, th {
	border: 1px solid #000;
}
td, th {
	padding: 15px 10px;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}
.margin-bottom--25 {
	margin-bottom: 25px;
}
.wrap {
	flex: 1 0 auto;
	overflow: hidden;
}
.wrap-1280 {
	max-width: 1280px;
	margin: 0 auto;
}
.wrap-1140 {
	max-width: 1140px;
	margin: 0 auto;
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.font-size--24 {
	font-size: 24px;
}