@font-face {
	font-family: 'BerlingskeSans';
	src: local('BerlingskeSans-Lt'),
		 local('BerlingskeSans Lt'),
		 url('fonts/berlingske-sans/lt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BerlingskeSans';
	src: local('BerlingskeSans-Md'),
		 local('BerlingskeSans Md'),
		 url('fonts/berlingske-sans/md.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}