::placeholder {
	color: #295a7c;
	transition: .5s;
}
:focus::placeholder {
	opacity: 0;
}

::selection {
	background-color: rgba($blue, .5);
	color: #fff;
}

html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	position: relative;
	font: 15px/1.2 'Open Sans', sans-serif;
	color: $dark;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
	input, textarea {
		border: #777 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.wrap {
	flex: 1 0 auto;
	overflow: hidden;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
	height: 32px;
	border: 1px solid rgba($accent, .55);
	border-radius: 6px;
	background: transparent;
	font: 14px 'Open Sans', sans-serif;
	padding: 0 8px;
	transition: .5s;
	&:focus {
		border-color: rgba($blue, .55);
		background-color: #fff;
	}

	&.input-orange {
		border-radius: 0;
		height: 33px;
		background: linear-gradient(to bottom, rgba(#fff,1) 30%,rgba(#000,.03) 100%);
		padding: 0 25px;
	}
}

b, strong {
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
}
p {
	margin: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
sub, sup {
	font-size: 65%;
}

.h2, .h3 {
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
	&:before {
		content: '';
		width: 6px;
		height: 100%;
		background-color: $accent;
		position: absolute;
		left: -6px;
		top: 0;
	}
	&.no-line {
		padding-left: 0;
		&:before {
			display: none;
		}
	}
}

.h2.margin-bottom {
	margin-bottom: 50px;
}

.h3 {
	font-size: 20px;
	padding: 4px 0 4px 15px;
	letter-spacing: .026em;
}

.h4 {
	font-size: 18px;
	text-align: center;
	&.bottom-line {
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 4px;
			background-color: $accent;
			margin: 6px auto 0;
		}
	}
}

.h6 {
	font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.text-right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.overflow-form {
	overflow-x: auto;
}

.title-link {
	font: 18px 'PantonRegular';
	position: relative;
	margin-bottom: 20px;
	letter-spacing: .03em;
	&:before {
		content: '';
		width: 8px;
		height: 8px;
		background-color: #ffc73c;
		position: absolute;
		left: -20px;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
	& a {
		color: $dark;
		text-decoration: underline;
		&:hover {
			color: $blue;
		}
	}
}

.blue-title {
	font: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: $blue;
}

.link-big {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.font-size--18 {
	font-size: 18px;
	letter-spacing: .025em;
}
.font-size--17 {
	font-size: 17px;
}
.font-size--14 {
	font-size: 14px;
}

.float-left {
	float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// colors text
.text-blue {
	color: $blue;
}

.helper-text {
	margin: 0;
	font-size: 14px;
	padding: 12px 0;
    letter-spacing: .028em;
}

.description-area {
	padding: 12px 10px 0 0;
	letter-spacing: .01em;
	& p {
		margin-bottom: 10px;
	}
	& .h4 {
		display: inline-block;
		color: $dark;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: underline;
		transition: .3s;
		margin-bottom: 20px;
		&:hover {
			color: $blue;
		}
	}
	&__item {
		& p {
			margin-bottom: 20px;
		}
	}
}

.margin-bottom--20 {
	margin-bottom: 20px;
}
.margin-bottom--30 {
	margin-bottom: 30px;
}