@font-face {
	font-family: 'PantonRegular';
	src: url('fonts/Panton-Regular/Panton-Regular.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Panton-Regular/Panton-Regular.otf')  format('opentype'),
	     url('fonts/Panton-Regular/Panton-Regular.woff') format('woff'),
	     url('fonts/Panton-Regular/Panton-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'PantonBold';
  src: url('fonts/Panton-Bold/Panton-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('fonts/Panton-Bold/Panton-Bold.otf')  format('opentype'),
  	   url('fonts/Panton-Bold/Panton-Bold.woff') format('woff'),
  	   url('fonts/Panton-Bold/Panton-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton-BoldItalic';
  src: url('fonts/Panton-BoldItalic/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/Panton-BoldItalic/Panton-BoldItalic.otf')  format('opentype'),
       url('fonts/Panton-BoldItalic/Panton-BoldItalic.woff') format('woff'),
       url('fonts/Panton-BoldItalic/Panton-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton-Light';
  src: url('fonts/Panton-Light/Panton-Light.eot?#iefix') format('embedded-opentype'),
	   url('fonts/Panton-Light/Panton-Light.otf')  format('opentype'),
	   url('fonts/Panton-Light/Panton-Light.woff') format('woff'),
	   url('fonts/Panton-Light/Panton-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');