:root {
	--white: #fffdf8;
	--black: #202020;
	--light: #faf5ec;
	--dark: #423d37;
	--dark-opacity-80: rgba(66, 61, 55, 0.8);
	--gray: #beb9b0;
	--accent: #f55c3a;
	--accentHover: #ef0000;
	--primary: #5171d0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder {
	transition: 0.5s;
	color: #423d37;
}
:focus::placeholder {
	color: rgb(66, 61, 55, 0.3);
}

::selection {
	background-color: #218ce6;
	color: #fff;
}

/* Fonts */
/* Onest */
@font-face {
	font-family: "Onest";
	src: url(../fonts/Onest-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Onest";
	src: url(../fonts/Onest-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
/* Montserrat */
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 8px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font:
		400 1.8rem/1.4 "Onest",
		sans-serif;
	color: var(--dark);
	background-color: var(--light);
	position: relative;
}

b,
strong {
	font-weight: 600;
}

a {
	color: var(--accent);
	&:hover {
		text-decoration: none;
	}
}

.container-full {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	&.px-5 {
		padding-left: 4rem !important;
		padding-right: 4rem !important;
	}
}
.overflow-y-hidden {
	overflow-y: hidden;
}

/* heading */
[class*="heading-"] {
	font-family: "Montserrat";
	font-weight: 500;
	line-height: 1;
}
.heading-1 {
	font-size: 9rem;
}
.heading-2 {
	font-size: 7rem;
}
.heading-3 {
	font-size: 6rem;
}
.heading-4 {
	font-size: 4rem;
}
.heading-5 {
	font-size: 3rem;
}
.heading-6 {
	font-size: 2rem;
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="search"],
textarea {
	height: 6.2rem;
	padding: 1px 1.7rem 0;
	font:
		400 1.6rem "Onest",
		sans-serif;
	color: var(--dark);
	background-color: var(--light);
	transition: 0.5s;
	border-radius: 8px;
	border: 1px solid transparent;

	&:focus {
		outline: 0;
		border-color: var(--accent);
	}
	&._normal {
		height: 5rem;
	}
	&._light {
		background-color: var(--white);
		border-color: rgba(66, 61, 55, 0.1);
		&:focus {
			border-color: var(--accent);
		}
	}
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
button {
	font-family: "Onest";
	color: inherit;
}

/* weight */
.weight-300 {
	font-weight: 300;
}
.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}

.font-montserrat {
	font-family: "Montserrat";
}
.font-onest {
	font-family: "Onest";
}

/* text */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-16 {
	font-size: 1.6rem;
}
.text-nowrap {
	white-space: nowrap;
}

/* colors */
.color-accent {
	color: var(--accent);
}

/* image */
.object-fit-cover {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.w-100 {
	width: 100%;
}

.opacity-80 {
	opacity: 0.8;
}
.opacity-60 {
	opacity: 0.6;
}

.zindex-1 {
	position: relative;
	z-index: 1;
}

.radius-20 {
	border-radius: 2rem;
}
.radius-30 {
	border-radius: 3rem;
}
