
@font-face {
  font-family: 'Panton-Bold';
  src: url('Panton-Bold.eot?#iefix') format('embedded-opentype'),  url('Panton-Bold.otf')  format('opentype'),
	     url('Panton-Bold.woff') format('woff'), url('Panton-Bold.ttf')  format('truetype'), url('Panton-Bold.svg#Panton-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
