:root {
	--color-white: white;
	--color-light: #f6f6f6;
	--color-black: #1c1c1c;
	--color-dark: #3a3a3a;
	--color-accent: #e84237;
	--color-darkcyan: #005A56;
	--color-blue: #4d7cf5;
	--color-green: #46bd43;
}