/* Max-Width media */

/* 1680px */
@media only screen and (max-width: 1680px) {
	.header__aside {
		width: auto;
	}
}

/* 1200px */
@media only screen and (max-width: 1200px) {
	.white-label__action {
		padding-left: 0;
		width: 100%;
		max-width: 680px;
		margin: auto;
	}
	.white-label__action-text {
		max-width: 470px;
	}
}

/* 992px */
@media only screen and (max-width: 992px) {
	.welcome-create {
		max-width: 632px;
	}
	.welcome-create__container {
		flex-wrap: wrap;
	}
}

/* 768px */
@media only screen and (max-width: 768px) {
	html {
		font-size: 9px;
	}
	.main-section,
	.header__content {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.header__aside {
		padding-left: 2rem;
	}
	.sidebar-panel__aside {
		width: 300px;
	}
}

/* 576px */
@media only screen and (max-width: 576px) {
	.header__content {
		padding-left: 0;
	}
	.header__aside {
		border-right: 0;
		padding-right: 0;
	}
}

/* Min-Width media */

/* 1920px */
@media only screen and (min-width: 1920px) {
	.hero-s {
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}
