
@font-face {
  font-family: 'HeinrichScript';
  src: url('HeinrichScript.eot?#iefix') format('embedded-opentype'),  url('HeinrichScript.woff') format('woff'), url('HeinrichScript.ttf')  format('truetype'), url('HeinrichScript.svg#HeinrichScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
