/* Logo */
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font: 36px 'Colus';
    letter-spacing: .05em;
    text-transform: uppercase;
    cursor: pointer;
}
.logo__ico {
    width: 44px;
    height: 44px;
    background: url("../../img/logo.png") no-repeat center / cover;
    margin-right: 11px;
}
.logo__txt {
    margin-top: 3px;
}
/* hover */
.logo:hover {
    color: inherit;
}

/* Menu */
.menu {
    display: flex;
}
.menu__link {
    height: 79px;
    padding-left: 26px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}
.menu__link:hover {
    background-color: #2d2d4d;
    text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 0 15px #fff, 0 0 35px #fff;
    color: #fff;
    
}
.menu__link.mPS2id-highlight {
    color: var(--color-accent);
    text-decoration: underline;
}
.menu__link.mPS2id-highlight:hover {
    text-shadow: none;
    background-color: transparent;
    cursor: default;
}

/* CallBox */
.callbox {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.028em;
}
.callbox__ico {
    width: 24px;
    height: 24px;
    stroke: var(--color-accent);
    margin-right: 15px;
}
.callbox__tel {
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.callbox__txt {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--color-silver);
}
/* hover */
.callbox:hover {
    color: inherit;
}


/* Btn */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 68px;
    padding-left: 35px;
    padding-right: 35px;

    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: var(--color-accent);
    color: #fff;
    border-radius: 50px;
    cursor: pointer;

    transition: .5s;
}
.btn__circle-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    order: -1;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    margin-left: -28px;
    background-color: var(--color-black);
    border-radius: 50%;
}
.btn__circle-box.-right {
    order: 1;
    margin-right: -28px;
    margin-left: 10px;
}
.btn__ico {
    width: 18px;
    height: 18px;
    fill: #fff;
}
.btn__ico-right {
    width: 22px;
    height: 22px;
}
 /* size */
.btn-normal {
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: .032em;
    padding-left: 22px;
    padding-right: 22px;
}
.btn-normal .btn__circle-box {
    width: 38px;
    height: 38px;
}
.btn-normal .btn__circle-box {
    margin-left: -16px;
    margin-right: 12px;
}
.btn-normal .btn__circle-box.-right {
    margin-right: -16px;
    margin-left: 19px;
}
.btn-normal .btn__ico-right {
    width: 17px;
    height: 17px;
}
.btn-small {
    height: 45px;
    font-size: 1.8rem;
    padding-left: 27px;
    padding-right: 27px;
}
.btn-small .btn__circle-box {
    width: 28px;
    height: 28px;
}
.btn-small .btn__ico-right {
    width: 12px;
    height: 12px;
}
/* style */
.btn-outline {
    background-color: transparent;
    border-color: var(--color-black);
    color: var(--color-black);
}
.btn-trans {
    font-size: 2.2rem;
    color: var(--color-black);
    background-color: transparent;
    border-color: transparent;
}
.btn-white {
    color: #fff;
}
.btn-white .btn__circle-box {
    background-color: var(--color-accent);
}
.btn-white .btn__ico {
    fill: #fff;
}

/* hover */
.btn:hover {
    background-color: var(--color-accent-hover);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 0 25px #fff;
}
.btn-outline:hover {
    border-color: var(--color-accent-hover);
}
.btn-trans:hover {
    background-color: transparent;
    color: var(--color-accent);
}


/* link */
.link {
    display: inline-flex;
    align-items: center;
    color: #575566;
    text-decoration: none;
    transition: .3s;
    letter-spacing: .03em;
}
.link .color-dark {
    color: #26263D;
    transition: .3s;
}
.link__ico {
    order: -1;
    width: 20px;
    height: 20px;
    margin-right: 11px;
    fill: #2C293E;
    transition: .3s;
}
.link:hover {
    color: var(--color-accent);
}


/* InNumbers */
.in-numbers {
    display: flex;
    flex-wrap: wrap;
}
.in-numbers__item {
    margin-right: 73px;
    letter-spacing: .05em;
}
.in-numbers__num {
    font-size: 4.8rem;
    color: var(--color-accent);
    line-height: 1;
    padding: 5px 0 4px;
}
.in-numbers__txt {
    font-size: 2.4rem;
}


/* ListPoint */
.list-point {
}
.list-point__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.list-point__item:last-child {
    margin-bottom: 0;
}
.list-point__ico {
    flex-shrink: 0;
    width: 74px;
    text-align: center;
}
.list-point__svg {
    fill: var(--color-accent);
}


.wrapper-nav {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
}
.sandwich-box {
    display: inline-block;
    width: 54px;
    height: 54px;
    cursor: pointer;
    z-index: 11;
    overflow: hidden;
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
.sandwich-box.active {
    background-color: transparent;
}
.sandwich-icon {
    width: 28px;
    position: relative;
    top: 16px;
    left: 50%;
    margin-left: -14px;
    z-index: 11;
}
.sw-bottom,
.sw-center,
.sw-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #474644;
    border: none;
    transition: transform 0.5s, top 0.2s;
    border-radius: 2px;
}
.sw-center {
    top: 7px;
}
.sw-bottom {
    top: 14px;
}
.sandwich-box.active .sw-bottom,
.sandwich-box.active .sw-center,
.sandwich-box.active .sw-top {
    background-color: #fff;
    box-shadow: 0 2px 15px #fff, 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sandwich-box.active .sw-top {
    top: 8px;
    transform: rotate(-45deg);
}
.sandwich-box.active .sw-center {
    top: 6px;
    transform: rotate(45deg);
}
.sandwich-box.active .sw-bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
}