/* Logo */
.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font: 36px 'Colus';
    letter-spacing: .05em;
    text-transform: uppercase;
    cursor: pointer;
}
.logo__ico {
    width: 44px;
    height: 44px;
    background: url("../../img/logo.png") no-repeat center / cover;
    margin-right: 11px;
}
.logo__txt {
    margin-top: 3px;
}
/* hover */
.logo:hover {
    color: inherit;
}

/* Menu */
.menu {
    display: flex;
}
.menu__link {
    height: 100px;
    padding: 10px 24px 14px;
    display: flex;
    align-items: center;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.menu__link:hover {
    background-color: #2d2d4d;
    text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 0 15px #fff, 0 0 35px #fff;
    color: #fff;

}

/* CallBox */
.callbox {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}
.callbox__ico {
    width: 24px;
    height: 24px;
    stroke: var(--color-accent);
    margin-right: 15px;
}
.callbox__tel {
    font-size: 18px;
    margin-bottom: 5px;
}
.callbox__txt {
    font-size: 14px;
    color: var(--color-silver);
}
/* hover */
.callbox:hover {
    color: inherit;
}


/* Btn */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 68px;
    padding: 8px 27px 10px;
    background-color: transparent;
    border-radius: 50px;
    color: var(--color-black);
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: 0;
    text-align: center;
    border: 1px solid var(--color-black);
}
.btn__ico {
    width: 16px;
    height: 16px;
    fill: var(--color-black);
    margin-right: 10px;
}
.btn__ico.-right {
    order: 1;
    margin-right: 0;
    margin-left: 10px;
}
 /* style */
.btn-normal {
    min-height: 52px;
}
.btn-accent-white {
    color: #fff;
    border-color: var(--color-accent);
}
.btn-accent-white .btn__ico {
    fill: var(--color-silver);
}
.btn-accent-solid {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: #fff;
}
.btn-accent-solid {
    stroke: #fff;
    fill: #fff;
}
/* hover */
.btn:hover {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    color: #fff;
}