
@font-face {
  font-family: 'Arvo';
  src: url('Arvo.eot?#iefix') format('embedded-opentype'),  url('Arvo.woff') format('woff'), url('Arvo.ttf')  format('truetype'), url('Arvo.svg#Arvo') format('svg');
  font-weight: normal;
  font-style: normal;
}
