.logo {
	display: flex;
	padding: 20px 0;
}
.logo__img {
	margin-right: 30px;
}
.logo__text {
	font-size: 12px;
	max-width: 222px;
}

.ratingbox {
	display: flex;
	align-items: center;
}
.ratingbox__block {
	width: 145px;
	height: 102px;
	background-image: url("../img/rating.png");
	text-align: center;
	margin-right: 15px;
	padding-top: 25px;
}
.ratingbox__counter {
	color: #323232;
	font: 25px/1 'Manrope';
	letter-spacing: -.05em;
	margin-bottom: 5px;
}
.ratingbox__stars {
	display: flex;
	justify-content: center;
}
.ratingbox__stars svg {
	display: block;
	width: 12px;
	height: 12px;
	fill: #fec341;
	margin: 0 1px;
}
.ratingbox__text {
	max-width: 111px;
	font-size: 12px;
	margin-bottom: 10px;
}

.calculate-cost-link {
	color: white;
	font: 500 10px 'Gilroy';
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .05em;
}
.calculate-cost-link:hover {
	text-decoration: underline;
}

.socialbox {

}
.socialbox__title {
	display: block;
	font-size: 12px;
	margin-bottom: 7px;
}
.socialbox__list {
	display: flex;
}
.socialbox__item {
	text-align: center;
	width: 26px;
	height: 22px;
	background-color: #239ad6;
	border-radius: 4px/11px;
	margin: 0 5px 5px 0;
}
.socialbox__item svg {
	display: inline-block;
	width: 12px;
	height: 12px;
	fill: #fff;
	vertical-align: middle;
}
.socialbox__whatsapp {
	background-color: #29a71a;
}
.socialbox__vk {
	background-color: #4c75a3;
}


.callbox {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}
.callbox__tel {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}
.callbox__tel-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	fill: #fff;
	margin-right: 15px;
}
.callbox__tel-num {
	color: #fff;
	text-decoration: none;
	font: 21px/1 'Manrope';
}
.callbox__info {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.callbox__info-text {
	font-size: 12px;
	margin-left: 20px;
	letter-spacing: .02em;
}
.callbox__indicator {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #29a71a;
	border-radius: 50%;
}


/* button */
.btn {
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 77px;
	padding: 15px 31px 10px;
	position: relative;
	text-decoration: none;
	background-color: transparent;
	z-index: 1;
}
.btn::before ,
.btn::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.btn::before {
	border-radius: 15px/30px;
	background-color: #dda52e;
	top: 5px;
}
.btn::after {
	background-color: #9dc6cc;
	box-shadow: inset 0 -4px 18px rgba(255,217,134,.66);
	border-radius: 15px/30px
}
.btn__text {
	display: inline-block;
    padding-bottom: 5px;
    letter-spacing: .06em;
    color: #4e442d;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.marktext {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}
.marktext__el {
	color: #797979;
    font: 12px/1 'GothamPro';
    letter-spacing: .03em;
    background-color: #fff;
    text-transform: uppercase;
    padding: 6px 10px 7px;
    margin-bottom: -3px;
}

.number-mark {
	width: 55px;
	height: 64px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/number-mark.png");
	color: #4b3412;
	font-size: 27px;
	font-weight: bold;
	padding-bottom: 10px;
}