.header {
	position: relative;
	background-color: #0c0e3c;
	color: #fff;
	padding: 54px 0 64px;
	margin-bottom: -64px;
}
.header-content {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	z-index: 1;
}
.header__logo {
	display: block;
	width: 103px;
}
.header-area {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.header-area::before {
	content: "";
	width: 100%;
	height: 272px;
	background: url("../../img/svg/header-grid.svg") center top;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
}
.header-area::after {
	content: "";
	width: 100%;
	height: 100%;
	background: url("../../img/svg/header-stars.svg") repeat-x center top;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.65;
}
.header-area__lighter {
	position: absolute;
	width: 313px;
	height: 322px;
	left: 50%;
	margin-left: -50px;
	top: -151.05px;
	background: linear-gradient(181deg, rgba(255, 255, 255, 0) 1.09%, rgba(255, 255, 255, 0.2) 82.08%);
	filter: blur(31.8px);
	transform: matrix(0.88, 0.47, 0.47, -0.88, 0, 0);
}

.main-content {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	padding-bottom: 3.4rem;
}

.block-white {
	min-height: 80px;
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
}
