.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.7rem;
	width: 100%;
	min-height: 4.8rem;
	padding: 1rem 1.2rem;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	border: 0;
	background-color: var(--color-accent);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.1s;
}
.btn__icon {
	fill: #fff;
}
.btn__icon._fill-stroke {
	fill: none;
	stroke: #fff;
}
.btn:active {
	transform: scale(1.05);
	background-color: var(--color-primary);
	outline: none;
}

.link {
	display: inline-block;
	text-decoration: none;
	transition: 0.1s;
}
.link._black {
	color: #1b1b1b;
}
.link:active {
	transform: scale(1.03);
	color: var(--color-primary);
}
