.logo {
	flex-shrink: 0;
	display: inline-block;
	width: 14.4rem;
	height: 3.1rem;
	color: transparent;
	font-size: 0;
	background: url(../img/logo.png) no-repeat center / contain;
	&:hover {
		transform: scale(1.05);
	}
	&:active {
		transform: scale(0.95);
	}
}

.circle-arrow {
	flex-shrink: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #fff;
	fill: rgba(105, 105, 105, 0.56);
	transition: 0.3s;
	svg {
		width: 0.7rem;
		height: 0.7rem;
		position: relative;
		top: 3%;
		transition: 0.5s;
	}
}
.icon-twocircle {
	width: 1.8rem;
	height: 1.2rem;
	position: relative;
	flex-shrink: 0;
	&::before,
	&::after {
		content: "";
		width: 1.2rem;
		height: 1.2rem;
		background-color: #bccbf7;
		border-radius: 50%;
		position: absolute;
	}
	&::after {
		right: 0;
		background-color: #5171d0;
	}
}

.ui-price {
	._current {
		font-weight: 600;
		color: var(--black);
		font-size: 5rem;
		line-height: 1;
		margin-bottom: 1rem;
	}
	._old {
		font-weight: 300;
		color: var(--gray56);
		font-size: 1.5rem;
	}
}

.badge-text {
	font-size: 10px;
	line-height: 1.1;
	background: linear-gradient(270deg, #06b5d4 0.35%, #1f9de4 32.08%, #2563eb 96.51%);
	padding: 0.5rem 1rem;
	border-radius: 4rem;
	color: #fff;
}

.avatar-36x36,
.avatar-30x30,
.avatar-40x40 {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #c5ffb1;
}
.avatar-30x30 {
	width: 3rem;
	height: 3rem;
}
.avatar-40x40 {
	width: 4rem;
	height: 4rem;
}

.hr-line {
	margin: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.lightBlurBg {
	width: 422px;
	height: 422px;
	background: rgba(37, 99, 235, 0.25);
	filter: blur(277px);
	border-radius: 50%;
	&._xl {
		width: 492px;
		height: 492px;
		background: rgba(37, 99, 235, 0.34);
		filter: blur(110px);
	}
	&._sm {
		width: 222px;
		height: 222px;
		background: rgba(37, 99, 235, 0.38);
		filter: blur(110px);
	}
}

.dark-bg {
	position: relative;
	border-radius: var(--radius-normal);
	background-color: var(--dark500);
	color: #fff;
	overflow: hidden;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../img/pattern.png) 30px 0 / 70px;
		opacity: 0.15;
	}
	.dark-bg__light._pos1 {
		position: absolute;
		left: -150px;
		top: -260px;
	}
	.dark-bg__light._pos2 {
		position: absolute;
		right: -100px;
		bottom: -290px;
	}
	.dark-bg__light._pos3 {
		position: absolute;
		left: 50%;
		margin-left: -50px;
		top: -170px;
	}
}
.dark-bg__inner {
	position: relative;
	z-index: 1;
}

.input {
	&._dark {
		background: linear-gradient(to right, #3c465c, #3e3f44);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12);
		color: #fff;
		&::placeholder {
			color: rgba(255, 255, 255, 0.6);
		}
		&:focus {
			box-shadow:
				inset 0 0 0 1px rgba(255, 255, 255, 0.35),
				0 0 10px rgba(37, 99, 235, 0.5);
			&::placeholder {
				color: rgba(255, 255, 255, 0.2);
			}
		}
	}
	&._search-project {
		width: 35.4rem;
	}
}
.input-item {
	position: relative;
	&:has(.input-icon) .input {
		padding-right: 4.5rem;
	}
}
.input-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
	background-color: #f5f7f9;
	border-radius: 50%;
	position: absolute;
	right: 1.7rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	pointer-events: none;
	svg {
		width: 0.6rem;
		height: 0.6rem;
		fill: #ababab;
		&._stroke {
			fill: none;
			stroke: #ababab;
		}
	}
}

.circle-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 4rem;
	height: 4rem;
	border: 0;
	background: transparent;
	cursor: pointer;
	border: 1px solid var(--silver);
	border-radius: 50%;
	transition: 0.5s;
	fill: var(--silver);
	svg {
		width: 1.3rem;
		height: 1.3rem;
		transition: 0.5s;
	}
	&:hover {
		border-color: var(--accentLight);
		fill: var(--accentLight);
	}
}

.iconbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 3.2rem;
	height: 3.2rem;
	background-color: #fff;
	border-radius: 0.6rem;
	svg {
		width: 1.1rem;
		height: 1.1rem;
		fill: var(--accent);
		&._stroke {
			fill: none;
			stroke: var(--accent);
		}
	}
	._wallet {
		width: 1.4rem;
		height: 1.4rem;
	}
}

.badge {
	display: inline-flex;
	align-items: center;
	min-height: 2rem;
	padding: 0.6rem;
	gap: 0.4rem;
	font-size: 1.1rem;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	/* sizes */
	&._sm {
		min-height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.badge__icon {
	width: 1.2rem;
	height: 1.2rem;
	fill: var(--black);
}
/* success */
.badge._success {
	background-color: rgba(0, 255, 78, 0.1);
	color: #16a34a;
	.badge__icon {
		fill: #16a34a;
	}
}

.badge-white {
	display: inline-flex;
	align-items: center;
	text-align: center;
	min-height: 2.2rem;
	padding: 0 0.8rem;
	background-color: #fff;
	border-radius: 10rem;
	font-size: 1.1rem;
}

.action-btn-ui {
	width: 3.2rem;
	height: 2.5rem;
	border-radius: 0.3rem;
	background-color: rgba(245, 247, 249, 0.6);
	position: relative;
	svg {
		width: 1.9rem;
		height: 0.5rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		fill: #d9d9d9;
	}
}
