@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";


.header {
	height: 900px;
	position: relative;
	overflow: hidden;
	padding-top: 183px;
	text-align: center;
    margin-bottom: -68px;

	&__content {
		position: relative;
		z-index: 1;
		h4 {
			margin-bottom: 60px;
		}
		.btn-gold {
			margin-bottom: 75px;
		}
	}

	&__scene {
		width: 120%;
		height: 100%;
		position: absolute;
		left: -10%;
		top: -30px;
		&--cloud {
			width: 100%;
			height: 900px;
			background: url("../img/header-cloud.jpg") no-repeat center;
		}
		.position-1 {
			position: absolute;
			top: -80px!important;
			left: 50% !important;
    		margin-left: -710px;
			z-index: 1;
		}
		.position-2 {
			position: absolute;
			top: 315px!important;
			left: 50% !important;
		    margin-left: -680px;
		}
		.position-3 {
			position: absolute;
			top: 200px!important;
			left: 50% !important;
		    margin-left: 150px;
			z-index: 2;
		}
		.decor-element-1 {
			position: absolute;
			top: 216px!important;
			left: 50% !important;
		    margin-left: -384px;
		}
		.i-shield {
			opacity: .21;
			position: absolute;
			top: 50px !important;
			left: 50% !important;
			margin-left: -184px;
		}
	}
}

.panel-top {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 111;
	padding-top: 15px;
	&__content {
		padding: 0 15px;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.main-nav {
			margin-left: auto;
		}
		.call-me {
		    margin: 0 0 8px 40px;
		}
	}
}


.why {
	position: relative;
	min-height: 450px;
	padding-bottom: 80px;
	h3 {
		color: #6c7075;
		strong {
			color: $black-light;
		}
	}
	&__content {
		position: relative;
		z-index: 1;
	}
	&__scene {
		width: 100%;
		height: 450px;
		position: absolute;
		left: 0;
		top: 0;
		.position-1 {
			top: 260px !important;
			left: -30px !important;
		}
		.position-2 {
			top: -132px!important;
		    left: 50%!important;
		    margin-left: -530px;
		}
		.position-3 {
			top: 338px!important;
		    left: 50%!important;
		    margin-left: -85px;
		}
		.position-4 {
			top: -25px!important;
		    left: 50%!important;
		    margin-left: 420px;
		}
		.position-5 {
			top: 168px!important;
		    left: 100%!important;
		    margin-left: -219px;
		}
		.position-6 {
			top: 370px!important;
		    left: 50%!important;
		    margin-left: -92px;
		    z-index: -1;
		}
		.bg-door {
			top: 36px!important;
		    left: 50%!important;
		    z-index: -1;
		}
	}
}

.smiley {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	max-width: 600px;
	&__item {
		width: 200px;
		min-height: 157px;
		padding: 83px 5px 10px 5px;
		margin: 0 70px 50px 0;
		position: relative;
		color: $black-light;
		background-color: #fff;
		border-radius: 10px;
		text-align: center;
		letter-spacing: .25em;
	    line-height: 1.3;
		.i-smiley {
			position: absolute;
			top: -30px;
			left: 50%;
			margin-left: -85px;
		}
		p {
			position: relative;
			z-index: 1;
		}
	}
}

.i-smiley {
	display: inline-block;
	width: 160px;
	height: 150px;
	background: url('../img/smiley.png');
	&.one {
		background-position: 0 0;
	}
	&.two {
		background-position: 0 -150px;
	}
	&.three {
		background-position: 0 -300px;
	}
}


.our {
	background-color: #2e220c;
	background-image: linear-gradient(to top, #080806, #2e230f);
	border-bottom: 18px solid #5a3c0e;
	padding-bottom: 75px;
	color: #fff;
	position: relative;
	z-index: 1;
	&__content {
		min-height: 150px;
		position: relative;
		.container {
			position: relative;
			min-height: 715px;
			padding-top: 140px;
			display: flex;
			align-items: center;
		}
		.title {
			font-size: 24px;
			position: absolute;
			left: 15px;
			top: -20px;
			z-index: 1;
		}
		.corner-element {
			margin-left: -5px;
		}
		.mac {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -215px;
		}
	}
	&__bg {
		width: 1920px;
		height: 100%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -960px;
		&:before {
			content: '';
			width: 3000px;
			height: 2000px;
			background: radial-gradient(circle, rgba($chocolate-light,.5) -10%, transparent 50%);
			position: absolute;
			bottom: -1150px;
			left: 50%;
			margin-left: -1500px;
			z-index: -1;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute !important;
		left: 50%;
		margin-left: -960px;
		top: 0;
		.position-1 {
			top: 121px !important;
		}
		.position-2 {
			left: 290px !important;
			top: -215px !important;
		}
		.position-3 {
			width: 50px !important;
			left: auto !important;
			right: 230px !important;
			top: -30px !important;
		}
	}
}

.mac {
	position: relative;
	width: 741px;
	height: 572px;
	background: url('../img/mac.png');
	perspective: 1000px;
	&__screen {
		width: 444px;
	    height: 356px;
	    position: absolute;
	    left: 29px;
	    top: 44px;
	    transform: rotateY(21deg) skewY(2.7deg);
	    background-color: $black-light;
	    overflow: hidden;
	    img {
	    	width: 100%;
	    }
	}
}


.slider-services {
	width: 715px;
	margin: 0 0 125px auto;
	z-index: 1;
	position: static;
	text-align: right;
	.slick-slide {
		padding-left: 215px;
		padding-top: 70px;
		h3 {
			font-family: GothamPro-Bold;
		    margin-bottom: 30px;
		    letter-spacing: .24em;
		    line-height: .9;
		}
		p {
			line-height: 1.8;
		    margin-bottom: 90px;
		    letter-spacing: .02em;
		    padding-right: 4px;
		}
		.btn {
			margin-right: 6px;
		}
	}
	.slick-dots {
		display: flex;
		list-style: none;
		position: absolute;
		right: 15px;
		top: 34px;
		button {
			width: 180px;
			height: 60px;
			padding: 0 20px;
			background-color: #261d0d;
			transition: .5s;
			border: none;
			color: #fff;
			cursor: pointer;
			border-radius: 30px;
			margin-left: 35px;
			position: relative;
			overflow: hidden;
			text-transform: uppercase;
			line-height: 1.3;
			&:before {
				opacity: 0;
				content: '';
				width: 40%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-image: linear-gradient(-30deg, transparent 40%, #efcd2b);
				transition: 1s;
			}
			.text {
				position: relative;
				z-index: 1;
			}
		}
		.slick-active button {
			background-color: #9d6515;
			outline: none;
			&:before {
				width: 70%;
				opacity: 1;
			}
		}
	}
	.slick-arrow {
		position: absolute;
		bottom: 0;
	}
	.slick-prev {
		left: 15px;
	}
	.slick-next {
		right: 15px;
	}
}


.clients {
	min-height: 1985px;
	padding: 47px 0 70px;
	position: relative;
	z-index: 1;
	.title-section {
		margin-bottom: 73px;
	}
	.item-text.chocolate {
		margin: -12px 0 71px 230px;
	}
	.container {
		position: relative;
	}
	&__content {
		min-height: 1082px;
		padding-bottom: 50px;
		.container {
			position: relative;
		}
		.ipad {
			position: absolute;
			right: 40px;
		    top: 300px;
		}
	}
	&__more {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.item-text {
			padding-top: 65px;
		}
		.video-block {
			flex-grow: 1;
			margin-right: 15px;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -960px;
		top: 0;
		z-index: 1;
		.position-1 {
			left: 73%!important;
		    top: -100px !important;
		}
		.position-2 {
			left: 71%!important;
		    top: -45px !important;
		}
		.position-3 {
			top: 60px!important;
		    left: 56%!important;
		}
		.position-4 {
			top: 265px!important;
		    left: 55%!important;
		}
		.position-5 {
			top: 466px!important;
			left: 57%!important;
		}
		.position-6 {
			top: 520px!important;
		    left: 6%!important;
		}
		.position-7 {
			top: 908px!important;
		    left: 9%!important;
		}
		.position-8 {
			top: 918px!important;
		    left: 27.5%!important;
		}
		.position-9 {
			top: 1492px!important;
		    left: 64%!important;
		}
	}
}

.ipad {
	position: relative;
	perspective: 600px;
	&:after {
		content: '';
		width: 918px;
		height: 250px;
		background: url('../img/ipad-shadow.png');
		position: absolute;
		right: -190px;
	    bottom: -160px;
		z-index: -1;
	}
	&-device {
		width: 637px;
		height: 444px;
		background: url('../img/ipad.png');
		position: relative;
	    transform: rotateZ(18deg) rotateX(6deg) rotateY(-9deg) translateX(-40px) skewX(-15deg) scale(.92);
	}
	&-screen {
		width: 541px;
		height: 395px;
		background-color: #000;
		position: absolute;
		left: 48px;
		top: 30px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.ipad-slider {
		width: 726px;
		position: absolute;
		left: -60px;
		bottom: 220px;
		.slick-prev {
			position: absolute;
			left: 0;
		}
		.slick-next {
			position: absolute;
			right: 0;
		}
	}
}

.about {
	position: relative;
	.bg-title {
		font: 82px/1 'GothamPro-Black';
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top: -379px;
	    left: 50%;
	    margin-left: -464px;
		transform: rotateZ(-90deg);
		opacity: .5;
	}
	&__content {
		background-color: #a4630c;
		max-width: 1920px;
		margin: 0 auto -562px;
		position: relative;
		&:before {
			content: '';
			width: 1920px;
			height: 164px;
			background: url('../img/svg/bg-wave-2.svg') no-repeat center top;
			background-size: cover;
			position: absolute;
			left: 50%;
			margin-left: -960px;
			top: -163px;
			z-index: -1;
		}
	}
	&__article {
		max-width: 970px;
		background-color: #fff;
		padding: 45px 110px 275px;
		border-radius: 10px 10px 0 0;
		position: relative;
		margin: 0 auto;
		top: -185px;
		&-content {
			position: relative;
			z-index: 1;
			text-align: center;
			h3 {
				color: #54585c;
				font-family: 'GothamPro-Medium';
			    letter-spacing: .15em;
			    margin-bottom: 28px;
			}
		}
	}
	&__list {
		max-width: 1920px;
		background-color: #231b0c;
		background: url('../img/svg/bg-wave-1.svg') no-repeat center top;
		background-size: 101%;
		margin: 0 auto;
		position: relative;
		border-bottom: 18px solid #5a3c0e;
		overflow: hidden;
		padding: 394px 0 63px;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: #231b0c;
			position: absolute;
			left: 0;
			top: 400px;
			z-index: -1;
		}
		.container {
			display: flex;
			justify-content: space-between;
			.about__item {
				flex-grow: 1;
				margin-bottom: 35px;
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 265px;
		min-height: 190px;
		padding: 30px 20px;
		border-radius: 55.5px;
		font: 22px/1.1 'GothamPro-Bold';
		background-color: #c2911f;
		background-image: linear-gradient(135deg, #b9811b 45%, #e6d22d 85%);
		color: #31230c;
		text-align: center;
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: 1;
		.element-1.style-1 {
		    transform: rotate(0) scale(.35);
		}
		.position-1 {
			top: -234px!important;
		    left: 401px!important;
			z-index: 1;
		}
		.position-2 {
			top: -367px!important;
		    left: 224px!important;
		}
		.position-3 {
			top: 100%!important;
		    left: 65.5%!important;
		    margin-top: -680px;
		    .element-1.style-1 {
		        transform: scale(.4);
		    }
		}
		.position-4 {
			top: -35px!important;
		    left: 100%!important;
		    margin-left: -158px;
		}
		.position-5 {
			top: 100%!important;
		    left: 100%!important;
	        margin: -96px 0 0 -274px;
		}
	}
}


.portfolio {
	display: flex;
	max-width: 1210px;
	margin: 0 auto;
	&__item {
		width: 33.33%;
		padding: 15px;
		cursor: pointer;
		.inner {
			background-color: #fff;
			border-radius: 10px;
			overflow: hidden;
			position: relative;
		}
		picture {
			display: block;
			height: 186px;
			margin-bottom: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		h4 {
			font-family: 'GothamPro-Bold';
			text-transform: uppercase;
		}
		.info {
			padding: 0 10px 10px;
		}
		.splash {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 15px;
			left: 0;
			top: 0;
			background-color: #c2911f;
			background-image: linear-gradient(150deg, #b9811b 45%, #e6d22d 90%);
			color: #fff;
			z-index: 1;
			text-align: center;
			transition: .5s;
			opacity: 0;
			visibility: hidden;
			.title {
				font-size: 24px;
				line-height: 1;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			strong {
				font-family: 'GothamPro-Black';
			}
		}
		&:hover {
			.splash {
				visibility: visible;
				opacity: 1;
				transition: 1s;
			}
		}
	}
}


.cooperation {
	position: relative;
	&__content {
		padding-right: 610px;
		min-height: 255px;
		position: relative;
		&:before {
			content: '';
			width: 588px;
			height: 255px;
			background: url('../img/cooperation.jpg');
			position: absolute;
			right: 0;
			top: 0;
		}
		p {
			font: 16px/1.7 'GothamPro-Medium';
			margin-bottom: 50px;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute !important;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: 1;
		.position-1 {
			top: 50% !important;
			left: 200px !important;
			margin-top: -30px;
		}
	}
}


.our-team {
	width: 1920px;
	height: 630px;
	background: url('../img/svg/bg-wave-3.svg') no-repeat center;
	margin: 0 auto;
}

@import "media";
