.page_login-social .header {
	margin-bottom: -11rem;
	padding-bottom: 11rem;
}

.header {
	min-height: 274px;
	position: relative;
	background-color: var(--color-dark-ocean);
	color: #fff;
	padding: 4rem 0 6.4rem;
	margin-bottom: -6.4rem;
	&::after {
		content: "";
		width: 100%;
		height: 100px;
		background: linear-gradient(to top, var(--color-dark-ocean) 10%, transparent);
		position: absolute;
		left: 0;
		top: 176px;
	}
}
.header-content {
	width: 100%;
	max-width: 460px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding: 12rem 0 2.3rem;
	position: relative;
	z-index: 3;
}
.header__description {
	color: #d4d4d4;
	line-height: 1.4;
}
.header__logo {
	display: block;
	width: 103px;
}
.header-bar {
	max-width: 460px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
	padding-left: 2rem;
	padding-right: 2rem;
}
.header-area {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.header-area::before {
	content: "";
	width: 100%;
	height: 272px;
	background: url("../../img/bg-head.png") center top;
	position: absolute;
	top: 0;
	left: 0;
}
.header-area__lighter {
	position: absolute;
	width: 313px;
	height: 322px;
	left: 50%;
	margin-left: -50px;
	top: -151.05px;
	background: #fff;
	filter: blur(31.8px);
	transform: matrix(0.88, 0.47, 0.47, -0.88, 0, 0);
	opacity: 0.13;
}
.header-bg {
	position: absolute;
	width: 100%;
	height: 274px;
	left: 0;
	top: 0;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.5;
	}
}
.header-userbar {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	padding: 0.8rem;
}
.header-userbar__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.8rem;
	height: 3.8rem;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 1px 2px rgba(228, 229, 231, 0.24);
	flex-shrink: 0;
}
.header-userbar__icon-svg {
	fill: #fff;

	&._fill-stroke {
		fill: none;
		stroke: #fff;
	}
}
.header-userbar__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.2rem;
}

.main-content {
	width: 100%;
	max-width: 460px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	padding-bottom: 2rem;
	z-index: 3;
	&:has(.position-fixed-btn) {
		padding-bottom: 8rem;
	}
}

.position-fixed-btn {
	position: fixed;
	min-width: 350px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-light);
	z-index: 9;
	&::before {
		content: "";
		height: 30px;
		width: 100%;
		background: linear-gradient(to top, var(--color-light), transparent);
		position: absolute;
		top: -30px;
		left: 0;
	}
}
.position-fixed-btn__inner {
	max-width: 460px;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}

.block-white {
	min-height: 10rem;
	background-color: #fff;
	padding: 2rem;
	position: relative;
	z-index: 1;
}
.block-dark {
	min-height: 5rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 0.09rem;
	background: linear-gradient(-45deg, #1d1f4a, #8889a0);
	border-radius: 10px;
}
.block-dark__inner {
	padding: 2rem;
	color: #fff;
	background: linear-gradient(to right, #252741, #13153e);
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	z-index: 2;
}
.block-service-doc {
	&::after {
		content: "";
		width: 6rem;
		height: 9.3rem;
		background: url("../../img/graphica/services-doc.png") no-repeat center center / 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		border-bottom-right-radius: 10px;
	}
}
.block-service1 {
	&::after {
		content: "";
		width: 6rem;
		height: 18.6rem;
		background: url("../../img/graphica/services-1.png") no-repeat center center / 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		border-bottom-right-radius: 10px;
	}
	.list__item {
		padding-right: 6.5rem !important;
	}
}
.block-service2 {
	&::after {
		content: "";
		width: 8.6rem;
		height: 16.7rem;
		background: url("../../img/graphica/services-2.png") no-repeat center center / 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		border-bottom-right-radius: 10px;
	}
	.list__item {
		padding-right: 9rem !important;
	}
}

.card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	max-height: 180px;
	padding: 4rem 0 2rem;
	position: relative;
	z-index: 2;
}
.card-image__img {
	max-width: 100%;
	max-height: 150px;
	object-fit: contain;
}

/* graphica */
._graphica-gift {
	background-image: url("../../img/graphica/gift.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 86px 136px;
}

.steps-working .block-white {
	overflow: hidden;

	&:first-child .steps-working__counter::before {
		top: 2rem;
	}
	&:last-child .steps-working__counter::before {
		height: 2rem;
		top: -2rem;
	}
}
.steps-working__counter {
	margin-right: 7px;
	position: relative;

	&::before {
		content: "";
		width: 1px;
		height: calc(100% + 10rem);
		border-left: 1px dashed rgb(107, 151, 214, 0.55);
		position: absolute;
		left: 1rem;
		top: -3rem;
	}
}

.card-dark {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 110px;
	background:
		url(../../img/pattern.png) repeat 6px 23px / 38px,
		linear-gradient(180deg, #171717 0%, #363131 100%);
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
	&:hover {
		background:
			url(../../img/pattern.png) repeat 6px 23px / 38px,
			linear-gradient(180deg, #171717 0%, #007dca 100%);
	}
}
.card-dark__category {
	display: flex;
	flex-direction: column;
	min-height: 60px;
	flex-grow: 1;
	margin-top: auto;
	padding: 1rem;
	position: relative;
}
.card-dark__category-img {
	max-width: 91px;
	max-height: 80px;
	position: absolute;
	right: 0;
	bottom: 0;
	&._width-55 {
		max-width: 55px;
	}
	&._width-108 {
		max-width: 108px;
	}
	&._width-122 {
		max-width: 122px;
	}
	&._width-179 {
		max-width: 179px;
	}
	&._width-165 {
		max-width: 165px;
	}
}

.card-primary {
	background:
		url(../../img/pattern.png) repeat 0 0 / 100px,
		linear-gradient(-45deg, #68a2f4 40%, #3972c1);
	color: #fff;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	&:has(.card-primary__img) {
		min-height: 150px;
	}
	&:has(.card-primary__img.height-auto) {
		min-height: auto;
	}
}
.card-primary__inner {
	padding: 2rem;
	position: relative;
	z-index: 1;
}
.card-primary__img {
	max-width: 245px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.sliderCards {
	margin-left: -100px !important;
	margin-right: -100px !important;
	&::before,
	&::after {
		content: "";
		width: 120px;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 2;
	}
	&::before {
		left: 0;
		background: linear-gradient(to right, #f3f7ff, transparent);
	}
	&::after {
		right: 0;
		background: linear-gradient(to left, #f3f7ff, transparent);
	}
}
.sliderCards {
	height: 177px;
	.swiper-wrapper {
		display: flex;
		align-items: center;
	}
	.swiper-slide {
		width: 100%;
		max-width: 335px;
		&.swiper-slide-active .sliderCards__card {
			height: 177px;
			margin-top: 0;
		}
	}
}
.sliderCards__card {
	display: block;
	width: 100%;
	height: 145px;
	overflow: hidden;
	border-radius: 20px;
	transition: 0.5s;
	margin-top: 16px;
	position: relative;
	&::after {
		content: "";
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		border: 1px solid var(--color-primarylight);
		border-radius: 1.5rem;
		position: absolute;
		left: 1rem;
		top: 1rem;
		z-index: 2;
		transform: scale(1.1);
		opacity: 0;
	}
	&:active {
		&::after {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.profile-bar {
	display: flex;
	min-height: 8rem;
	background-color: #fff;
	padding: 2rem;
	border-radius: 2rem;
	margin-bottom: 2.5rem;
	column-gap: 2rem;
}
.profile-bar__descrp {
	display: flex;
	flex-direction: column;
	row-gap: 0.4rem;
	font-size: 1.2rem;
	font-weight: 500;
}
