.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.7rem;
	width: 100%;
	min-height: 6rem;
	padding: 1rem 1.2rem;
	font-size: 1.15rem;
	text-align: center;
	text-decoration: none;
	border: 0;
	background: linear-gradient(220.08deg, #a00c1e 20.23%, #ce3f50 143.88%);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.05s;
	text-transform: uppercase;

	&:hover {
		transform: scale(1.05);
		background: linear-gradient(120.08deg, #a00c1e 20.23%, #ce3f50 143.88%);
		outline: none;
	}

	.btn__icon {
		fill: rgba(255, 255, 255, 0.5);
		flex-shrink: 0;
		margin-bottom: 1px;

		&._fill-stroke {
			fill: none;
			stroke: rgba(255, 255, 255, 0.5);
		}
	}

	&.d-inline-flex {
		width: auto;
	}
	&.px-6 {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	/* size */
	&._normal {
		min-height: 5rem;
	}

	/* styles */
	&._white {
		background: #fff;
		color: #6b97d6;

		&:active {
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
		}

		.btn__icon {
			fill: #6b97d6;
			flex-shrink: 0;

			&._fill-stroke {
				fill: none;
				stroke: #6b97d6;
			}
		}
	}
	&._dark {
		background: var(--color-dark);

		&:active {
			background-color: var(--color-primary2);
		}
	}
	&._primary {
		background: linear-gradient(220.08deg, #6b97d6 20.23%, #3763a3 143.88%);

		&:hover {
			background: linear-gradient(120.08deg, #6b97d6 20.23%, #3763a3 143.88%);
		}
	}
	&._outline {
		background: transparent;
		border: 1px solid #555;
		color: #555;

		.btn__icon {
			fill: #555;
			flex-shrink: 0;

			&._fill-stroke {
				fill: none;
				stroke: #555;
			}
		}
	}

	/* social btn */
	&._telegram {
		background: radial-gradient(59.88% 1623.96% at 50% 50%, #72bad6 0%, #62a3bd 100%);

		&:active {
			background: radial-gradient(59.88% 1623.96% at 50% 50%, #72bad6 70%, #62a3bd 100%);
		}
	}

	&._vk {
		background: radial-gradient(86.82% 2360.42% at 50% 50%, #7096c9 0%, #4e709d 100%);

		&:active {
			background: radial-gradient(86.82% 2360.42% at 50% 50%, #7096c9 70%, #4e709d 100%);
		}
	}

	&._max {
		background: linear-gradient(90deg, #477bfe 0%, #294ef8 36.54%, #562de6 68.75%, #964ee2 100%);

		&:active {
			background: linear-gradient(90deg, #477bfe 8%, #294ef8 20%, #562de6 45%, #964ee2 90%);
		}
	}

	&._instagram {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		background: linear-gradient(90deg, #fb7847 0%, #f36558 29.33%, #ee5569 50%, #d43e85 69.71%, #af3a9a 83.65%, #7b35b9 99.04%);

		&:active {
			background: linear-gradient(90deg, #fb7847 0%, #f36558 12%, #ee5569 36%, #d43e85 53%, #af3a9a 68%, #7b35b9 80%);
		}
	}

	&._youtube {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		background-color: #fe0000;

		&:active {
			background-color: #ff014d;
		}
	}
}

.btn-dark {
	display: flex;
	min-width: 5.2rem;
	height: 5.2rem;
	background: linear-gradient(to left, #2f3c60, #505970 90%);
	border-radius: 1rem;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("../../img/texture.png");
		background-size: 30px;
	}
}
a.btn-dark,
button.btn-dark {
	cursor: pointer;
	&:hover {
		background: linear-gradient(to right, #2f3c60, #505970 90%);
	}
	&._inverse {
		background: linear-gradient(to right, #2f3c60, #505970 90%);
		.btn-dark__inner {
			border-right: 1px solid rgba(255, 255, 255, 0.22);
			border-left: none;
		}
		&:hover {
			background: linear-gradient(to left, #2f3c60, #505970 90%);
		}
	}
}
.btn-dark__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	border-left: 1px solid rgba(255, 255, 255, 0.22);
	border-radius: 1rem;
}
.btn-dark__icon {
	fill: #fff;
	&._stroke {
		fill: none;
		stroke: #fff;
	}
	&._arrow {
		margin-left: -3px;
	}
}

.link {
	display: inline-block;
	text-decoration: none;
	transition: 0.1s;
	color: var(--color-primary);

	&:active {
		color: var(--color-accent);
	}

	/* styles */
	&._black {
		color: #1b1b1b;

		&:active {
			color: var(--color-accent);
		}
	}
	&._white {
		color: #fff;

		&:active {
			color: var(--color-accent);
		}
	}
	&._dashed {
		text-decoration: underline;
		text-decoration-style: dashed;
		text-underline-offset: 3px;
		&:hover {
			text-decoration-style: solid;
		}
	}
}

.choise {
	display: flex;
}
.choise._white {
	.choise__text {
		color: #fff;
	}
	.choise-checkbox__box {
		border-color: #fff;
	}
	.choise-checkbox__input:checked + .choise-checkbox__box {
		background-color: #fff;
		border-color: #fff;
		svg {
			fill: var(--color-dark-ocean);
		}
	}
}
.choise__text {
	line-height: 150%;
	letter-spacing: -0.005em;
	color: var(--color-gray);
	cursor: pointer;
	padding-left: 1rem;
}
.choise-checkbox {
	flex-shrink: 0;
	padding-top: 0.2rem;
	cursor: pointer;
}
.choise-checkbox__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.choise-checkbox__box {
	position: relative;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border: 0.2rem solid var(--color-gray);
	transition: 0.3s;
	border-radius: 3px;
}
.choise-checkbox__box svg {
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
	opacity: 0;
	fill: #fff;
}
/* focus */
.choise-checkbox__input:focus + .choise-checkbox__box {
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 1);
}
/* checkbox */
.choise-checkbox__input:checked + .choise-checkbox__box {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}
.choise-checkbox__input:checked + .choise-checkbox__box svg {
	opacity: 1;
}
/* radio */
.choise-checkbox__input[type="radio"] + .choise-checkbox__box {
	border-radius: 50%;
}
.choise-checkbox:has(.choise-checkbox__input[type="radio"]) {
	height: 1.3rem;
}
.choise-checkbox__input[type="radio"] + .choise-checkbox__box {
	width: 1.3rem;
	height: 1.3rem;
}
.choise-checkbox__input[type="radio"] + .choise-checkbox__icon {
	display: none;
}
.choise-checkbox__input[type="radio"]:checked + .choise-checkbox__box {
	border: 1px solid #dcdfe7;
	background-color: #f5f6f8;
}
.choise-checkbox__input[type="radio"] + .choise-checkbox__box:before {
	content: "";
	width: 1rem;
	height: 1rem;
	background-color: var(--color-primary);
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -0.5rem 0 0 -0.5rem;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
/* checked visible */
.choise-checkbox__input[type="radio"]:checked + .choise-checkbox__box:before {
	visibility: visible;
	opacity: 1;
}

.list._border .list__item {
	border-bottom: 1px solid #e4e4e4;
	margin-top: 1.2rem;
	padding-bottom: 1.1rem;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}
.list__item {
	margin-top: 0.6rem;
	padding-bottom: 0.7rem;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}

	&.px-20 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
.list__content {
	position: relative;
	padding-left: 14px;
	line-height: 125%;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0.5rem;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: var(--color-primarylight);
	}
}

.flag-icon {
	width: 3.2rem;
	height: 2rem;
	border-radius: 0.5rem;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&._small {
		width: 2rem;
		height: 1.2rem;
		border-radius: 0.2rem;
	}
}

.badge {
	font-size: 0.9rem;
	border-radius: 3rem;
	padding: 0.5rem 0.8rem;
	background-color: var(--color-primarylight);
	color: #fff;
	position: relative;

	&._counter {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.input,
.textarea {
	&._small {
		height: 4rem;
	}
	&._white {
		background-color: #fff;
		border: 1px solid #e4e4e4;
		&:focus {
			border-color: #6b97d6;
		}
	}
	&._white-outline {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, 0.5);
		color: #dadada;
		&:hover {
			border-color: var(--color-primarylight);
		}
		&:focus {
			border-color: var(--color-primarylight);
			box-shadow: 0 2px 10px rgba(107, 151, 214, 0.5);
		}
	}
	&._trans-outline {
		background-color: transparent;
		border: 1px solid #e4e4e4;
		color: var(--color-dark);
		&:hover {
			border-color: var(--color-primarylight);
		}
		&:focus {
			border-color: var(--color-primarylight);
			box-shadow: 0 2px 10px rgba(107, 151, 214, 0.5);
		}
	}
}

.choise-point {
	display: block;
	cursor: pointer;
}
.choise-point__content {
	min-height: 5rem;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 0.7rem 1.5rem;
	border: 1px solid #dfe4ea;
	transition: 0.5s;
}
.choise-point__text {
	font-size: 1.3rem;
	color: #bcbcbc;
	font-weight: 500;
	padding-right: 0.5rem;
	transition: 0.5s;
	line-height: 0.95;
}
.choise-point__indicator {
	width: 1.45rem;
	height: 1.45rem;
	border-radius: 50%;
	border: 1px solid #dfe4ea;
	flex-shrink: 0;
	position: relative;
	margin-left: auto;
	transition: 0.5s;
	fill: #fff;
}
.choise-point__indicator svg {
	width: 0.7rem;
	height: 0.7rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
}
.choise-point__input {
	display: none;

	&:checked ~ .choise-point__content {
		border-color: var(--color-primarylight);

		.choise-point__text {
			color: var(--color-primarylight);
		}
		.choise-point__indicator {
			background-color: var(--color-primarylight);
			border-color: var(--color-primarylight);

			svg {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.choise-point__group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #f5f6f9;
	padding: 7px 8px;
	border-radius: 6px;
	margin-bottom: 12px;

	.choise-point {
		width: 50%;

		&:active .choise-point__content {
			background-color: #6b97d6 !important;
		}
		&:active .choise-point__text {
			color: #fff !important;
		}
	}
	.choise-point__text {
		transition: 0.1s;
		color: #7d7d91;
		padding-right: 0;
	}
	.choise-point__content {
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 2.7rem;
		height: 100%;
		border-radius: 6px;
		padding: 0.6rem 1rem 0.7rem;
		border: none;
		transition: 0.1s;
	}
	.choise-point__indicator {
		display: none;
	}
	.choise-point__input:checked ~ .choise-point__content {
		background-color: #fff;
		.choise-point__text {
			color: #404040;
		}
	}
}

.choise-file {
	position: relative;
	&._white {
		.choise-file__label {
			border-color: #e4e4e4;
		}
	}
}
.choise-file__input {
	width: 1px;
	height: 1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	&:focus ~ .choise-file__label {
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
		border-color: #6b97d6;
	}
	&._choise ~ .choise-file__label {
		color: #222326;
	}
}
.choise-file__label {
	display: flex;
	align-items: center;
	text-align: left;
	min-height: 6rem;
	background-color: transparent;
	border: 1px solid transparent;
	font:
		500 1.3rem "Inter",
		sans-serif;
	color: #bcbcbc;
	border-radius: 10px;
	padding: 1rem 1.5rem;
	cursor: pointer;
}
.choise-file__text {
	padding-right: 2rem;
}
.choise-file__icon {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	flex-shrink: 0;
	fill: #bcbcbc;
	margin-left: auto;
}

/* SELECT */
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	font-size: 1.3rem;
	font-weight: 500;
	height: 5rem;
	outline: none;
	border: 1px solid #edf1f3;
	padding-left: 1.6rem;
	padding-right: 4rem;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
	position: relative;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
	border-color: #6b97d6;
}

.nice-select .arrow {
	width: 1.2rem;
	height: 1.2rem;
	right: 2.2rem;
	top: 1.9rem;
	fill: none;
	stroke: #bcbcbc;
	position: absolute;
	transform: rotate(90deg);
	transition: 0.2s ease-out;
}

.nice-select.open .arrow {
	transform: rotate(270deg);
}

.nice-select.open .list {
	width: 100%;
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
	background-color: #fff;
	color: #404040;
}

.nice-select .current {
	font-size: 1.3rem;
	margin: 1.6rem 0;
	display: inline-block;
	color: #7d7d91;
}

.nice-select.disabled {
	border-color: #ededed;
	color: #999;
	pointer-events: none;
}

.nice-select.disabled:after {
	border-color: #cccccc;
}

.nice-select.wide {
	width: 100%;
}

.nice-select.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.nice-select.right {
	float: right;
}

.nice-select.right .list {
	left: auto;
	right: 0;
}

.nice-select .list {
	background-color: #fff;
	box-sizing: border-box;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition:
		all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
		opacity 0.15s ease-out;
	transition:
		all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
		opacity 0.15s ease-out;
	z-index: 9;
	margin-top: 1px;
	border-radius: 10px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select .option {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-weight: 500;
	list-style: none;
	min-height: 50px;
	outline: none;
	padding: 0.7rem 3rem 0.7rem 1.6rem;
	text-align: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: #6b97d6;
	color: #fff;
}

.nice-select .option.selected {
	font-weight: bold;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}

.icon,
.icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	fill: #fff;
	._fill-stroke {
		fill: none;
		stroke: #fff;
	}
}
.icon-link {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	svg {
		opacity: 0.7;
	}
}

.badge-primary {
	display: inline-block;
	background: linear-gradient(to left, #5c8acd, #7ca0d4 90%);
	border-radius: 1rem;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	position: relative;
	overflow: hidden;
}
.badge-primary__inner {
	display: flex;
	align-items: center;
	column-gap: 0.8rem;
	padding: 1rem;
	position: relative;
	z-index: 1;
	border-left: 1px solid rgba(255, 255, 255, 0.22);
	border-radius: 1rem;
}
