/*Logo*/
.logo {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo__box {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.logo__ico {
	display: inline-block;
	width: 55px;
	height: 40px;

	background: url(../../img/css/el/logo.png) no-repeat center / contain;

	flex-shrink: 0;
}
.logo__txt {
	display: flex;

	color: #333;
	font-size: 3.8rem;
	font-family: "TimesNewRomanPS", Georgia, Times, "Times New Roman", serif;
	text-transform: uppercase;
}
.logo__let {
	padding: 0 .8rem;
}
/*Logo size-one*/
._size-one .logo__ico {
	width: 45px;
	height: 34px;
}
._size-one .logo__txt {
	font-size: 3rem;
}
._size-one .logo__let {
	padding: 0 .5rem;
}


/*Messages viewer*/
.msgview {
	padding: 6px 10px;
}
.msgview__item {
	max-width: 273px;
	min-height: 50px;
	padding: 10px 15px;
	margin-bottom: 8px;

	background-color: #fff;
	border: 1px solid rgb(209 209 209 / 25%);
	box-shadow: 0 4px 4px rgb(5 4 82 / 3%),
				0 12px 20px rgb(5 4 82 / 3%),
				0 30px 55px rgb(5 4 82 / 3%),
				0 100px 115px rgb(5 4 82 / 3%);
	border-radius: 10px 10px 10px 0;
	position: relative;
}
.msgview__item::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 5px solid #fff; 
	border-left: 6px solid transparent;
	position: absolute;
	right: 100%;
	bottom: 0;
}



/*Registration choice*/
.regchoice {
	
}
.regchoice__item {
	padding: 3.5px 0;
}
.regchoice__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 41px;
	padding: 12px 14px 11px;

	color: inherit;
	background-color: #EEF2FD;
	border: 1px solid #EC7EAB;
	border-radius: 14px 14px 14px 0;
	line-height: 1;
	text-align: center;
	text-decoration: none;
}
/*mode: content to right*/
.-ltr .regchoice__item {
	text-align: right;
}
.-ltr .regchoice__btn {
	border-radius: 14px 14px 0 14px;
}
/*content inner*/
.regchoice__img-gos {
	position: relative;
	top: 2px;
}



/*Item fieldset-box*/
.fieldsetbox__row {
	padding: 0;
}
.fieldsetbox__label {
	padding: 7px 10px;
	display: inline-block;
	font-size: 1.4rem;
	color: #012169;
}
.fieldsetbox__label:active {
	color: #5E8FFF;
	transform: scale(1.07);
}



/*Helper text*/
.helper-txt {
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
}


/*Button*/
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 61px;
	padding: 10px 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #DF5852;
	color: #fff;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: 0.5s;
	/*filter: blur(30px);*/
	box-shadow: 0 8px 30px rgba(223, 88, 82, 0.5);
}
.btn:hover {
	text-decoration: none;
	background-color: #438bf8;
	color: #fff;
}
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 4px rgba(36, 110, 222, 0.5);
}
.btn:focus:active {
	transition: none;
	background-color: #1c5bb9;
}



/*SMS-code*/
.smscode {
	display: flex;
	justify-content: center;
}
.smscode__item {
	padding: 6px;
	width: 44px;
}
.smscode__input {
	width: 100%;
	text-align: center;
}
input.smscode__input {
	height: 37px;
	border-radius: 10px;
}