/*Graphic-cloud*/
.graphic-cloud {
	width: 218px;
	height: 106px;
	background: url(../../img/css/el/cloud.png) no-repeat center center / contain;
	pointer-events: none;
}
/*size*/
.graphic-cloud.-size-sm {
	width: 84px;
	height: 41px;
}
/*position*/
.graphic-cloud.-pos-1 {
	position: absolute;
	left: 9px;
	top: 42px;
}
.graphic-cloud.-pos-2 {
	position: absolute;
	left: 228px;
	bottom: 71px;
}
.graphic-cloud.-pos-3 {
	position: absolute;
	left: 0;
	bottom: 34px;
	z-index: 1;
}


/* D E C O R - 
   elements */

/* -leaves */
.decor-leaves {
	width: 101px;
	height: 141px;
	background-image: url(../../img/css/el/leaves.png);
}
/* -plus */
.decor-plus {
	width: 16px;
	height: 16px;
	position: relative;
}
.decor-plus::before,
.decor-plus::after {
	content: "";
	position: absolute;
	box-shadow: 0 0 2px rgb(255 255 255 / 80%);
}
.decor-plus::before {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #fff;
	left: 0;
	top: 50%;
	margin-top: -1px;
}
.decor-plus::after {
	width: 2px;
	height: 100%;
	border-radius: 1px;
	background-color: #fff;
	left: 50%;
	top: 0;
	margin-left: -1px;
}


/*Logo*/
.logo-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 318px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0px 17px 67px rgba(227, 237, 242, 0.71);
	margin: auto;
	position: relative;
	z-index: 1;
	padding-top: 12px;
}
.logo-wrap::after {
	content: "";
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #C5C5FF;
	position: absolute;
	right: 43px;
	bottom: 38px;
}
.logo {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo__box {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.logo__ico {
	display: inline-block;
	width: 48px;
	height: 36px;

	background: url(../../img/css/el/logo.png) no-repeat center / contain;

	flex-shrink: 0;
}
.logo__txt {
	display: flex;

	color: #333;
	font-size: 3.5rem;
	font-family: "TimesNewRomanPS", Georgia, Times, "Times New Roman", serif;
	text-transform: uppercase;
}
.logo__let {
	padding: 0 6px 0 7px;
}
.logo__let:last-child {
	padding-right: 0;
}
/*Logo size-one*/
._size-one .logo__ico {
	width: 45px;
	height: 34px;
}
._size-one .logo__txt {
	font-size: 3rem;
}
._size-one .logo__let {
	padding: 0 .5rem;
}


/*Messages viewer*/
.msgview {
	padding: 6px 10px;
}
.msgview__item {
	max-width: 273px;
	min-height: 50px;
	padding: 10px 15px;
	margin-bottom: 8px;

	background-color: #fff;
	border: 1px solid rgb(209 209 209 / 25%);
	box-shadow: 0 4px 4px rgb(5 4 82 / 3%),
				0 12px 20px rgb(5 4 82 / 3%),
				0 30px 55px rgb(5 4 82 / 3%),
				0 100px 115px rgb(5 4 82 / 3%);
	border-radius: 10px 10px 10px 0;
	position: relative;
}
.msgview__item::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 5px solid #fff; 
	border-left: 6px solid transparent;
	position: absolute;
	right: 100%;
	bottom: 0;
}



/*Registration choice*/
.regchoice {
	
}
.regchoice__item {
	padding: 3.5px 0;
}
.regchoice__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 41px;
	padding: 12px 14px 11px;

	color: inherit;
	background-color: #EEF2FD;
	border: 1px solid #EC7EAB;
	border-radius: 14px 14px 14px 0;
	line-height: 1;
	text-align: center;
	text-decoration: none;
}
/*mode: content to right*/
.-ltr .regchoice__item {
	text-align: right;
}
.-ltr .regchoice__btn {
	border-radius: 14px 14px 0 14px;
}
/*content inner*/
.regchoice__img-gos {
	position: relative;
	top: 2px;
}



/*Item fieldset-box*/
.fieldsetbox__row {
	padding: 0;
}
.fieldsetbox__label {
	padding: 7px 10px;
	display: inline-block;
	font-size: 1.4rem;
	color: #012169;
}
.fieldsetbox__label:active {
	color: #5E8FFF;
	transform: scale(1.07);
}



/*Helper text*/
.helper-txt {
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
}


/*Button*/
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 61px;
	padding: 10px 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #DF5852;
	color: #fff;
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: 0.5s;
	/*filter: blur(30px);*/
	box-shadow: 0 8px 30px rgba(223, 88, 82, 0.5);
}
.btn:hover {
	text-decoration: none;
	background-color: #438bf8;
	color: #fff;
}
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 4px rgba(36, 110, 222, 0.5);
}
.btn:focus:active {
	transition: none;
	background-color: #1c5bb9;
}



/*SMS-code*/
.smscode {
	display: flex;
	justify-content: center;
}
.smscode__item {
	padding: 6px;
	width: 44px;
}
.smscode__input {
	width: 100%;
	text-align: center;
}
input.smscode__input {
	height: 37px;
	border-radius: 10px;
}


.circle-white {
	width: 318px;
	height: 318px;
	border: 35px solid #fff;
	box-shadow: 0px 17px 67px rgba(227, 237, 242, 0.8);
	border-radius: 50%;
}
.circle-color {
	width: 258px;
	height: 258px;
	background: #8BD7F4 linear-gradient(279deg, #8BD7F4 26%, #B8ECFC 59%);
	border-radius: 50%;
}


.art-scene {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
	position: relative;
}
.art-scene__pic {
	position: relative;
	z-index: 2;
}
.art-scene__pic-inner {
	width: 258px;
	height: 258px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -129px 0 0 -129px;
	overflow: hidden;
}
.art-scene__pic-med {
	position: relative;
	left: 4px;
	top: 16px;
}
/*content*/
.art-scene .circle-white {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -159px 0 0 -159px;
}
.art-scene .circle-color-wrap {
	width: 258px;
	height: 258px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -129px 0 0 -129px;
}
.art-scene .decor-leaves {
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: 60px;
}
.art-scene .decor-plus {
	position: absolute;
	right: 40px;
	top: 50%;
	z-index: 1;
}
.art-scene .graphic-cloud {
	z-index: 2;
}