/*Main*/
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	max-width: 375px;
	min-height: 100vh;
	padding: 14px;
	margin: auto;
	position: relative;
}


.pulse-circle {
	width: 470px;
	height: 470px;
	border-radius: 50%;
	box-shadow: 0px 17px 67px rgba(227, 237, 242, 0.71);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pulse-circle-2 {
	width: 674px;
	height: 674px;
}

/*Content layout*/
.cont-top {
	margin-bottom: auto;
}
.cont-center {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cont-bottom {
	margin-top: auto;
}


/*Header*/
.header {
	text-align: center;
	padding: 1.5rem 1rem 2.5rem;
	color: #012169;
}
.header__logo {
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}