/*Main*/
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	max-width: 576px;
	min-height: 100vh;
	padding: 14px;
	margin: auto;
}

/*Content layout*/
.cont-top {
	margin-bottom: auto;
}
.cont-center {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.cont-bottom {
	margin-top: auto;
}


/*Header*/
.header {
	text-align: center;
	padding: 1.5rem 1rem 2.5rem;
	color: #012169;
}
.header__logo {
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}