/* 1920px */
@media only screen and (max-width: 1920px) {
	.slider-photos__wrap {
		border-radius: 0;
	}
}

/* 1500px */
@media only screen and (max-width: 1500px) {
	.action-form__bg {
		border-radius: 0;
	}
}

/* 1280px */
@media only screen and (max-width: 1280px) {
	.sliderArticles-wrap {
		padding-bottom: 7rem;
		.swiper-prev {
			left: 50%;
			top: initial;
			bottom: 0;
			margin-left: -7rem;
		}
		.swiper-next {
			right: initial;
			left: 50%;
			top: initial;
			bottom: 0;
			margin-left: 2.5rem;
		}
	}
}

/* 1200px */
@media only screen and (max-width: 1200px) {
	.heading-1 {
		font-size: 8.5rem;
	}
	.heading-2 {
		font-size: 6.5rem;
	}
	.heading-3 {
		font-size: 5.5rem;
	}
	.action-form__form {
		padding-left: 0;
	}
	.format,
	.video-slider {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	.slider-photo-wrap {
		padding-left: 6.5rem;
		padding-right: 6.5rem;
		.swiper-prev {
			left: 0.5rem;
		}
		.swiper-next {
			right: 0.5rem;
		}
	}
	.tour-video {
		height: 72rem;
	}
	.catalog-aside {
		width: 33rem;
	}
	.article-container {
		column-gap: 1.5rem;
	}
	.article-aside {
		width: 42rem;
	}

	.hero-content {
		padding-bottom: 34rem;
	}

	.choise-tour__filter-content {
		flex-wrap: wrap;
		gap: 1rem;
		.select-item {
			flex-basis: 30%;
			flex-grow: 1;
		}
	}
}

/* 1200px */
@media only screen and (max-width: 1100px) {
	.header {
		column-gap: 2.5rem;
	}
	.action-form__form {
		padding-top: 3rem;
	}
	.format,
	.video-slider {
		margin-left: 0;
		margin-right: 0;
	}
	.questions-form {
		max-width: 68rem;
	}
	.review__header,
	.review__text {
		max-width: 400px;
	}
	.footer-content__left {
		width: 22%;
		flex-direction: column;
		row-gap: 2.5rem;
		.social-group {
			margin: 0;
		}
	}
	.footer-content__nav,
	.footer-content__feedback {
		width: 14%;
	}
	.footer-content__aside {
		width: 48%;
		max-width: 500px;
	}
	.footer-sending {
		width: 245px;
	}
	.footer__tel {
		font-size: 2.5rem;
	}
	.tour-card__content {
		padding-left: 3rem;
	}
	.tour-card__heading {
		font-size: 5.5rem;
	}
	.tour-video {
		height: 66rem;
	}
	.about-lager {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	.about-lager__descrp {
		padding: 4rem;
		background-size: 35%;
	}
	.about-tour__map {
		left: -100px;
	}
	.contacts-inputCountry {
		.iti {
			width: 100%;
			display: block;
		}
		input {
			display: block;
			width: 100%;
		}
	}
	.article-header__content {
		max-width: 450px;
	}
	.article-header__picture {
		align-self: flex-start;
	}
}

/* 992px */
@media only screen and (max-width: 992px) {
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="text"],
	input[type="search"],
	textarea {
		font-size: 1.8rem;
	}
	.burger ._top,
	.burger ._center,
	.burger ._bottom {
		height: 0.35rem;
	}
	.heading-1 {
		font-size: 8rem;
	}
	.heading-2 {
		font-size: 6rem;
	}
	.heading-3 {
		font-size: 5rem;
	}
	.hero__bg::after {
		background: linear-gradient(252.03deg, rgba(28, 18, 0, 0.09) 0%, rgba(28, 18, 0, 0.8) 60%);
	}
	.hero-content {
		min-height: 650px;
		max-width: 750px;
	}
	.format {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	.format-card__descrp {
		padding: 1.7rem;
		.btn._normal {
			min-height: 5rem;
			padding: 0.5rem 0.7rem 0.5rem 3rem;
		}
	}
	.action-block__info {
		max-width: 500px;
		padding: 5rem;
	}
	.current-tours-slider .card-block__img {
		height: 38rem !important;
	}
	.slider-photos .swiper-slide {
		height: 45rem;
	}
	.review__header {
		max-width: 350px;
	}
	.review__header,
	.review__text {
		max-width: 350px;
	}
	.choise__text {
		font-size: 11px;
	}
	.footer-content {
		row-gap: 5rem;
	}
	.footer-content__left {
		width: 50%;
	}
	.footer-content__nav {
		width: 25%;
	}
	.footer-content__feedback {
		width: 25%;
	}
	.footer-content__aside {
		width: 100%;
		max-width: 100%;
	}
	.footer-contact {
		width: 50%;
		max-width: 100%;
		text-align: left;
	}
	.tour-card__img {
		width: 100%;
		margin-bottom: 3rem;
		order: 0;
	}
	.tour-card__content {
		width: 100%;
		padding-left: 0;
	}
	.about-tour__map {
		left: -200px;
	}
	.about-tour__descrp {
		max-width: 400px;
		padding-left: 0;
		padding-right: 3rem;
	}
	.section-header__content {
		max-width: 90rem;
	}
	.season {
		max-width: 660px;
		margin-left: auto;
		margin-right: auto;
	}
	.catalog {
		column-gap: 1.5rem;
	}
	.blog-posts {
		.card-block__content {
			padding: 2rem;
		}
		.card-block__title {
			font-size: 2.5rem;
		}
		.card-block__img {
			height: 35rem;
		}
	}
	.article-header__content {
		max-width: 370px;
	}

	.article-container {
		flex-wrap: wrap;
	}
	.article-content {
		width: 100%;
		margin-bottom: 6rem;
	}
	.article-aside {
		width: 100%;
	}
	.article-aside__cards {
		justify-content: center;
		flex-direction: row;
		column-gap: 2rem;
		.card-block {
			border-bottom: 0;
		}
	}

	.home-filter__submit-btn {
		order: 1;
	}
}

/* 768px */
@media only screen and (max-width: 768px) {
	.header {
		column-gap: 2rem;
	}
	.hero-content__heading {
		font-size: 7rem;
		padding: 1rem 0;
	}
	.hero-content {
		min-height: auto;
		padding: 13rem 3rem 10rem;
	}

	.home-filter {
		position: static;
		margin: 5rem 0;
	}

	.choise-tour {
		position: static;
		padding-top: 5rem;
		color: initial;
		.nice-select {
			border-color: rgb(189, 189, 189);
		}
	}
	.choise-tour__inner {
		padding: 0 1rem;
	}
	.choise-tour__filter {
		&::before {
			display: none;
		}
	}
	.choise-tour__filter-content {
		background-color: #fff;
		border-radius: 2rem;
		padding: 3rem 2rem;
	}

	.popular {
		margin-left: -1rem;
		margin-right: -1rem;
		.card-block__result {
			padding-top: 0;
		}
	}
	.action-form .choise {
		max-width: 350px;
	}
	.action-block__info {
		max-width: 450px;
	}
	.current-tours {
		margin-left: -3rem;
		margin-right: -3rem;
	}
	.video-slider {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	.tour-card__heading {
		font-size: 5.2rem;
	}
	.about-tour__map {
		left: -230px;
		margin-top: -130px;
		.tour-author {
			right: initial;
			left: 270px;
		}
	}
	.about-tour__descrp {
		max-width: 280px;
		padding: 14rem 1rem 12rem 2rem;
		font-size: 1.8rem;
	}
	.about-lager {
		margin-left: 0;
		margin-right: 0;
	}
	.about-lager__descrp {
		padding: 6rem 4rem;
	}
	.daily-program__descrp {
		padding: 3rem 2rem;
	}
	.slider-image {
		.swiper-slide {
			min-height: 300px;
			max-height: 500px;
		}
	}
	.tour-video {
		height: 55rem;
	}
	.tour-dates-card__dates {
		font-size: 1.8rem;
	}
	.tour-dates-card__month {
		font-size: 2.5rem;
		._icon {
			margin-top: 0.1rem;
		}
	}
	.section-header__bg::after {
		background: linear-gradient(252.03deg, rgba(28, 18, 0, 0.25) 20%, rgba(28, 18, 0, 0.7) 50.06%);
	}
	.catalog {
		flex-wrap: wrap;
	}
	.catalog-aside {
		width: 100%;
		order: 2;
		.noUi-target {
			max-width: 400px;
		}
	}
	.catalog-content {
		margin-bottom: 2rem;
	}

	.article-header__content {
		max-width: 100%;
	}
	.article-header__picture {
		display: none;
	}
	.article-aside__cards {
		flex-wrap: wrap;
		.card-block {
			width: calc(50% - 2rem);
		}
	}
	.contacts__descrp-text {
		max-width: 400px;
	}
}

/* 576px */
@media only screen and (max-width: 576px) {
	.burger__icon {
		height: 2.3rem;
	}
	.header {
		padding: 1rem;
		column-gap: 1rem;
	}
	.header__tel {
		font-size: 1.7rem;
		margin-top: 0.4rem;
	}
	.hero-content {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.choise-tour__filter-content {
		.select-item {
			flex-basis: 47%;
		}
	}

	.home-filter {
		margin-top: 0;
	}
	.home-filter-season {
		margin-bottom: 1rem;
	}
	.home-filter-season__caption {
		width: 100%;
		margin-bottom: 1rem;
	}
	.home-filter-season__choise {
		padding-left: 0;
		column-gap: 2rem;
		&::before {
			display: none;
		}
	}

	.hero {
		background-color: transparent;
		color: initial;
		.badge {
			color: #fff;
		}
	}
	.hero__bg {
		height: 60rem;
		&::after {
			opacity: 0.8;
		}
	}
	.hero-content {
		padding: 55rem 1rem 0;
	}
	.hero-content__badges {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 100%;
		margin-bottom: -48rem;
	}

	.choise-tour {
		padding-top: 0;
	}

	.card-block__img .note-mark {
		top: 3rem;
	}
	.section-heading {
		padding: 3rem 0;
	}
	.action-form {
		padding: 0 1rem;
		&.any-questions-left {
			max-width: 100%;
			min-height: auto;
			.action-form__bg {
				display: none;
			}
		}
	}
	.questions-form {
		max-width: 100%;
		padding-left: 4.5rem;
	}
	.action-form__inner {
		padding-top: 8rem;
	}
	.action-form__bg {
		left: 0;
	}
	.action-block__info {
		padding: 4rem 3rem;
	}
	.format {
		margin-left: 0;
		margin-right: 0;
	}
	.format-card {
		height: 46rem;
	}
	.format-card__descrp {
		flex-direction: column;
		row-gap: 1rem;
		padding: 1.5rem;
	}
	.format-card__title {
		font-size: 2.2rem;
	}
	.note-mark {
		padding-top: 0.3rem;
	}
	.current-tours {
		margin: 0 -1rem 3rem;
		padding: 6rem 0 4rem;
	}
	.current-tours-slider__wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.current-tours-slider {
		padding-left: 1rem;
		border-radius: 0;
	}
	.video-slider {
		margin-left: 0;
		margin-right: 0;
	}
	.review__content {
		max-width: 380px;
		margin: 0 auto;
	}
	.about-us {
		max-width: 380px;
		margin: 0 auto;
	}
	.about-us__header.row {
		text-align: center;
	}
	.social-group {
		max-width: 200px;
	}
	.footer-content__left {
		width: 100%;
		flex-direction: row;
		.social-group {
			margin-left: auto;
			justify-content: flex-end;
		}
	}
	.footer-content__nav,
	.footer-content__feedback {
		width: 50%;
	}
	.footer-content__aside {
		flex-wrap: wrap;
		row-gap: 5rem;
	}
	.footer-sending {
		width: 100%;
		max-width: 300px;
	}
	.footer-contact {
		width: 100%;
	}
	.tour-card__content {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.about-tour__descrp {
		max-width: 440px;
		padding: 9rem 2rem;
		margin: 0 auto;
		text-align: center;
	}
	.about-tour__map {
		left: 50%;
		margin-top: -190px;
		margin-left: -380px;
	}
	.about-tour__map::after {
		content: "";
		width: 100%;
		height: 300px;
		background: linear-gradient(rgba(66, 61, 55, 0), var(--dark) 50%, rgba(66, 61, 55, 0));
		position: absolute;
		left: 0;
		top: -150px;
	}
	.tour-video {
		height: 45rem;
	}
	.tour-price {
		padding-top: 3rem;
	}
	.tour-operator__content {
		padding: 4rem 1rem 1rem;
	}
	.tour-operator__card-icon {
		height: 5rem;
	}
	.tour-operator__card {
		padding: 2rem;
	}
	.tour-operator__card-text {
		font-size: 1.7rem;
	}
	.tour-operator__heading {
		text-align: center;
	}
	.section-header__content {
		padding: 3rem 2.5rem;
	}
	.season {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
	.article-aside__cards {
		.card-block {
			width: 100%;
		}
	}
	.sliderArticles-wrap {
		padding: 0;
		margin-bottom: -3rem;
	}

	.section-header__bg {
		border-radius: 0;
	}

	.home-filter__submit-btn .btn {
		width: 100%;
	}
}

/* 530px */
@media only screen and (max-width: 530px) {
	.slider-photo-wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.mfp-close {
		right: -2rem;
		top: -4rem;
	}
}

/* 440px */
@media only screen and (max-width: 440px) {
	.choise-tour__filter-content {
		.select-item {
			flex-basis: 100%;
		}
	}
	.heading-1 {
		font-size: 7rem;
	}
	.heading-2 {
		font-size: 5.5rem;
	}
	.heading-3 {
		font-size: 4.5rem;
	}
	.heading-4 {
		font-size: 3.75rem;
	}
	.heading-5 {
		font-size: 3rem;
	}
	.heading-6 {
		font-size: 1.8rem;
	}
	.badge {
		font-size: 1.7rem;
	}
	.badge__inner {
		padding-bottom: 0.7rem;
	}
	.badge__circle {
		width: 0.7rem;
		height: 0.7rem;
	}
	.header__aside .btn._small {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.hero-content__heading {
		font-size: 5.7rem;
	}
	.hero-content .btn-group {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 2rem;
	}
	.video-slider {
		margin-right: -1.2rem;
	}
	.slider-photo .swiper-slide {
		height: 38rem;
	}
	.tour-card__content {
		padding-left: 1rem;
		padding-right: 0;
	}

	.card-block__img {
		height: 34rem;
	}
}
