html {
	overflow-x: hidden;
	font-size: 10px;
}

body {
	overflow-x: hidden;
	font: 500 2.02em/1.13 "TTCommons",sans-serif;
	color: $black;
}

p {
	margin: 0;
}

b , strong {
	font-weight: bold;
}

h1 , h2 , h3 , h4 , h5 , h6,
.h1 , .h2 , .h3 , .h4 , .h5 , .h6 {
	margin-bottom: 0;
	font-weight: bold;
}

h1 , .h1 {
	font-size: 60px;
}

h2 , .h2 {
	font-size: 50px;
}

h3 , .h3 {
	font-size: 40px;
}

h4 , .h4 {
	font-size: 30px;
}


// horizontal line
hr , .hr {
	border: 0;
	height: 4px;
	background-color: $black;
	margin: 0;
}


ul , ol {
	list-style: none;
	padding: 0;
	margin: 0;
}


// containers
.container-1800 {
	width: 100%;
	max-width: 1830px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}


// colors
.c-white {
	color: white;
}


// text transform
.t-upper {
	text-transform: uppercase;
}


// text align
.t-center {
	text-align: center;
}


// text -weight
.t-light {
	font-weight: 300;
   line-height: 1.35;
   letter-spacing: .008em;
}

.t-regular {
	font-weight: normal;
}

.t-medium {
	font-weight: 500;
}

.t-bold {
	font-weight: bold;
}


// text util
.letter-spacing--1 {
	letter-spacing: .1em;
}

.letter-spacing--2 {
	letter-spacing: .2em;
}

.letter-spacing--3 {
	letter-spacing: .3em;
}


// images
.object-fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


// max-width boxing
.max-w--340 {
	width: 100%;
	max-width: 340px;
}

.max-w--400 {
	width: 100%;
	max-width: 400px;
}

.max-w--500 {
	width: 100%;
	max-width: 500px;
}


.margin-auto {
	margin-left: auto;
	margin-right: auto;
}