// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1210px);
$container-max-widths: (sm: 576px, md: 768px, lg: 992px, xl: 1210px);

$gutter: $grid-gutter-width;


// colors
$black: #444;
$accent: #ffc905;