
@font-face {
  font-family: 'Panton-Regular';
  src: url('Panton-Regular.eot?#iefix') format('embedded-opentype'),  url('Panton-Regular.otf')  format('opentype'),
	     url('Panton-Regular.woff') format('woff'), url('Panton-Regular.ttf')  format('truetype'), url('Panton-Regular.svg#Panton-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
