@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background: url('../img/header.jpg') no-repeat center bottom / cover;
	&__top {
		padding: 20px 0;
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__content {
		margin: 50px 0 auto;
	}
	&__offer {
		&-text {
			max-width: 620px;
		}
	}
}

.footer {
	background-color: rgba(#201e23, .95);
	padding: 15px 0;
	letter-spacing: .01em;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__copy {
		margin-left: 55px;
	}
}

@import "media";
