/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.container {
	width: 100%;
}
.header-contact{
	&--item {
		margin-left: 50px;
	}
}
.s-header-content {
	background: none;

	&.bg-s-header {
		background: none;
	}

	& .container {
		display: block;
	}
	& aside {
		margin: 0 auto;
	}
}
.cat-nav {
	display: none;
}
.cat-btn {
	&::before {
		display: none;
	}
}

.search::after {
	display: none;
}

.wrap-product {
	background: none;
}

.publication-item {
	width: 33%;

	& p {
		font-size: 15px;

		& br {
			display: none;
		}
	}
}

.our-advantages {
	background: none;

	& p {
		text-align: justify;
		font-size: 15px;

		& br {
			display: none;
		}
	}
}

.working {
	&::before {
		display: none;
	}
	& .col {
		padding-left: 15px;

		&:nth-child(2) {
			&::before {
				left: -19px;
			}
			&::after {
				right: -19px;
			}
		}

		& p br {
			display: none;
		}
	}
}

.owl-review {
	& .owl-dots {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);

		& .owl-dot span {
			box-shadow: none;
			margin: 0 2px;
			background: #f5f5f5;
		}
	}
}


.s-info {
	&::after {
		display: none;
	}
}
.description-box {
	& p::after {
		display: none;
	}
}

.search-goods {

	&-content {
		margin-bottom: 100px;
		padding-left: 5px;
		padding-right: 5px;

		& .product-item {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

.s-review {
	background: none;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.s-top {
	margin-bottom: 20px;
}

.your-city {
	display: none;
}

.main-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	& a {
		margin: 2px 10px;
	}
}

.header {
	& .container {
		flex-direction: column;
	}
	&-contact {
		width: 100%;
		justify-content: space-between;
		flex: wrap;
		padding: 15px 0;

		&--item {
			margin: 0;
			width: 33.33%;
			display: flex;
			flex-direction: column;
			align-items: center;

			& a {
				top: 0;
			}
		}
	}
}

.s-header-content {
	& aside {
		width: 100%;

	}
}
.header-banners {
	width: 550px;
	margin: 0 auto;
}
.banner-550x400 {
	margin-bottom: 20px;
}
.banner-308x190 {
	width: 265px;
	float: left;
	margin-right: 20px;

	&:nth-child(2) {
		margin-right: 0;
	}

	& .banner-info {
		font-size: 14px;
	}
}

.cat-nav--modal {
	& ul {
		width: 700px;
	}
}
.close-icon {
	top: -35px;
	right: -5px;
}

.advantages {
	width: auto;
	height: auto;
	padding: 10px 0;
	margin: 0 15px;

	& li {
		width: 33.33%;
		padding: 0 25px;
		font-size: 14px;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			width: 33.33%;
		}

		& br {
			display: none;
		}
	}
	& i {
		margin: 0 0 10px;
	}
}

.owl-product {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.publication {
	padding-bottom: 35px;

	&-container {
		justify-content: center;
	}

	&-item {
		width: calc(50% - 15px);
		margin: 0 7.5px 65px;

		&:last-child {
			margin-bottom: 25px;
		}
	}

	& footer {
		text-align: center;
		font-size: 20px;
	}
}

.our-advantages {
	padding-bottom: 50px;

	& .row {
		flex-wrap: wrap;
		padding-left: 50px;
		padding-right: 50px;

		& .col {
			flex-basis: inherit;
			width: 50%;
			padding-bottom: 20px;
		}
	}
}

.working {

	& h3 {
		justify-content: center;
	}

	& .row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-left: 50px;
		padding-right: 50px;

		& .col {
			width: 50%;
			text-align: center;
			min-height: auto;
			padding-bottom: 25px;

			&:nth-child(2) {
				&::before,
				&::after {
					display: none;
				}
			}
			&:nth-child(3) {
				max-width: 80%;
			}
		}
	}
}

.s-info {
	& p {
		font-size: 17px;
		margin-bottom: 20px;
	}
}

.logo-white {
	width: 130px;
	height: 105px;
}

.footer {
	padding-bottom: 20px;

	&-top {
		flex-wrap: wrap;
	}
	&-nav {
		order: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		padding: 15px 0;

		& a {
			margin: 5px 10px;
		}

		& br {
			display: none;
		}
	}
}


.viewed {

	& h3 {
		text-align: center;
	}
	& .product-catalog {
		justify-content: center;
	}
	.product-item {
		margin-left: auto;
		margin-right: auto;
	}
}


.review-add {
	justify-content: center;
}

.description-box {
	padding-left: 15px;
	padding-right: 15px;
}

.product {
	&-catalog {
		& .product-item {
			width: 40%;
		}
	}
}

.cart {
	&-info {
		padding-right: 20px;
		flex-direction: row-reverse;
	}
	&-description {
		width: auto;
		padding-left: 15px;
		padding-right: 20px;
	}
	&-img {
		height: auto;
		margin-right: 50px;
	}
}

.compare {
	&-title {
		margin-right: 40px;
	}
	&-table {
		margin: 0 40px 100px 30px;
		width: auto;

		& thead td:first-child {
			width: auto;
		}
	}
}

.search-goods {
	&-bar {
		padding-bottom: 15px;

		& .title-right {
			display: none;
		}
	}
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.wrapper-header {
	overflow: hidden;
}

.header {
	&-contact {
		&--item {
			width: 50%;

			&:nth-child(2) {
				display: none;
			}
		}
	}
}

.cat-nav--modal {
	padding: 15px;

	& ul {
		padding: 15px;
	}

	& li {
		padding: 0;
		width: 50%;
	}
	& a {
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;

		& i {
			margin-bottom: 10px;
		}
	}
}

.search {
	width: auto;
}

.cat-nav--modal {
	& ul {
		width: 400px;
	}
}

.header-banners {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.banner-550x400 {
	width: 100%;
	height: auto;
	margin-bottom: 15px;

	& img {
		max-width: 100%;
	}
}
.banner-550x400 {
	margin-bottom: 10px;
}
.banner-308x190 {
	width: 50%;
	margin-right: 0;

	&:nth-child(1) {
		margin-right: 5px;
		width: calc(50% - 5px);
	}
	&:nth-child(2) {
		margin-left: 5px;
		width: calc(50% - 5px);
	}

	& img {
		max-width: 100%;
	}
}
.owl-product {
	padding-left: 5px;
	padding-right: 5px;
}
.product-item {
	width: 100%;
}

.publication {
	&-item {
		width: 100%;
	}
}

.our-advantages {
	& .row {
		padding-left: 30px;
		padding-right: 30px;

		& .col {
			width: 100%;
			text-align: center;
		}
	}
	& p {
		width: 100%;
		margin: 0 auto;
	}
}

.working {
	& .row {
		flex-wrap: wrap;

		& .col {
			width: 100%;
			flex-basis: inherit;
		}
	}
	& h3 {
		flex-direction: column;
		padding: 10px 0;
	}
	& [class^="i-"] {
		margin-bottom: 10px;
	}
}
.s-title {
	padding-left: 15px;
	padding-right: 15px;
} 

.review {
	&-item {
		width: 100%;
		flex: wrap;
	}
	&-info {
		max-width: 300px;

		& p br {
			display: none;
		}
	}
}

.subscribe {
	background-image: none;

	& h3 {
		font-size: 20px;

		& br {
			display: none;
		}
	}

	& input {
		width: 300px;
		margin-bottom: 15px;
	}

	& .btn-user {
		width: 300px;
	}
}

.footer {
	padding-bottom: 60px;

	&-nav {
		& a {
			font-size: 16px;
		}
	}
	&-top {
		padding-bottom: 15px;
	}
	&-bottom {
		font-size: 14px;
		flex-wrap: wrap;
	}
	&-social {
		order: -1;
		width: 100%;
		padding-bottom: 15px;
		text-align: center;
	}
}

.user-bar {
	top: inherit;
	bottom: 0;
	right: inherit;
	left: 0;
	transform: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: $color-aqua;
	width: 100%;

	& a {
		width: 50px;
		height: 50px;
		margin: 0 4px;
		border-radius: 0;
		position: relative;

		&[data-tooltip-location="left"]:before,
		&[data-tooltip-location="left"]:after {
		  display: none;
		}
	}
}

.product {
	&-sorting {
		padding-left: 0;
		padding-bottom: 20px;
		flex-direction: column;
		text-align: center;

		& h4 {
			padding-bottom: 15px;
			font-size: 26px;
		}

		& p {
			font-size: 15px;

			& span {
				opacity: .5;
			}
		}
	}

	&-catalog {
		padding: 0 50px;
		justify-content: center;

		& .product-item {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
}

.blog {
	&-item {
		width: calc(50% - 20px);
		margin-right: 20px;

		& h3 {
			font-size: 16px;
		}
		& p {
			font-size: 13px;
		}
	}
}

.wrap-bg {
	background: none;
	min-height: auto;
}

.s-review {
	& .review-item {
		flex-direction: column;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	& .review-photo {
		width: 110px;
		height: 110px;
		margin-bottom: 15px;
	}
	& .review-info {
		padding-left: 0;
		flex-direction: column;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
	& .review-name {
		width: auto;
		text-align: center;
		margin-bottom: 20px;

		& span::after {
			left: 50%;
			margin-left: -15px;
		}
	}
	& .review-text p {
		padding-right: 0;

		& br {
			display: none;
		}
	}
}

.cart {

	&-info {
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	&-img {
		width: 100%;
		margin-right: 0;
		margin-bottom: 	20px;
	}
	&-description {
		padding-left: 0;
		padding-right: 0;
	}
}

.viewed {
	&-wrap {
		& .product-item {
			width: 50%;
			padding-left: 3px;
			padding-right: 3px;
		}
	}
}

.compare {

	&-scroll {
		overflow-x: scroll;
	}

	&-title {
		margin-right: 0;
	}
	&-table {
		margin: 0 0 100px 0;
		width: 760px;
	}
}

.search-goods {
	&-bar {
		flex-direction: column;
		align-items: center;

		& a {
			margin-bottom: 10px;
			display: inline-flex;
			flex-direction: row-reverse;

			& i {
				margin: 0 10px 0 0;
			}
		}
	}
	& .m-code-checkbox {
		margin-bottom: 15px;
	}
	&-input {
		margin-bottom: 15px;

		& input {
			height: 30px;
		}
		& button {
			top: 8px;
		}
	}
	&-content {
		flex-wrap: wrap;

		& .product-item {
			width: 45%;
		}
	}
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 540px) {

html {
	width: 100%;
	overflow-x: hidden;
}

#sandwich-1 {
	visibility: visible;
}

.s-top {
	display: none;
}

.header {

	& .container {
		padding-top: 10px;
	}

	&-contact {
		padding-top: 0;
	}

	&-contact--item {
		align-items: flex-start;

		&:last-child {
			align-items: flex-end;
		}

		& h6 {
			font-size: 15px;
		}
		& p {
			font-size: 24px;
		}
		& a {
			font-size: 12px;
		}
	}
}

.cat-nav--modal {
	ul {
		width: 380px;
	}
	a {
		font-size: 14px;
	}
}

.main-nav a {
	font-size: 12px;
}

.i-store {
	width: 34px;
	height: 34px;
}
.i-mobile {
	width: 26px;
	height: 26px;
}

.cat-btn {
	font-size: 22px;
}
.search {
	& input {
		padding-left: 15px;
		font-size: 25px;
	}
	& hr {
		width: 100%;
		left: 15px;
	}
}

.owl-banner .owl-dots {
	bottom: inherit;
	top: 0;
	margin-top: 0;
}

.banner-info {
	font-size: 14px;
	width: 100%;
	border-top-right-radius: 0;
}

.banner-308x190 {
	height: 150px;

	& .banner-info {
		font-size: 12px;
	}
}


.advantages {
	& li {
		padding: 0 10px;
		font-size: 12px;
	}
}

h2 {
	font-size: 27px;
}
.product-item {
	width: 290px;
}

.review {
	&-item {
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
		padding: 15px;
	}
	&-photo {
		margin: 0 auto 15px;
	}
	&-info {
		padding-left: 0;
		text-align: center;

		& p::before {
			left: 50%;
			margin-left: -15px;
		}
	}
}
.subscribe {
	& input,
	& .btn-user {
		margin-left: auto;
		margin-right: auto;
	}
}
.s-info {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}
.s-info h2 {
	text-align: center;
}

.footer {
	&-bottom {
		justify-content: center;
		text-align: center;
	}
	&-copyright {
		margin-bottom: 15px;
	}
	&-links {
		text-align: center;

		& a {
			text-decoration: underline;
			display: inline-block;
			margin-bottom: 5px;
		}
	}
}

.viewed {

	.product-item {
		width: 290px;
	}
}


.blog {
	&-item {
		width: auto;
		margin-left: 40px;
		margin-right: 50px;
		text-align: center;
	}
	& p {
		font-size: 15px;
	}
}

.product {
	&-catalog {
		& .product-item {
			width: 100%;
		}
	}
}

.search-goods {

	&-content {
		flex-wrap: wrap;

		& .product-item {
			width: 100%;
		}
	}
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}