.wrapper-header {
	padding-bottom: 200px;
	margin-bottom: -190px;
	background: #f9f4ef url('../img/bg-header-texture.png');
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 150px;
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

// Section: .s-top
.s-top {
	background-color: $color-aqua;
	position: relative;
	font-size: 14px;

	&::after {
		content: '';
		width: 100%;
		height: 6px;
		background: url('../img/bg-top.png') repeat-x;
		position: absolute;
		left: 0;
		top: 100%;
	}

	& .container {
		display: flex;
		justify-content: space-between;
		padding: 6px 15px;
	}

	& > .container {
		&:before,
		&:after {
			display: none;
		}
	}
}
.your-city {
	color: rgba(#828282, .8);
	line-height: 1;
	margin-left: -9px;

	& i {
		display: inline-block;
		color: $color-red;
		font-size: 17px;
		margin-right: 5px;
	}

	& a {
		display: inline-block;
		color: rgba($color-dark, .8);
		text-decoration: none;
		border-bottom: 1px dotted rgba($color-dark, .5);

		&:hover {
			color: $color-pink;
		}
	}
}
.main-nav {

	& a {
		display: inline-block;
		color: rgba($color-dark, .8);
		text-decoration: none;
		margin-left: 20px;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Section: .header
.header {
	margin-bottom: 4px;

	& .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	& > .container {
		&:before,
		&:after {
			display: none;
		}
	}

	&-contact {
		display: flex;

		&--item {
			margin-left: 90px;
			text-align: right;
			position: relative;

			& h6 {
				font: 18px 'Phenomena-Regular';
				padding-top: 11px;
			}

			& p {
				display: flex;
				align-items: center;
				font: 32px 'LifehackSans-Bold';
			}
		}
	}
}

.callback-link {
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	border-bottom: 1px dotted #959290;
	color: $color-pink;
	transition: .5s;
	position: relative;
	top: -5px;
	cursor: pointer;

	&:hover {
		border-bottom-color: $color-blue;
		color: $color-blue;
	}
}
.callback-form {
	visibility: hidden;
	opacity: 0;
	transition: .5s;
	width: 300px;
	padding: 25px 15px;
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	z-index: 5;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 5px;
	box-shadow: 0 5px 55px rgba(0,0,0,.4);

	&::before {
		content: '';
		width: 20px;
		height: 10px;
		-webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
		clip-path: polygon(50% 0, 0% 100%, 100% 100%);
		background: #fff;
		position: absolute;
		right: 10px;
		top: -10px;
		z-index: 5;
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	& input {
		width: 100%;
		margin: 0;
		font-size: 15px;
		height: 42px;
		margin-bottom: 10px;

		&:focus {
			transform: scale(1.03);
		}

		&::-webkit-input-placeholder {
			opacity: .5;
		}
		&:-moz-placeholder {
			opacity: .5;
		}
		&::-moz-placeholder {
			opacity: .5;
		}
		&:-ms-input-placeholder {
			opacity: .5;
		}
	}

	& .btn-user {
		width: 100%;
		height: 42px;
		margin: 0;

		&:focus {
			transform: scale(1.03);
		}
	}
}

// Section: .s-search
.s-search {
	height: 53px;
	background-color: $color-pink;
	color: #fff;
	position: relative;
	z-index: 4;

	& .container {
		padding: 0;
	}

	&::before {
		content: '';
		width: 100%;
		height: 30px;
		background: url('../img/bg-show.png') no-repeat center;
		position: absolute;
		left: 0;
		top: -7px;
	}

	& .container {
		display: flex;
		justify-content: space-between;
	}

	& > .container {
		&:before,
		&:after {
			display: none;
		}
	}

	& .sandwich-box {
		display: flex;
		height: 100%;
		align-items: center;
	}
}
.cat-btn {
	width: 278px;
	height: 53px;
	position: relative;
	font: 30px 'LifehackSans-Bold';
	background: rgba(#000,.015);
	letter-spacing: .03em;

	&.open::before {
		display: none;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}

	&::after {
		content: '';
		width: 15px;
		height: 51px;
		background: url('../img/bg-shadow--small.png') right;
		position: absolute;
		right: -15px;
		bottom: 0;
		opacity: .2;
	}
}

// Section: .s-header-content
.s-header-content {
	min-height: 300px;

	&.bg-s-header {
		background: url('../img/bg-img--4.jpg') no-repeat right 80%;
	}

	& .container {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	& > .container {
		&:before,
		&:after {
			display: none;
		}
	}

	& aside {
		width: 880px;
	}
}
.wrapper-header .s-header-content {
	background: url('../img/bg-header.png') no-repeat center 20%;
}

.header-banners {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 35px 0 23px;
}
.banner-info {
	max-width: 357px;
	border-top-right-radius: 9px;
	background-color: $color-orange;
	position: absolute;
	left: 0;
	bottom: 0;
	font: 16px/1.1 'Panton-BoldItalic';
	padding: 7px 24px 5px 17px;
	transition: .5s;
}
.owl-banner {
	& .owl-dots {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
}
.banner-550x400,
.banner-308x190 {
	display: block;
	overflow: hidden;
	position: relative;
	background: $color-silver;
	border-radius: 5px;
	transition: .5s;

	&:hover {
		box-shadow: 0 5px 40px rgba(#000,.3);
		transform: scale(1.05);
		z-index: 1;
	}
	&:active {
		transition: none;
		box-shadow: 0 5px 20px rgba(#000,.3);
		transform: scale(1);
	}
}
.banner-550x400 {
	width: 550px;
	height: 400px;
}
.banner-308x190 {
	width: 308px;
	height: 190px;
	margin-bottom: 20px;

	& .banner-info {
		width: 100%;
		border-top-right-radius: 0;
		padding-right: 5px;
	}
}
.banner--item {
	display: block;
	position: relative;
	color: $color-dark;
	transition: .5s;

	&:hover {
		color: $color-dark;

		& .banner-info {
			background-color: $color-aqua;
		}
	}
}


.advantages {
	display: flex;
	flex-wrap: wrap;
	width: 880px;
	height: 88px;
	border-radius: 0 0 4px 4px;
	background-color: #f5f5f5;
	box-shadow: 0 25px 30px -35px #000;
	padding: 0 22px 0 16px;

	& li {
		display: flex;
		align-items: center;
		font: normal 15px 'Panton-BoldItalic';
		letter-spacing: .025em;

		&:nth-child(1) {
			width: 257px;
		}
		&:nth-child(2) {
			width: 320px;
		}
		&:nth-child(3) {
			width: auto;
		}
	}

	& i {
		margin-right: 20px;
	}
}

.cat-nav {
	width: 278px;
	background-color: #fff;
	box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 8px 8px;
	padding-bottom: 15px;

	& a {
		height: 50px;
		display: flex;
		align-items: center;
		position: relative;
		padding: 0 10px;
		transition: .3s;
		text-decoration: none;
		font: 16px/1.1 'Panton-RegularItalic';
		color: $color-dark;

		&::after {
			content: '';
			width: 52px;
			height: 1px;
			background: $color-silver;
			position: absolute;
			left: 0;
			bottom: 0;
			transition: .3s;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		&:hover {
			background-color: $color-aqua;
			text-shadow: 0 1px 0 #fff;

			&::after {
				background: $color-pink;
			}
		}
	}
	& i {
		margin-right: 15px;
	}
}

.cat-nav--modal {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	& ul {
		width: 800px;
		background: #fff;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	& li {
		width: 33.33%;
		padding: 10px;
	}
	& a {
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 1.1;
		padding: 10px;
		text-decoration: none;
		color: $color-dark;
		border-radius: 10px;

		&:hover {
			background: rgba($color-blue, .2);
		}
		&:active {
			background: rgba($color-blue, .3);
		}

		& i {
			margin-right: 10px;
		}
	}
}

.wrap-layout {
	max-width: 1920px;
	min-width: 1170px;
	position: relative;
	margin: 0 auto;

	.inner-layout {
		width: 1920px;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -960px;
	}
}

.wrap-product {
	background: url('../img/bg-img--1.jpg') no-repeat right 50%;
	margin-bottom: 100px;
	position: relative;
	z-index: 1;

	& .container {
		padding: 0;
	}
}
.owl-product {
	margin-bottom: -50px;

	& .owl-stage-outer {
		border-radius: 5px 5px 10px 10px;
		padding-bottom: 50px;
	}
	& .owl-item img {
		display: inline-block;
		width: auto;
	}
	& .owl-nav {
		position: absolute;
		right: 14px;
		top: -46px;
	}
}
.product {
	&-item {
		display: block;
		width: 291px;
		height: 351px;
		margin: 0 auto;
		position: relative;

		&:hover {
			z-index: 1;
		}
	}
	&-link {
		display: block;
		width: 100%;
		height: 301px;
		border-radius: 5px 5px 10px 10px;
		border: 1px solid #ececec;
		background-color: #fff;
		position: relative;
		color: $color-dark;
		transition: .5s;
		text-decoration: none;

		&.hit::before {
			content: '';
			width: 63px;
			height: 63px;
			background: url('../img/hit-sale.png');
			position: absolute;
			top: -2px;
			right: -2px;
		}

		&:hover {
			border-color: $color-orange;
			height: 100%;

			& .pricebox {
				color: $color-dark;
			}
		}

		&:active {
			top: 0;
			transition: none;
			transform: scale(.95);
			border-color: $color-blue;
		}

		& picture {
			height: 180px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& h4 {
			font: 16px 'PantonRegular';
			text-align: center;
		}

		& .pricebox {
			position: absolute;
			right: 0;
			top: 243px;
			color: $color-dark;
			z-index: 2;
		}
	}

	&-bar {
		display: flex;
		width: 100%;
		height: 50px;
		position: absolute;
		left: 0;
		bottom: 50px;
		transition: .5s;
		visibility: hidden;
		opacity: 0;

		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 33.33%;
			height: 50px;
			position: relative;
			transition: .3s;

			&:hover {
				background: rgba($color-orange,.1);
			}

			&:first-child {
				border-bottom-left-radius: 10px;
			}
			&:nth-child(3) {
				border-bottom-right-radius: 10px;
			}

			&[data-tooltip]:before {
				padding: 7px 12px;
			}
		}

		& .i-cart {
			width: 30px;
			height: 29px;
		}
	}

	&-item {
		&:hover {
			& .product-link {
				height: 100%;
				border-color: $color-orange;
			}

			& .product-bar {
				visibility: visible;
				opacity: 1;
				bottom: 0
			}
		}
	}
}
.pricebox {
	display: inline-block;
	height: 38px;
	min-width: 80px;
	background-color: $color-orange;
	position: relative;
	line-height: 39px;
	padding: 0 15px;

	&::before {
		content: '';
		width: 14px;
		height: 38px;
		background: url('../img/sprite-pricebox.png');
		position: absolute;
		left: -14px;
		top: 0;
	}
	&::after {
		content: '';
		width: 80px;
		height: 7px;
		background: url('../img/sprite-pricebox.png') right top;
		position: absolute;
		left: 0;
		bottom: -7px;
	}

	& strong {
		display: inline-block;
		padding-left: 9px;
	}
}

.publication {
	padding: 36px 0 18px;
    background: #f1ece3 url(../img/bg-texture.jpg) center top;
    margin-bottom: 30px;
    position: relative;
    margin-bottom: -74px;

	&::before {
		content: '';
		width: 100%;
		height: 30px;
		background: url('../img/bg-texture--top.jpg');
		position: absolute;
		left: 0;
		top: -30px;
	}

	&::after {
		content: '';
		width: 100%;
		height: 36px;
		background: url('../img/bg-shadow-publication.png') no-repeat center;
		position: absolute;
		left: 0;
		bottom: -36px;
	}

	& h2 {
		color: $color-red;
		margin-bottom: 58px;
	}

	& .container {
		position: relative;
		z-index: 2;
	}

	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 6px;
	}

	&-item {
		width: 364px;
		background-color: #fff;
		border-radius: 10px;
		position: relative;
		padding: 34px 20px 5px;
		margin-bottom: 20px;
		color: $color-dark;
		text-decoration: none;

		&::after {
			content: '';
			width: 91.2%;
			height: 9px;
			background-color: #fafafa;
			position: absolute;
			left: 4.4%;
			bottom: -9px;
			border-radius: 0 0 9px 9px;
			transition: .5s;
		}

		& .i-logo {
			position: absolute;
			left: 50%;
			top: -40px;
			transform: translateX(-50%);
		}

		& h3 {
			font: 20px/1.1 'PantonRegular';
			margin-bottom: 17px;
			letter-spacing: .03em;
			transition: .5s;
		}

		& p {
			line-height: 1.1;
		    margin-bottom: 6px;
		}

		&:hover {
			color: $color-dark;

			&::after {
				background: $color-aqua;
			}

			& h3 {
				color: $color-pink;
			}
		}
	}

	& footer {
		text-align: right;

		& a {
			font-size: 14px;
			color: $color-dark;
			text-decoration: none;

			&:hover {
				color: $color-pink;
			}
		}
	}

}


.our-advantages {
	text-align: center;
	background: url('../img/bg-img--2.png') no-repeat left 16px;
	padding: 100px 0 110px;
	position: relative;
	z-index: 1;

	& h3 {
		height: 50px;
		font-family: 'PantonRegular';
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& p {
		text-align: left;
		line-height: 1.2;
	    padding-top: 7px;
	}

	& .row {
		padding-top: 24px;
		display: flex;

		& .col {
			width: 25%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.working {
	background: $color-pink--light;
	overflow: hidden;
	position: relative;
	margin-bottom: 52px;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url('../img/bg-img--3.jpg') no-repeat right center;
		margin-left: 80px;
	}

	& .container {
		position: relative;
		z-index: 1;
	}

	& .row {
		display: flex;

		&:before,
		&:after {
			display: none;
		}
	}

	& .col {
		width: 33.33%;
		padding-left: 68px;
		padding-right: 15px;
		position: relative;
		min-height: 242px;

		&:nth-child(1) {
			color: $color-green;
		}

		&:nth-child(2) {
			color: $color-orange;

			&::before,
			&::after {
				content: '';
				width: 19px;
				height: 242px;
				background: url('../img/bg-shadow-working.jpg') no-repeat left top;
				position: absolute;
				left: 0;
				top: 0;
			}
			&::after {
				background-position: right top;
				left: inherit;
				right: 0;
			}
		}

		&:nth-child(3) {
			color: $color-red;
		}

		& p {
			color: $color-dark;
		}
	}

	& h3 {
		display: flex;
		align-items: center;
		font: normal 36px 'PantonRegular';
		text-transform: uppercase;
		padding: 14px 0px 22px;
	}

	& p {
		line-height: 1.3;
	}
}


.review {
	margin-bottom: 60px;

	& footer {
		max-width: 1170px;
		padding: 0 15px;
		text-align: right;
		font-size: 14px;
		margin: 0 auto;

		& a {
			text-decoration: none;
			color: $color-dark;

			&:hover {
				color: $color-pink;
			}
			&:active {
				color: $color-blue;
			}
		}
	}

	& .owl-stage-outer {
		padding: 40px 0 55px;
	}

	&-item {
		display: flex;
		width: 570px;
		background: $color-pink--light;
		border-radius: 10px;
		padding: 27px 30px 35px 30px;
		position: relative;

		&::after {
			content: '';
			width: 236px;
			height: 30px;
			background: url('../img/bg-shadow-review.png') no-repeat;
			position: absolute;
			right: 0;
			top: 100%;
			opacity: .6;
		}

		& .i-chat {
			position: absolute;
			right: 6px;
			top: 8px;
			font-size: 64px;
			opacity: .02;
		}
	}

	&-add {
		display: flex;
		justify-content: flex-end;
	}


	&-photo {
		display: block;
		width: 136px;
		height: 136px;
		border-radius: 50%;
		overflow: hidden;
	}

	& .owl-carousel .owl-item img {
		width: auto;
	}

	&-info {
		padding-left: 38px;

		& strong {
			display: block;
			font: 14px/1.1 'Panton-BoldItalic';
			text-transform: uppercase;
			color: #7b7d7f;
			letter-spacing: .01em;
		}
		& span {
			display: block;
		    font-size: 12px;
		    text-transform: uppercase;
		    color: #acafb1;
		    padding: 7px 0 15px;
		    letter-spacing: .07em;
		}
		& p {
			position: relative;
			padding-top: 10px;
			line-height: 1.25;
			font-size: 15px;

			&::before {
				content: '';
				width: 30px;
				height: 2px;
				background: #dadbdd;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

.subscribe {
	text-align: center;
	background: $color-pink--light url('../img/bg-subscribe.png') no-repeat center;
	padding: 25px 0 30px;
	margin-bottom: 45px;

	& h3 {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 20px;
		letter-spacing: .03em;
	}
}


.s-info {
	min-height: 380px;
	background: #fff url('../img/bg-text.jpg') no-repeat center bottom;
	padding-bottom: 40px;
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 50%;
		position: absolute;
		left: 0;
		bottom: 0;
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
		transition: 1s;
	}

	&:hover {
		&::after {
			height: 0;
			opacity: 0;
		}
	}

	& h2 {
		text-align: left;
		margin-bottom: 20px;
	}
	& p {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 5px;
	}
}


.footer {
	background: $color-dark;
	color: #fff;
	padding: 12px 0 5px;

	& a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: $color-blue;
		}
	}

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 32px;
	}
	&-nav {
		text-align: center;
		line-height: 1.2;

		& a {
			display: inline-block;
			margin: 0 11px;
			font-size: 18px;
			color: #fff;
			text-decoration: none;
		}
	}
	&-phone {
		text-align: right;
		position: relative;

		& .callback-link {
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px dotted #fff;
			color: #fff;
			font-size: 13.4px;
			line-height: 1;
			top: 0;

			&:hover {
				color: $color-blue;
				border-bottom-color: $color-blue;
			}
			&:active {
				transition: none;
				color: $color-pink;
				border-bottom-color: $color-pink;
			}
		}

		& .callback-form {
			top: inherit;
			bottom: calc(100% + 15px);

			&::before {
				transform: rotate(180deg);
				top: 100%;
			}
		}

		& strong {
			display: block;
		    font: 25px 'LifehackSans-Bold';
		    letter-spacing: .07em;
		    margin-bottom: -6px;
		}
		& .i-phone {
			display: inline-block;
		    margin-right: 7px;
		    font-size: 20px;
		}
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-social {
		& a {
			display: inline-block;
			width: 28px;
			height: 28px;
			border: 1px solid #fff;
			border-radius: 50%;
			text-decoration: none;
			text-align: center;
			line-height: 30px;
			font-size: 13px;
			margin: 0 5px;
		}
	}
	&-copyright {
		line-height: 1.1;
	}
	&-links {
		line-height: 1.1;
		text-align: right;
	}
}

.product {
	&-sorting {
		display: flex;
		justify-content: space-between;
		padding: 25px 0 40px 10px;

		& h4 {
			color: $color-orange;
			font: 18px 'Panton-BoldItalic';
		}
		& p {
			font: 14px 'Panton-RegularItalic';
		}
		& a {
			color: $color-dark;
			text-decoration: none;
			transition: .5s;

			&:hover {
				color: $color-blue;
			}  

			&::after {
				content: ' ·';
			}

			&.active {
				font-weight: bold;
				cursor: default;

				&:hover {
					color: $color-dark;
				}

				&::before {
					content: '↓ ';
				}
			}

			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
	&-catalog {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& .product-item {
			margin-bottom: -30px;

			&:hover {
				z-index: 1;

				& .product-link {
					box-shadow: 0 5px 55px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
	&-item {
		margin-bottom: 20px;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	margin: 20px 0;

	& a {
		display: block;
		width: 36px;
		height: 36px;
		background: $color-yellow;
		line-height: 36px;
		margin: 0 4px;
		border-radius: 5px;
		text-decoration: none;
		color: $color-dark;
		transition: .5s;

		&:hover {
			background: $color-pink;
			color: #fff;
		}
		&:active {
			transition: none;
			background: $color-blue;
			color: #fff;
		}
	}
	& span {
		display: block;
		width: 14px;
		height: 36px;
		line-height: 36px;
	}
}

.description-box {
	padding: 40px 0 20px;

	& h2 {
		text-align: left;
		margin-bottom: 20px;
	}
	& p {
		font-size: 20px;
		line-height: 1.2;
		position: relative;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
			transition: 1s;
		}

	}

	&:hover p::after {
		height: 0;
	}
}


.wrap-bg {
	min-height: 300px;
	background: url('../img/bg-text.jpg') no-repeat center bottom;
	padding-bottom: 45px;

	& .subscribe {
		margin-bottom: 0;
	}
}

.blog {
	padding: 24px 0 35px 20px;

	&-img {
		display: block;
		height: auto;
		overflow: hidden;
		border: 1px solid $color-orange;
		border-radius: 3px;
		margin-bottom: 30px;

		& img {
			display: block;
			width: 100%;
		}
	}

	& .nav-bread {
		padding-top: 0;
		padding-bottom: 40px;
	}

	&-nav {
		padding-bottom: 40px;

		& span {
			position: relative;
			padding: 0 20px 0 10px;
			color: #fc700f;
			font: 18px 'Panton-BoldItalic';

			&::after {
				content: '»';
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			& a {
				color: #fc700f;
				text-decoration: none;
				transition: .5s;

				&:hover {
					color: $color-blue;
				}
			}
		}
	}

	& p {
		font-size: 16px;
		margin-bottom: 25px;
	}

	&-publication {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 30px 0 0;
	}
	&-item {
		display: block;
		width: 250px;
		color: $color-dark;
		text-decoration: none;
		position: relative;
		padding: 25px 0 5px;
		margin-bottom: 60px;

		&::after {
			content: '';
			width: 100%;
			height: 7px;
			background: #fafafa;
			border-radius: 0 0 7px 7px;
			position: absolute;
			left: 0;
			bottom: 0;
			transition: .5s;
		}

		&:hover {
			color: $color-dark;

			&::after {
				background: $color-aqua;
			}

			& h3 {
				color: $color-pink;
			}
		}

		& h3 {
			font-size: 15px;
			line-height: 1.2;
			padding-bottom: 15px;
			transition: .5s;
		}
		& p {
			font-size: 12px;
			margin-bottom: 5px;
		}
		& .i-logo {
			width: 60px;
			height: 30px;
			position: absolute;
			left: 50%;
			margin-left: -30px;
			top: -30px;

			&::before {
				width: 30px;
				height: 36px;
			}

			&::after {
				width: 48px;
				height: 40px;
				bottom: -17px;
			}
		}
	}
}

.viewed {
	margin-bottom: 20px;

	& h3 {
		font-size: 24px;
		color: #fc700f;
		text-transform: uppercase;
		padding: 0 20px 20px;
	}

	& .product-catalog {
		justify-content: flex-start;
	}
	& .product-item {
		margin-left: 3px;
		margin-right: 0;
	}
	&-wrap {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 0 0 -3px;

		& .product-item {
			width: 32%;
			margin-bottom: -30px;
		}
	}
}


.nav-bread {
	font-family: 'Panton-RegularItalic';
	padding: 12px 0;

	& span {
		display: inline-block;
		margin-right: 4px;

		&::after {
			content: '»';
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
	& a {
		display: inline-block;
		color: $color-dark;
		transition: .5s;
		text-decoration: none;
		margin-right: 8px;

		&:hover {
			color: $color-blue;
		}
	}
}

.s-review {
	min-height: 440px;
	background: url('../img/bg-review.jpg') no-repeat right bottom;

	& .container {
		padding-bottom: 1px;
	}

	& .pagination {
		padding: 25px 0 40px;
	}

	& .nav-bread {
		padding-bottom: 58px;
	}

	& .review {
		&-item {
			width: 100%;
			padding: 22px 30px;
			align-items: center;
			margin-bottom: 25px;
		}
		&-info {
			width: auto;
			display: flex;
			align-items: center;
			padding-left: 50px;
		}
		&-photo {
			width: 82px;
			height: 82px;
			flex-shrink: 0;

			& img {
				max-width: 100%;
			}
		}
		&-name {
			width: 200px;
			flex-shrink: 0;

			& span {
				padding-bottom: 0;
				position: relative;

				&::after {
					content: '';
				    width: 30px;
				    height: 2px;
				    background: #dadbdd;
				    position: absolute;
				    left: 0;
				    bottom: -6px;
				}
			}
		}
		&-text {
			width: auto;
			display: flex;

			& p {
				padding: 0 50px 0 0;
				font: 16px 'Panton-RegularItalic';
				opacity: .5;

				&::before {
					display: none;
				}
			}
		}
	}
}


.search-goods {

	&-input {
		width: 247px;
		position: relative;

		& input {
			background: none;
			border: none;
			border-bottom: 1px solid #989898;
			width: 100%;
			font: 16px 'Panton-RegularItalic';
			transition: .5s;
			padding: 0 25px 0 0;
			margin: 0;
			height: auto;
			border-radius: 0;

			&:focus {
				outline: none;
				border-bottom-color: $color-orange;
				transform: scale(1);
			}
		}
		& button {
			position: absolute;
			right: 0;
			top: 0;
			background: none;
			border: none;
			cursor: pointer;
			transition: .5s;

			&:hover {
				color: $color-orange;
			}
			&:focus {
				outline: none;
				transition: none;
				transform: scale(1.5);
			}
		}
	}

	& .nice-select {
		width: 200px;

		& .list {
			width: 100%;
		}
	}

	& .m-code-checkbox {
		margin: 0;

		& label {
			font-size: 14px;

			& span {
				position: relative;
				top: 3px;
			}
		}
	}

	&-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font: 14px 'Panton-RegularItalic';
		padding-left: 15px;

		& a {
			color: $color-dark;
			text-decoration: none;
			transition: .5s;

			&:hover {
				color: $color-orange;
			}
		}
	}

	&-content {
		border: 1px solid #f3f2f2;
		background: #fff;
		padding: 25px 0 0;
		display: flex;
		justify-content: center;
		margin-bottom: 240px;
		position: relative;
		border-radius: 0 0 10px 10px;

		&::after {
			content: '';
			width: calc(100% - 24px);
			height: 6px;
			border-radius: 0 0 6px 6px;
			background: #fafafa;
			position: absolute;
			left: 12px;
			bottom: -6px;
		}

		& .product-item {
			margin-bottom: -20px;
			position: relative;
			z-index: 1;

			&:hover {
				z-index: 2;
			}
		}
	}
}

.compare {
	&-title {
		display: flex;
		justify-content: flex-end;
	}
	&-table {
		width: 100%;
		background: #fff;
		border: 1px solid #f3f2f2;
		border-radius: 0 0 10px 10px;
		margin-bottom: 240px;
		text-align: center;

		& h4 {
			font-size: 16px;
			color: $color-pink;
		}

		& thead {
			& td:first-child {
				width: 278px;
			}
		}
		& tbody {
			& tr:last-child {
				& td {
					border-bottom: none;
				}
			}
		}
		& td {
			position: relative;
			border-bottom: 1px solid #f0efef;
			border-left: 1px solid #f0efef;
			padding: 8px 10px;

			&:first-child {
				text-align: left;
				border-left: none;
				font-family: 'Panton-RegularItalic';
				color: rgba($color-dark, .8);
			}
		}
	}
	&-controll {
		width: 100%;
		position: absolute;
		left: 0;
		top: calc(100% + 15px);
		text-align: center;

		& a {
			display: inline-block;
			margin: 0 10px;
			opacity: .7;

			&:hover {
				opacity: 1;
			}
			&:active {
				transform: scale(.9);
			}
		}
	}
}


.cart {
	padding: 20px 0 0 15px;

	& .nav-bread {
		padding-bottom: 40px;
	}

	&-info {
		display: flex;
		justify-content: space-between;
		padding: 0 0 40px 25px;
	}
	&-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 380px;
		height: 310px;
		overflow: hidden;
		border: 1px solid #ccc;
		border-radius: 10px;

		& img {
			display: inline-block;
			max-width: 100%;
		}
	}
	&-description {
		width: 370px;

		& h3 {
			position: relative;
			padding-right: 70px;
			margin-bottom: 15px;
		}
	}
	&-btn {
		position: absolute;
		right: 0;
		top: 0;

		& .i-heart {
			width: 25px;
			height: 25px;
		}
		& .i-comparison {
			width: 28px;
			height: 28px;
		}
		& button {
			border: none;
			background: none;
			cursor: pointer;
			padding: 0;
			opacity: .8;
			margin-left: 5px;
			font-family: 'PantonRegular';

			&:hover {
				opacity: 1;
			}

			&:focus {
				outline: none;
				transform: scale(.9);
			}
		}
	}
	&-data {
		display: flex;
		flex-wrap: wrap;
		font-size: 15px;

		&-item {
			display: flex;
			align-items: center;
			margin: 7px 20px 7px 0;
			color: rgba($color-dark, .8);

			& span {
				font-family: 'Panton-BoldItalic';
				font-size: 14px;
				margin-left: 10px;
				color: #000;
			}
			& strong {
				margin-left: 10px;
				margin-right: 5px;
				color: #000;
				border-bottom: 1px dotted $color-dark;
				line-height: 1;
			}
		}
	}
	&-price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 20px;
	}
}