:root {
	--white: #fffdf8;
	--black: #202020;
	--light: #faf5ec;
	--dark: #423d37;
	--gray: #beb9b0;
	--accent: #f55c3a;
	--primary: #5171d0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder {
	transition: 0.5s;
	color: rgba(105, 105, 105, 0.56);
}
:focus::placeholder {
	color: rgba(105, 105, 105, 0.16);
}

::selection {
	background-color: #218ce6;
	color: #fff;
}

/* Fonts */
/* Onest */
@font-face {
	font-family: "Onest";
	src: url(../fonts/Onest-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Onest";
	src: url(../fonts/Onest-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
/* Montserrat */
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	min-width: 1920px;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font:
		400 1.8rem/1.4 "Onest",
		sans-serif;
	color: var(--dark);
	background-color: var(--light);
	position: relative;
}

b,
strong {
	font-weight: 600;
}

a {
	color: var(--accent);
	&:hover {
		text-decoration: none;
	}
}

.container-full {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	&.px-5 {
		padding-left: 4rem !important;
		padding-right: 4rem !important;
	}
}
.overflow-y-hidden {
	overflow-y: hidden;
}

/* heading */
[class*="heading-"] {
	font-family: "Montserrat";
	font-weight: 500;
	line-height: 1;
}
.heading-1 {
	font-size: 9rem;
}
.heading-2 {
	font-size: 7rem;
}
.heading-3 {
	font-size: 6rem;
}
.heading-4 {
	font-size: 4rem;
}
.heading-5 {
	font-size: 3rem;
}
.heading-6 {
	font-size: 2rem;
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 5rem;
	padding: 1px 1.7rem 0;
	font:
		500 1.2rem "Onest",
		sans-serif;
	color: var(--gray);
	background-color: #fff;
	transition: 0.5s;
	border-radius: 50px;
	border: 1px solid #d9d9d9;

	&:focus {
		outline: 0;
		border-color: var(--primary);
	}
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
button {
	font-family: "Onest";
}

/* weight */
.weight-300 {
	font-weight: 300;
}
.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}

/* text */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/* colors */
.color-accent {
	color: var(--accent);
}

/* image */
.object-fit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* list */
.list {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	color: #68645e;
	font-size: 1.8rem;
	line-height: 1.3;
}
.list__item {
	display: flex;
}
.list__icon {
	width: 2.5rem;
	flex-shrink: 0;
	padding-top: 0.2rem;
	svg {
		width: 1.6rem;
		height: 1.6rem;
		fill: var(--accent);
	}
	._thermometer {
		width: 1.4rem;
		height: 2.3rem;
		margin-left: 0.2rem;
	}
	._fish {
		width: 2rem;
		height: 2rem;
	}
	._loc {
		width: 1.6rem;
		height: 1.8rem;
	}
	._user {
		width: 1.5rem;
		height: 1.9rem;
	}
}
