:root {
	--bgPage: #f5f7f9;
	--bgLayout: #fff;

	--black: #171717;
	--dark: #2c2c2c;
	--light: #f5f7f9;
	--azure: #ecf3fe;
	--accent: #2563eb;
	--accentLight: #5187ff;
	--success: #82d944;

	--accent-gradient: linear-gradient(270deg, #06b5d4 0.35%, #1f9de4 32.08%, #2563eb 96.51%);

	--gray: #696969;
	--gray500: #515151;
	--gray85: rgba(105, 105, 105, 0.85);
	--gray75: rgba(105, 105, 105, 0.75);
	--gray60: rgba(105, 105, 105, 0.6);
	--gray56: rgba(105, 105, 105, 0.56);

	--radius: 1.2rem;
	--radius-medium: 3rem;
}

.gray500 {
	color: var(--gray500);
}
.gray60 {
	color: var(--gray60);
}
.accent-gradient {
	background: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder {
	transition: 0.5s;
	color: #423d37;
}
:focus::placeholder {
	color: rgb(66, 61, 55, 0.3);
}

::selection {
	background-color: #218ce6;
	color: #fff;
}

/* Fonts */
/* Inter */
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background-color: var(--bgPage);
	color: var(--black);
	font:
		400 1.3rem/1.3 "Inter",
		sans-serif;
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

b,
strong {
	font-weight: 600;
}

/* heading */
[class*="heading-"] {
	font-weight: 600;
	line-height: 1;
}
.heading-1 {
	font-size: 4rem;
}
.heading-2 {
	font-size: 3.5rem;
}
.heading-3 {
	font-size: 3rem;
}
.heading-4 {
	font-size: 2.5rem;
}
.heading-5 {
	font-size: 2rem;
}
.heading-6 {
	font-size: 1.7rem;
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 6.2rem;
	padding: 1px 1.7rem 0;
	font:
		400 1.3rem "Inter",
		sans-serif;
	color: #222;
	background-color: #fff;
	transition: 0.5s;
	border-radius: 8px;
	border: 1px solid transparent;

	&:focus {
		outline: 0;
		border-color: var(--primary);
	}
}
textarea {
	width: 100%;
	height: auto;
	min-height: 100px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	resize: none;
}
button {
	font-family: "Inter";
}

/* weight */
.weight-300 {
	font-weight: 300;
}
.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}
.weight-700 {
	font-weight: 700;
}

/* text */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-10 {
	font-size: 1rem;
}
.text-15 {
	font-size: 1.5rem;
}

/* image */
.img-cover {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.w-100 {
	width: 100%;
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

@keyframes transformScale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
