.logo {
	display: inline-block;
	width: 14.4rem;
	height: 3.1rem;
	color: transparent;
	font-size: 0;
	background: url(../img/logo.png) no-repeat center / contain;
	transition: 0.3s;
	&:hover {
		transform: scale(1.05);
	}
}

.circle-arrow {
	flex-shrink: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #fff;
	fill: rgba(105, 105, 105, 0.56);
	svg {
		width: 0.7rem;
		height: 0.7rem;
		position: relative;
		top: 3%;
		transition: 0.5s;
	}
}
.icon-twocircle {
	width: 1.8rem;
	height: 1.2rem;
	position: relative;
	flex-shrink: 0;
	&::before,
	&::after {
		content: "";
		width: 1.2rem;
		height: 1.2rem;
		background-color: #bccbf7;
		border-radius: 50%;
		position: absolute;
	}
	&::after {
		right: 0;
		background-color: #5171d0;
	}
}

.ui-price {
	._current {
		font-weight: 600;
		color: var(--black);
		font-size: 5rem;
		line-height: 1;
		margin-bottom: 1rem;
	}
	._old {
		font-weight: 300;
		color: var(--gray56);
		font-size: 1.5rem;
	}
}

/* button */
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 4.6rem;
	padding: 0.5rem 1.7rem;
	font-size: 1.3rem;
	line-height: 1.1;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	background-color: #06b5d4;
	background: linear-gradient(270deg, #06b5d4 0.35%, #1f9de4 32.08%, #2563eb 96.51%);
	color: #fff;
	border-radius: var(--radius);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: 0.75s;
	border: 0;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(270deg, #38e1ff 0.35%, #4abeff 32.08%, #5187ff 96.51%);
		left: 0;
		top: 0;
		transition: 1s;
		opacity: 0;
		border-radius: var(--radius);
	}
	&:hover {
		transform: scale(1.07);
		&::after {
			opacity: 1;
		}
	}
	&:active {
		transition: 0.1s;
		transform: scale(1.02);
		box-shadow: inset 0px 0px 20px #6187a7;
		&::after {
			transition: 0.1s;
			opacity: 1;
			box-shadow: inset 0px 0px 20px #6187a7;
		}
	}
	/* style */
	&.text-15 {
		font-size: 1.5rem !important;
	}
	&._radius-12 {
		border-radius: 12px;
		&::after {
			border-radius: 12px;
		}
	}
	&._outline-primary {
		background: none;
		border: 1px solid #e1e1e1;
		&:active {
			box-shadow: none;
		}

		&::after {
			display: none;
		}
		.btn__text {
			background: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		&:hover {
			border-color: var(--accent);
		}
	}
	&._primary {
		background: var(--accent);
		&::after {
			display: none;
		}
		&:hover {
			background: var(--accentLight);
		}
	}
	&._dark {
		background: #353535;
		&::after {
			display: none;
		}
		&:hover {
			background: #5c5c5c;
		}
		&:active {
			background: #5c5c5c;
			box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.67);
		}
	}
	&._white {
		background: #fff;
		color: var(--accent);
		&::after {
			background: linear-gradient(90deg, #b3e6ff 0%, #e2f5ff 50.48%, #b3e6ff 100%);
		}
		.btn__icon svg {
			fill: #06b5d4;
			&._stroke {
				fill: none;
				stroke: #06b5d4;
			}
		}
	}
	/* size */
	&._normal {
		min-height: 5rem;
		padding: 1rem 3.5rem;
		font-size: 1.2rem;
	}
	&._lagre {
		min-height: 6rem;
		padding: 1rem 3.5rem;
		font-size: 1.2rem;
	}
	&._medium {
		min-height: 7.1rem;
		padding: 2rem 3rem;
		font-size: 1.2rem;
	}
	&._big {
		min-height: 10.1rem;
		padding: 2rem 4.7rem;
		font-size: 1.7rem;
		.btn__inner {
			column-gap: 1.9rem;
		}
		.btn__icon {
			width: 4.4rem;
			height: 4.4rem;
			svg {
				width: 1.2rem;
				height: 1.2rem;
			}
		}
	}
}
.btn__inner {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	z-index: 1;
}
.btn__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
	flex-shrink: 0;
	svg {
		width: 1.6rem;
		height: 1.6rem;
		fill: #fff;
		&._stroke {
			fill: none;
			stroke: #fff;
		}
	}
}
.btn__icon-plus {
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.3;
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-ui {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 4.6rem;
	min-height: 4.6rem;
	border-radius: var(--radius);
	background-color: var(--light);
	position: relative;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: var(--azure);
	}
	&:has(.btn-ui__helper) .btn-ui__icon {
		position: relative;
		left: -0.2rem;
		top: -0.2rem;
	}
}
.btn-ui__icon svg {
	width: 1.7rem;
	height: 1.7rem;
	fill: #afafaf;
	&._stroke {
		fill: none;
		stroke: #afafaf;
	}
}
.btn-ui__helper {
	min-width: 1.3rem;
	min-height: 1.3rem;
	border-radius: 0.22rem;
	background-color: var(--success);
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	line-height: 1.3rem;
	padding: 0 0.3rem;
	position: absolute;
	left: 50%;
	top: 50%;
}

/* list */
.list {
	/* style */
	&._gray .list__item {
		color: var(--gray);
		&::before {
			background-color: var(--gray);
		}
	}
	&._white .list__item {
		color: #fff;
		&::before {
			background-color: #fff;
		}
	}
	&.text-17 .list__item {
		font-size: 1.7rem;
	}
}
.list__item {
	padding-left: 1.2rem;
	margin-bottom: 0.4rem;
	position: relative;
	color: #5f5f5f;
	font-size: 1.5rem;
	&::before {
		content: "";
		width: 4px;
		height: 4px;
		background-color: var(--dark);
		position: absolute;
		left: 0;
		top: 0.6rem;
		border-radius: 50%;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:has(.list__plus) {
		display: flex;
		padding: 1.7rem 0 1.8rem;
		column-gap: 1rem;
		line-height: 1.12;
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		&::before {
			display: none;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}
.list__plus {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	position: relative;
	background-color: var(--accent);
	box-shadow: 0 0 0 0.3rem #f5f7f9;
	flex-shrink: 0;
	margin: 0.4rem;
	svg {
		width: 0.4rem;
		height: 0.4rem;
		stroke: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-45%, -45%);
	}
}

.badge-text {
	font-size: 10px;
	line-height: 1.1;
	background: linear-gradient(270deg, #06b5d4 0.35%, #1f9de4 32.08%, #2563eb 96.51%);
	padding: 0.5rem 1rem;
	border-radius: 4rem;
	color: #fff;
}

.avatar-36x36,
.avatar-30x30 {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #c5ffb1;
}
.avatar-30x30 {
	width: 3rem;
	height: 3rem;
}

.dropdown {
	display: inline-block;
	position: relative;
	z-index: 2;

	&._normal .dropdown-head {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		column-gap: 1.6rem;
	}
	&.is-open .circle-arrow svg {
		transform: rotate(180deg);
		top: 0;
	}
}
.dropdown-head {
	padding: 1rem 1.5rem;
	background: var(--light);
	cursor: pointer;
	border: 0;
	border-radius: var(--radius);
	display: flex;
	align-items: center;
	column-gap: 2rem;
	text-align: left;
	transition: 0.5s;
	&:hover {
		background-color: var(--azure);
	}
}
.dropdown-head__info {
	min-width: 90px;
	display: flex;
	flex-direction: column;
	row-gap: 0.3rem;
	color: var(--gray500);
	._subtext {
		font-size: 1rem;
		color: var(--gray60);
	}
}
.dropdown-body {
	min-width: 250px;
	width: calc(100% + 8rem);
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	padding: 1rem 3rem 3rem;
}
.dropdown-block {
	background-color: #fff;
	border-radius: var(--radius);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	position: relative;
	padding: 1.5rem;
	&::after {
		content: "";
		border-left: 0.7rem solid transparent;
		border-right: 0.7rem solid transparent;
		border-bottom: 0.7rem solid #fff;
		position: absolute;
		left: 50%;
		margin-left: -0.5rem;
		bottom: 100%;
	}
}

.hr-line {
	margin: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.darkmode-btn {
	width: 4.4rem;
	height: 4.4rem;
	align-items: center;
	cursor: pointer;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	border-radius: 0.8rem;
}

.darkmode-btn__indicator {
	background-color: var(--accent);
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 0.8rem;
	transition: 0.5s ease-out;
}
.darkmode-btn__indicator:hover {
	background-color: var(--accentLight);
	transform: scale(1.075);
}

.darkmode-btn__icon-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.darkmode-btn__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	fill: #fff;
}
.darkmode-btn__icon svg {
	width: 2.5rem;
	height: 2.5rem;
}

.darkmode-btn__icon-moon,
.darkmode-btn__icon-sun {
	display: none;
}

.darkmode-btn__icon.darkmode-moon .darkmode-btn__icon-sun {
	display: block;
}

.darkmode-btn__icon.darkmode-moon.animated .darkmode-btn__icon-sun {
	animation: transformScale 0.5s;
}

.darkmode-btn__icon.darkmode-sun .darkmode-btn__icon-moon {
	display: block;
}

.darkmode-btn__icon.darkmode-sun.animated .darkmode-btn__icon-moon {
	animation: rotation 0.5s;
}

.lightBlurBg {
	width: 422px;
	height: 422px;
	background: rgba(37, 99, 235, 0.4);
	filter: blur(277px);
	border-radius: 50%;
}
