.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrap-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    box-shadow: 4px 0px 18px rgba(0, 0, 0, 0.05), 4px 0px 18px rgba(0, 0, 0, 0.05);
}
.header__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header__left {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header__right {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__burger {
    margin-right: 22px;
}
.header__logo {
    margin-right: 28px;
}



/* heading */
.heading {
    padding: 20px 0;
}
.heading__info {
    display: flex;
    align-items: center;
}
.heading__result {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.heading__result-dot {
    width: 10px;
    height: 10px;
    margin-right: 18px;
    background-color: #FD5852;
    border-radius: 50%;
}
.heading__result-text {
    font-size: 24px;
    font-weight: 300;
}



/* filter */
.filters {
    background-color: #F1F4FB;
    padding: 17px 0;
}

/* row */
.filters__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 13px 0;
}

/* button */
.filters__btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    margin-right: 54px;
}
.filters__btn-icon {
    display: inline-flex;
    margin-right: 5px;
}
.filters__btn-text {
    display: inline-flex;
    color: #618EDF;
    text-decoration: underline;
    margin-right: 5px;
}

/* choice */
.filters-choice {
    display: flex;
    align-items: center;
}
.filters-choice__text {
    margin-right: 9px;
}
.filters-choice__group {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.filters-choice__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 100px;
    padding: 5px;
    background-color: #fff;
    border-radius: 7px;
    color: #282828;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    transition: .3s;
}
.filters-choice__btn:hover {
    background-color: rgba(97, 142, 223, 0.40);
}
.filters-choice__btn.-active {
    background-color: #618EDF;
    color: #fff;
}
.filters-choice__btn-text {
    font-size: 15px;
}



/* FOOTER */
.footer {
    margin-top: auto;
    padding: 15px 0;
    background-color: #313131;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.footer__title {
    margin-bottom: 12px;
}
.footer__menu {
}
.footer__menu a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 3px 0;
}
.footer__menu a:hover {
    text-decoration: underline;
}

.footer__copy {
    padding: 25px 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #A9A9A9;
    border-top: 1px solid #A9A9A9;
}