@font-face {
	font-family: 'TrajanPro3';
	src: url('fonts/trajan/regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/proximanova/light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/proximanova/regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/proximanova/semibold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}