@media only screen and (max-width : 1400px) {

	.web-studio { margin-right: 0; }

	.footer__copy { margin-left: 0; }

}

@media only screen and (max-width : 1200px) {

	.h1 {
		font-size: 35px;
		.sz-52 {
			font-size: 46px;
		}
		.sz-35 {
			font-size: 30px;
		}
	}

	.header {
		background-image: url("../img/size/xl/bg-header.jpg");
		&__info {
			max-width: 435px;
		}
	}

	.mfp-close-btn-in .mfp-close {
		top: 15px;
		right: 15px;
	}

}

@media only screen and (max-width : 992px) {

	body, html {
		height: auto;
	}

	// transition elements
	.map-info,
	.get-call__link,
	.get-call__tel,
	.get-call__tel:after,
	.messenger__item {
		transition: .2s;
	}

	.d-none.lg-br {
		display: block;
	}

	.header {
		height: auto;
		background-image: url("../img/size/lg/bg-header.jpg");
		background-position: right center;
		padding-top: 35px;
		&__top {
			padding-bottom: 55px;
			.map-info {
				margin-left: auto;
				&__img { display: none; }
			}
		}
		&__content {
			min-height: 745px;
			position: relative;
			.container {
				display: block;
			}
		}
		&__offer {
			max-width: 100%;
			margin-bottom: 50px;
			.h1 {
				max-width: 700px;
			}
		}
		&__info {
			width: 300px;
			height: 745px;
			position: absolute;
			right: 0;
			top: 0;
		}
		.helpers {
			height: 745px;
			.helpers__item:nth-child(1) {
				right: 140px;
				top: 300px;
			}
			.helpers__item:nth-child(2) {
				left: 30px;
				right: inherit;
				top: 404px;
			}
			.helpers__item:nth-child(3) {
				right: 138px;
    			bottom: 0px;
			}
			.helpers__item:nth-child(4) {
				left: -20px;
    			bottom: 30px;
			}
		}
		.btn {
			margin-bottom: 45px;
		}
		.btn-view {
			margin-left: 114px;
		}
	}

	.get-call {
		margin-left: 50px;
	}

	.btn-view {
		letter-spacing: .06em;
		&__img {
			left: -60px;
		    top: -21px;
		}
		&__info {
			letter-spacing: .1em;
		}
	}

	.price-box {
		&__price {
			position: relative;
			z-index: 1;
		}
		&__mark {
			background: none;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(48,46,64,1);
				background: linear-gradient(to right, #37353f 0%,#666 31%,#666 43%,#37353f 100%);
				position: absolute;
				left: 0;
				top: 0;
				opacity: .5;
			}
			&--text {
				position: relative;
				z-index: 1;
			}
		}
	}

	.service-modal--wrap {
		max-width: 540px;
	}
	.service-modal {
		flex-direction: column;
	}
	.layout-selection {
		margin-bottom: 50px;
	}

}

@media only screen and (max-width : 768px) {

	.sandwich-box {
		display: block;
	}

	.header {
		padding-top: 0;
		background-image: none;

		.animation-icon-phone {
			display: block;
			position: absolute;
			right: 12px;
			top: 36px;
			z-index: 2;
		}

		&__top {
			height: 110px;
			padding-bottom: 0;
			padding-top: 40px;
			margin-bottom: -110px;
			position: relative;
			z-index: 1;
			.logo {
				margin: 0 auto;
			}
			.map-info, .get-call, .messenger {
				display: none;
			}
		}
		&__content {
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&__offer {
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
			background: #0b0720 url('../img/size/md/bg-header--top.jpg') no-repeat center bottom;
			margin-bottom: 0;
			padding-top: 110px;
			.h1 {
				max-width: 100%;
			}
		}
		&__info {
			position: static;
			width: 100%;
			max-width: 100%;
			height: 860px;
			background: url('../img/size/md/bg-header.jpg') no-repeat center top / cover;
			margin-top: -20px;
		}

		.helpers {
			height: 100%;
		}

		.helpers .helpers__item:nth-child(1) {
			right: inherit;
			left: 50%;
			margin-left: 32px;
			top: inherit;
			bottom: 343px;
			&.animated {
				animation-delay: inherit;
			}
		}
		.helpers .helpers__item:nth-child(2) {
			left: 50%;
			margin-left: -67px;
			top: inherit;
			bottom: 194px;
			&.animated {
				animation-delay: inherit;
			}
		}
		.helpers .helpers__item:nth-child(3) {
		    right: inherit;
			left: 50%;
			margin-left: 40px;
			bottom: -30px;
			&.animated {
				animation-delay: inherit;
			}
		}
		.helpers .helpers__item:nth-child(4) {
			left: 50%;
			margin-left: -150px;
			bottom: 90px;
			&.animated {
				animation-delay: inherit;
			}
		}
	}

	.price-box__price {
		font-size: 53px;
	}

	.footer {
		.container {
			flex-direction: column;
			text-align: center;
		}
		&__copy {
			margin-bottom: 20px;
		}
	}

}

@media only screen and (max-width : 576px) {

	.h1 {
		font-size: 25px;
		.sz-52 {
			font-size: 33px;
		}
		.sz-35 {
			font-size: 22px;
		}
	}

	.header {
		.btn {
			margin-left: 0;
		}
		.btn-view {
			margin-left: 55px;
		}
	}

	.price-box {
		margin-left: 0;
		&__title {
			margin-bottom: 10px;
			font-size: 16px;
		}
		&__price {
			display: block;
			margin-right: 0;
			line-height: 1;
			margin-bottom: -10px;
		}
		&__mark {
			padding: 8px 15px;
			font-size: 11px;
			&:before {
				opacity: .3;
			}
		}
	}

	.consultant-form {
		padding: 45px 15px 55px;
		&__title {
			br { display: none; }
		}
	}

	.send-request {
		.input input {
			width: 100%;
			min-width: 100%;
		}
	}

	.footer {
		font-size: 15px;
	}

	.btn {
		font-size: 16px;
	}

	.choice-messenger {
		&__title {
			font-size: 16px;
			margin-right: 10px;
		}
	}

}