:root {
	--light: #f4f4f6;
	--black: #2a2a2a;
	--gray: #979797;
	--accent: #d2a362;
	--accentDeep: #eca644;
	--primary: #1a496a;
	--primaryDark: #283c4b;

	--radius-sm: 0.8rem;
	--radius-md: 1.5rem;
	--radius-lg: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background-color: #218ce6;
	color: #fff;
}

/* Fonts */
/* Verdana */
@font-face {
	font-family: "Verdana";
	src: url(../fonts/Verdana/Verdana.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Verdana";
	src: url(../fonts/Verdana/Verdana-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* Inter */
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter/Inter-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter/Inter-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter/Inter-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter/Inter-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

.font-inter {
	font-family: "Inter", sans-serif;
}
.font-verdana {
	font-family: "Verdana", sans-serif;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background-color: var(--light);
	color: var(--black);
	font:
		400 1.5rem/1.25 "Verdana",
		sans-serif;
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

b,
strong {
	font-weight: 700;
}

a {
	-webkit-tap-highlight-color: transparent;
	color: var(--primary);
	&:hover {
		text-decoration: none;
	}
}

/* Forms */
::placeholder {
	transition: 0.5s;
	color: #423d37;
}
:focus::placeholder {
	color: rgb(66, 61, 55, 0.3);
}
input,
label,
button {
	-webkit-tap-highlight-color: transparent;
}
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 6rem;
	padding: 1px 2.5rem 0;
	font:
		1.7rem "Inter",
		sans-serif;
	color: #222;
	background-color: transparent;
	transition: 0.5s;
	border-radius: 10rem;
	border: 1px solid #c7c6c6;

	&:focus {
		outline: 0;
		border-color: var(--accent);
	}
	&.weight-400 {
		font-weight: 400;
	}
	&.weight-500 {
		font-weight: 500;
	}
	&.weight-600 {
		font-weight: 600;
	}
	&.weight-700 {
		font-weight: 700;
	}

	/* styles */
	&.input-white {
		color: #fff;
		border-color: #fff;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
			&::placeholder {
				color: rgba(255, 255, 255, 0.3);
			}
		}
	}

	/* sizes */
	&._lg {
		height: 7rem;
	}
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
button {
	font-family: "Inter";
}

/* heading */
[class*="heading-"] {
	font-weight: 700;
	line-height: 1.28;
}
.heading-1 {
	font-size: 5rem;
}
.heading-2 {
	font-size: 4.5rem;
}
.heading-3 {
	font-size: 4rem;
}
.heading-4 {
	font-size: 3rem;
}
.heading-5 {
	font-size: 2.5rem;
}
.heading-6 {
	font-size: 2rem;
}

/* weight */
.weight-300 {
	font-weight: 300;
}
.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}
.weight-700 {
	font-weight: 700;
}

/* text */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-16 {
	font-size: 1.6rem;
}
.text-17 {
	font-size: 1.7rem;
}
.text-18 {
	font-size: 1.8rem;
}
.text-20 {
	font-size: 2rem;
}
.text-22 {
	font-size: 2.2rem;
}
.text-25 {
	font-size: 2.5rem;
}
.text-37 {
	font-size: 3.7rem;
}

/* image */
.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* colors */
.gray {
	color: #979797;
}
.accent {
	color: var(--accent);
}
.primary {
	color: var(--primary);
}
.color-ddd {
	color: #ddd;
}

.w-100 {
	width: 100%;
}
