.header {
	background-color: #fff;
	padding: 2rem 1rem;
}
.header-container {
	width: 100%;
	max-width: 1514px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.2rem 2.6rem;
}
.header-nav {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem 3rem;
	font-size: 1.4rem;
	text-align: center;
	a {
		color: #3d3d3d;
		text-decoration: none;
		transition: 0.75s;
		&:hover {
			color: var(--accentDeep);
		}
		&:active {
			transition: 0s;
			color: var(--accentDeep);
		}
	}
}
.header-contact {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	text-align: right;
	row-gap: 0.5rem;
}
.header-contact__tel {
	font: bold 1.7rem "Inter";
	text-decoration: none;
	transition: 0.5s;
	&:hover {
		color: var(--accentDeep);
	}
	&:active {
		transition: 0s;
		color: var(--accentDeep);
	}
}

.hero {
	display: flex;
	column-gap: 1.7rem;
	margin: 6.5rem 0;
}
.hero-slider {
	flex-shrink: 0;
	display: flex;
	min-height: 100%;
	width: 83.3rem;
	border-radius: var(--radius-md);
	&.swiper {
		margin: 0;
	}
	.swiper-nav {
		display: flex;
		position: absolute;
		right: 4.7rem;
		bottom: 4.7rem;
		z-index: 3;
	}
}
.hero-slide {
	min-height: 64.5rem;
	background-color: #d9d9d9;
	overflow: hidden;
	font-size: 1.7rem;
	position: relative;
	&.swiper-slide {
		display: flex;
		flex-direction: column;
	}
}
.hero-slide__header {
	padding: 3.7rem 4.7rem 7rem;
	background: linear-gradient(180deg, rgba(58, 58, 58, 0.68) 70%, rgba(58, 58, 58, 0) 100%);
	color: #fff;
}
.hero-slide__action {
	margin-top: auto;
	padding: 4.7rem;
}
.hero-slide__img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.hero-cards {
	flex-grow: 1;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	row-gap: 1.7rem;
	& > * {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}

.advantages {
	padding: 3.2rem;
	background-color: var(--primary);
	border-radius: var(--radius-lg);
	margin-bottom: 4rem;
	.info-card {
		min-height: 17.6rem;
	}
}

.our-objects {
	padding: 4rem 0;
}
.our-objects__cards {
	row-gap: 3.2rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding: 1.5rem 0;
	> * {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.to-action {
	display: flex;
	padding: 6rem 4.5rem 0;
	margin: 3.5rem 0;
	background-color: var(--primary);
	border-radius: var(--radius-lg);
	color: #fff;
}
.to-action__graphica {
	max-width: 52rem;
}
.to-action__descrp {
	display: flex;
	flex-direction: column;
	max-width: 58rem;
	padding: 0 0 6rem 3rem;
}
.to-action__form {
	flex-grow: 1;
	padding: 3rem;
}

.info-block {
	display: flex;
	flex-direction: column;
	padding: 6rem 8rem;
	margin: 4rem auto;
	background-color: var(--primary);
	border-radius: var(--radius-lg);
	color: #fff;
	position: relative;

	> * {
		position: relative;
		z-index: 1;
	}

	&._about {
		min-height: 84.9rem;
	}
}
.info-block__img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	border-radius: var(--radius-lg);
	background-color: var(--primary);
	overflow: hidden;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(58, 58, 58, 0.73) 22%, rgba(58, 58, 58, 0.36) 44%);
		position: absolute;
		left: 0;
		top: 0;
	}
}
.info-block__descrp {
	font-size: 2rem;
	padding-left: 5rem;
	position: relative;
	&::before {
		content: "";
		width: 1px;
		height: 100%;
		background-color: #b4d7c7;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.why-us {
	padding: 5rem 0;
}

.project-map {
	padding: 5rem 0;
}
.project-map__map {
	position: relative;
	overflow: hidden;
	margin-top: 2.4rem;
	iframe {
		height: 80rem;
		width: 100%;
		position: relative;
		border-radius: var(--radius-lg);
	}
}

.photos-slider {
	border-radius: var(--radius-lg);
}
.photos-slider__img {
	display: block;
	height: 80rem;
	overflow: hidden;
}

.to-consult {
	padding: 6rem 7rem 6rem 8rem;
	background-color: var(--primary);
	border-radius: var(--radius-lg);
	color: #fff;
}
.to-consult__manager {
	width: 54.4rem;
}

.ksi-stroy-caption {
	width: 100%;
	max-width: 1580px;
	padding: 0 1rem;
	margin: 0 auto;
	img {
		display: block;
		width: 100%;
	}
}

.footer {
	margin-top: auto;
	padding-top: 5rem;
	.ksi-stroy-caption {
		margin-bottom: -1.6rem;
	}
}
.footer-content {
	background-color: #fff;
	padding: 9.5rem 0 4.5rem;
}
.footer-content__inner {
	display: flex;
	justify-content: space-between;
	column-gap: 3rem;
}
.footer-aside {
	display: flex;
	flex-direction: column;
}
.footer-nav {
	max-width: 22rem;
}
.footer-nav__list {
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	font-size: 2rem;
	font-family: "Inter";
	font-weight: 500;
	a {
		color: #4b4b4b;
		text-decoration: none;
		transition: 0.5s;
		&:hover {
			color: var(--accent);
		}
	}
}
.footer-contact {
	--bs-gutter-y: 4rem;
	max-width: 56rem;
	align-self: flex-start;
}
.footer-contact-item {
	font-size: 2.5rem;
	font-weight: 600;
	color: #2a2a2a;
	text-decoration: none;
	transition: 0.5s;
	&:hover {
		color: var(--accent);
	}
}
