/* ——— Default ——— */
html , body {
	overflow-x: hidden;
}

body {
	color: $black;
	font: 16px / 1.4 "TTNorms" , -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif;
}

ul , ol {
	padding: 0;
	list-style: none;
}

strong, b {
	font-weight: bold;
}

p , ul , ol {
	margin-bottom: 0;
}


/* ——— TYPOGRAPHY ——— */
 h1 ,  h2 ,  h3 ,  h4 ,  h5 , h6 ,
.h1 , .h2 , .h3 , .h4 , .h5, .h6 {
	font-weight: bold;
	margin-bottom: 0;
}
// Heading
.h1 , h1 {
	font-size: 44px;
}
.h2 , h2 {
	font-size: 38px;
}
.h3 , h3 {
	font-size: 32px;
}
.h4 , h4 {
	font-size: 28px;
}
.h5 , h5 {
	font-size: 22px;
}
.h6 , h6 {
	font-size: 18px;
}



/* ——— TEXT ——— */
// Text weight
.t-light {
	font-weight: 300;
}
.t-regular {
	font-weight: normal;
}
.t-medium {
	font-weight: 500;
}
.t-bold {
	font-weight: bold;
}

// Text transform
.t-upper {
	text-transform: uppercase;
}

// Text decor
.marktext {
	color: black;
	background-color: $accent-white;
	border-radius: 4px;
	padding: 2px 5px;
}



/* ——— COLORS ——— */
.c-silver {
	color: $silver;
}
.c-white {
	color: white;
}



/* ——— Decor elements ——— */
.svg-decorline {
	width: 82px;
	height: 33px;
	fill: none;
	stroke: $silver;
	stroke-width: 1px;
}