// TTNorms - Light
@font-face {
	font-family: 'TTNorms';
	src: url('fonts/ttnorms/light/ttnorms-light.woff2') format('woff2') ,
		  url('fonts/ttnorms/light/ttnorms-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

// TTNorms - Regular
@font-face {
	font-family: 'TTNorms';
	src: url('fonts/ttnorms/regular/ttnorms-regular.woff2') format('woff2') ,
		  url('fonts/ttnorms/regular/ttnorms-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// TTNorms - Medium
@font-face {
	font-family: 'TTNorms';
	src: url('fonts/ttnorms/medium/ttnorms-medium.woff2') format('woff2') ,
		  url('fonts/ttnorms/medium/ttnorms-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

// TTNorms - Bold
@font-face {
	font-family: 'TTNorms';
	src: url('fonts/ttnorms/bold/ttnorms-bold.woff2') format('woff2') ,
		  url('fonts/ttnorms/bold/ttnorms-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}