.i-star {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/svg/star.svg') no-repeat center / contain;
}

.i-check {
	display: inline-block;
	width: 38px;
	height: 38px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px rgba(#9d9d9e, .3);
	position: relative;
	&::before {
		content: "";
		width: 76%;
		height: 76%;
		background: linear-gradient(to top, lighten($green-light, 8%) 0%, $green 100%);
		position: absolute;
		left: 12%;
		top: 12%;
		border-radius: 50%;
		box-shadow: 0 0 4px rgba(#9d9d9e, .7);
	}
	&::after {
		content: "";
		width: 8px;
		height: 14px;
		border: 0 solid white;
		border-width: 0 1px 1px 0;
		box-shadow: 1px 1px 0 0 rgba(white, .5);
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -8px 0 0 -4px;
		transform: rotate(45deg);
	}
}