// colors
$black: #121212;

$silver: #c0c0c0;

$accent: #fcb24a;
$accent-light: #f5c96d;
$accent-white: #ffe192;
$accent-dark: #e2a44b;

$green: #26ab60;
$green-yellow: #9fd051;
$green-light: #35d27a;

