/* Max-Width media */

/* 1700px */
@media only screen and (max-width : 1700px) {

.working .circle-badge {
   left: initial;
   margin-left: initial;
   right: 30px;
}

}

/* 1630px */
@media only screen and (max-width : 1630px) {

.working .circle-badge {
   top: -1rem;
}

.to-action__plan {
   width: 580px;
}

}

/* 1400px */
@media only screen and (max-width : 1400px) {

.header__menu .menu {
   max-width: 500px;
}

.working-slider {
   width: 1400px;
   position: relative;
   left: 50%;
   margin-left: -700px;
}

}


/* 1200px */
@media only screen and (max-width : 1200px) {

html {
   font-size: 9px;
}

.to-action__plan {
   width: 480px;
}

}

/* 992px */
@media only screen and (max-width : 992px) {

.working-slider {
   width: 992px;
   margin-left: -496px;
}
.working-item__img {
   height: 328px;
}
.working .circle-badge {
   right: 15px;
}

.to-action__content {
   padding-left: 5rem;
}
.to-action__plan {
   width: 320px;
   min-height: 400px;
}

}


/* 768px */
@media only screen and (max-width : 768px) {
   
html {
   font-size: 8px;
}
   
.header {
   padding: 33px 10px;
   margin-bottom: 0;
}
.header__inner {
   background: #262626;
   backdrop-filter: blur(26.7px);
   border-radius: 100px;
   padding: 7px 16px;
}
.header__menu {
   display: none;
}
.header__logo {
   padding: 0;
   top: 0;
}
.header__burger.burger {
   display: block;
   margin: -.28rem -1.04rem;
}
.header-contact {
   gap: 1rem 2.4rem;
}
.header-contact__tel {
   font-size: 2.6rem;
   letter-spacing: -.022em;
}
.logo__img {
   width: 7.4rem;
}
.header__calculate-btn {
   display: none;
}

.social-media__item {
   width: 3.9rem;
   height: 3.9rem;
}

.advantages-post__title {
   font-size: 1.82rem;
}
.advantages-post__text {
   font-size: 1.8rem;
}

.to-action__plan {
   width: 190px;
}


}


/* 576px */
@media only screen and (max-width : 576px) {

.heading-2,
.section-heading__heading {
   font-size: 4.4rem;
   line-height: 0.95;
}

.logo__img {
   width: 5.4rem;
}
.header-contact__tel {
   font-size: 2rem;
}
.header-contact .social-media {
   display: none;
}
.hero {
   padding-top: 1.1rem;
   padding-bottom: 1.4rem;
}
.hero__heading {
   text-align: left;
   padding-left: 1.4rem;
   margin-bottom: 1rem;
   margin-right: -2rem;
   max-width: 420px;
}
.advantages {
   padding: 1.4rem 0;
}
.advantages-slider .swiper-wrapper {
   padding-left: 2rem;
}
.advantages-post {
   padding: 0 2rem .8rem 1.3rem;
}
.advantages-post__title {
   font-size: 1.82rem;
   letter-spacing: -.02em;
   max-width: 320px;
}
.advantages-post__text {
   font-size: 1.8rem;
   letter-spacing: .008em;
   line-height: 1.4;
   max-width: 220px;
}

.working {
   padding: 2.2rem 0 1rem;
   margin-bottom: 0;
}
.working-slider {
   width: 470px;
   margin: 0 0 2rem -235px;
}
.working-item__img {
   height: 141px;
   border-radius: 4px;
}
.working .circle-badge {
   top: 0px;
}
.circle-badge {
   width: 13rem;
   height: 13rem;
}
.circle-badge__bg {
   width: 13rem;
   height: 13rem;
}
.circle-badge__we-work {
   width: 9.8rem;
   height: 9.8rem;
   margin: -4.9rem 0 0 -4.9rem;
}
.circle-badge__check {
   width: 2.3rem;
   height: 2.3rem;
   margin-top: 0;
}

.btn {
   min-height: 7.4rem;
}
.btn__text {
   min-height: 7.4rem;
   padding: 1.5rem 2.2rem;
}

.to-action {
   padding: 20px 10px;
}
.to-action__inner::before,
.to-action__inner::after {
   width: 58px;
   height: 414px;
}
.to-action__inner::before {
   left: -22px;
   bottom: -272px;
}
.to-action__inner::after {
   right: -33px;
   top: -235px;
}
.to-action__content {
   max-width: 400px;
   padding: 4.2rem 2rem 5rem 2rem;
   margin-right: 0;
}
.to-action__heading {
   margin-bottom: 2.5rem;
}
.to-action__text {
   font-size: 1.82rem;
   line-height: 1.34;
   letter-spacing: 0;
   margin-bottom: 3.2rem;
}
.to-action .btn__text {
   font-size: 2.4rem;
   padding: 1.5rem 3.3rem;
}
.to-action__plan {
   width: 100%;
   min-height: auto;
   height: 182px;
   margin-top: -63px;
   background: url("../img/to-action/plan@sm.webp") no-repeat center top / cover;
}

}

/* 420px */
@media only screen and (max-width : 420px) {

.working .circle-badge {
   right: initial;
   left: 50%;
   top: 0px;
   margin-left: 67px;
}

.to-action__plan {
   height: 152px;
}

}

/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {
   .hero-s {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}