.logo {
	display: inline-flex;
	align-items: center;
	column-gap: 2rem;
	color: initial;
	text-decoration: none;
}
.logo__img {
	width: 18rem;
	height: 8rem;
}
.logo__text {
	min-width: 240px;
	margin-top: auto;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: .025em;
}
.logo-descrp {
	font-size: 1.2rem;
}


.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 6.4rem;
	padding: 1rem 6.5rem .8rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: var(--accent);
	font: 1.4rem "Jost";
	color: #fff;
	border-radius: var(--radius);
	cursor: pointer;
	transition: .5s;
	column-gap: 1rem;
	line-height: 1.2;
}
.btn.d-flex {
	width: 100%;
}
.btn__icon {
	width: 2rem;
	height: 2rem;
	fill: white;
}
.btn .btn__icon._fill-black {
	fill: var(--black) !important;
}
.btn__icon._right-down {
	width: 10px;
	height: 10px;
}
.btn__icon._whatsapp {
	width: 2.1rem;
	height: 2.1rem;
}
.btn__icon._whatsapp {
	width: 2.1rem;
	height: 2.1rem;
}
.btn__icon._arrow-right {
	width: 2.1rem;
	height: 1rem;
}
/* text */
.btn ._small-text {
	font-size: 1.3rem;
}
/* light */
.btn._light {
	min-height: 6.2rem;
	background-color: var(--light);
	color: var(--black);
	font-size: 1.45rem;
	padding: 1.2rem 3.5rem 1rem;
	letter-spacing: .025em;
}
.btn._light .btn__icon {
	fill: var(--accent);
}
/* white */
.btn._white {
	background-color: white;
	color: var(--black);
}
.btn._light .btn__icon {
	fill: var(--accent);
}
/* green */
.btn._green {
	background-color: var(--green);
}


.hr-line {
	height: 1px;
	background-color: #E7E9EE;
	border: none;
	margin: 0;
}


.block-bg-light {
	position: relative;
}
.block-bg-light::before {
	content: "";
	width: 10000px;
	height: 100%;
	background-color: var(--light);
	position: absolute;
	left: 50%;
	margin-left: -5000px;
	top: 0;
	z-index: -1;
	pointer-events: none;
}


/* UI */
.ui-circle-cheked {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	position: relative;
	background-color: var(--green);
}
.ui-circle-cheked svg {
	width: 14px;
	height: 11px;
	fill: none;
	stroke: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.list-lines {
	display: flex;
	flex-direction: column;
	row-gap: 1.2rem;
}
.list-lines ._item {
	position: relative;
	padding-left: 2rem;
	min-height: 2rem;
	letter-spacing: .03em;
}
.list-lines ._item::before {
	content: "";
	width: 1.2rem;
	height: 1px;
	background-color: var(--accent);
	position: absolute;
	left: 0;
	top: 1rem;
}


.breadcrumbs {
	display: flex;
    align-items: center;
    column-gap: .4rem;
    padding: 1.1rem 0 1.8rem;
}
.breadcrumbs__item {
	font-size: 1.4rem;
    letter-spacing: .025em;
}
.breadcrumbs__link {
	display: flex;
    align-items: center;
    column-gap: .6rem;
    text-decoration: none;
}
.breadcrumbs__arrow {
	width: .9rem;
    height: .9rem;
    transform: rotate(270deg);
}