[data-aos][data-aos][data-aos-delay="4500"].aos-animate, body[data-aos-delay="4500"] [data-aos].aos-animate {
    transition-delay: 4.5s;
}
[data-aos][data-aos][data-aos-delay="5000"].aos-animate, body[data-aos-delay="5000"] [data-aos].aos-animate {
    transition-delay: 5s;
}

.custom-section .container {
    max-width: 1560px;
    padding-left: 20px;
    padding-right: 20px;
}

.red {
    color: #fe0833;
}

.intro-section {
    padding: 19rem 0 18rem;
}

@media screen and (max-width : 575px) {
    .intro-section {
        padding: 16rem 0 13rem;
    }
}

.intro-section .container {
    position: relative;
}

@media screen and (max-width : 575px) {
    .intro-section .container {
        padding-bottom: 80rem;
    }
}

.intro__title {
    margin: 0;
    font-size: 4.8rem;
    font-weight: 900;
}

@media screen and (max-width : 767px) {
    .intro__title {
        font-size: 4rem;
    }
}

@media screen and (max-width : 575px) {
    .intro__title {
        font-size: 3.8rem;
    }
    .intro__title br {
        display: none;
    }
}

.intro__subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin: 2.3rem 0 2rem;
    color: #1f1d31;
}

@media screen and (max-width : 767px) {
    .intro__subtitle {
        width: 65%;
    }
    .intro__subtitle br {
        display: none;
    }
}
@media screen and (max-width : 575px) {
    .intro__subtitle {
        width: 100%;
        margin-bottom: 2.8rem;
    }
}

.intro__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

@media screen and (max-width : 575px) {
    .intro__logos {
        margin-bottom: 3rem;
    }
}

.logo1 {
    width: 18rem;
}
.logo2 {
    width: 3.5rem;
    margin: 0 2.5rem;
}
.logo3 {
    width: 14rem;
    margin-bottom: -0.4rem;
}

@media screen and (max-width : 575px) {
    .logo1 {
        width: 21rem;
    }
    .logo2 {
        width: 4.5rem;
    }
    .logo3 {
        width: 15rem;
    }
}

.intro__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 6rem;
}
@media (max-width: 1000px) {
    .intro__box {
        display: block;
    }
}
@media screen and (max-width : 575px) {
    .intro__box {
        margin-bottom: 4rem;
    }
}

.intro__box-item {
    font-size: 1.9rem;
    font-weight: 100;
    padding-left: 1.5rem;
    border-left: 3px solid #fe0833;
}

@media screen and (max-width : 767px) {
    .intro__box-item {
        font-size: 2.2rem;
    }
}

@media screen and (max-width : 575px) {
    .intro__box-item br {
        display: none;
    }
}


.intro__box-item.item1 {
    margin-right: 6.5rem;
}

@media (max-width: 1000px) {
    .intro__box-item.item1 {
        margin: 0 0 3rem;
    }

}


.intro__box-item .red {
    font-weight: 500;
    color: #fe0833;
}

.t-btn {
    border-radius: 20px;
    background: #fe0933;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-section .t-btn {
    width: 41rem;
    height: 10rem;
    color: #fff;
    justify-content: flex-start;
    padding-left: 4rem;
    letter-spacing: 0.1rem;
    box-shadow: 0px 13px 5rem 0px rgba(252, 0, 45, 0.8);
    transition: 320ms;
}
.intro-section .t-btn:hover {
    box-shadow: 0px 13px 5rem 0px rgba(252, 0, 45, 0.4);
}

@media screen and (max-width : 575px) {
    .intro-section .t-btn {
        box-shadow: 0px 13px 3rem 0px rgba(252, 0, 45, 0.8);
    }
    .intro-section .t-btn:hover {
        box-shadow: 0px 13px 3rem 0px rgba(252, 0, 45, 0.4);
    }
    
}
.intro-section .t-btn .book {
    position: absolute;
    width: 18.4rem;
    right: -9.5rem;
    top: 0;
    pointer-events: none;
}
.intro-section .t-btn .arrow {
    position: absolute;
    left: 48rem;
    top: 9rem;
    width: 5.5rem;
    pointer-events: none;
}
.intro-section .t-btn .description {
    position: absolute;
    left: 54rem;
    top: 6rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    letter-spacing: normal;
    text-transform: none;
    width: 17rem;
    pointer-events: none;
}

@media screen and (max-width : 575px) {
    .intro-section .t-btn .arrow {
        left: 32rem;
        top: 15rem;
        transform: rotate(21deg);
    }
    .intro-section .t-btn .description {
        left: 38.9rem;
        top: 14rem;
    }
    
}


.custom-section img {
    max-width: 100%;
}

.intro__right {
    position: absolute;
    width: 56rem;
    height: 56rem;
    right: 3rem;
    top: 0;
}

@media screen and (max-width : 1200px) {
    .intro__right {
        right: -10rem;
    }
}


@media screen and (max-width : 991px) {
    .intro__right {
        right: -10rem; 
    }
   
}

@media (max-width: 660px) {
    .intro__right {
        display: none;
    }
}

@media screen and (max-width : 575px) {
    .intro__right {
        display: block;
        right: 2rem;
        top: 85rem;
        transform: scale(1.4);
    }
}


.intro__right .big {
    display: block;
}
.intro__right .small {
    position: absolute;
    width: 42rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.intro__right .big.anim {
    animation: rotate 15s infinite linear;
    z-index: 5;
}
.intro__right .big.border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(84deg);
}



.intro__right .small.anim {
    animation: rotate2 15s infinite linear;
    z-index: 5;
}
.intro__right .small.border {
    transform: translate(-50%, -50%) rotate(94deg);

}

@keyframes rotate {
    0% {
        transform: translateZ(0) rotate(0deg);
    }

    100% {
        transform: translateZ(0) rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translateZ(0) translate(-50%, -50%) rotate(-360deg);
    }
}
.phone__box {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25.1rem;
    height: 50.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 11.5rem 2.5rem;
    font-weight: 400;
    z-index: 10;
}

.message {
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: .8rem;
    width: 18.5rem;
    line-height: 1.25;

    margin-bottom: 1.5rem;
}
.message.left {
    background-color: rgb(238, 238, 238);
}
.message.right {
    background-color: #0042ea;
    color: #fff;
    margin-left: auto;
}

.read {
    color: #3c3c43;
    opacity: 0.4;
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    margin-top: 0.4rem;
}

.read.right {
    text-align: right;
}

.intro-section .decor {
    position: absolute;
    width: 10rem;
    top: 62rem;
    right: 20rem;
}
@media screen and (max-width : 767px) {
    .intro-section .decor {
        display: none;
    }
}



/*  */
.portfolio-section {

}


.portfolio__head {
    border-left: 6px solid #fe0833;
    padding-left: 1.7rem;
    margin-bottom: 8rem;
}
@media screen and (max-width : 575px) {
    .portfolio__head {
        margin-bottom: 4rem;
    }
}

.portfolio__head .t-title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.1;
}
.portfolio__head .subtitle {
    margin-top: 2rem;
    font-size: 2rem;
}

@media screen and (max-width : 767px) {
    .portfolio__head .subtitle {
        font-size: 2.3rem;
    }
    .portfolio__head .subtitle br {
        display: none;
    }
}


.portfolio__box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__item {
    width: 32%;
    margin-bottom: 2%;
    height: 43rem;
    background-size: cover;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    cursor: pointer;
}
@media screen and (max-width : 1200px) {
    .portfolio__item {
        height: 32rem;
    }    
}

@media screen and (max-width : 991px) {
    .portfolio__item {
        width: 49%;
        height: 45rem;
    }
}

@media screen and (max-width : 575px) {
    .portfolio__item {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.item__ticket {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient( -141deg, rgb(13,18,28) 0%, rgba(255,255,255,0) 200%);
    box-shadow: 0px 40px 81px 0px rgba(48, 19, 125, 0.25);
    width: 18rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0 .5rem 0 1rem;
}

.item__hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    z-index: 10;
    background: rgba(17,16,40, 0.98);
    color: #fff;
    padding: 7rem 2rem 0 4.5rem;
    transform: translateX(-100%);
    transition: 520ms;
}
.portfolio__item:hover .item__hover {
    transform: none;
}

.item__hover .title {
    font-size: 2.9rem;
    font-weight: 900;
}
.item__hover .subtitle {
    margin: 2.5rem 0;
    font-weight: 700;
    min-height: 6rem;
}
.item__hover .description {
    margin-bottom: 1rem;
    font-weight: 100;
}
.desc2 {
    min-height: 4rem;
}

.item__hover .btn {
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}



@media screen and (max-width : 767px) {
    .portfolio__item {
        height: 40rem;
    }
    .item__hover {
        padding-top: 5rem;
    }
    .item__hover .subtitle {
        min-height: 0;
    }
    .item__hover .desc2 {
        min-height: 0;
    }
}
@media screen and (max-width : 575px) {
    .item__hover {
        width: 70%;
        padding-top: 6rem;
    }
}





/*  */
.trigger-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.trigger__box {
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 40px 81px 0px rgba(48, 19, 125, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 9rem;
    color: #000;
}

.trigger__box .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width : 575px) {
    .trigger__box {
        padding: 3rem 4rem 4rem;
    }
}

.trigger__box .icon {
    width: 14rem;
    margin-right: 3rem;
    position: relative;
}

.trigger__box .indicator {
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid #fff;
    border-radius: 50%;
    background: #05C562;
    position: absolute; 
    right: 1.5rem;
    bottom: 1.5rem;
    animation: glowing 1.5s infinite;
}
.trigger__box .indicator.offline {
    background: #FF0800;
}

@media screen and (max-width : 575px) {
    .trigger__box .indicator {
        right: .7rem;
        bottom: .7rem;
    }
}

@keyframes glowing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.trigger__box .title {
    font-weight: 500;
    font-size: 2.4rem;
}
@media screen and (max-width : 991px) {
    .trigger__box .title {
        font-size: 2rem;
    }
}
@media screen and (max-width : 575px) {
    .trigger__box .title {
        font-size: 2.2rem;
    }
}
.trigger__box .phone-link {
    font-size: 3rem;
    font-weight: 900;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}
.trigger__box .description-link {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
}

@media screen and (max-width : 991px) {
    .trigger__box {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width : 767px) {
    .trigger__box {
        display: block;
        padding: 4rem;
    }
    .trigger__box .icon {
        margin-bottom: 2rem;
    }
    .trigger__box .phone {
        margin: 2rem 0;
    }
}