/* Max-Width media */

/* 1534px */
@media only screen and (max-width : 1534px) {
   
.header-nav {
   column-gap: 0;
   padding-left: 0;
}
.header-nav__item {
   padding: 1.6rem 2.1rem;
   font-size: 2.3rem;
}

.logo__img {
   width: 72px;
}
.logo__text {
   font-size: 3.4rem;
}

.hero-content__inner {
   padding-right: 70px;
}

}

/* 1400px */
@media only screen and (max-width : 1400px) {

html {
   font-size: 9px;
}

.hero-content__inner {
   padding-right: 210px;
}
.hero-offer {
   width: 450px;
}

}

/* 1200px */
@media only screen and (max-width : 1200px) {

.header__nav {
   order: 2;
}

.hero-container {
   flex-direction: column;
}
.hero-content__inner {
   padding-right: 20px;
}
.hero-graphica {
   left: 0;
}
.hero-graphica__img._internet {
   margin-left: 0;
}
.hero-offer {
   width: 800px;
   margin: 0 auto 40px;
   padding-top: 0;
}
.hero-offer__action {
   justify-content: center;
   padding-left: 139px;
}
.hero-offer__heading {
   width: 100%;
}

}


/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {

}