// icons
.i-1, .i-2, .i-3, .i-4 {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-image: url('../img/icons-service.png');
}
.i-1 { background-position: 0 0; }
.i-2 { background-position: -80px 0; }
.i-3 { background-position: -160px 0; }
.i-4 { background-position: -240px 0; }

.i-5 {
	display: inline-block;
	width: 70px;
	height: 92px;
	background-image: url('../img/i-5.png');
}
.i-6 {
	display: inline-block;
	width: 88px;
	height: 85px;
	background-image: url('../img/i-6.png');
}
.i-7 {
	display: inline-block;
	width: 134px;
	height: 108px;
	background-image: url('../img/i-7.png');
}
.i-8 {
	display: inline-block;
	width: 132px;
	height: 148px;
	background-image: url('../img/i-8.png');
}
.i-9 {
	display: inline-block;
	width: 134px;
	height: 121px;
	background-image: url('../img/i-9.png');
}
.i-10 {
	display: inline-block;
	width: 117px;
	height: 139px;
	background-image: url('../img/i-10.png');
}
.i-11 {
	display: inline-block;
	width: 106px;
	height: 119px;
	background-image: url('../img/i-11.png');
}
.i-12 {
	display: inline-block;
	width: 140px;
	height: 107px;
	background-image: url('../img/i-12.png');
}
.i-13 {
	display: inline-block;
	width: 94px;
	height: 105px;
	background-image: url('../img/i-13.png');
}
.i-14 {
	display: inline-block;
	width: 104px;
	height: 175px;
	background-image: url('../img/i-14.png');
}
.i-15 {
	display: inline-block;
	width: 86px;
	height: 91px;
	background-image: url('../img/i-15.png');
}
// ----------------------------------------

// ui
.logo {
	font: 15px 'BerlingskeSans-Md';
	strong {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 8px;
	}
	p {
		color: $silver-dark;
	}
}

.follow-me {
	display: inline-flex;
	align-items: center;
	strong {
		font-size: 18px;
		color: $dark;
		margin-right: 7px;
	}
	a {
		margin-left: 9px;
	}
	.btn-social {
		flex-shrink: 0;
	}
}

.btn-social {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: $blue;
	border-radius: 10px;
	transition: .3s;
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 0 3px rgba(#fff, .3);
	}
}
.i-tiktok {
	background-image: url('../img/i-tiktok.png');
}
.i-instagram {
	background-image: url('../img/i-instagram.png');
}

.btn {
	margin: 0;
	padding: 0 55px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: inherit;
	cursor: pointer;

	height: 95px;
	position: relative;
	background-color: #497fb4;
	font: 17px 'ProximaNova-Semibold';
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(#000, .3);
	border-radius: 20px;
	overflow: hidden;
	transition: 1s;
	box-shadow: 0 3px 5px rgba(#000, .2);
    letter-spacing: .05em;

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&:before {
			content: '';
			width: 100%;
			height: 90px;
			position: absolute;
			left: 0;
			top: 0;
			background: $gradient-blue;
			border-radius: 10px;
			box-shadow: inset 0 -5px 12px rgba(#fff, .15);
		}
		&:after {
			content: '';
			width: 50px;
			height: 40px;
			border-radius: 50%;
			box-shadow: 0 -20px 25px #fff;
			position: absolute;
			left: 0;
			bottom: -40px;
			z-index: 2;
			opacity: .6;
			transition: 1s;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&.normal {
		height: 82px;
		font-size: 16px;
		.btn__bg {
			&:before {
				height: 78px;
			}
		}
	}

	// btn hover
	&:hover {
		color: #fff;
		text-decoration: none;
		text-shadow: 0 2px 0 rgba(#000, .3), 0 2px 15px #fff;
		.btn__bg:after {
			left: 100%;
			box-shadow: 0 -50px 70px #fff;
		}
	}
}

.btn-play {
	margin: 0;
	border: none;
	display: inline-block;
	color: inherit;
	cursor: pointer;

	width: 116px;
	height: 116px;
	border-radius: 50%;
	background: $blue $gradient-blue;
	box-shadow: 0 0 0 25px rgba(#fff, .43);
	position: relative;

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -16px 0 0 -5.5px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			border-left: 22px solid #fff;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
		}
		&:before {
			border-left: 23px solid rgba(#000, .5);
			border-top: 17px solid transparent;
			border-bottom: 17px solid transparent;
			top: -2px;
		}
	}
}

.click-on-the-button {
	padding: 25px 0 0 40px;
	position: relative;
	font-size: 17.28px;
	margin: 2px 0 0 96px;
	text-align: left;
	&:before {
		content: '';
		width: 119px;
		height: 67px;
		background-image: url('../img/dotted-line.png');
		position: absolute;
		left: 0;
		top: 0;
		opacity: .6;
	}
}

.section-info {
	position: absolute;
	left: 50%;
	margin-left: -703px;
	top: 185px;
	z-index: 1;
	transform: rotate(90deg);
	transform-origin: left top;
	font: 17px 'BerlingskeSans-Md';
	letter-spacing: .17em;
	text-transform: uppercase;
	opacity: .3;
	&__line {
		content: '';
		display: inline-block;
		width: 82px;
		height: 1px;
		background-color: $black;
		vertical-align: middle;
		margin: 0 0 3px 4px;
	}
}

.video-box {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1170px;
	height: 540px;
	margin: 0 auto;
	background: lighten($silver, 10%) url('../img/bg-video.jpg') no-repeat center / cover;
	border-radius: 10px;
	box-shadow: 0 16px 40px rgba(#dce2f0, .5);
	padding: 25px 104px;
	overflow: hidden;

	.h3 {
		margin-bottom: 62px;
		line-height: 1.3;
	}

	&__control {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 0 15px 15px;
		&-info {
			margin-left: 48px;
			font-size: 20px;
			letter-spacing: .02em;
			strong {
				display: block;
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
		}
	}
}

.subtitle-color {
	min-height: 66px;
	padding: 5px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $blue;
	border-radius: 5px;
	font: 18.87px/1.1 'BerlingskeSans-Md';
	color: #fff;
	letter-spacing: .05em;

	&.green {
		background: $green $gradient-green;
	}

	&.orange {
		background: $orange $gradient-orange;
	}
}

.listing {
	font: 18.87px 'BerlingskeSans-Md';
	&__text {
		display: inline-block;
		margin: 10px 0;
		position: relative;
		padding-left: 8px;
		&:before {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $blue;
			position: absolute;
			left: -16px;
			top: 8px;
		}
	}
}


.price-box {
	font: 35.87px 'BerlingskeSans-Md';
	del {
		display: inline-block;
		font-size: 18.87px;
		vertical-align: middle;
		margin-bottom: 5px;
		span {
			font-size: 13.87px;
		}
	}
	strong span {
		font-size: 21.87px;
	}
}


.beefup {
	margin-bottom: 30px;
	background-color: #fff;
    box-shadow: 0 17px 70px rgba(#dce2f0, .5);
    border-radius: 5px;
    letter-spacing: .06em;

	&__head {
		display: flex;
		align-items: center;
		min-height: 74px;
		padding: 15px 110px 15px 38px;
		font: 20px 'BerlingskeSans-Md';
	    position: relative;
	    cursor: pointer;
	    transition: .1s;

	    &:before {
	    	content: '';
	    	width: 100%;
	    	height: 100%;
	    	background: $blue $gradient-blue;
	    	border-radius: 5px;
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	visibility: hidden;
	    	opacity: 0;
	    	transition: .3s;
	    }

	    .text {
	    	position: relative;
	    }

	    .i-down {
	    	position: absolute;
	    	right: 46px;
	    	top: 50%;
	    	margin-top: -10px;
	    	font-size: 22px;
	    	transition: color .1s, transform .3s;
	    }
	}
	&__body {
		font-size: 18px;
	    line-height: 1.6;
	    padding: 37px 60px;
	    margin-bottom: 55px;
	}

	&.is-open {
		.beefup__head {
			color: #fff;
			&:before {
				visibility: visible;
				opacity: 1;
			}
			.i-down {
				transform: rotate(180deg);
			}
		}

	}
}

.azbuka-digital {
	letter-spacing: .02em;
	font: 18px 'BerlingskeSans-Md';
	span {
		vertical-align: middle;
	}
	&__logo {
		display: inline-block;
		width: 133px;
		height: 24px;
		margin-left: 8px;
		background-image: url('../img/azbuka-digital.png');
		vertical-align: middle;
	}
}