/* Logo */
.logo {
	display: inline-flex;
	align-items: center;
	column-gap: 2rem;
	color: initial;
	text-decoration: none;
}
.logo img {
	display: block;
}
.logo__text {
	min-width: 240px;
	margin-top: auto;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: .025em;
}
.logo-descrp {
	font-size: 1.2rem;
}


/* Button */
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 6.4rem;
	padding: 1rem 6.5rem .8rem;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	background-color: var(--accent);
	font: 1.4rem "Jost";
	color: #fff;
	border-radius: var(--radius);
	cursor: pointer;
	transition: .3s ease-out;
	column-gap: 1rem;
	line-height: 1.2;
}
.btn.d-flex {
	width: 100%;
}
.btn__icon {
	width: 2rem;
	height: 2rem;
	fill: white;
	transition: .3s ease-out;
	flex-shrink: 0;
}
.btn .btn__icon._fill-black {
	fill: var(--black) !important;
}
.btn__icon._right-down {
	width: 10px;
	height: 10px;
}
.btn__icon._whatsapp {
	width: 2.1rem;
	height: 2.1rem;
}
.btn__icon._whatsapp {
	width: 2.1rem;
	height: 2.1rem;
}
.btn__icon._arrow-right {
	width: 2.1rem;
	height: 1rem;
}
.btn:hover {
	background-color: var(--blue);
	color: #fff;
}
.btn:hover ._arrow-right {
	fill: #fff !important;
}
/* text */
.btn ._small-text {
	font-size: 1.3rem;
}
/* light */
.btn._light {
	min-height: 6.2rem;
	background-color: var(--light);
	color: var(--black);
	font-size: 1.45rem;
	padding: 1.2rem 3.5rem 1rem;
	letter-spacing: .025em;
}
.btn._light .btn__icon {
	fill: var(--accent);
}
.btn._light:hover {
	background-color: var(--blue);
	color: #fff;
}
.btn._light:hover ._right-down {
	fill: #fff;
}
/* white */
.btn._white {
	background-color: white;
	color: var(--black);
}
.btn._white .btn__icon {
	fill: var(--accent);
}
.btn._white:hover {
	background-color: var(--blue);
	color: #fff;
}
/* green */
.btn._green {
	background-color: var(--green);
}
.btn._green:hover {
	background-color: var(--blue);
}


/* UI */
.ui-circle-cheked {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	position: relative;
	background-color: var(--green);
}
.ui-circle-cheked svg {
	width: 14px;
	height: 11px;
	fill: none;
	stroke: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/* ListLines */
.list-lines {
	display: flex;
	flex-direction: column;
	row-gap: 1.2rem;
}
.list-lines ._item {
	position: relative;
	padding-left: 2rem;
	min-height: 2rem;
	letter-spacing: .03em;
}
.list-lines ._item::before {
	content: "";
	width: 1.2rem;
	height: 1px;
	background-color: var(--accent);
	position: absolute;
	left: 0;
	top: 1rem;
}


/* BreadCrumbs */
.breadcrumbs {
	display: flex;
    align-items: center;
    column-gap: .4rem;
    padding: 1.1rem 0 1.8rem;
}
.breadcrumbs__item {
	font-size: 1.4rem;
    letter-spacing: .025em;
}
.breadcrumbs__link {
	display: flex;
    align-items: center;
    column-gap: .6rem;
    text-decoration: none;
}
.breadcrumbs__arrow {
	width: .9rem;
    height: .9rem;
    transform: rotate(270deg);
}


/* Burger */
.burger {
	display: block;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 11;
	overflow: hidden;
	background-color: var(--light);
	border-radius: 10px;
	position: relative;
}
.burger.active {
    background-color: transparent;
}
.burger__icon {
	width: 24px;
    height: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.burger ._top,
.burger ._center,
.burger ._bottom {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #192025;
	border: none;
	border-radius: 2px;
	transition: .3s ease-in-out;
	left: 0;
}
.burger ._top {
	top: 0;
}
.burger ._center {
	top: 50%;
	margin-top: -1px;
	width: 80%;
	right: 0;
	left: initial;
}
.burger ._bottom {
	bottom: 0;
}
.burger.active ._top {
    top: 7px;
    transform: rotate(-45deg);
}
.burger.active ._center {
    top: 8px;
    transform: rotate(45deg);
	width: 100%;
}
.burger.active ._bottom {
    opacity: 0;
    bottom: 0;
    transform: rotate(180deg);
}


.btn-more {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	column-gap: 1rem;
}
.btn-more__text {
	color: #232324;
	text-decoration: underline;
	text-decoration-color: #DB0000;
	text-decoration-style: dashed;
	text-underline-offset: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	transition: .3s ease-out;
}
.btn-more__icon {
	flex-shrink: 0;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s ease-out;
}
.btn-more__icon svg {
	width: 2rem;
	height: 1rem;
	fill: #DB0000;
	transition: .3s ease-out;
}
.btn-more:hover .btn-more__text {
	color: var(--accent);
}
.btn-more:hover .btn-more__icon {
	background-color: var(--accent);
}
.btn-more:hover svg {
	fill: #fff;
}