/* Max-Width media */

/* 1300px */
@media only screen and (max-width : 1315px) {

.peculiarities__contract img {
   max-width: 36rem;
}

.container._gap {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

}
/* 1200px */
@media only screen and (max-width : 1199.98px) {

.header__logo .logo__text {
   display: none;
}

.peculiarities__contract {
    padding: 0 2.5rem;
}
.peculiarities__content  {
   padding-bottom: 2rem;
}
.peculiarities__card {
    padding-bottom: 2rem !important;
    padding-right: 3.4rem !important;
}

.discount ._input {
	width: 100%;
}

.about-program__image {
   width: 45rem;
}

.about-company__content .section-heading {
   font-size: 3.3rem;
}

.footer__asideleft {
    padding-right: 0;
}

.aside-form {
   width: 290px;
}

.inner-page__text {
   font-size: 1.7rem;
}

.give-guarantee__img {
   margin-right: -100px !important;
   margin-left: -50px;
}

}

/* 992px */
@media only screen and (max-width : 991.98px) {

html {
   font-size: 9px;
}

.container._gap {
   padding-left: 2rem;
   padding-right: 2rem;
}

.header .messenger {
    margin: .5rem 0 0;
}
.header__action {
   padding-left: 2rem !important;
   padding-right: 2rem !important;
}

.hero-slider {
   margin-left: -2.2rem;
   margin-right: -2.2rem;
   border-radius: 0;
}
.hero-slider__content {
   padding: 4.2rem 4rem 4.2rem 2.8rem;
}

.peculiarities__card ._heading {
   max-width: 300px;
}
.peculiarities__card ._text {
   max-width: 320px;
}
.peculiarities__contract-wrap {
   display: flex;
   align-items: center;
   flex: 0 1 0;
}
.peculiarities__heading {
   width: 50%;
}
.peculiarities__contract {
   width: 50%;
   padding: 0;
   position: relative;
}

.steps__container {
   padding: 1.4rem 0;
}

.objects-header ._text {
   font-size: 2rem;
}

.about-program__image {
   width: 50%;
}

.about-company {
   column-gap: 2rem;
}
.about-company__content {
   margin-right: -1.5rem;
}
.about-company__content .section-heading {
   font-size: 3rem;
}
.about-company__content ._text {
   font-size: 1.7rem;
}
.about-company__img {
   flex-shrink: .95;
}

.quiz-choise__item {
   width: 50%;
}

.footer ._center {
   order: -1;
}

.give-guarantee__img {
   margin-right: -150px !important;
   margin-left: -150px;
}

.aside-form {
   margin-left: 0;
   width: 100%;
   max-width: 440px;
   margin: 0 auto 3rem;
}

}

/* 868px */
@media only screen and (max-width : 868px) {

.quiz__aside {
   display: none;
}

}

/* 768px */
@media only screen and (max-width : 767.98px) {

.container._gap {
   padding-left: 4.7%;
   padding-right: 4.7%;
}

h2, .size-2 {
   font-size: 3.02rem;
}
h5, .size-5 {
   font-size: 2rem;
}

.header {
   padding-top: 1.2rem;
   padding-bottom: .8rem;
}
.header .messenger {
   margin: 0 2.8rem 0;
}

.btn {
   letter-spacing: .095em;
}

.swiper-button-next,
.swiper-button-prev {
   width: 4.4rem;
   height: 4.4rem;
}

.hero-slider {
   margin: 0 -5.3% 3.7rem;
}
.hero-slider-btn {
   right: 4rem;
   bottom: 4rem;
}
.hero-slider__heading {
   font-size: 3.2rem;
   letter-spacing: -.013em;
   line-height: 1.18;
}
.hero-slider__text {
   max-width: 474px;
   padding-bottom: 1rem;
   line-height: 1.5;
   letter-spacing: .001em;
}
.hero-slider .btn {
   padding-left: 6.7rem;
   padding-right: 6.7rem;
}

.messenger {
   column-gap: 2.5rem;
}
.messenger ._icon,
.messenger ._telegram,
.messenger ._whatsapp {
   width: 4.4rem;
   height: 4.4rem;
}

.contact-box {
   padding-right: .4rem;
}
.contact-box__item ._text {
   font-size: 2rem;
}
.contact-box__item {
   column-gap: 1rem;
}
.contact-box__text {
   letter-spacing: .05em;
}

.advantages {
   margin-bottom: 2.3rem;
}
.advantages__item ._strong {
   font-size: 3.1rem;
   margin-bottom: 0;
}
.advantages__item ._strong ._plus {
   font-size: 3.3rem;
   top: 1px;
}
.advantages__item ._text {
   font-size: 1.8rem;
}

.tab-nav {
   padding: 1rem 0 3.5rem 0;
}
.tab-nav__link {
   padding: 1.4rem 1.5rem 1.2rem;
   font-size: 1.7rem;
   letter-spacing: .04em;
}

.company {
	padding-bottom: 6.5rem;
}

.quiz .section-heading {
	letter-spacing: .13rem;
	font-weight: bold;
}
.quiz__content {
   padding-top: 3.4rem;
}
.quiz-progress {
	margin-bottom: 3.2rem;
}
.quiz-header {
	margin-bottom: 1.5rem;
}
.quiz-steps {
	letter-spacing: .13rem;
}
.quiz-header__title {
	font-size: 2rem;
}
.quiz-choise__item {
   width: 43.3%;
}
.quiz-choise__block {
	height: 16.88rem;
}
.quiz-choise__img {
	height: 16.3rem;
}
.quiz-choise__title {
	font-size: 1.85rem;
}
.quiz-choise {
	margin-bottom: 0.9rem;
}
.quiz__btn .btn {
	letter-spacing: 0;
}
.quiz-helper {
	font-size: 1.6rem;
}
.quiz-selected__item {
   width: 100%;
}

.menu {
   margin-bottom: 4.7rem;
}

.inner-page .heading-3 {
   font-size: 2.6rem;
}

.inner-page .heading-4 {
   font-size: 2.45rem;
}

.give-guarantee__content {
   padding: 3.2rem 3rem 3rem;
}

.other-services-card__img {
   height: 220px;
}


}

/* 576px */
@media only screen and (max-width : 575.98px) {

.container._gap {
   padding-left: 1.8rem;
   padding-right: 1.8rem;
}

.header .messenger {
   margin: 0;
   column-gap: 1.7rem;
}
.header__logo {
   margin-top: 10px;
}

.hero-slider {
   margin-bottom: 2.7rem;
}
.hero-slider__content {
   padding: 4rem 2.5rem 6.6rem;
   background: linear-gradient(270deg, rgba(68, 108, 131, 0) 0%, rgba(57, 78, 91, 0.5) 22.7%, rgb(62, 82, 94, .65) 85.73%);
}
.hero-slider__content .btn {
   width: 100%;
}

.advantages {
   margin-bottom: 0;
}
.advantages__item {
   border-radius: 1rem;
}
.advantages__item ._strong {
   font-size: 2.8rem;
   margin-bottom: 4px;
   letter-spacing: -.04em;
}
.advantages__item ._strong ._plus {
   font-size: 2.9rem;
   top: 2px;
}
.advantages__item ._strong small {
   font-size: 2.3rem;
}
.advantages__item ._text {
   font-size: 1.8rem;
   line-height: 1.45;
}

.section-heading {
    letter-spacing: .1em;
    font-size: 2.4rem;
}

.tab-nav {
   padding-top: .7rem;
   margin-right: -2rem;
   margin-left: -2rem;
   padding: .7rem 2rem 2.5rem;
   column-gap: 1.3rem;
}
.tab-nav__link {
   padding: 1.6rem 1.5rem 1.4rem;
   font-size: 1.47rem;
   letter-spacing: .04em;
}

h4, .size-4 {
    font-size: 2.02rem;
}

.company {
   padding-bottom: 4.5rem;
}

.quiz {
   padding: 3.6rem 0 4.4rem;
}
.quiz__content {
   padding: 2.2rem 2.1rem;
}
.quiz .section-heading {
   font-weight: bold;
   line-height: 1.2;
   font-size: 2.55rem;
   letter-spacing: .008em;
}
.quiz-progress__info {
   padding-top: 0.4rem;
}
.quiz-header__title {
   font-size: 1.6rem;
}
.quiz-header {
   margin-bottom: 1.2rem;
}
.quiz-choise__item {
   width: 50%;
}
.quiz-choise__block {
   height: 12.7rem;
}
.quiz-choise__title {
   font-size: 1.65rem;
   line-height: 1.3;
   padding-top: 1.2rem;
}
.quiz-choise__img {
   height: 13.3rem;
}
.quiz-choise__img::before {
   height: 10rem;
   background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(255,255,255,0) 100%);
}
.quiz-choise__indicator {
   bottom: -1.3rem;
}
.quiz-choise {
   margin: 0 -.4rem 1.8rem;
}


.steps {
   padding: 4.7rem 0 1.6rem;
}
.steps .section-heading {
   letter-spacing: .04em;
   font-size: 2.55rem;
}
.steps__container {
    padding: 1.4rem 0;
}
.steps__row {
   padding: 0;
}
.steps__col {
   display: flex;
   column-gap: 10px;
}
.steps__icon {
   flex-shrink: 0;
}
.steps__col ._text {
   max-width: initial;
}
.steps__col::before,
.steps__row._right-line::after,
.steps__row._right-line .steps__col:last-child::after,
.steps__row-bottom-line {
   display: none;
}
.steps__row._right-line {
   margin-bottom: 0;
}

.section-heading {
   font-weight: bold;
   font-size: 2.45rem;
   letter-spacing: .03em;
   line-height: 1.32;
}

.peculiarities {
   padding-top: 3.5rem;
}
.peculiarities__content {
   padding-top: 1.5rem;
   margin-right: 0 !important;
}
.peculiarities__card {
   padding-bottom: 2.75rem !important;
   padding-right: 0 !important;
}
.peculiarities__card ._heading {
   font-size: 2rem;
   max-width: 100%;
   margin-bottom: 0.6rem;
}
.peculiarities__card .ui-circle-cheked {
   width: 4rem;
   height: 4rem;
}
.peculiarities__card ._text {
   max-width: 100%;
   font-size: 1.8rem;
   line-height: 1.4;
}


.peculiarities {
   margin-bottom: 2.4rem;
}
.peculiarities__contract-wrap {
   flex-wrap: wrap;
   justify-content: center;
}
.peculiarities__heading {
   width: 100%;
}
.peculiarities__contract {
   width: 271px;
}

.objects {
   padding: 2rem 0 2.5rem;
}
.objects-header ._text {
   line-height: 1.5;
}
.objects-descrp {
   padding: 2.3rem 0 0 0;
}
.objects-descrp ._text {
   line-height: 1.56;
   font-size: 1.7rem;
}

.list-lines {
   row-gap: 1.6rem;
   font-size: 1.7rem;
}

.objects-btns {
   row-gap: 1.1rem;
   padding-top: 2.7rem;
   font-size: 1.7rem;
}
.objects-btns .btn,
.objects-btns .btn._light {
   font-size: 1.4rem;
}
.objects-slider .swiper-pagination {
   padding-top: .2rem;
}


.review {
   padding: 3.6rem 0 1rem;
   margin-bottom: 4.2rem;
}
.review-card {
   padding: 1.7rem;
   min-height: 30.5rem;
}
.review-card__avatar {
   width: 5.5rem;
   height: 5.5rem;
}
.review-card__author {
   font-size: 1.8rem;
}
.review-rating svg {
   width: 2.2rem;
   height: 2.2rem;
}
.review-card__date {
   font-size: 1.6rem;
   padding-top: 1px;
}
.review-card__text {
   font-size: 1.57rem;
   line-height: 1.41;
}
.review-card__more {
   font-size: 1.6rem;
}
.review-slider .swiper-pagination {
   bottom: 2rem;
}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"], textarea {
   height: 6rem;
}


.discount {
   border-radius: 2.4rem;
   padding: 2.6rem 2.2rem 2.3rem;
   margin-bottom: 4.5rem;
}
.discount ._text {
   line-height: 1.52;
}
.discount .btn {
   min-height: 6rem;
}


.section-heading-block ._text {
   font-size: 2rem;
   line-height: 1.52;
}

.about-program {
   padding: 2.5rem 0 3.2rem;
}
.about-program__content {
   flex-wrap: wrap;
   row-gap: 1.8rem;
   margin-bottom: 3.5rem;
}
.about-program__descrp {
   height: 335px;
   order: 1;
}
.about-program__descrp-inner {
   height: 335px;
}
.about-program__image {
   width: 100%;
}
.about-program .simplebar-content {
   padding: 2rem 2rem !important;
}
.about-program .simplebar-track {
   right: 1.2rem;
}

.partners-company__item {
   width: 50%;
}

.partners {
    padding: 2.2rem 0 4.4rem;
}
.partners-company__item {
   height: 8.9rem;
}
.partners-company__item._sber {
   order: 1;
}
.partners-company__item._donstroy {
   order: 2;
}
.partners-company__item._pik {
   order: 3;
}
.partners-company__item._etalon {
   order: 4;
}
.partners-company__item._samolet {
   order: 5;
}
.partners-company__item._ingrad {
   order: 6;
}
.partners-company__item._fsk {
   order: 7;
}
.partners-company__item._composite {
   order: 8;
}
.partners-company__item._granel {
   order: 9;
}
.partners-company__item._gazprom {
   order: 10;
}
.partners-company__item._sminex {
   order: 11;
}
.partners-company__item._alfabank {
   order: 12;
}


.accredited {
    padding: 2.5rem 0 3.2rem;
}
.accredited-partners__item {
   width: 5rem;
   height: 5rem;
}
.accredited-partners ._gerb {
	width: 2.6rem;
}
.accredited-partners ._sber {
	width: 2.8rem;
}
.accredited-partners ._ptc {
	width: 3.2rem;
}
.accredited-partners ._company7 {
	width: 2.6rem;
}
.accredited-partners ._tec {
	width: 2.4rem;
}
.accredited .section-heading-block ._text {
   font-size: 1.8rem;
   line-height: 1.45;
}


.about-company {
   flex-wrap: wrap;
   padding: 1.5rem 0 2.4rem;
}
.about-company__img {
   margin-bottom: 2.7rem;
}
.about-company__content .section-heading {
   font-size: 2.6rem;
   line-height: 1.2;
   letter-spacing: 0;
}
.about-company__content ._text {
   font-size: 1.77rem;
}
.about-company .btn {
   display: flex;
}

.lead-form {
   padding: 2.4rem 2.2rem 2.1rem;
   margin-bottom: 4.5rem;
}
.lead-form__header {
   margin-bottom: .8rem;
}
.lead-form__header ._text {
   line-height: 1.54;
}
.lead-form__bg-layer {
   display: none;
}
.lead-form__row {
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
}
.lead-form__inform {
   font-size: 1.34rem;
   line-height: 1.5;
}

.nice-select.select-line {
   padding-top: .2rem;
}
.nice-select .arrow {
   right: .8rem;
}

.review-slider {
   margin-left: -2rem;
   margin-right: -2rem;
}
.review-slider .swiper-wrapper {
   padding: 0 2rem;
}
.review-slider .section-heading {
   margin-left: 2rem;
}

.footer .logo {
   max-width: 28.8rem;
}
.footer__content {
   padding: 4.4rem 0;
}
.footer-menu__header {
   cursor: pointer;
   padding: 0 4rem 2.3rem 0;
}
.footer-menu__title {
   font-size: 2.03rem;
}
.footer-menu__list {
   overflow: hidden;
   max-height: 0;
   font-size: 1.88rem;
   line-height: 1.18;
   row-gap: 1.9rem;
   padding-bottom: 0;
}
.footer-menu__toggle:checked ~ .footer-menu__list {
   max-height: 500px;
   overflow-y: auto;
   padding-bottom: 3rem;
}
.footer-menu__arrow {
   display: block;
   transform: rotate(0deg);
}
.footer-menu__toggle:checked ~ .footer-menu__arrow {
   transform: rotate(180deg);
}

.footer__asideleft {
   margin-bottom: 5rem;
}

.footer-bottom {
   padding-top: 2.1rem;
   padding-bottom: 2.7rem;
   font-size: 1.6rem;
   letter-spacing: .02em;
}

.contactbox ._tel {
   letter-spacing: .05em;
   font-size: 2.4rem;
}
.contactbox .helper-small {
   font-size: 1.3rem;
}
.contactbox ._mail {
   font-size: 2.4rem;
}
.contactbox ._address {
   font-size: 2.4rem;
}

.mobile-nav__header {
   padding-right: 48px;
}

.inner-page .heading-3 {
   font-size: 2.2rem;
}

.give-guarantee__text {
   font-size: 1.6rem;
}
.give-guarantee__subtext {
    font-size: 1.4rem;
}

.other-services-card__text {
   font-size: 1.6rem;
}


}

/* 480px */
@media only screen and (max-width : 480px) {}


/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {
   .hero-s {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}