@charset "UTF-8";

@font-face {
    font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'Codec-Cold';
  src: url("../fonts/Codec-Cold-Heavy-trial.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
  /* 1 */
    height: 0;
  /* 1 */
    overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
  /* 1 */
    text-decoration: underline;
  /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
  /* 1 */
    font-size: 100%;
  /* 1 */
    line-height: 1.15;
  /* 1 */
    margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
  /* 1 */
    color: inherit;
  /* 2 */
    display: table;
  /* 1 */
    max-width: 100%;
  /* 1 */
    padding: 0;
  /* 3 */
    white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
    outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
  /* 1 */
    font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}

html {
    margin-right: calc(-1 * (100vw - 100%));
    font-size: 1.93vw;
    height: 100%;
}

body {
    background: #FFF;
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: 'MuseoSansCyrl';
    font-weight: 300;
    color: #1f1f1f;
    min-height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.my-body-noscroll-class {
    overflow: hidden;
}

.my-body-noscroll-class body {
    overflow: hidden;
}

img {
    max-width: 100%;
}

b {
    font-weight: 700;
}

a, button, .img-svg, .modal__open {
    outline: none;
    border: 0;
    cursor: pointer;
    background: none;
    -webkit-transition: 220ms;
    transition: 220ms;
    text-decoration: none;
}

.img-svg path {
    -webkit-transition: 320ms;
    transition: 320ms;
}

a {
    color: #1f1f1f;
}

/* Bootstrap 4 */
.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
}

@media (min-width: 360px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 8.5px;
    }

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 8px;
    }

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 9px;
    }

    .container {
        max-width: 1080px;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 10px;
    }

    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .hidden-lg {
        display: none;
    }
}

.btn-center {
    text-align: center;
}

.d-flex {
    display: -webkit-box;
    display: flex;
}

.blick-btn {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-size: 1px 100%;
    color: #535151;
    position: relative;
    z-index: 3;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.blick-btn:after {
    content: "";
    top: -50%;
    right: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), to(rgba(229, 172, 142, 0)));
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.7) 50%, rgba(229, 172, 142, 0));
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    opacity: 0;
    position: absolute;
    z-index: 3;
    -webkit-animation: sheens 3s infinite;
    animation: sheens 3s infinite;
}

@-webkit-keyframes sheens {
    0%, 79% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }

    80% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }

    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(1em, -11em);
        transform: rotateZ(60deg) translate(1em, -11em);
    }

    to {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(1em, -9em);
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

@keyframes sheens {
    0%, 79% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }

    80% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }

    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateZ(60deg) translate(1em, -11em);
        transform: rotateZ(60deg) translate(1em, -11em);
    }

    to {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: rotateZ(60deg) translate(1em, -9em);
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.slick-slide {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

.section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.t-title {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 100;
    letter-spacing: 0.01rem;
}

@media screen and (max-width: 991px) {
    .t-title {
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 767px) {
    .t-title {
        font-size: 3rem;
    }
}

.t-title b {
    font-weight: 500;
}

.t-subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    color: #adaada;
    text-align: center;
}

.t-btn {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    color: #2f2f2f;
    border-radius: 12px;
    text-transform: uppercase;
    box-shadow: inset 0 -.4rem 1px #C0952E;
    cursor: pointer;
    -webkit-transition: 220ms;
    transition: 220ms;
    background: radial-gradient(circle, #ffea89 46%, #ffd330 97%);
    padding: 3rem 5rem;
}

@media screen and (max-width: 575px) {
    .t-btn {
        width: 100%;
        display: -webkit-box;
        display: flex;
        min-height: 11rem;
    }
}

.t-btn .shadow {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 58rem;
    z-index: -1;
    -webkit-transition: 420ms;
    transition: 420ms;
    pointer-events: none;
}

.t-btn:hover {
    background: radial-gradient(circle, #ffea89 46%, #ffd330 170%);
}

.t-btn:hover .shadow {
    opacity: 0;
}

.intro__btn {
    position: relative;
    padding: 2.7rem 4rem 3.2rem;
    min-width: 51rem;
    min-height: 10rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -1.5rem;
}

@media screen and (max-width: 767px) {
    .intro__btn {
        margin-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .intro__btn {
        min-height: 0;
        width: 100%;
        min-width: 0;
    }
}

.intro__btn .arrow {
    position: absolute;
    bottom: calc(100% + 2rem);
    left: 29.5rem;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .intro__btn .arrow {
        display: none;
    }
}

.intro__btn .icon {
    position: absolute;
    top: -.3rem;
    right: -8rem;
    z-index: 4;
    pointer-events: none;
}

@media screen and (max-width: 575px) {
    .intro__btn .icon {
        width: 7.4rem;
    }
}

.intro__btn .btn-height {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    border-radius: 12px;
}

.intro__btn .btn-title {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}

@media screen and (max-width: 575px) {
    .intro__btn .btn-title {
        font-size: 2rem;
    }
}

.intro__btn .btn-title span {
    text-transform: none;
    font-weight: 300;
    color: #967d27;
    letter-spacing: normal;
    padding-left: 0.4rem;
}

.privacy__warning {
    font-size: 1.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .privacy__warning br {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .privacy__warning {
        font-size: 1.5rem;
    }
}

.privacy__warning a {
    text-decoration: underline;
    color: #adaada;
}

.privacy__warning a:hover {
    text-decoration: none;
}

.privacy__warning img {
    margin-right: 1.2rem;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

#header, #footer {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    padding: 3rem 0;
    font-weight: 500;
}

#header .container, #footer .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    #header .container, #footer .container {
        padding-left: 3rem;
    }
}

@media screen and (max-width: 767px) {
    #header .container, #footer .container {
        flex-wrap: wrap;
    }
}

#footer {
    position: relative;
    top: auto;
    bottom: 0;
    padding: 1.5rem 0 2rem;
}

@media screen and (max-width: 767px) {
    #footer {
        background: #fff;
        padding: 4rem 0 2rem;
        margin: 9rem 0 0;
    }
}

#footer .header__pdf-link {
    color: #3A46F2;
}

@media screen and (max-width: 767px) {
    #footer.thanks__footer {
        margin-top: 0;
    }
}

.header__logo {
    position: relative;
    padding-left: 3rem;
    letter-spacing: 0.012rem;
}

@media screen and (max-width: 767px) {
    .header__logo {
        -webkit-box-ordinal-group: 1;
        order: 0;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 575px) {
    .header__logo {
        padding-left: 1.5rem;
    }
}

.header__logo-img {
    width: 8.8rem;
    position: absolute;
    top: -.5rem;
    left: -2.6rem;
}

@media screen and (max-width: 575px) {
    .header__logo-img {
        width: 7rem;
        top: .5rem;
    }
}

.header__logo-title {
    font-family: 'Codec-Cold';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 1;
}

@media screen and (max-width: 575px) {
    .header__logo-title {
        font-size: 2.6rem;
    }
}

.header__logo-subtitle {
    font-weight: 500;
    padding-left: 4rem;
}

@media screen and (max-width: 575px) {
    .header__logo-subtitle {
        font-size: 1.2rem;
    }
}

.header__pdf {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 991px) {
    .header__pdf {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__pdf {
        -webkit-box-ordinal-group: 3;
        order: 2;
        display: -webkit-box;
        display: flex;
        margin: 2rem 0 0;
    }
}

.header__pdf-icon {
    width: 4.6rem;
    margin-right: 1rem;
}

.header__pdf-title {
    margin-bottom: 0.4rem;
    color: #373737;
}

.header__pdf-link {
    color: #adaada;
    font-weight: 500;
    text-decoration: underline;
}

.header__pdf-link:hover {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__messengers {
        -webkit-box-ordinal-group: 4;
        order: 3;
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 575px) {
    .header__messengers {
        margin: 2.5rem 0 0;
    }
}

@media screen and (max-width: 575px) {
    .header__messengers .header__messengers-link {
        width: 3.5rem;
    }

    .header__messengers .header__messengers-link img {
        width: 100%;
    }
}

.header__messengers-title {
    font-size: 1.2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.header__messengers-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: .6rem 0 0;
}

.header__messengers-box a {
    margin-right: 0.5rem;
}

.header__messengers .indicator {
    margin-left: 0.9rem;
    border-radius: 50%;
    -webkit-animation: online 1000ms infinite;
    animation: online 1000ms infinite;
    width: 0.8rem;
    height: 0.8rem;
}

@media screen and (max-width: 575px) {
    .header__messengers .indicator {
        margin-left: 0.4rem;
    }
}

.header__messengers .indicator.offline {
    -webkit-animation: offline 1000ms infinite;
    animation: offline 1000ms infinite;
}

@-webkit-keyframes offline {
    0% {
        background: transparent;
    }

    50% {
        background: #FF0800;
    }

    100% {
        background: transparent;
    }
}

@keyframes offline {
    0% {
        background: transparent;
    }

    50% {
        background: #FF0800;
    }

    100% {
        background: transparent;
    }
}

@-webkit-keyframes online {
    0% {
        background: transparent;
    }

    50% {
        background: #00a204;
    }

    100% {
        background: transparent;
    }
}

@keyframes online {
    0% {
        background: transparent;
    }

    50% {
        background: #00a204;
    }

    100% {
        background: transparent;
    }
}

@media screen and (max-width: 767px) {
    .header__phone {
        -webkit-box-ordinal-group: 2;
        order: 1;
        text-align: right;
    }
}

.header__phone-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.header__phone-link img {
    width: 1.5rem;
    margin-right: 0.8rem;
}

.header__phone-link span {
    font-size: 1.8rem;
    font-weight: 900;
}

.header__phone-callback {
    border-bottom: 1px dotted #000;
    font-size: 1.22rem;
    display: inline-block;
}

@media screen and (max-width: 575px) {
    .header__phone-callback span {
        display: none;
    }
}

.header__phone-callback:hover {
    border-bottom-color: transparent;
}

.intro-section {
    position: relative;
    padding: 18rem 0 4rem;
}

@media screen and (max-width: 767px) {
    .intro-section {
        padding-top: 22rem;
    }
}

.intro-section .section__bg {
    background-position: top center;
    background-size: 192rem auto;
    background-image: url("../img/intro/intro__bg.jpg");
    height: 100%;
}

@media (min-width: 1200px) {
    .intro-section .container {
        padding-left: 3rem;
    }
}

.intro-section .t-title {
    font-size: 5.2rem;
    text-align: left;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 767px) {
    .intro-section .t-title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 575px) {
    .intro-section .t-title {
        font-size: 3.6rem;
    }

    .intro-section .t-title br {
        display: none;
    }
}

.intro-section .t-title .yellow__plash {
    position: absolute;
    display: inline-block;
    margin-left: 1rem;
}

@media screen and (max-width: 575px) {
    .intro-section .t-title .yellow__plash {
        margin-left: 0;
        bottom: -3rem;
    }
}

.intro-section .t-title .yellow__plash img {
    display: block;
    width: 28.5rem;
}

.intro-section .t-title .yellow__plash span {
    position: absolute;
    left: 53%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 300;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .intro-section .t-title .yellow__plash span {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 575px) {
    .intro-section .t-title .yellow__plash span {
        width: 85%;
    }
}

.intro__subtitle {
    font-size: 2.4rem;
    margin: 3rem 0 4rem;
    font-weight: 500;
}

@media screen and (max-width: 575px) {
    .intro__subtitle {
        margin: 5.5rem 0 4rem;
        font-size: 2.2rem;
        line-height: 1.25;
    }

    .intro__subtitle br {
        display: none;
    }
}

.intro__advantages {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .intro__advantages {
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 575px) {
    .intro__advantages {
        margin-bottom: 1rem;
    }
}

.intro__advantages-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 29rem;
    margin-right: 9.5rem;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 767px) {
    .intro__advantages-item {
        margin-right: 0;
        display: -webkit-box !important;
        display: flex !important;
    }
}

.intro__advantages-item:nth-child(2) {
    margin-right: 15rem;
}

@media screen and (max-width: 767px) {
    .intro__advantages-item:nth-child(2) {
        margin-right: 0;
    }
}

.intro__advantages-item:nth-child(4) {
    width: 48rem;
}

@media screen and (max-width: 991px) {
    .intro__advantages-item:nth-child(4) {
        width: 38rem;
    }
}

.intro__advantages img {
    width: 7.6rem;
    margin-right: 2rem;
    flex-shrink: 0;
}

@media screen and (max-width: 575px) {
    .intro__advantages img {
        width: 10rem;
    }
}

.intro__advantages span {
    font-size: 1.8rem;
    font-weight: 300;
}

@media screen and (max-width: 575px) {
    .intro__advantages span {
        font-size: 2rem;
    }
}

.intro__advantages span b {
    font-weight: 500;
}

.intro__bottom {
    padding-left: 3rem;
    margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
    .intro__bottom {
        padding-left: 0;
        padding: 1.5rem 0 0;
    }
}

@media screen and (max-width: 575px) {
    .intro__bottom {
        padding-left: 3.5rem;
    }
}

.offer__date {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 575px) {
    .offer__date {
        font-size: 1.5rem;
    }
}

.offer__date img {
    margin-right: 1.2rem;
    -webkit-animation: rotate2 3s infinite linear;
    animation: rotate2 3s infinite linear;
}

@-webkit-keyframes rotate2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animate {
    pointer-events: none;
    position: absolute;
}

.parallax1 {
    -webkit-animation: animate_one 5s infinite;
    animation: animate_one 5s infinite;
    position: absolute;
    left: -4rem;
    top: -10rem;
    width: 36rem;
}

@media (max-width: 1600px) {
    .parallax1 {
        width: 32rem;
        top: -2rem;
        left: -12rem;
    }
}

@media screen and (max-width: 991px) {
    .parallax1 {
        left: -16rem;
        top: 5rem;
    }
}

@media screen and (max-width: 575px) {
    .parallax1 {
        width: 20rem;
        left: -12rem;
        top: 0;
        display: none;
    }
}

.parallax2 {
    -webkit-animation: animate_two 5s infinite;
    animation: animate_two 5s infinite;
    position: absolute;
    right: 0;
    top: 25rem;
    width: 28rem;
}

@media (max-width: 1600px) {
    .parallax2 {
        width: 25rem;
        right: -7rem;
    }
}

@media screen and (max-width: 991px) {
    .parallax2 {
        right: -9rem;
        width: 22rem;
    }
}

@media screen and (max-width: 575px) {
    .parallax2 {
        width: 18rem;
        right: -10rem;
        top: 75rem;
        display: none;
    }
}

@-webkit-keyframes animate_one {
    0% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }

    50% {
        -webkit-transform: translateY(-5rem) skewY(-2deg);
        transform: translateY(-5rem) skewY(-2deg);
    }

    100% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }
}

@keyframes animate_one {
    0% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }

    50% {
        -webkit-transform: translateY(-5rem) skewY(-2deg);
        transform: translateY(-5rem) skewY(-2deg);
    }

    100% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }
}

@-webkit-keyframes animate_two {
    0% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }

    50% {
        -webkit-transform: translateY(5rem) skewY(-2deg);
        transform: translateY(5rem) skewY(-2deg);
    }

    100% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }
}

@keyframes animate_two {
    0% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }

    50% {
        -webkit-transform: translateY(5rem) skewY(-2deg);
        transform: translateY(5rem) skewY(-2deg);
    }

    100% {
        -webkit-transform: translateY(0) skewY(2deg);
        transform: translateY(0) skewY(2deg);
    }
}

.plan-section {
    padding: 4.5rem 0 8rem;
    position: relative;
}

@media screen and (max-width: 575px) {
    .plan-section {
        padding: 7rem 0 0rem;
    }
}

.plan-section .t-subtitle {
    margin: 1.5rem 0 3rem;
}

@media (min-width: 1200px) {
    .plan-section .container {
        padding-left: 3rem;
    }
}

.plan__box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .plan__box {
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .plan__box {
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0;
    }
}

.plan__item {
    margin-bottom: 3.3rem;
    flex-shrink: 0;
}

@media screen and (max-width: 991px) {
    .plan__item {
        width: 33%;
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .plan__item {
        width: 48%;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .plan__item {
        width: 49%;
    }
}

.plan__item .plan__img-box {
    height: 10.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .plan__item .plan__img-box {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .plan__item .plan__img-box {
        height: 12rem;
    }
}

.plan__item .plan__img {
    width: 11rem;
}

.plan__item .plan__title {
    font-size: 1.8rem;
    margin: 1.5rem 0 1.5rem;
    font-weight: 700;
}

.plan__item .plan__subtitle {
    font-size: 1.8rem;
}

@media screen and (max-width: 991px) {
    .plan__item .plan__subtitle br {
        display: none;
    }
}

.item3 .plan__img {
    width: 13rem;
}

.item5 .plan__img {
    width: 10rem;
}

.item6 .plan__img {
    width: 12rem;
}

.item7 .plan__img {
    width: 13rem;
}

.item8 .plan__img {
    width: 12rem;
}

@media (min-width: 1200px) {
    .item1, .item5 {
        width: 28rem;
    }
}

@media (min-width: 1200px) {
    .item2, .item6 {
        width: 23rem;
    }
}

@media (min-width: 1200px) {
    .item3, .item7 {
        width: 25rem;
    }
}

@media (min-width: 1200px) {
    .item4, .item8 {
        width: 28rem;
    }
}

.bottom__bg {
    position: relative;
}

.bottom__bg .section__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    height: 96.5rem;
    width: 100%;
    background-image: url("../img/quiz/quiz__bg.png");
    background-size: 192rem auto;
    background-position: bottom center;
}

.quiz-section {
    position: relative;
}

@media (min-width: 1200px) {
    .quiz-section .container {
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    .quiz-section {
        padding-top: 10rem;
    }
}

.quiz-section .t-title {
    margin-bottom: 3.8rem;
}

.quiz-section .undertitle {
    position: absolute;
    padding-left: 15px;
    font-size: 2.4rem;
}

@media screen and (max-width: 575px) {
    .quiz-section .undertitle {
        position: absolute;
        left: 0;
        top: 105%;
        padding: 0;
    }
}

.quiz__box {
    background: #fbfaff;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
    overflow: visible;
}

@media screen and (max-width: 991px) {
    .quiz__box {
        border-radius: 10px;
    }
}

.quiz__box .quiz__left-border {
    position: absolute;
    right: 100%;
    right: calc(100% - 1px);
    top: 0;
    height: 100%;
}

@media screen and (max-width: 991px) {
    .quiz__box .quiz__left-border {
        display: none;
    }
}

.quiz__box .quiz__right-border {
    position: absolute;
    left: 100%;
    left: calc(100% - 1px);
    top: 0;
    height: 100%;
}

@media screen and (max-width: 991px) {
    .quiz__box .quiz__right-border {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .quiz__box {
        display: block;
    }
}

.quiz__box::before {
    content: "";
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: -1.2rem;
    top: 0;
    background: #EDC855;
    border-radius: 12px;
    z-index: -1;
}

.quiz__box::after {
    content: "";
    position: absolute;
    left: 7.5rem;
    right: 7.5rem;
    bottom: -2.2rem;
    top: 0;
    background: #EDC855;
    opacity: 0.5;
    border-radius: 12px;
    z-index: -2;
}

.progress-container {
    position: relative;
}

.progress__steps {
    position: absolute;
    right: 7.5rem;
    bottom: 2.3rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.progress__steps .item {
    display: none;
}

.progress-container .gora {
    position: absolute;
    width: 9.6rem;
    right: -5rem;
    top: -7rem;
    z-index: 4;
}

.progress-bar__container {
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 12px;
    border-radius: 4px;
    background-color: #e2e2e2;
}

.progress-bar {
    position: relative;
    z-index: 2;
    width: 16.666666666666668%;
    height: 12px;
    border-radius: 4px;
    background: #EDC855;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
}

.progress-bar__bg {
    position: absolute;
    left: -35px;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url("../img/quiz/progress-bar-bg.png");
    -webkit-animation: moving 1s linear infinite;
    animation: moving 1s linear infinite;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat-x;
    opacity: 0.4;
}

@-webkit-keyframes moving {
    from {
        left: -35px;
    }

    to {
        left: 0;
    }
}

@keyframes moving {
    from {
        left: -35px;
    }

    to {
        left: 0;
    }
}

.step__box {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.quiz__left {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 8.5rem 5.5rem 6rem;
    width: 86rem;
    flex-shrink: 0;
    min-height: 60rem;
}

@media screen and (max-width: 575px) {
    .quiz__left {
        padding: 8rem 3.5rem 6rem;
        min-height: 85rem;
    }
}

@media (max-width: 1200px) {
    .quiz__left {
        width: 90rem;
        flex-shrink: 1;
    }
}

@media screen and (max-width: 991px) {
    .quiz__left {
        width: 100%;
    }
}

.quiz__left .title {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 4rem 0 3rem;
}

@media screen and (max-width: 767px) {
    .quiz__left .title br {
        display: none;
    }
}

.quiz__left .description {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media (max-width: 1200px) {
    .quiz__left .description br {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .quiz__left .description img {
        display: none;
    }
}

.quiz__left .description span {
    margin-left: 15px;
    font-size: 1.6rem;
    font-weight: 100;
}

@media screen and (max-width: 991px) {
    .quiz__left .description span {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    .quiz__left .description span {
        margin-left: 0;
    }
}

.quiz__left .step__center {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.quiz__left .box {
    margin: 1rem 0 0;
    width: 58rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .quiz__left .box {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .quiz__left .box {
        width: 100%;
        margin-left: 0;
    }
}

.quiz__left .t-btn {
    padding: 2.5rem 3rem;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background: -webkit-gradient(linear, left top, right top, from(#e9c044), to(#fae694));
    background: linear-gradient(90deg, #e9c044 0%, #fae694 100%);
    box-shadow: inset 0px 8px 35px 0px rgba(247, 254, 164, 0.48);
    font-size: 1.9rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: none;
    margin-top: 2rem;
}

@media screen and (max-width: 575px) {
    .quiz__left .t-btn {
        margin-left: 0;
        padding: 23px 25px;
        font-size: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .quiz__left .t-btn {
        font-size: 16px;
    }
}

.quiz__left .t-btn:hover {
    background: -webkit-gradient(linear, right top, left top, from(#e9c044), to(#fae694));
    background: linear-gradient(-90deg, #e9c044 0%, #fae694 100%);
}

.quiz__left .t-btn img {
    margin-left: 2rem;
}

@media screen and (max-width: 360px) {
    .quiz__left .t-btn img {
        display: none;
    }
}

.simple-label,
.simple-input {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #EFEEF2;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: 220ms;
    transition: 220ms;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
    width: 28rem;
    margin-bottom: 2.2rem;
}

@media screen and (max-width: 575px) {
    .simple-label,
    .simple-input {
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .simple-label,
  .simple-input {
        width: 100%;
        font-size: 16px;
        padding: 13px 15px;
    }
}

@media screen and (max-width: 575px) {
    .simple-label,
  .simple-input {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    .simple-label,
  .simple-input {
        font-size: 14px;
    }
}

.simple-label:hover,
.simple-input:hover, .simple-label.active {
    border-color: #EDC855;
}

.simple-label input,
.simple-input input {
    display: none;
}

.simple-label input:checked ~ .react,
.simple-input input:checked ~ .react {
    background: #EDC855;
}

.simple-label .react,
.simple-input .react {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#d4d4d4));
    background: linear-gradient(180deg, #e6e6e6 0%, #d4d4d4 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    -webkit-transition: 220ms;
    transition: 220ms;
}

@media screen and (max-width: 767px) {
    .simple-label .react,
  .simple-input .react {
        width: 14px;
        height: 14px;
    }
}

.simple-label .value,
.simple-input .value {
    margin-left: 1.5rem;
}

.simple-label .info,
.simple-input .info {
    position: relative;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: #eeeeee;
    border: 2px solid #e7e6e9;
    box-shadow: 0px 9px 32px 0px rgba(1, 4, 7, 0.11);
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.simple-label .info:hover,
.simple-input .info:hover {
    border-color: #EDC855;
}

@media screen and (max-width: 575px) {
    .simple-label .info,
  .simple-input .info {
        width: 25px;
        height: 25px;
        display: none;
    }
}

.simple-label .info-messenger,
.simple-input .info-messenger {
    margin-left: auto;
}

.box2 .simple-label .right-img {
    position: absolute;
    right: -4rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 30%;
}

.box4 .simple-label {
    width: 45rem;
}

@media screen and (max-width: 575px) {
    .box4 .simple-label {
        width: 100%;
    }
}

.box6 .simple-label .icon {
    background: none;
}

@media screen and (max-width: 767px) {
    .box6 .simple-label {
        width: 48%;
    }
}

@media screen and (max-width: 575px) {
    .box6 .simple-label {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .step9 .t-btn {
        width: 100%;
        display: -webkit-box;
        display: flex;
    }
}

.step {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.step p {
    display: block;
    width: 100%;
}

.quiz1 .step1 {
    display: -webkit-box;
    display: flex;
}

.quiz2 .progress-bar {
    width: 25%;
}

.quiz2 .step2 {
    display: -webkit-box;
    display: flex;
}

.quiz3 .progress-bar {
    width: 35%;
}

.quiz3 .step3 {
    display: -webkit-box;
    display: flex;
}

.quiz4 .progress-bar {
    width: 45%;
}

.quiz4 .step4 {
    display: -webkit-box;
    display: flex;
}

.quiz5 .progress-bar {
    width: 55%;
}

.quiz5 .step5 {
    display: -webkit-box;
    display: flex;
}

.quiz6 .progress-bar {
    width: 65%;
}

.quiz7 .progress-bar {
    width: 75%;
}

.quiz8 .progress-bar {
    width: 85%;
}

.quiz9 .progress-bar {
    width: 95%;
}

.quiz6 .step6 {
    display: -webkit-box;
    display: flex;
}

.quiz7 .step7 {
    display: -webkit-box;
    display: flex;
}

.quiz8 .step8 {
    display: -webkit-box;
    display: flex;
}

.quiz9 .step9 {
    display: -webkit-box;
    display: flex;
}

.simple-input {
    border: 0;
    display: block;
    padding: 0;
}

@media screen and (max-width: 575px) {
    .simple-input {
        margin-top: 20px;
    }
}

.simple-input input {
    width: 100%;
    background: #f9f8fc;
    display: block;
    border: 2px solid #EDC855;
    border-radius: 12px;
    padding: 2.5rem 3rem;
    font-size: 16px;
    outline: none;
    -webkit-transition: 220ms;
    transition: 220ms;
}

.simple-input input:hover,
.simple-input input:focus {
    border: 2px solid #DBB84E;
}

@media screen and (max-width: 575px) {
    .simple-input input {
        height: 70px;
    }
}

.simple-input .desc {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: #000;
    margin: 7px 0 0;
    opacity: 0.6;
}

@media screen and (max-width: 575px) {
    .simple-input .desc {
        font-size: 13px;
    }
}

.privacy-section {
    margin-bottom: 9.5rem;
}

.privacy-section .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.privacy-section span {
    display: block;
    font-weight: 100;
    font-size: 14px;
    opacity: 0.75;
    margin-left: 15px;
}

.privacy-section span a {
    text-decoration: underline;
}

.quiz__left .quad-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin: .5rem 0 2rem;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .quiz__left .quad-box {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .quiz__left .quad-box {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

.quiz__left .quad-box .quad-label {
    margin-right: 2rem;
}

@media screen and (max-width: 767px) {
    .quiz__left .quad-box .quad-label {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .quiz__left .quad-box .quad-label {
        width: 48%;
        margin-bottom: 4%;
        margin-right: 0;
    }
}

.quiz__left .quad-box .quad-label input {
    display: none;
}

.quiz__left .quad-box .quad-label input:checked + .quad__item {
    border-color: #EDC855;
}

.quiz__left .quad-box .quad-label .quad__item {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border: 2px solid #EFEEF2;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 320ms;
    transition: 320ms;
}

.quiz__left .quad-box .quad-label .quad__item:hover {
    border-color: #EDC855;
}

@media screen and (max-width: 575px) {
    .quiz__left .quad-box .quad-label .quad__item {
        width: 100%;
        margin-right: 0;
        height: auto;
        min-height: 20rem;
    }
}

.quiz__left .quad-box .quad-label .quad__item-img {
    border-radius: 10px;
    padding: 1rem 1rem 0;
    width: 100%;
}

.quiz__left .quad-box .quad-label .value {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 575px) {
    .quiz__left .quad-box .quad-label .value {
        font-size: 2rem;
        padding: 2rem 1rem;
    }
}

.thanks-section {
    padding-bottom: 12rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.thanks-section .container {
    position: relative;
    z-index: 4;
}

.thanks-section .section__oblaka {
    position: absolute;
    bottom: -10rem;
    width: 192rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .thanks-section .section__oblaka {
        bottom: -5rem;
    }
}

@media screen and (max-width: 575px) {
    .thanks-section .section__oblaka {
        width: 100rem;
    }
}

.thanks-section .t-title {
    margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
    .thanks-section .t-title {
        font-size: 4rem;
        margin: 3rem 0 0;
    }
}

@media screen and (max-width: 575px) {
    .thanks-section .t-title {
        margin: 1.5rem 0 2.5rem;
    }
}

.thanks-text {
    margin-bottom: 1.8rem;
    font-size: 2rem;
    font-weight: 300;
    width: 55%;
}

@media screen and (max-width: 991px) {
    .thanks-text {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .thanks-text {
        font-size: 2.2rem;
    }

    .thanks-text br {
        display: none;
    }
}

.thanks__button {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@media screen and (max-width: 575px) {
    .thanks__button {
        -webkit-box-pack: center;
        justify-content: center;
        padding-left: 15rem;
        padding-top: 4rem;
    }
}

.thanks__button .vector {
    margin-left: 45rem;
    margin-right: 5.5rem;
}

@media screen and (max-width: 575px) {
    .thanks__button .vector {
        margin-left: 0;
    }
}

.thanks__button .whatsapp {
    display: block;
    width: 50px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .thanks__button .whatsapp {
        flex-shrink: 0;
    }
}

.thanks__button .whatsapp img {
    position: relative;
    z-index: 4;
}

.anim-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #86868c;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.anim-circle {
    -webkit-animation: anim-box 4s linear infinite;
    animation: anim-box 4s linear infinite;
}

.anim-circle:nth-of-type(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.anim-circle:nth-of-type(3) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes anim-box {
    0% {
    /*transform: scale(1);*/
        width: 0;
        height: 0;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
    /*transform: scale(5);*/
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

@keyframes anim-box {
    0% {
    /*transform: scale(1);*/
        width: 0;
        height: 0;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
    /*transform: scale(5);*/
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.85);
    background-color: #16161a;
    opacity: 0.78;
}

.modal {
    display: none;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 575px) {
    .callback {
        width: 100%;
        height: 100%;
    }

    .callback .t-form {
        padding: 6rem 3.5rem;
        border-radius: 0;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.modal__close {
    height: 2.5rem;
    width: 2.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: -5rem;
    top: 0;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .modal__close {
        right: 25px;
        top: 25px;
        z-index: 3;
    }
}

.modal__close .img-svg {
    height: 2.5rem;
    width: 2.5rem;
}

.modal__close .img-svg path {
    fill: #fff;
}

@media screen and (max-width: 575px) {
    .modal__close .img-svg path {
        fill: #CCD5F2;
    }
}

.modal__close:hover .img-svg path {
    fill: #CCD5F2;
}

.t-form {
    width: 45rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 16px 45.9px 5.1px rgba(211, 206, 204, 0.31);
    padding: 6rem 7rem;
    position: relative;
    text-align: center;
    color: #000;
}

@media (max-width: 1200px) {
    .t-form {
        width: 54rem;
    }
}

@media screen and (max-width: 575px) {
    .t-form {
        width: 100%;
        padding: 14rem 3.5rem 6rem;
    }
}

.t-form::before {
    display: block !important;
}

.t-form .content {
    position: relative;
    z-index: 2;
}

.t-form .form-icon {
    position: absolute;
    top: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 6.6rem;
}

@media screen and (max-width: 575px) {
    .t-form .form-icon {
        width: 5.5rem;
    }
}

.t-form .title {
    font-size: 2.4rem;
    font-family: 'Acrom';
    font-weight: 600;
}

.t-form .subtitle {
    font-size: 1.6rem;
    color: #666768;
    margin: 1rem 0 3rem;
}

@media screen and (max-width: 575px) {
    .t-form .subtitle {
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }
}

.t-form input {
    border-radius: 4px;
    background: #F9F9FB;
    border: 2px solid #F2F2F4;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 0;
    margin-bottom: 13px;
    height: 9rem;
    width: 100%;
    outline: none;
    -webkit-transition: 320ms;
    transition: 320ms;
}

.t-form input:hover, .t-form input:focus {
    border-color: #FFDF5E;
}

@media screen and (max-width: 575px) {
    .t-form input {
        height: 7rem;
    }
}

.t-form input::-webkit-input-placeholder {
    color: #000;
    font-size: 13px;
}

.t-form input::-moz-placeholder {
    color: #000;
    font-size: 13px;
}

.t-form input:-ms-input-placeholder {
    color: #000;
    font-size: 13px;
}

.t-form input::-ms-input-placeholder {
    color: #000;
    font-size: 13px;
}

.t-form input::placeholder {
    color: #000;
    font-size: 13px;
}

.t-form .t-btn {
    box-shadow: inset 0 -6px 1px #C0952E;
    width: 100%;
    font-weight: 500;
    font-size: 1.8rem;
}

@media screen and (max-width: 575px) {
    .t-form .t-btn {
        font-size: 1.5rem;
        line-height: 1.15;
        padding-left: 0;
        padding-right: 0;
        min-height: 5rem;
        padding: 2.6rem;
    }
}

.t-form .privacy__warning {
    margin: 0 auto;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    padding: 2rem 0 0;
    text-align: left;
    color: #9b9b9b;
    font-size: 1.4rem;
}

.t-form .privacy__warning a {
    display: block;
    color: #003693;
}

@media screen and (max-width: 575px) {
    .t-form .privacy__warning {
        font-size: 1.2rem;
    }
}

.modal .t-form {
    box-shadow: 0px 16px 45.9px 5.1px rgba(0, 0, 0, 0.31);
}
