.header {
	padding: 12px 0;
	margin-bottom: 3rem;
}
.header__inner {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1630px;
	padding: 0 var(--gap-x-15);
	margin: 0 auto;
}
.header__menu {
	width: 100%;
	padding-right: 2rem;
}
.header__logo {
	padding: 0 3rem;
	position: relative;
	top: 3px;
}
.header__aside {
	width: 100%;
	display: flex;
	padding-left: 2rem;
}
.header-contact {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 3.9rem;
	align-items: center;
	justify-content: flex-end;
}
.header-contact__tel {
	font: 500 3.3rem "AlumniSans";
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		color: var(--color-accent);
	}
}
.header__calculate-btn.btn._small .btn__text {
	font: 1.15rem "RoadRadio";
	padding: 1.2rem 1.1rem 1.2rem 1.6rem;
}
.header__burger.burger {
	display: none;
}

/* Hero */
.hero {
	max-width: 1430px;
	padding: 2.4rem var(--gap-x-15);
	margin: 0 auto;
	min-height: 150px;
}
.hero__heading {
	text-align: center;
	margin-bottom: 4.8rem;
	font-size: clamp(4.4rem, 8vw, 11rem);
}
.hero__action {
	text-align: center;
	animation-delay: 0.3s;
}

/* Advantages */
.advantages {
	max-width: 1400px;
	margin: 0 auto;
	padding: 4rem 0;
}
.advantages-slider {
	text-align: center;
}
.advantages-slider .swiper-wrapper {
	width: auto;
	display: inline-flex;
	text-align: center;
}
.advantages-slider .swiper-slide {
	display: inline;
	width: auto;
}
.advantages-post {
	padding: 1rem 3rem 1rem 2.8rem;
	text-align: left;
}
.advantages-post__title {
	display: inline-block;
	font: 500 1.7rem "Manrope";
	letter-spacing: -0.095em;
	margin-bottom: 0.9rem;
}
.advantages-post__title::before {
	content: "[ ";
	color: var(--color-accent);
}
.advantages-post__title::after {
	content: " ]";
	color: var(--color-accent);
}
.advantages-post__text {
	color: var(--color-gray);
	font-size: 1.4rem;
	line-height: 1.23;
	letter-spacing: -0.016em;
}

.lighter-glare {
	width: 200px;
	height: 209px;
	background: #d3a168;
	filter: blur(250px);
	z-index: -1;
}
.lighter1 {
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: 640px;
}
.lighter2 {
	position: absolute;
	left: 50%;
	top: 649px;
	margin-left: -972px;
}

.mobile-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(67, 67, 67, 0.66);
		backdrop-filter: blur(7.9px);
		position: absolute;
		left: 0;
		top: 0;
	}

	.social-media {
		column-gap: 9px;
	}
	.social-media__item {
		width: 36px;
		height: 36px;
	}
}
.mobile-panel__inner {
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow-y: auto;
}
.mobile-panel__container {
	width: 210px;
	background-color: #282727;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 43px 15px 23px 24px;
}
.mobile-panel__close {
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 3px;
	background-color: var(--color-accent);
	position: absolute;
	right: 12px;
	top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	svg {
		fill: none;
		stroke: #fff;
		width: 8px;
		height: 8px;
	}
}
.mobile-menu {
	margin-bottom: 4rem;
}
.mobile-menu__caption {
	font: 700 3rem / 1 "AlumniSans";
	text-transform: uppercase;
	margin-bottom: 1.3rem;
}
.mobile-menu__list {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.mobile-menu__link {
	font-size: 1.5rem;
	color: #c8c8c8;
	font-weight: 500;
	text-decoration: none;
}
.mobile-panel__contacts {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	row-gap: 15px;
}
.mobile-panel__tel {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}
.mobile-panel__address {
	font-weight: 600;
	line-height: 1.55;
	font-size: 1.4rem;

	._street {
		font-weight: 400;
		color: #c8c8c8;
	}
}

/* Working */
.working {
	position: relative;
	padding: 3rem 0;
	margin-bottom: 4.6rem;
}
.working .circle-badge {
	position: absolute;
	left: 50%;
	top: -5.8rem;
	z-index: 2;
	margin-left: 63.7rem;
}
.working-slider {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	text-align: center;
}
.working-slider .swiper-wrapper {
	width: auto;
	display: inline-flex;
	text-align: center;
}
.working-slider .swiper-slide {
	display: inline;
	width: auto;
}
.working-slider .swiper-slide-next {
	animation: bounceIn 1s linear;
}
.working-item {
	display: block;
}
.working-item__img {
	display: block;
	height: 428px;
	overflow: hidden;
	border-radius: 10px;
}
.working-item__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.working__action {
	text-align: center;
	padding: 1.5rem 0;
}

/* toAction */
.to-action {
	padding: 5rem 10px;

	&._working {
		.to-action__content {
			min-height: 444px;
			padding: 5.9rem 500px 6rem 7.8rem;
		}
	}
}
.to-action__inner {
	max-width: 1600px;
	margin: 0 auto;
	background-color: #353535;
	border-radius: 30px;
	min-height: 200px;
	position: relative;
	overflow: hidden;
}
.to-action__inner::before,
.to-action__inner::after {
	content: "";
	position: absolute;
	width: 310px;
	height: 448px;
	background: rgba(179, 118, 52, 0.76);
	filter: blur(103.913px);
	border-radius: 50%;
	pointer-events: none;
}
.to-action__inner::before {
	left: -122px;
	bottom: -300px;
}
.to-action__inner::after {
	right: -180px;
	top: -254px;
}
.to-action__content {
	padding: 5.9rem 0 5rem 7.8rem;
	position: relative;
	z-index: 2;

	.input._tel {
		width: 349px;
	}
}
.to-action__heading {
	font: 700 7.7rem/0.87 "AlumniSans";
	margin-bottom: 3.6rem;
}
.to-action__text {
	max-width: 540px;
	color: var(--color-gray);
	font-size: 1.9rem;
	line-height: 1.2;
	margin-bottom: 4.2rem;
	letter-spacing: -0.018em;
}
.to-action__plan {
	width: 736px;
	min-height: 462px;
	height: 100%;
	background: url("../../img/to-action/plan.webp") no-repeat left center / cover;
	position: relative;
	z-index: 1;
}
.to-action__graphica {
	position: absolute;
	right: 0;
	bottom: 0;

	._picture {
		position: relative;
		z-index: 1;
	}

	.ellipse1 {
		position: absolute;
		right: -97px;
		bottom: -149px;
	}
	.ellipse2 {
		position: absolute;
		right: -157px;
		bottom: -229px;
	}
}
.to-action__house1 {
	width: 708px;
	height: 427px;
	background: url("../../img/to-action/house-1.webp") no-repeat left bottom / cover;
	position: relative;
	z-index: 1;
}
.to-action__house1 {
	width: 708px;
	height: 427px;
	background: url("../../img/to-action/house-2.webp") no-repeat left bottom / cover;
	position: relative;
	z-index: 1;
}

/* Catalog */
.catalog {
	padding: 2rem 0 5rem;
}
.catalog-header {
	max-width: 1652px;
	margin: 0 auto;
	padding: 3.6rem 26px;
}
.catalog-header__heading {
	flex: 0 0 auto;
	padding: 0.5rem 7rem 0.5rem 0;
	max-width: 650px;
}
.catalog-nav {
	display: flex;
	justify-content: flex-end;
}
.catalog-nav__item {
	flex: 0 1 211px;
}
.catalog-nav__btn {
	height: 100%;
	min-height: 7.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-left: none;
	font: 500 2.5rem/0.94 "AlumniSans";
	text-decoration: none;
	text-transform: uppercase;
	color: #bfbfbf;
	border: 1px solid rgba(194, 194, 194, 0.35);
	border-left: none;
	padding: 1.5rem;
}
.catalog-nav__item:first-child .catalog-nav__btn {
	border-left: 1px solid rgba(194, 194, 194, 0.35);
	border-radius: 10px 0 0 10px;
}
.catalog-nav__item:last-child .catalog-nav__btn {
	border-radius: 0 10px 10px 0;
}
.catalog-nav__btn.active {
	border: 1px solid var(--color-accent);
	background-color: var(--color-accent);
	color: #fff;
}

.catalog-slider__wrap {
	max-width: 2622px;
	margin: 0 auto;
	padding: 2.3rem 0;
}
.catalog-slider.swiper {
	width: 2622px;
	position: relative;
	left: 50%;
	margin-left: -1311px;
}
.catalog-slider.swiper .swiper-slide {
	width: 856px;
}
.catalog-slider.swiper .swiper-slide-next {
	animation: bounceIn 1s linear;
}
.catalog-slider .swiper-navigation {
	display: none;
}
.catalog-slide {
	width: 856px;
	height: 557px;
	position: relative;
	overflow: hidden;
}
.catalog-slide-picture {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}
.catalog-slide-picture::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(45, 45, 45, 0.2);
}
.catalog-slide-picture img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.catalog-slide-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	z-index: 1;
	left: 37px;
	right: 37px;
	bottom: 37px;
	transition: 0.3s ease-out;
}
.catalog-slide-info__title {
	font: 500 2.5rem "Manrope";
	letter-spacing: -0.04em;
}
.catalog-slide-info__btn.btn {
	min-height: 6.6rem;
	margin: 0 7px 5px;
}
.catalog-slide-info__btn.btn .btn__icon {
	width: 6.6rem;
}
.catalog-slide-info__btn.btn ._right-up {
	fill: none;
	stroke: #fff;
	transform: scaleX(-1);
	width: 1.7rem;
	height: 1.7rem;
	margin-top: 0.5rem;
}
.catalog-description {
	max-width: 383px;
	display: flex;
	flex-direction: column;
	position: absolute;
	background: rgba(61, 61, 61, 0.54);
	backdrop-filter: blur(18.034px);
	border-radius: 10px;
	padding: 28px;
	left: 17px;
	bottom: 17px;
	top: 17px;
	right: 17px;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease-out;
	transition-delay: 0.1s;
	transform: translateX(-200px);
}
.catalog-description__title {
	font: 500 2.35rem "Manrope";
	margin-bottom: 2rem;
}
.catalog-description__result {
	margin-top: auto;
	padding-top: 20px;
}
.catalog-description__price {
	font-size: 3.2rem;
	font-weight: 500;
	margin-bottom: 1.3rem;
}
.catalog-description__price ._small {
	font-weight: 400;
	font-size: 2rem;
	margin-right: -0.5rem;
}
.catalog-description__btn.btn {
	display: flex;
	min-height: 7.2rem;
}
.catalog-description__btn.btn .btn__text {
	width: 100%;
	min-height: 7.2rem;
}
/* active slide */
.catalog-slider .swiper-slide-next .catalog-slide-info {
	visibility: hidden;
	opacity: 0;
}
.catalog-slider .swiper-slide-next .catalog-description {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

/* Mission */
.mission {
	max-width: 1652px;
	margin: 0 auto;
	padding: 4cqh 26px 5rem;
	position: relative;
}
.mission .section-heading {
	margin-bottom: 2rem;
}
.mission__picture {
	display: block;
}
.mission__picture img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	border-radius: 10px;
}
.mission .lighter-glare {
	position: absolute;
	left: 50%;
	top: 92px;
	margin-left: 709px;
}

/* FAQ */
.faq {
	padding: 5rem 0;
}
.faq__heading {
	padding: 2.6rem 26px;
	max-width: 1400px;
	margin: 0 auto 2.4rem;
}
.faq__heading ._text-right {
	display: block;
	text-align: right;
}
.faq-item {
	box-shadow: 0 0.5px 0 rgba(255, 255, 255, 0.36);
	position: relative;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
.faq-item.is-open {
	background-color: #353535;
}
.faq-item:last-child {
	box-shadow: none;
}
.faq-item::before,
.faq-item::after {
	content: "";
	width: 372px;
	height: 408px;
	border-radius: 50%;
	background-color: rgba(179, 118, 52, 0.12);
	filter: blur(104px);
	position: absolute;
	transition: 0.5s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.faq-item::before {
	left: 50%;
	margin-left: 817px;
	top: -230px;
}
.faq-item::after {
	left: 50%;
	margin-left: -1094px;
	bottom: -277px;
}
/* is open */
.faq-item.is-open::before,
.faq-item.is-open::after {
	visibility: visible;
	opacity: 1;
}
.faq-head > button {
	display: block;
	width: 100%;
	padding: 3.3rem 26px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: left;
	color: #fff;
}
.faq-head__inner {
	display: flex;
	max-width: 1600px;
	min-height: 4.8rem;
	margin: 0 auto;
	position: relative;
	padding-left: 94px;
}
.faq-head__number {
	font-size: 2.8rem;
	position: absolute;
	left: -1px;
	top: 0.6rem;
}
.faq-head__number::before,
.faq-head__number::after {
	position: relative;
	font-size: 2.9rem;
	color: var(--color-accent);
	top: -1px;
}
.faq-head__number::before {
	content: "[";
	margin-right: 0.3rem;
}
.faq-head__number::after {
	content: "]";
	margin-left: 0.3rem;
}
.faq-head__text {
	font-size: 2.33rem;
	color: var(--color-gray);
	flex-grow: 1;
	padding: 1.5rem 3rem 0 0;
	letter-spacing: 0.02em;
	line-height: 1.33;
}
.faq-head__text ._accent {
	color: #fff;
	font-weight: 500;
}
.faq-head__icon {
	width: 5.9rem;
	height: 5.9rem;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.faq-head__icon svg {
	fill: #fff;
	width: 1.8rem;
	height: 1.8rem;
}

.faq-body {
	overflow: visible !important;
}
.faq-body__inner {
	display: flex;
	max-width: 1652px;
	padding: 0 26px 4.4rem;
	margin: 0 auto;
}
.faq-body__content {
	flex-grow: 1;
	padding: 0 3rem 0 94px;
	margin-top: -2rem;
}
.faq-body__text {
	font-size: 2.3rem;
	color: var(--color-gray);
	letter-spacing: 0.017em;
	line-height: 1.49;
	margin-bottom: 5.9rem;
}
.faq-body__image {
	width: 579px;
	overflow: hidden;
	border-radius: 10px;
	flex-shrink: 0;
	margin-top: -9.3rem;
	position: relative;
}
.faq-body__image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Project */
.project {
	position: relative;
	padding: 1.3rem 0 3rem;

	.lighter-glare {
		position: absolute;
		left: 50%;
		margin-left: 775px;
		top: -100px;
	}
}

.project-slider__wrap {
	max-width: 3688px;
	margin: 1.7rem auto;
	position: relative;

	.project-slider {
		width: 3688px;
		position: relative;
		left: 50%;
		margin-left: -1844px;

		.swiper-navigation {
			padding: 0;
		}

		.swiper-prev,
		.swiper-next {
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 1;
			background-color: var(--color-dark);
		}

		.swiper-prev {
			margin: -2.95rem 0 0 -667px;
		}
		.swiper-next {
			margin: -2.95rem 0 0 610px;
		}

		.swiper-slide-next {
			.project-card__gallery {
				animation: bounceIn 1s ease-in;
			}
			.project-card__content {
				animation: fadeInRight 0.5s ease-in-out;
			}
			.project-card__fraction {
				animation: fadeIn 1s ease-in;
			}
		}
	}
}

.project-card {
	width: 1134px;
	background-color: #353535;
	padding: 4.2rem 4.7rem 3.8rem;
	display: flex;
	column-gap: 5rem;
	position: relative;
	margin: 0 auto;
	border-radius: 10px;

	.list {
		padding: 0 5rem 2.5rem 0;
	}
	.list__item {
		font-size: 1.844rem;
	}
}
.project-card__fraction {
	position: absolute;
	right: 41px;
	bottom: 37px;
	color: rgba(255, 255, 255, 0.5);
	font: 1.55rem "RoadRadio";
	letter-spacing: 0.03em;

	._active {
		color: #fff;
		font-size: 2.94rem;
	}
}
.project-card__title {
	font: 600 2.5rem "Manrope";
	letter-spacing: -0.05em;
	margin-bottom: 1.8rem;
}
.project-card__address {
	letter-spacing: -0.04em;
	display: inline-block;
	padding: 1rem 2.3rem;
	background-color: #404040;
	border-radius: 40px;
	font-weight: 500;
	margin-bottom: 2.3rem;
}
.project-card__price {
	font-size: 3.458rem;
	font-weight: 600;
	letter-spacing: -0.04em;
	margin-bottom: 2.2rem;

	._small {
		font-size: 2.1rem;
		font-weight: 400;
	}
}
.project-card__action {
	padding-right: 7rem;
}
.project-card__content {
	width: 100%;

	.project-badge {
		margin-bottom: 20px;
	}
	.project-badge__item::before {
		background: #404040;
		backdrop-filter: blur(0);
	}
}
.project-card__gallery {
	width: 565px;
	flex-shrink: 0;
}
.project-gallery {
	width: 565px;
	border-radius: 10px;
	margin-bottom: 9px;
	overflow: hidden;
}
.project-gallery__image {
	display: block !important;
	height: 364px;
	overflow: hidden;
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(45, 45, 45, 0.19);
		transition: 0.5s ease-out;
	}

	&:hover {
		&::after {
			opacity: 0;
		}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.project-badge {
		position: absolute;
		left: 1.7rem;
		top: 1.7rem;
	}
}
.project-badge {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}
.project-badge__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	color: #fff;
	line-height: 1.1;
	padding: 1.2rem 2rem;
	font-weight: 500;
	font-size: 1.3rem;
	letter-spacing: -0.06em;

	&::before {
		content: "";
		background: rgba(55, 54, 54, 0.28);
		backdrop-filter: blur(24.2584px);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 80px;
	}

	._text {
		position: relative;
	}
}

.project-thumbs {
	margin-right: -10px;
	.slick-track {
		margin-left: 0;
		margin-right: 0;
	}
	.slick-slide {
		margin-right: 10px;
	}
}
.project-thumbs__image {
	display: block;
	width: 134px;
	height: 87px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(45, 45, 45, 0.19);
		transition: 0.5s ease-out;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.look {
	padding: 5rem 0;
}
.look__heading {
	text-align: center;
}
.look-slider__wrap {
	max-width: 2706px;
	margin: 2rem auto;
}
.look-slider.swiper {
	width: 2706px;
	position: relative;
	left: 50%;
	margin-left: -1353px;
}
.look-card {
	position: relative;
}
.look-card__img {
	height: 475px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(45, 45, 45, 0.19);
		position: absolute;
		left: 0;
		top: 0;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.look-card__play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.reviews {
	padding: 5.8rem 0 7.2rem;
	display: flex;

	.section-heading__heading {
		margin-bottom: 2.7rem;
	}
}
.reviews__heading {
	flex-basis: 623px;
	flex-shrink: 0;
	padding-right: 5rem;
}
.reviews__content {
	flex-grow: 1;
	padding: 1rem 0;

	.swiper-navigation {
		display: none;
	}
}
.reviews-slider.swiper {
	width: 1256px;
}
.reviews-card {
	height: 667px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(106, 106, 106, 0.55);
		position: absolute;
		left: 0;
		top: 0;
	}

	.play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}
.reviews-card__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about {
	padding: 4.4rem 0 5rem;
}
.about__content {
	display: flex;
	border: 1px solid #616161;
	border-radius: 10px;
	margin-top: 1.8rem;
}
.about__item {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	padding: 3.7rem 1rem 3.6rem 3.7rem;
	border-left: 1px solid #616161;
	min-height: 40rem;
	transition: 0.7s ease-out;
	position: relative;
	overflow: hidden;

	&:first-child {
		border-left: 0;
	}
	&:nth-child(2) {
		animation-delay: 0.2s;
	}
	&:nth-child(3) {
		animation-delay: 0.3s;
	}
	&:nth-child(4) {
		animation-delay: 0.4s;
	}

	&::before,
	&::after {
		content: "";
		width: 77px;
		height: 390px;
		background-color: rgba(179, 118, 52, 0.38);
		filter: blur(104px);
		border-radius: 50%;
		position: absolute;
		opacity: 0;
		transition: 1.2s ease-out;
	}
	&::before {
		right: -45px;
		top: -220px;
	}
	&::after {
		left: -32px;
		bottom: -256px;
	}

	.ellipse1 {
		width: 316px;
		height: 438px;
		position: absolute;
		transform: matrix(0, 1, -0.6, 0, 0, -190) scale(0);
		top: -63px;
		right: -134px;
		transition: 0.9s ease-out;
		opacity: 0;
	}
	.ellipse2 {
		width: 398px;
		height: 552px;
		position: absolute;
		top: -122px;
		right: -174px;
		transform: matrix(0, 1, -0.6, 0, 20, -90) scale(0);
		transition: 0.75s ease-out;
		opacity: 0;
	}

	&:hover {
		background-color: #282727;

		&::before,
		&::after {
			opacity: 1;
		}
		.ellipse1 {
			opacity: 0.5;
			transform: matrix(0.97, 0.23, 0.26, 0.97, 0, 0) scale(1);
		}
		.ellipse2 {
			opacity: 1;
			transform: matrix(0.97, 0.23, 0.26, 0.97, 0, 0) scale(1);
		}
	}
}
.about__step {
	font-size: 2.8rem;
	position: relative;
	z-index: 1;
}
.about__step::before,
.about__step::after {
	position: relative;
	font-size: 2.9rem;
	color: var(--color-accent);
	top: -1px;
}
.about__step::before {
	content: "[";
	margin-right: 0.3rem;
}
.about__step::after {
	content: "]";
	margin-left: 0.3rem;
}
.about__number {
	font: 700 11.9rem/0.75 "AlumniSans";
	margin-bottom: 1.5rem;
	position: relative;
	z-index: 1;
}
.about__text {
	font-size: 2rem;
	color: #b3b3b3;
	letter-spacing: 0.04em;
	padding-right: 2rem;
	position: relative;
	z-index: 1;
}

.steps {
	padding: 4.6rem 0;
}
.steps__container {
	display: flex;
	padding-top: 1.8rem;
}
.steps__content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100%;
	gap: 17px;
}
.steps__form {
	width: 455px;
	padding-left: 17px;
	flex-shrink: 0;

	.form-block {
		min-height: 100%;
	}
}
.steps__item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: calc(50% - 17px);
	min-height: 308px;
	background-color: #353535;
	background-repeat: no-repeat;
	background-position: right bottom;
	border-radius: 10px;
	padding: 3.8rem 4rem 3.5rem 3.8rem;

	&:nth-child(odd) {
		width: calc(60% - 17px);
	}
	&:nth-child(even) {
		width: 40%;
		animation-delay: 0.2s;
	}

	&._key {
		background-image: url("../../img/steps/key.png");
		background-size: 235px;
		padding-right: 150px;
	}
	&._app {
		background-image: url("../../img/steps/app.png");
		background-size: 155px;
		padding-right: 100px;
	}
	&._delivery {
		background-image: url("../../img/steps/delivery.png");
		background-size: 235px;
		padding-right: 190px;
	}
	&._doc {
		background-image: url("../../img/steps/doc.png");
		background-size: 455px;
	}
}
.steps__item-title {
	font: 600 2.7rem/1.3 "Manrope";
	letter-spacing: -0.07em;
	margin-bottom: 2rem;
}
.steps__item-text {
	font-size: 2rem;
	color: #adadad;
	margin-top: auto;
	max-width: 420px;
	letter-spacing: -0.01em;
}

.form-block {
	background-color: #282727;
	padding: 3.8rem 3rem 3rem;
	border-radius: 10px;
	position: relative;
	overflow: hidden;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: -347px;
		left: 100%;
		width: 88.15px;
		height: 614.85px;
		background: rgba(179, 118, 52, 0.76);
		filter: blur(104px);
		border-radius: 50%;
	}
	&::after {
		left: -50px;
		top: initial;
		bottom: -408px;
	}

	.btn__text {
		font-size: 2.6rem;
		padding: 1.4rem 1.8rem;
	}

	.input {
		display: block;
		width: 100%;
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.choise-file__label {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.g-3 {
		--bs-gutter-y: 1.4rem;
	}

	.consent-processing {
		column-gap: 1.5rem;
	}
	.consent-processing__text {
		padding-top: 0;
	}

	.ellipse1 {
		position: absolute;
		right: -203px;
		bottom: -150px;
		width: 367px;
		height: 679px;
		transform: matrix(0.99, 0.1, 0.57, -0.82, 0, 0);
	}
	.ellipse2 {
		position: absolute;
		right: -250px;
		bottom: -240px;
		width: 463px;
		height: 857px;
		transform: matrix(0.99, 0.1, 0.57, -0.82, 0, 0);
	}
}

.form-block__inner {
	position: relative;
	z-index: 1;
}
.form-block__header {
	margin-bottom: 3.2rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	text-align: center;
}
.form-block__title {
	font: 600 2.45rem/1.37 "Manrope";
}
.form-block__heading {
	font-size: 6.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
.form-block__text {
	color: #c8c8c8;
	letter-spacing: -0.017em;
	margin: 0 -5px;
}

.quality {
	padding: 5rem 0 8.6rem;
}
.quality__container {
	display: flex;
	padding-top: 1.8rem;
}
.quality__slider {
	width: 62%;
	position: relative;
	.swiper-pagination {
		position: absolute;
		left: 0;
		bottom: -30px !important;
	}
}
.quality-slider {
	width: 100%;
	height: 100%;
	border: 1px solid #616161;
	border-right: 0;
	border-radius: 10px 0 0 10px;
	.swiper-slide {
		border-right: 1px solid #616161;
		display: flex;
		flex-direction: column;
		padding: 3.9rem 1rem 3.5rem 3.2rem;
	}
	.swiper-wrapper {
		height: 100%;
	}
}
.quality__image {
	width: 38%;
	height: auto;
	min-height: 495px;
	margin-left: auto;
	position: relative;
	z-index: 2;
	.circle-badge {
		position: absolute;
		top: -34px;
		right: 58px;
	}
}
.quality__image-img {
	height: 100%;
	overflow: hidden;
	border-radius: 0 10px 10px 0;
	img {
		display: block;
	}
}
.quality__markers {
	display: flex;
	gap: 1rem;
	margin-bottom: 6.3rem;
	span {
		width: 2rem;
		height: 2rem;
		background-color: var(--color-accent);
		border-radius: 50%;
	}
}
.quality__title {
	font: 500 2.3rem/1.3 "Manrope";
	margin-bottom: 2.1rem;
}
.quality__text {
	font-size: 1.5rem;
	color: #c8c8c8;
	max-width: 360px;
}

.contacts {
	padding-top: 4.7rem;
	padding-bottom: 2.5rem;
	font-size: 2.4rem;
}
.contacts__content {
	display: flex;
	justify-content: space-between;
	padding-top: 1.1rem;
}
.contacts__address {
	max-width: 600px;
	color: #c8c8c8;
	font-weight: 500;
	letter-spacing: -0.05em;
	._accent-text {
		color: #fff;
		font-size: 3.5rem;
		font-weight: 600;
		letter-spacing: -0.056em;
	}
}
.contacts__tel {
	padding: 0 2rem;
	.link {
		text-decoration: none;
		font-weight: 500;
		letter-spacing: -0.05em;
		&._tel {
			font-size: 3.5rem;
			font-weight: 600;
			color: #fff;
			border-bottom: 1px dashed #fff;
			letter-spacing: -0.05em;
			line-height: 1.1;
			padding-top: 7px;
			display: inline-block;
			margin-bottom: 4px;
		}
	}
}
.contacts__social {
	display: flex;
	align-items: center;
	font-weight: 600;
	column-gap: 5.5rem;
	font-size: 2.4rem;
	letter-spacing: -0.03em;
	line-height: 1.34;
}

.map-contact {
	width: 100%;
	max-width: 1600px;
	position: relative;
	margin: 3rem auto 7rem;
	overflow: hidden;
	border-radius: 10px;

	iframe {
		display: block;
		width: 100%;
		height: 493px;
	}
}

.consent-processing {
	display: flex;
	column-gap: 1rem;
	padding: 0.8rem 0;
}
.consent-processing__icon {
	align-self: flex-start;
}
.consent-processing__text {
	font-size: 14px;
	color: #9d9d9d;
	padding-top: 2px;
}

.footer {
	background-color: #353535;
	.menu {
		font-size: 2rem;
		font-weight: 500;
		gap: 1.2rem 5rem;
	}
	.logo__img {
		width: 108px;
	}
	.header-contact__tel {
		font-size: 3.2rem;
	}
}
.footer__inner {
	max-width: 1652px;
	padding: 2.7rem 26px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__menu-caption {
	display: none;
}
.footer__aside {
	padding-right: 1.5rem;
}
.footer-contact {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 2.9rem;
	align-items: center;
	justify-content: flex-end;
}
.footer__address,
.footer__policy {
	display: none;
}

.modal-form {
	.form-block {
		padding: 40px 18px;
		border-radius: 30px;
	}
	.form-block__inner {
		max-width: 393px;
		margin: 0 auto;
	}
}

.view-project {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 246px 0 66px;
	position: relative;
	background-color: #2b2b2b;
	border-radius: 10px;
	.project-nav {
		width: calc(50% - 66px);
		position: absolute;
		left: 66px;
		top: 66px;
	}
	.heading-2 {
		font-size: 7rem;
	}
	.btn__text {
		font: 1.7rem "RoadRadio";
		letter-spacing: -0.024em;
	}
}
.view-project__header {
	margin-bottom: 9.3rem;
	padding-left: 66px;
	padding-right: 66px;
	.heading-2 {
		margin-bottom: 2rem;
	}
	.list {
		margin-bottom: 4.6rem;
	}
	.view-project__image {
		margin-left: 0;
		margin-bottom: 2rem;
	}
}
.view-project__image {
	display: block;
	max-height: 52rem;
	border-radius: 10px;
	background-color: #d1d1d1;
	overflow: hidden;
	margin-top: -179px;
	margin-left: 24px;
	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.project-nav {
	display: flex;
}
.project-nav__item {
	flex: 0 1 211px;
}
.project-nav__btn {
	height: 100%;
	min-height: 7.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-left: none;
	font: 500 2.5rem/0.94 "AlumniSans";
	text-decoration: none;
	text-transform: uppercase;
	color: #bfbfbf;
	border: 1px solid rgba(194, 194, 194, 0.35);
	border-left: none;
	padding: 1.5rem;
}
.project-nav__item:first-child .project-nav__btn {
	border-left: 1px solid rgba(194, 194, 194, 0.35);
	border-radius: 10px 0 0 10px;
}
.project-nav__item:last-child .project-nav__btn {
	border-radius: 0 10px 10px 0;
}
.project-nav__btn.active {
	border: 1px solid var(--color-accent);
	background-color: var(--color-accent);
	color: #fff;
}

.view-project__steps {
	background-color: #323232;
	padding: 58px 68px 76px;
	margin-left: 66px !important;
	margin-right: 66px !important;
	border-radius: 30px;
	position: relative;
	overflow: hidden;

	&::before,
	&::after {
		content: "";
		width: 284px;
		height: 856px;
		background: rgba(179, 118, 52, 0.38);
		filter: blur(103.913px);
		border-radius: 50%;
		position: absolute;
		pointer-events: none;
	}
	&::before {
		top: -484px;
		right: -170px;
	}
	&::after {
		bottom: -500px;
		left: -115px;
	}
}
.view-project__steps.g-4 {
	--bs-gutter-y: 2rem;
	--bs-gutter-x: 2rem;
}

.block-step {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 229px;
	border: 1px solid #616161;
	border-radius: 10px;
	padding: 2.4rem 2.4rem 2.2rem;
	&._accent {
		background: var(--color-accent) url("../../img/house.png") no-repeat right bottom;
	}
}
a.block-step {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		background-color: var(--color-accent-hover);
	}
}
.block-step__icon {
	width: 3.7rem;
	height: 3.7rem;
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 11px;
		height: 11px;
		fill: var(--color-accent);
		&._stroke {
			fill: none;
			stroke: var(--color-accent);
		}
	}
}
.block-step__title {
	font: 700 15px / 1.2 "Manrope";
	margin-bottom: 1.2rem;
	letter-spacing: -0.025em;
}
.block-step__text {
	color: #b3b3b3;
	font-size: 13px;
	margin-right: -15px;
	letter-spacing: -0.027em;
}
.block-step__caption {
	font-size: 14px;
	position: relative;
	z-index: 1;
	margin-bottom: 1rem;
}
.block-step__caption::before,
.block-step__caption::after {
	position: relative;
	font-size: 15px;
	color: var(--color-accent);
	top: -1px;
}
.block-step__caption::before {
	content: "[";
	margin-right: 0.3rem;
}
.block-step__caption::after {
	content: "]";
	margin-left: 0.3rem;
}

.project-photo__wrap {
	max-width: 100%;
}
.project-photo {
	width: 2502px;
	position: relative;
	left: 50%;
	margin-left: -1251px !important;
	.swiper-slide {
		width: 767px;
		height: 494px;
		background-color: #8c8c8c;
		border-radius: 10px;
		overflow: hidden;
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(45, 45, 45, 0.19);
			transition: 0.5s;
		}
		&:hover::after {
			opacity: 0;
		}
	}
	.swiper-prev {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		margin-top: -2.95rem;
		margin-left: -462px;
		z-index: 2;
	}
	.swiper-next {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		margin-top: -2.95rem;
		margin-left: 404px;
		z-index: 2;
	}
}
.view-project__container {
	padding-left: 66px;
	padding-right: 66px;
}
.view-project-plan {
	display: flex;
}
.view-project-plan__item {
}

.privacy-policy {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	.list {
		margin-bottom: 2.5rem;
	}
	.list__item {
		font-size: 1.5rem;
		color: #c7c7c7;
		line-height: 105%;
		padding: 0 0 0 2.5rem;
		margin-bottom: 1.5rem;
		&::before {
			width: 4px;
			height: 4px;
			top: 0.3rem;
			left: 0.9rem;
			margin-top: 0;
			background-color: #c7c7c7;
		}
	}
}
.privacy-policy__title {
	font: 700 1.5rem "Manrope";
	margin-bottom: 1rem;
}
