/* Max-Width media */

/* 1300px */
@media only screen and (max-width : 1315px) {

.peculiarities__contract img {
   max-width: 36rem;
}

}
/* 1200px */
@media only screen and (max-width : 1200px) {

.header__logo .logo__text {
   display: none;
}

.company-card {
   column-gap: 2rem;
}
.company-card__img {
   width: 46%;
}
.company-card__table ._descrp,
.company-card__table ._price {
   font-size: 1.7rem;
}
.company-card__table ._action {
   font-size: 1.5rem;
}
.company-card__file ._text {
   font-size: 1.4rem;
}
.company-card__contact {
   padding: 2.6rem 2.2rem 2.5rem;
}

.peculiarities__contract {
    padding: 0 2.5rem;
}
.peculiarities__content  {
   padding-bottom: 2rem;
}
.peculiarities__card {
    padding-bottom: 2rem !important;
    padding-right: 3.4rem !important;
}

.discount ._input {
	width: 100%;
}

.about-program__image {
   width: 45rem;
}

.about-company__content .section-heading {
   font-size: 3.3rem;
}

.footer__asideleft {
    padding-right: 0;
}

}

/* 992px */
@media only screen and (max-width : 991px) {

html {
   font-size: 9px;
}

.container._gap {
   padding-left: 2.7rem;
   padding-right: 2.7rem;
}

.hero-slider {
   margin-left: -2.8rem;
   margin-right: -2.8rem;
   border-radius: 0;
}
.hero-slider__content {
   padding: 4.2rem 4rem 4.2rem 2.8rem;
}

.peculiarities__card ._heading {
   max-width: 300px;
}
.peculiarities__card ._text {
   max-width: 320px;
}
.peculiarities__contract-wrap {
   display: flex;
   align-items: center;
   flex: 0 1 0;
}
.peculiarities__heading {
   width: 50%;
}
.peculiarities__contract {
   width: 50%;
   padding: 0;
   position: relative;
}

.objects-header ._text {
   font-size: 2rem;
}

.about-program__image {
   width: 50%;
}

.about-company {
   column-gap: 2rem;
}
.about-company__content {
   margin-right: -1.5rem;
}
.about-company__content .section-heading {
   font-size: 3rem;
}
.about-company__content ._text {
   font-size: 1.7rem;
}
.about-company__img {
   flex-shrink: .95;
}

.quiz-choise__item {
   width: 50%;
}

}

/* 868px */
@media only screen and (max-width : 868px) {

.company-card {
   flex-direction: column;
}
.company-card__img {
   width: 100%;
   max-height: 400px;
   margin-bottom: 4rem;
}
.company-card__contact ._title {
   max-width: 275px;
}

.quiz__aside {
   display: none;
}

}

/* 768px */
@media only screen and (max-width : 768px) {

.container._gap {
   padding-left: 4.7%;
   padding-right: 4.7%;
}

h2, .size-2 {
   font-size: 3.02rem;
}
h5, .size-5 {
   font-size: 2rem;
}

.header {
   padding-top: 2rem;
}
.header .messenger {
   margin: .5rem 2.8rem 0;
}

.btn {
   letter-spacing: .095em;
}

.swiper-button-next,
.swiper-button-prev {
   width: 4.4rem;
   height: 4.4rem;
}

.hero-slider {
   margin: 0 -5.3% 3.7rem;
}
.hero-slider__content {
   padding: 4rem 4rem 5rem 4rem;
}
.hero-slider-btn {
   right: 4rem;
   bottom: 4rem;
}
.hero-slider__heading {
   font-size: 4.2rem;
   letter-spacing: -.03em;
   line-height: 1.2;
}
.hero-slider__text {
   max-width: 474px;
   padding-bottom: 1rem;
   line-height: 1.5;
   letter-spacing: .001em;
}
.hero-slider .btn {
   padding-left: 6.7rem;
   padding-right: 6.7rem;
}

.messenger {
   column-gap: 2.5rem;
}
.messenger ._telegram,
.messenger ._icon {
   width: 4.2rem;
   height: 4.2rem;
}

.contact-box {
   padding-right: .4rem;
}
.contact-box__item ._text {
   font-size: 2rem;
}
.contact-box__item {
   column-gap: 1rem;
}
.contact-box__text {
   letter-spacing: .05em;
}

.advantages {
   margin-bottom: 2.3rem;
}
.advantages__item ._strong {
   font-size: 3.1rem;
   margin-bottom: 0;
}
.advantages__item ._strong ._plus {
   font-size: 3.3rem;
   top: 1px;
}
.advantages__item ._text {
   font-size: 1.8rem;
}

.tab-nav {
   padding: 1rem 0 3.5rem 0;
}
.tab-nav__link {
   padding: 1.4rem 1.5rem 1.2rem;
   font-size: 1.7rem;
   letter-spacing: .04em;
}

.company {
	padding-bottom: 6.5rem;
}
.company-card__title {
   letter-spacing: .05em;
   margin-bottom: 1.3rem;
}
.company-card__table ._descrp, .company-card__table ._price {
   font-size: 1.85rem;
   letter-spacing: .048em;
   line-height: 1.62;
}
.company-card__table td {
	padding-bottom: 1.9rem;
}
.company-card__table ._action {
   font-size: 1.8rem;
}
.company-card__action .btn {
   letter-spacing: .07em;
}
.company-card__file {
	column-gap: 1.2rem;
}
.company-card__file ._text {
   font-size: 2rem;
   letter-spacing: -.01em;
}
.company-card__contact {
   padding: 3.8rem 3.2rem 3.5rem;
}
.company-card__contact ._title {
	font-size: 2.1rem;
	line-height: 1.35;
}

.quiz .section-heading {
	letter-spacing: .13rem;
	font-weight: bold;
}
.quiz__content {
   padding-top: 3.4rem;
}
.quiz-progress {
	margin-bottom: 3.2rem;
}
.quiz-header {
	margin-bottom: 1.5rem;
}
.quiz-steps {
	letter-spacing: .13rem;
}
.quiz-header__title {
	font-size: 2rem;
}
.quiz-choise__item {
   width: 43.3%;
}
.quiz-choise__block {
	height: 16.88rem;
}
.quiz-choise__img {
	height: 16.3rem;
}
.quiz-choise__title {
	font-size: 1.85rem;
}
.quiz-choise {
	margin-bottom: 0.9rem;
}
.quiz__btn .btn {
	letter-spacing: 0;
}
.quiz-helper {
	font-size: 1.6rem;
}

}

/* 576px */
@media only screen and (max-width : 576px) {}

/* 480px */
@media only screen and (max-width : 480px) {}


/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {
   .hero-s {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}