@import "libs/bootstrap.min";

@import "libs/owl.carousel/owl.carousel";
@import "libs/owl.carousel/owl.theme.default";

@import "libs/nouislider.min";

@import "libs/dropzone";

@import "libs/intlTelInput";


img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 777;
  -webkit-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
  img {
  	display: inline-block;
  	box-shadow:  0 0 0 2px #fff, 0px 0px 24px rgba(0, 0, 0, 0.24);
  	box-sizing: content-box;
  }
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: rgba(#fff, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}



//////////////////////////////////
.owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
}
.owl-carousel .owl-item {
  float: none;
}



.iti input, .iti input[type=tel], .iti input[type=text] {
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px;
}
.iti--separate-dial-code .iti__selected-dial-code {
  font-size: 15px;
}
.iti--separate-dial-code .iti__selected-flag {
  background: #fff;
}
.iti__arrow {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin-left: 8px;
    width: 7px;
    height: 7px;
    border: 0;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}