.logo {
	display: inline-block;
	width: 126px;
	height: 27px;
	background-image: url('../img/logo.png');
}


.map-info {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: inherit;
	text-decoration: none;
	&__img {
		overflow: hidden;
		border-radius: 50px;
		transition: .5s;
	}
	address span {
		display: block;
	}
	&:hover {
		.map-info__img {
			box-shadow: 0 0 0 4px rgba(0,123,255,.25);
		}
	}
}

.get-call {
	text-align: right;
	&__tel {
		font-size: 25px;
		a {
			color: #fff;
		}
	}
}

.price-box {
	margin: 0 0 50px 30px;
	&__title {
		font-size: 18px;
	}
	&__price {
		font-size: 61px;
		font-weight: 300;
		vertical-align: middle;
		margin-right: -30px;
		position: relative;
	}
	&__mark {
		font-weight: 300;
		background-color: rgba(48,46,64, .5);
		color: #fff;
		padding: 5px 15px 5px 40px;
		font-size: 12px;
		text-transform: uppercase;
	}
}


.btn {
	margin: 0;
	padding: 0 48px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: inherit;
	cursor: pointer;

	height: 82px;
	position: relative;
	text-align: center;
	background-color: #145888;
	background: linear-gradient(to right, #e0c986, #fff1bf);
	color: #43414b;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 2px 0 rgba(#fff, .38);
	border-radius: 50px;
	transition: .3s;
	box-shadow: 0 0 38px rgba(#fff, .5);
    text-decoration: none;

	&:hover {
		color: #43414b;
		text-decoration: none;
		transform: scale(1.06);
	}

	&:active {
		color: #43414b;
		transition: .1s;
		transform: scale(.95);
	}
}


.helpers {
	&__item {
		width: 300px;
		position: relative;
		z-index: 3;
		& > div {
			height: 160px;
			position: relative;
		}
		&.top {
			.helpers__item--btn {
				left: 50%;
				top: 0;
			}
			.helpers__item--content {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				padding: 26px 24px 16px;
			}
		}
		&.right {
			.helpers__item--btn {
				left: inherit;
				right: 0;
				top: 0;
				transform: translate(50%, -50%);
			}
			.helpers__item--content {
				top: 0;
				left: inherit;
				right: 0;
				padding: 12px 38px 12px 30px;
			}
		}
		&--btn {
			width: 42px;
			height: 42px;	
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			&:hover {
				& .helpers__item--icon {
					transform: rotate(225deg);
				}
				& .helpers__item--btn:before {
					transform: scale(0);
				}
				& + .helpers__item--content {
					opacity: 1;
					visibility: visible;
				}
			}

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(#fff, .2);
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				transition: .3s;
			}
			&:after {
				content: '';
				width: 66%;
				height: 66%;
				background: #0067b0 linear-gradient(to top,#0067b0, #7ebde9);
				border-radius: 50%;
				position: absolute;
				left: 17%;
				top: 17%;
			}
		}
		&--icon {
			display: inline-block;
			width: 12px;
			height: 12px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -6px 0 0 -6px;
			transition: .3s;
			z-index: 1;
			&:before,
			&:after {
				content: '';
				display: block;
				width: 10px;
				height: 2px;
				background-color: #fff;
				border-radius: 1px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:after {
				width: 2px;
				height: 10px;
			}
		}
		&--content {
			font: bold 15px/1.5 'TrajanPro3';
			padding: 12px 32px 12px 38px;
			background-color: #fff;
			transition: .3s;
			opacity: 0;
			visibility: hidden;
			margin: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: #2b2831;
			border-radius: 6px;
			&.fz-18 {
				font-size: 18px;
			}
		}
	}
}