@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";

.header {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #1f263b url('../img/bg-header.jpg') no-repeat center top / cover;
	color: #fff;
	padding-top: 55px;

	&__top {
		.container {
			display: flex;
			justify-content: space-between;
		}
	}

	&__content {
		margin: auto 0;
		.container {
			display: flex;
			align-items: center;
		}
	}
	&__offer {
		width: 100%;
		max-width: 674px;
		margin-left: auto;

		.h1 {
			margin-bottom: 30px;
		}
	}

	&__info {
		width: 100%;
		max-width: 475px;
		height: 500px;
		order: -1;
		position: relative;
	}

}

.footer {
	background-color: rgba(#201e23, .75);
	padding: 15px 0;
}

@import "media";
