
@font-face {
  font-family: 'Philosopher';
  src: url('Philosopher.eot?#iefix') format('embedded-opentype'),  url('Philosopher.otf')  format('opentype'),
	     url('Philosopher.woff') format('woff'), url('Philosopher.ttf')  format('truetype'), url('Philosopher.svg#Philosopher') format('svg');
  font-weight: normal;
  font-style: normal;
}
