
.app {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #192025;
    position: relative;
}
.app .display-6 {
    font-size: 2.2rem;
}
.app .table th {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 17px;
    padding-left: 0;
    color: #2E4658;
}
.app .table td {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 17px;
    padding-left: 0;
}
.app .table.small-text td {
    font-size: 14px;
}
.app .btn {
    padding: 4px 10px 3px;
}

.app-aside {
    flex-shrink: 0;
    border-right: 1px solid #e1e1e1;
    width: 188px;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.nav {
    padding: 12px 0 17px 25px;
    display: block;
    background-color: #fff;
}
.nav__li {
    position: relative;
}
.nav__item {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    line-height: 1.1;
    transition: .3s ease-in;
    position: relative;
    padding: 6px 30px 6px 0;
}
a.nav__item {
    color: inherit;
    text-decoration: none;
}
.nav__item:hover {
    color: var(--color-accent);
}
.nav__item-icon {
    display: flex;
    align-items: center;
    width: 28px;
    flex-shrink: 0;
    position: relative;
    top: -2px;
}
.nav__item-icon svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #677689;
}
.nav__item-icon ._home {
    fill: none;
    stroke: #677689;
}
.nav__item-icon ._pay {
    width: 21.5px;
    height: 21.5px;
}
.nav__item-icon ._money,
.nav__item-icon ._dashboard {
    width: 22px;
    height: 22px;
}
.nav__item-arrow {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
    transition: .3s ease-out;
    pointer-events: none;
    fill: #2C2D3B;
}
.nav-sub__toggle:checked ~ .nav__item-arrow {
    transform: rotate(180deg);
}
.nav-sub__toggle {
    display: none;
}
.nav-sub__toggle:checked ~ .nav-sub {
    max-height: 500px;
    padding-bottom: 15px;
}
.nav-sub {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease;
    padding: 0 7px 0 30px;
    font-size: 15.5px;
}
.nav-sub a {
    color: inherit;   
    text-decoration: none;
    transition: .3s ease-in;
} 
.nav-sub a:hover {
    color: var(--color-accent);
}

.app-content {
    width: 100%;
    padding: 10px 90px 25px 210px;
}


.user-bar {
    display: flex;
}
.user-bar__btn {
    border: 0;
    background-color: transparent;
    padding: 5px 7px;
}
.user-bar__btn-icon {
    width: 20px;
    height: 20px;
    transition: .3s ease-out;
    fill: #192025;
}
.user-bar__btn:hover .user-bar__btn-icon {
    fill: var(--color-accent);
}

.table-line {
}
.table-line tr {
    border-top: 1px solid #E1E1E1;
}

.btn._radius {
    border-radius: 50px;
}


.heading-line {
    border-bottom: 1px solid #989898;
}


.token-address {
    display: flex;
    column-gap: 10px;
}
.token-address__copy {
    border: none;
    padding: 0 4px 4px 4px;
    background-color: transparent;
}
.token-address__copy svg {
    width: 20px;
    height: 20px;
    transition: .3s ease-out;
}
.token-address__copy:hover svg {
    fill: var(--color-accent);
}


.filter-input {
    position: relative;
}
.filter-input .filter-circle-btn {
    position: absolute;
    left: 3px;
    top: 3px;
    cursor: pointer;
}
input.filter-input__input {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding-left: 33px;
    font-weight: 500;
    color: var(--color-accent);
}
input.filter-input__input::placeholder {
    color: #DFDFDF;
}
.filter-input__input._date {
    width: 188px;
}
.filter-input__input._token {
    width: 168px;
}
.filter-input__input._small-width {
    width: 120px;
}
.filter-input__input._width-100 {
    width: 100%;
}

.filter-status {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-height: 240px;
    overflow-y: auto;
    padding-left: 10px;
}
.filter-status__item {
    display: flex;
    column-gap: 8px;
}
.filter-status__checkbox {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.filter-circle-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #BEB9B9;
    position: relative;
    transition: .2s ease-out;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;
}
.filter-circle-btn__icon {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(190, 185, 185, .8);
    transition: .2s ease-out;
    cursor: pointer;
}
.filter-input__input:focus ~ .filter-circle-btn .filter-circle-btn__icon {
    transform: translate(-50%, -50%) rotate(45deg);
}

.filter-dropdown .fs-5 {
    letter-spacing: -.05em;
}

.filter-date .fs-5 {
    font-size: 1.1rem !important;
}

.filter-date__label {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.filter-date__icon {
    display: inline-block;
    fill: #000;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
input.filter-date__input,
input.filter-date__small {
    width: 82px;
    height: 25px;
    font-size: 13px;
    padding: 1px 3px 0;
    text-align: center;
    border-radius: 5px;
}
.filter-date__btn {
    padding: 4px 10px 7px !important;
}

.filter-dropdown {
    width: 300px;
    margin-top: 2px;
    background: #F8F9FA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .12);
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.filter-add {
    width: 276px;
    margin-top: 2px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .12);
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}
.filter-add__item {
    display: flex;
    align-items: center;
    width: 100%;
    border: 0;
    background-color: transparent;
    column-gap: 12px;
    padding: 12px 13px;
    cursor: pointer;
    border-bottom: 1px solid #DFDFDF;
    font-size: 17px;
    transition: .3s ease-out;
    margin-bottom: -1px;
}
.filter-add__item:hover {
    background-color: var(--color-accent);
    color: #fff;
}
.filter-add__item:last-child {
    border-bottom: none;
}
.filter-add__item .filter-circle-btn {
    flex-shrink: 0;
    transition: .3s ease-out;
}
.filter-add__item:hover .filter-circle-btn {
    border-color: #fff;
}
.filter-add__item .filter-circle-btn__icon {
    transition: .3s ease-out;
}
.filter-add__item:hover .filter-circle-btn__icon {
    fill: #fff;
}

.filter-icon svg {
    fill: var(--color-accent);
    width: 14px;
    height: 14px;
}


.line-bottom-gray {
    border-bottom: 1px solid #DFDFDF;
}


.table-wrap {
    overflow-x: auto;
}
.table-wrap .table {
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}



.wrapper-nav {
	display: none;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .75);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
}
.wrapper-nav .nav {
    width: 210px;
    min-height: 100%;
}

.sandwich-box {
	display: block;
	width: 26px;
	height: 22px;
	cursor: pointer;
	z-index: 11;
	overflow: hidden;
}
.sandwich-box.active {
    background-color: transparent;
}

.sandwich-icon {
	width: 26px;
    height: 22px;
	position: relative;
	left: 0;
	z-index: 11;
    padding-top: 1px;
}

.sw-top,
.sw-center,
.sw-bottom {
	position: relative;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: #192025;
	border: none;
	border-radius: 2px;
}

.sw-center {
	top: 7px;
}

.sw-bottom {
	top: 14px;
}

.sandwich-box.active .sw-top,
.sandwich-box.active .sw-center,
.sandwich-box.active .sw-bottom {
    background-color: white;
    box-shadow: 0 2px 15px white, 0 1px 1px rgba(black, .3);
}

.sandwich-box.active .sw-top {
    top: 8px;
    transform: rotate(-45deg);
}

.sandwich-box.active .sw-center {
    top: 6px;
    transform: rotate(45deg);
}

.sandwich-box.active .sw-bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
}



.w-dropdown {
    display: inline-block;
    vertical-align: middle
}

.w-dropdown-item {
    user-select: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.w-dropdown-item:hover { color: #151515 }

.w-dropdown.active .w-dropdown-item { color: #202020 }

.w-dropdown-block {
    position: absolute;
    z-index: 3;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transform: scale(0.75) translateY(-21px);
    visibility: hidden;
    opacity: 0;
}

.w-dropdown.active .w-dropdown-block {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(0);
}

.w-dropdown.active .filter-input__input {
    border-color: #68767E;
}

.w-dropdown.active .filter-add-btn .filter-circle-btn {
    border-color: #68767E;
}
.w-dropdown.active .filter-add-btn .filter-circle-btn__icon {
    transform: translate(-50%, -50%) rotate(45deg);
}




/* SELECT */
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 5px;
	border: solid 1px #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 42px;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}

.nice-select:hover {
	border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
	border-color: #999;
}

.nice-select .arrow {
	width: 18px;
	height: 18px;
	transition: .3s;
	position: absolute;
	right: 10px;
	top: 12px;
	fill: #2C2D3B;
}

.nice-select.open .arrow {
	transform: rotate(180deg);
}

.nice-select.open .list {
    width: 100%;
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.nice-select .current {
    font-weight: 500;
    font-size: 17px;
}

.nice-select.disabled {
	border-color: #ededed;
	color: #999;
	pointer-events: none;
}

.nice-select.disabled:after {
	border-color: #cccccc;
}

.nice-select.wide {
	width: 100%;
}

.nice-select.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.nice-select.right {
	float: right;
}

.nice-select.right .list {
	left: auto;
	right: 0;
}

.nice-select.small {
	font-size: 12px;
	height: 36px;
	line-height: 34px;
}

.nice-select.small:after {
	height: 4px;
	width: 4px;
}

.nice-select.small .option {
	line-height: 34px;
	min-height: 34px;
}

.nice-select .list {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
	box-sizing: border-box;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: rgb(13, 110, 253, .2);
}

.nice-select .option.selected {
	font-weight: bold;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}


.nice-select.select-line {
	width: 100%;
	display: block;
	background: none;
	border: none;
	height: 5.2rem;
	border-bottom: 1px solid #595959;
	border-radius: 0;
	padding-left: 0;
	padding-top: .5rem;
	color: #595959;
}

.nice-select.select-line .list {
	width: 100%;
}

.nice-select.select-small {
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    padding-right: 24px;
}
.nice-select.select-small .arrow {
    width: 12px;
    height: 12px;
    right: 7px;
    top: 7px;
}
.nice-select.select-small .current {
    font-size: 13px;
}
.nice-select.select-small.open .list {
    min-width: 200px;
}
.nice-select.select-small .option {
    line-height: 30px;
    min-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}
