@media only screen and (max-width : 1200px) {

.container {
	max-width: 100%;
}

.header-top {
	.logo {
		margin-left: 0;
	}
}

.header-main-top {
	.header-work-information {
		order: 1;
		margin: 10px 0 0 0;
	}
}

.header-main-menu {
	background-color: rgba(#fff, .5);
	font-size: 14px;
	ul {
		justify-content: center;
	}
	a {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.header-user__nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.header-user__menu {
	margin-right: -15px;
}

.how-works {
	h2 {
		text-align: center;
		padding-left: 0;
	}
	&--container {
		padding-left: 60px;
	}
	&__features {
		margin-right: auto;
		margin-top: 40px;
	}
}

.questions-answers__header .container {
	padding-left: 28px;
}

.beefup__head {
	position: relative;
	span {
		border: none;
	}
	& .i-down {
		position: absolute;
		left: 32px;
		top: 11px;
	}
}

.questions-answers {
	h2,
	.accordion-collapse__link {
		margin-left: 0px;
	}
}

.file-block__link {
	margin-left: 20px;
}

.work-art {
	[class*="col"] {
		padding: 0;
	}
	.row {
		padding-left: 15px;
	}
	.h3 {
		font-size: 20px;
	}
	&__list {
		padding-right: 15px;
		ul li {
			max-width: 25%;
		}
		&.two {
			ul li {
				max-width: 50%;
			}
		}
	}
}

.sorting-panel {
	.d-flex {
		flex-direction: column;
		align-items: flex-start !important;
	}
	.nav-scroller {
		margin-bottom: 10px;
	}
}
.alphabet-sorting {
	width: 100%;
}

}


@media only screen and (max-width : 992px) {

.btn.btn-outline-dark {
	padding: .5rem 1rem;
	font-size: 15px;
}

.header-top {
	.search-form {
		display: none;
	}
	.header-bar {
		margin-left: auto;
	}
}

.header-bar {
	&__item {
		&.search-mobile {
			display: flex;
			font-size: 23px;
		}
	}
}

.content-work {
	&__item {
		width: 33.33%;
	}
}

.footer {
	&__info {
		padding-right: 15px;
		width: 25%;
	}
	&__nav {
		width: 75%;
		nav {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 33.33%;
			}
		}
	}
}

.header-user {
	display: none;
}
.header-work-information {
	display: none;
}

.header-main-top {
	.nav-pills--menu {
		display: none;
	}
	.sandwich-box {
		display: block;
	}
}
.header-main-menu {
	display: none;
}

.apply-request-container {
	padding: 0;
}
.apply-request__inner {
	padding-left: 15px;
	padding-right: 15px;
}

.work-art .h1 {
	margin-top: 40px;
	word-wrap: normal;
    word-break: normal;
    line-break: normal;
    max-width: 600px;
	br {
		display: none;
	}
}

.category-posts {
    column-gap: 1px;
    &__item {
    	margin-bottom: 1px;
    }
}

.action-block {
	.row {
		padding: 0 12.5px;
	}
	[class*='col'] {
		padding: 0 2.5px;
	}
}

.owl-gallery .owl-nav button.owl-next,
.owl-gallery .owl-nav button.owl-prev {
	background: transparent;
}
.owl-gallery .owl-nav button.owl-prev .i-left,
.owl-gallery .owl-nav button.owl-next .i-right {
	background-color: #fff;
	color: #000;
}

.blog-section {
	&__header {
		.h1 {
			font-size: 2rem;
		}
	}
	.audio-player.w-50 {
		width: 100% !important;
	}
	&__article {
		.col-8.offset-2 {
			flex: 0 0 100%;
    		max-width: 100%;
    		margin-left: 0;
		}
	}
	.card-columns {
	    column-count: 2;
	}
}



}


@media only screen and (max-width : 768px) {
.h1, h1 {
	font-size: 2rem;
}
.header {
	height: 132px;
	&__content {
		height: 100%;
		position: relative;
		.user-photo {
			width: 92px;
			height: 92px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -50px;
		}
		.user-name {
			position: absolute;
			left: 120px;
			bottom: 38px;
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 0;
		}
		.user-reg {
			position: absolute;
			left: 120px;
			bottom: 20px;
			font-size: 13px;
			margin-bottom: 0;
			span:after {
				display: none;
			}
			.i-pen {
				font-size: 12px;
				margin-right: 2px;
				position: relative;
				top: 1px;
			}
		}
	}
}

.nav-scroller {
	ul {
		flex-wrap: nowrap;
	}
	a {
		padding: 0 9px;
	}
}

.content-bar {
	flex-wrap: wrap;
	.b-t-n {
		margin-right: 12px;
	}
	&--right {
		margin-left: none;
		width: 100%;
		padding-top: 30px;
	}
}

.content-work {
	&__item {
		width: 50%;
	}
}

.footer {
	&__info {
		width: 100%;
		margin-bottom: 25px;
	}
	&__nav {
		width: 100%;
		nav {
			padding-right: 10px;
		}
	}
}

.hidden-lg {
	display: block;
}

.hidden-sm {
	display: none;
}

.header-main-info article {
	padding-left: 0;
}

.how-works--container {
	padding-left: 20px;
}

.col-upload-avatar {
	.upload-avatar {
		margin: 0 auto;
	}
}


.apply-request__row {
	display: flex;
	flex-direction: column;
	&:before,
	&:after {
		display: none;
	}
	.col-upload-avatar {
		order: 1;
	}
}

.col-upload-avatar {
	.form-control--name {
		margin-bottom: 10px;
		text-align: center;
	}
}

.work-art {
	.col-sm-4 {
		padding-left: 15px;
	}
}


.category-posts {
    column-count: 2;
    margin-left: 0;
    margin-right: 0;
}


.modal-speed-view {
	.modal-header {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.speed-view-content {
	padding-left: 10px;
	padding-right: 10px;
}

.product-slider:after, .product-slider:before {
	display: none;
}
.owl-product-slider:after, .owl-product-slider:before {
	background: none;
}

.speed-view-content .owl-product-slider .owl-next {
	right: 0;
}
.speed-view-content .owl-product-slider .owl-prev {
	left: 0;
}

.owl-nav-circle .owl-nav button.owl-next, .owl-nav-circle .owl-nav button.owl-prev {
	background-color: #fff;
}

.speed-view-content .descrp-author__title,
.speed-view-content .descrp-author__price {
	width: 100%;
}

.h1, h1 {
	font-size: 1.5rem;
}
.pl-md-15 {
	padding-left: 15px !important;
}

.author-user-info {
	.avatar-item {
		width: 100px;
		picture {
			width: 100px;
			height: 100px;
		}
		img {
			width: 100%
		}
	}
	&__title {
		flex-direction: column;
		align-items: flex-start !important;
	}
}

.author-item {
	padding-left: 0;
	&__photo {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		width: auto;
		height: auto;
		min-height: 80px;
		padding-left: 75px;
		picture {
			width: 60px;
			height: 60px;
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
}

.author-item .owl-carousel--nav .owl-nav button.owl-next,
.author-item .owl-carousel--nav .owl-nav button.owl-prev {
	background: none;
	[class*="i-"] {
		background-color: #fff;
	}
}

.blog-section {
	.card-columns {
	    column-count: 1;
	}
}

}


@media only screen and (max-width : 576px) {

.header-top {
	.logo {
		width: 26px;
		&:before,
		&:after {
			width: 26px;
		}
	}
	.btn-add-work {
		display: none;
	}
}

.user-name {
	margin-right: 0;
}

.content-bar {
	padding-bottom: 10px;
	.b-t-n {
		margin-bottom: 10px;
	}
	&--right {
		padding-top: 20px;
		.b-t-n {
			height: auto;
			line-height: auto;
			border: 0;
			padding: 0;
			margin-bottom: 0;
		}
	}
}

.content-work {
	&__item {
		width: 100%;
	}
}

.footer {
	&__nav {
		nav {
			width: 100%;
			margin-bottom: 20px;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 100%;
			}
		}
	}
}

.header-main-top {
	padding: 9px 0;
	.logo {
		width: 26px;
		overflow: hidden;
	    margin: 0 13px 0 3px;
	}
	.nav-pills--border {
		margin-right: 0;
	}
	.sandwich-box {
		margin-left: 10px;
	}
}

.nav-pills--border .open a,
.nav-pills--border li a {
	height: 32px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
}

.header-bar {
	&__item {
		width: 36px;
		height: 36px;
		margin-top: 2px;
		margin-left: 0;
	}
}

.wrapper-nav {
	font-size: 15px;
}

.header-main {
	min-height: auto;
	padding-bottom: 40px;
	margin-bottom: 35px;
}
.header-main-info {
	h1 {
		font-size: 24px;
		line-height: 29px;
		margin-top: 0;
	}
	article {
		padding: 10px 0 0 0;
	}
	p {
		font-size: 16px;
	}
}

.how-works {
	h2 {
		margin: 0 0 20px;
		text-align: left;
		font-size: 20px;
		line-height: 22px;
	}
	&--container {
		padding: 0;
	}
	&__list {
		font-size: 14px;
		padding-left: 20px;
	}
	&__features {
		width: 100%;
		height: 180px;
		margin-top: 0;
		margin-bottom: 30px;
		span:nth-child(1) {
			left: 20px;
			top: 0;
		}
		span:nth-child(2) {
			right: 50px;
			top: 5px;
		}
		span:nth-child(3) {
			left: 50%;
			top: 40px;
			margin-left: -45px;
		}
		span:nth-child(4) {
			left: 0;
			bottom: 30px;
		}
		span:nth-child(5) {
			left: 50%;
			bottom: 0;
		}
		span:nth-child(6) {
			right: 0;
			bottom: 0;
		}
	}
}

.apply-request {
	margin-bottom: 10px;
	&__content {
		background-size: 250%;
		padding-top: 5px;
	}
	&__inner {
		padding-top: 0;
		padding-bottom: 10px;
	}
	.h1 {
		font-size: 23px;
		margin-bottom: 20px;
	}
	.line-decor-top {
		margin-bottom: 30px;
	}
	.form-control--info {
		display: none;
	}
}

.form-control--name {
	font-size: 15px;
}

.textarea-counter {
	&-header {
		strong {
			font-size: 14px;
		}
	}
	.form-control {
		height: 180px;
	}
}

.h2, h2 {
	font-size: 22px;
}

.questions-answers {
	margin-bottom: 28px;
	&__header {
		.container {
			padding-left: 15px;
		}
	}
}

.beefup__head {
	.container {
		padding-right: 15px;
		padding-left: 40px;
	}
	span {
		font-size: 15px;
	}
	.i-down {
		left: 20px;
		top: 10px;
	}
}
.beefup__body {
	.container {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 14px;
	}
}

.file-block {
	.hr {
		margin-top: 30px;
	}
}

.work-art {
	margin-bottom: 40px;
	.h1 {
		margin-top: 0;
		font-size: 32px;
		br:nth-child(2) {
			display: none;
		}
	}
}


.work-art__list ul li {
	max-width: 50%;
}

.section-description .h1 {
	font-size: 38px;
}

.category-posts,
.category-posts.column-count-2 {
    column-count: 1;
}

.modal {
	&.modal-phone {
		.modal-dialog {
			padding-top: 56px;
		}
	}
	.btn-close-modal {
		right: 25px;
		top: 12px;
	}
}


.category-posts__item {
	margin: 0 auto 10px;
}

.author-user-info {
	&__title {
		min-height: 115px;
		padding-left: 115px;
		position: relative;
		.avatar-item {
			position: absolute;
			left: 0;
			top: 0;
		}
		.h1 {
			display: block;
			margin-bottom: 5px;
		}
		.trusted.ml-3 {
			display: inline-block;
			margin-left: 0 !important;
			margin-bottom: 10px;
		}
	}
}

.form-section {
	padding-top: 15px;
	&__content {
		padding: 0 15px;
	}
	&__footer {
		padding-left: 15px;
		padding-right: 15px;
	}
	[class*=col] {
		padding: 0;
	}
	.h3 {
		font-size: 20px;
		padding-right: 25px;
	}
}


}