.logo {
	display: inline-block;
	width: 137px;
	height: 22px;
	position: relative;
	&:before {
		content: '';
		width: 137px;
		height: 22px;
		background: url('../img/logo.png') no-repeat 0 0;
		position: absolute;
		left: 0;
		top: 0;
		transition: 1s;
		opacity: 1;
	}
	&:after {
		content: '';
		width: 137px;
		height: 22px;
		background: url('../img/logo.png') no-repeat 0 -22px;
		position: absolute;
		left: 0;
		top: 0;
		transition: 1s;
		opacity: 0;
	}
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
}

.b-t-n {
	height: 40px;
	line-height: 36px;
	font-size: 15px;
	padding: 0 12px;
	background-color: $red;
	color: #fff;
	font-weight: 600;
	transition: .5s;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	&:hover {
		background-color: $blue;
		text-decoration: none;
		color: #fff;
	}
	&.outline {
		background: transparent;
		color: #000;
		border: 1px solid #000;
	}
	&.normal {
		font-weight: normal;
		font-size: 13px;
	}
	&.outline.hover-blue:hover {
		color: $blue;
		border-color: $blue;
	}
	&.outline.hover-red:hover {
		color: $red;
		border-color: $red;
	}
}


.search-form {
	width: 320px;
	height: 40px;
	position: relative;
	&__input {
		width: 100%;
		height: 100%;
		border: 1px solid #000;
		border-radius: 4px;
		transition: .5s;
	}
	&__btn {
		width: 42px;
		height: 38px;
		position: absolute;
		right: 1px;
		top: 1px;
		border: none;
		background: none;
		transition: .5s;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		line-height: 38px;
		&:hover {
			background-color: $blue;
			color: #fff;
		}
		&:focus {
			outline: none;
		}
	}
	&:hover {
		& .search-form__input {
			border-color: $blue;
		}
	}
}

.form-control {
	font-size: 13px;
}

.header-bar {
	display: flex;
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		color: #000;
		position: relative;
		text-decoration: none;
		transition: 1s;
		border-radius: 50%;
		margin-left: 6px;
		&:hover {
			text-decoration: none;
			background-color: rgba($blue, .3);
		}
		& span {
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: $red;
			color: #fff;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			line-height: 18px;
			position: absolute;
			right: -1px;
		    top: 3px;
		}
		.i-favorite {
			font-size: 20px;
		}
		.i-cart {
			font-size: 24px;
		}
		.i-exit {
			font-size: 22px;
		}
		.i-search {
			font-size: 20px;
		}
		&.exit {
			margin-left: 20px;
		    margin-right: -5px;
		}
		&.search-mobile {
			display: none;
		}
	}
}

.user-photo {
	display: block;
	width: 112px;
	height: 112px;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid #fff;
	box-sizing: content-box;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.24);
	margin-right: 11px;
	img {
		max-width: 100%;
	}
}
.user-name {
	font-size: 32px;
	line-height: 39px;
	font-weight: bold;
	color: #fff;
	margin: 0 23px 5px 0;
}
.user-reg {
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 10px;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	& .i-pen {
		font-size: 14px;
	}
	span {
		display: inline-block;
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: rgba(#fff, .5);
			position: absolute;
			left: 0;
			bottom: -1px;
		}
	}
}

.nav-scroller {
	margin-bottom: 20px;
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		&:first-child {
			a {
				padding-left: 0;
			}
		}
		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
	a {
		display: block;
		font-size: 15px;
		line-height: 20px;
		color: #000;
		padding: 0 12px;
		position: relative;
		transition: .5s;
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #DBDBDB;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		span {
			display: block;
			padding: 14px 0;
			position: relative;
		}
		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}
	.active {
		a {
			font-weight: 600;
			cursor: default;
			span:after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $red;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 1;
			}
			&:hover {
				color: inherit;
			}
		}
	}
}


.check {
	display: inline-block;
	cursor: pointer;
	&-label {
		padding-left: 24px;
		position: relative;
		.check__box {
			left: 0;
		}
	}
}
.check__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.check__text {
	font-weight: 400;
	color: #444;
	a {
		color: inherit;
		text-decoration: underline;
		transition: .3s;
		&:hover {
			color: $blue;
		}
	}
}
.check__box {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #444;
	transition: .5s;
	border-radius: 3px;
	&:before {
		content: '';
		height: 5px;
		width: 8px;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		transition: .5s;
		margin: -1px 0 0 0;
		visibility: hidden;
		opacity: 0;
	}
}
/* checked */
.check__input:checked + .check__box {
	background-color: #444;
	&:before {
		visibility: visible;
		opacity: 1;
	}
}
/* disabled */
.check__input:disabled + .check__box {
	opacity: .4;
}


.btn-reg {
	display: inline-block;
	border: none;
	background: #F4F4F4;
	color: #444;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	font-size: 12px;
	transition: .5s;
	margin: 0;
	&:hover {
		background-color: $red;
		color: #fff;
	}
}

.nav-pills--border {
	li a,
	.open a {
		border: 1px solid #000;
	    padding: 10px 13px 9px;
	    font-size: 15px;
	    font-weight: 600;
	    color: #000;
	    transition: .5s;
		&:hover {
			background-color: transparent;
			color: $blue;
			border-color: $blue;
		}
		&:focus {
			background-color: transparent;
		}
	}
}

.nav-pills--menu {
	li a,
	.open a {
		padding: 0;
		font-size: 15px;
		font-weight: 600;
		color: #000;
		transition: .5s;
		&:hover {
			background-color: transparent;
			color: $blue;
			border-color: $blue;
		}
		&:focus {
			background-color: transparent;
		}
	}
	li > a {
		margin: 0 5px;
	}
}

.caret {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border: 0;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
}

.i-molbert {
	display: inline-block;
	width: 30px;
	height: 28px;
	background: url('../img/i-logo.png');
}


.btn {
	&.btn-lg {
		font-size: 19px;
		line-height: 23px;
		font-weight: 600;
		border-radius: 3px;
		background-color: $red;
		padding: 14px 18px;
	}
	&-default {
		height: 44px;
		line-height: 44px;
		background: #FFFFFF;
		border: 1px solid #000000;
		box-sizing: border-box;
		border-radius: 3px;
		padding: 0 14px;
	}
	&-danger {
		height: 44px;
		line-height: 44px;
		background: $red;
		border: 1px solid $red;
		box-sizing: border-box;
		border-radius: 3px;
		padding: 0 14px;
		font-size: 15px;
		font-weight: 600;
	}
}


.line-decor-top {
	border-top: 4px solid #F2F1E8;
	position: relative;
	&:before {
		content: '';
		border: 14px solid transparent;
		border-top: 14px solid #F2F1E8;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -14px;
	}
	&:after {
		content: '';
		border: 12px solid transparent;
		border-top: 12px solid #fff;
		position: absolute;
		top: -4px;
		left: 50%;
		margin-left: -12px;
		z-index: 1;
	}
}
.line-decor-bottom {
	border-bottom: 4px solid #F2F1E8;
	position: relative;
	&:before {
		content: '';
		border: 14px solid transparent;
		border-bottom: 14px solid #F2F1E8;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -14px;
	}
	&:after {
		content: '';
		border: 12px solid transparent;
		border-bottom: 12px solid #fff;
		position: absolute;
		bottom: -4px;
		left: 50%;
		margin-left: -12px;
		z-index: 1;
	}
}


.textarea-counter {
	.form-control {
		height: 128px;
		resize: none;
		display: block;	
	}
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 7px;
		strong {
			font-size: 17px;
			font-weight: 500;
		}
		aside {
			color: #888;
		}
	}
	textarea {
		margin-bottom: 15px;
	}
}

.form-container {
	.row {
		padding-bottom: 18px;
	}
}
.form-control {
	height: 44px;
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 15px;
}
.form-control--name {
	font-size: 17px;
	font-weight: 500;
	line-height: 120%;
	margin-bottom: 5px;
}
.form-control--info {
	margin-bottom: 12px;
}

.beefup {
	&__head {
		display: flex;
		align-items: center;
		.container {
			cursor: pointer;
			padding: 6px 55px 15px;
		}
		span {
			display: inline-block;
			font-size: 17px;
			font-weight: 500;
			border-bottom: 1px solid #aaa;
		}
		.i-down {
			transition: .3s;
			display: inline-block;
			position: relative;
		}
	}
	&__body {
		background: #F9F9F9;
		.container {
			padding: 14px 70px;
			font-size: 15px;
			line-height: 1.5;
		}
		p {
			max-width: 810px;
		    margin-bottom: 15px;
		}
	}
	&.is-open {
		.beefup__head {
			.i-down {
				transform: rotate(180deg);
			}
		}
	}
}

.hr {
	max-width: 1100px;
	border: 0;
	border-bottom: 1px solid #E0E0E0;
	margin: 0 auto;
}

.i-pdf {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/i-pdf.svg') no-repeat center;
}