@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";

.container {
	width: 100%;
	max-width: 1140px;
}

.header-top {
	display: flex;
	align-items: center;
	padding: 17px 0 15px;
	.logo {
		margin-right: 63px;
	}
	.search-form {
		margin-left: auto;
		margin-right: 30px;
	}
}


.header {
	max-width: 1920px;
	height: 148px;
	margin: 0 auto;
	background: $silver url('../img/header.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__content {
		display: flex;
		align-items: flex-end;
	}
}

.menu-wrap {
	width: 300px;
}
.menu {
	display: flex;
}

@import "media"; // Always at the end
