@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";

.container {
	width: 100%;
	max-width: 1140px;
}

.wrap {
	flex: 1 0 auto;
	overflow: hidden;
}

.header-top {
	display: flex;
	align-items: center;
	padding: 17px 0 15px;
	.logo {
		margin-right: 55px;
	    margin-left: -6px;
	}
	.search-form {
		margin-left: auto;
		margin-right: 17px;
	}
}


.header {
	max-width: 1920px;
	height: 148px;
	margin: 0 auto;
	background: $silver url('../img/header.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
}


.content-bar {
	display: flex;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 20px;
    margin-bottom: 17px;
    a {
    	color: #000;
    }
	&--right {
		margin-left: auto;
	}
	&__link {
		display: inline-block;
		margin-right: 16px;
	}
}

.content-work {
	&__title {
		font-size: 17px;
		font-weight: 600;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0 -15px 45px;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		width: 25%;
		padding: 10px 15px;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid #E1E1E1;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
			position: absolute;
			left: 0;
			top: 0;
			transition: 1s;
			transform: scale(.8);
			opacity: 0;
		}
		&:hover {
			&:before {
				transform: scale(1);
				opacity: 1;
			}
		}
		picture {
			height: 180px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			margin-bottom: 10px;
			position: relative;
			z-index: 1;
			img {
				display: block;
				width: 100%;
			}
		}
	}
	&__info {
		min-height: 25px;
		padding: 0 45px 0 25px;
		position: relative;
		z-index: 1;
		line-height: 1.4;
		.check {
			position: absolute;
			left: 0;
			top: 2px;
		}
		.btn-reg {
			position: absolute;
			right: 0;
			top: 2px;
		}
	}
}

.footer {
	flex: 0 0 auto;
	background-color: #F9F9F9;
	color: #888;
	padding: 30px 0 10px;
	h6 {
		font-size: 15px;
		font-weight: 600;
		margin: 0 0 10px;
		color: #000;
	}
	p {
		margin: 0 0 10px;
		line-height: 1.35;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 5px 0 11px;
	}
	a {
		color: #000;
		transition: .5s;
		&:hover {

		}
	}
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	&__info {
		width: 34%;
		padding-right: 10%;
	}
	&__nav {
		width: 66%;
		display: flex;
		flex-wrap: wrap;
		 nav {
		 	width: 33.33%;
		 	&:nth-child(1) {
		 		width: 37.5%;
		 	}
		 	&:nth-child(2) {
		 		width: 37.5%;
		 	}
		 	&:nth-child(3) {
		 		width: auto;
		 	}
		 }
	}
}


.header-main {
	min-height: 504px;
	max-height: 900px;
	margin: 0 auto 19px;
	background: #444 url('../img/header-main.jpg') no-repeat center;
	background-size: cover;
}

.header-main-top {
	border-bottom: 1px solid #E0E0E0;
	padding: 16px 0;
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.logo {
		margin-right: 5%;
	}
	.nav-pills--border {
		margin-right: 2%;
	}
	.nav-pills--menu {
		& > li {
			margin-right: 10px;
		}
	}
	.header-bar {
		margin-left: auto;
	}
}

.header-work-information {
	background: #F4F4F4;
	border-radius: 2px;
	color: #444;
	padding: 4px 10px;
    margin-left: 27px;
	span {
		display: inline-block;
		margin-right: 17px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.header-main-menu {
	border-bottom: 1px solid #E0E0E0;
	font-size: 15px;
	ul {
		display: flex;
		margin-left: -14px;
	}
	a {
		display: inline-block;
		color: #000;
		text-decoration: none;
		padding: 9px 14px 12px;
		transition: .5s;
		&:hover {
			background-color: #fff;
			color: $blue;
		}
		&:active {
			padding-top: 10px;
			padding-bottom: 11px;
			transition: none;
		}
	}
}

.header-main-info {
	article {
		max-width: 650px;
	    padding: 30px 40px;
	}
	h1 {
		line-height: 44px;
		margin-bottom: 12px;
	}
	p {
		font-size: 17px;
		line-height: 28px;
		margin-bottom: 20px;
	}
}

.header-user {
	background-color: $black;
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	&__nav {
		overflow: hidden;
		li {
			float: left;
		    padding-left: 12px;
		    position: relative;
		    margin-right: 15px;
		    color: #ddd;
			&:before {
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #ddd;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -2px;
			}
			a {
				display: inline-block;
			    color: #ddd;
			    text-decoration: none;
			    line-height: 1;
			    padding: 5px 0;
			}
		}
	}
	&__menu {
		margin-left: auto;
		overflow: hidden;
		margin-right: -10px;
		li {
			float: left;
		}
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			padding: 5px 18px 6px;
			line-height: 1;
			&.red {
				background-color: $red;
				padding-left: 27px;
			    padding-right: 10px;
			    position: relative;
			}
			.i-user {
				font-size: 14px;
			    margin-right: 5px;
			    position: absolute;
			    left: 6px;
			    top: 5px;
			}
		}
	}
}

.how-works {
	h2 {
		padding-left: 40px;
		margin-bottom: 16px;
	}
	&--container {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px 32px 40px;
	}
	&__list {
		max-width: 580px;
		counter-reset: number;
		font-size: 16px;
		line-height: 24px;
		li {
			position: relative;
			margin-bottom: 20px;
			&:before {
				counter-increment: number;
				content: counter(number) '.';
				font-weight: bold;
				position: absolute;
				left: -20px;
				top: 0;
			}
		}
	}
	&__features {
		width: 388px;
		height: 222px;
		position: relative;
		margin-left: auto;
		span {
			display: inline-block;
			width: 60px;
			height: 60px;
			border: 2px solid #EAE7D4;
			box-sizing: border-box;
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
			font-size: 40px;
			color: #C4C4C4;
			text-align: center;
			line-height: 60px;
			&:nth-child(1) {
				position: absolute;
			    left: 26px;
			    top: -7px;
			}
			&:nth-child(2) {
				position: absolute;
			    right: 114px;
			    top: 8px;
			}
			&:nth-child(3) {
				position: absolute;
			    left: 113px;
			    top: 71px;
			}
			&:nth-child(4) {
				position: absolute;
			    left: -10px;
			    bottom: 43px;
			}
			&:nth-child(5) {
				position: absolute;
			    right: 131px;
			    bottom: 6px;
			}
			&:nth-child(6) {
				position: absolute;
			    right: 10px;
			    top: 85px;
			}
			.i-art {
				font-size: 39px;
			    position: relative;
			    left: 3px;
			    top: 1px;
			}
			.i-phone {
				font-size: 30px;
				position: relative;
				top: -2px;
				left: 2px;
			}
			.i-hand {
				font-size: 38px;
			}
			.i-picture {
				font-size: 39px;
			}
			.i-credit {
				font-size: 40px;
			}
		}
	}
}


.apply-request {
	position: relative;
	margin-bottom: 35px;
	.line-decor-top {
		margin-bottom: 50px;
	}
	.line-decor-bottom {
		margin-top: 30px;
	}
	.h1 {
		margin-top: 0;
	}
	&__content {
		max-width: 916px;
		min-height: 754px;
		margin: 0 auto;
		background: url('../img/bg-svg-element.svg') no-repeat center top;
		padding-top: 35px;
	}
	&__inner {
		max-width: 630px;
		margin: 0 auto;
		padding: 18px 0 65px 0;
		.textarea-counter {
			padding-top: 15px;
		}
	}
	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.btn {
			margin-left: 33px;
		}
	}
}


.upload-avatar {
	width: 220px;
	position: relative;
	padding-top: 240px;
	margin-top: 18px;
	.dragBox {
		position: absolute;
		left: 0;
		top: 0;
	}
	#uploadFilePreview {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
}
.uploadOuter {
  text-align: center;
}
.dragBox {
  width: 220px;
  height: 220px;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #999;
  border: 2px dashed #C4C4C4;
  box-sizing: border-box;
  display: inline-block;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #fff;
  &:hover {
  	border-color: $blue;
  }
  .i-art {
  	font-size: 70px;
  	display: block;
  	position: relative;
  	margin-bottom: 10px;
  	margin-top: 30px;
  	color: #C4C4C4;
  }
  input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
  }
}
.dragBox__title {
	font-size: 17px;
	font-weight: 600;
	color: #C4C4C4;
}
.draging {
  border-color: $blue;
}
#uploadFilePreview {
	width: 220px;
	height: 220px;
	overflow: hidden;
	border-radius: 50%;
	img {
		width: 100%;
	}
}


.questions-answers {
	margin-bottom: 36px;
	&__header {
		.container {
			padding-left: 55px;
		}
	}
	.hr {
		margin-top: 20px;
	}
}

.file-block {
	margin-bottom: 30px;
	&__link {
		display: inline-flex;
		align-items: center;
		font-size: 17px;
		font-weight: 600;
		color: #000;
		text-decoration: none;
		transition: .3s;
		margin-left: 40px;
		span {
			margin-right: 10px;
			border-bottom: 1px solid #aaa;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.hr {
		margin-top: 36px;
	}
}


.work-art {
	margin-bottom: 60px;
	.h1 {
		font-size: 44px;
		font-weight: 900;
		line-height: 54px;
		color: #444;
		margin-top: 60px;
		padding-left: 40px;
		span {
			color: #E2E2CF;
		}
	}
	.h3 {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 15px;
		a {
			color: #000;
			border-bottom: 1px solid #aaa;
			transition: .5s;
			&:hover {
				text-decoration: none;
				color: $blue;
				border-bottom-color: $blue;
			}
		}
	}
	&__list {
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 50%;
				padding: 1px;
			}
			a {
				display: block;
				height: 174px;
				overflow: hidden;
				border-radius: 4px;
				transition: 1s;
				&:hover {
					opacity: .8;
				}
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
}

@import "media"; // Always at the end
