// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$gutter: $grid-gutter-width;

// colors
$black: #111619;
$black-light: #54585c;

$dark: #72777c;

$silver-light: #e9eaef;

$chocolate: #9f7636;
$chocolate-light: #ea9721;
$chocolate-dark: #865312;