@import "vars";
@import "fonts";
@import "libs";
@import "base";
@import "ui";
@import "content";


.header {
	height: 900px;
	position: relative;
	overflow: hidden;
	padding-top: 183px;
	text-align: center;
    margin-bottom: -68px;

    h1 {
    	font-size: 40px;
    }

	&__content {
		position: relative;
		z-index: 1;
		h4 {
			margin-bottom: 60px;
		}
		.btn-gold {
			margin-bottom: 75px;
		}
	}

	&__scene {
		width: 120%;
		height: 100%;
		position: absolute;
		left: -10%;
		top: -30px;
		&--cloud {
			width: 100%;
			height: 900px;
			background: url("../img/header-cloud.jpg") no-repeat center;
		}
		.position-1 {
			position: absolute;
			top: -80px!important;
			left: 50% !important;
    		margin-left: -710px;
			z-index: 1;
		}
		.position-2 {
			position: absolute;
			top: 315px!important;
			left: 50% !important;
		    margin-left: -680px;
		}
		.position-3 {
			position: absolute;
			top: 200px!important;
			left: 50% !important;
		    margin-left: 150px;
			z-index: 2;
		}
		.decor-element-1 {
			position: absolute;
			top: 216px!important;
			left: 50% !important;
		    margin-left: -384px;
		}
		.i-shield {
			opacity: .21;
			position: absolute;
			top: 50px !important;
			left: 50% !important;
			margin-left: -184px;
		}
	}
}


.panel-top {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 15px 0;
	z-index: 111;
	transition: .5s;
	.i-logo {
		transition: .3s;
	}
	&.nav-scrolled {
		background-color: #fff;
		box-shadow: 0 3px 10px rgba(#000, .15);
		.i-logo {
			width: 50px;
			height: 50px;
		}
	}
	&__content {
		padding: 0 15px;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.main-nav {
			margin-left: auto;
		}
		.call-me {
		    margin: 0 0 0 40px;
		}
	}
}


.why {
	position: relative;
	min-height: 450px;
	padding-bottom: 80px;
	h3 {
		color: #6c7075;
		strong {
			color: $black-light;
		}
	}
	&__content {
		position: relative;
		z-index: 1;
	}
	&__scene {
		width: 100%;
		height: 450px;
		position: absolute;
		left: 0;
		top: 0;
		.position-1 {
			top: 260px !important;
			left: -30px !important;
		}
		.position-2 {
			top: -132px!important;
		    left: 50%!important;
		    margin-left: -530px;
		}
		.position-3 {
			top: 338px!important;
		    left: 50%!important;
		    margin-left: -85px;
		}
		.position-4 {
			top: -25px!important;
		    left: 50%!important;
		    margin-left: 420px;
		}
		.position-5 {
			top: 168px!important;
		    left: 100%!important;
		    margin-left: -219px;
		}
		.position-6 {
			top: 370px!important;
		    left: 50%!important;
		    margin-left: -92px;
		    z-index: -1;
		}
		.bg-door {
			top: 36px!important;
		    left: 50%!important;
		    z-index: -1;
		}
	}
}


.our {
	background-color: #2e220c;
	background-image: linear-gradient(to top, #080806, #2e230f);
	border-bottom: 18px solid #5a3c0e;
	padding-bottom: 75px;
	color: #fff;
	position: relative;
	z-index: 1;
	&__content {
		min-height: 150px;
		position: relative;
		.container {
			position: relative;
			min-height: 715px;
			padding-top: 140px;
			display: flex;
			align-items: center;
		}
		.title {
			font-size: 24px;
			position: absolute;
			left: 15px;
			top: -20px;
			z-index: 1;
		}
		.corner-element {
			margin-left: -5px;
		}
		.mac {
			position: absolute;
			left: 15px;
			top: 50%;
			margin-top: -215px;
			z-index: 1;
		}
	}
	&__bg {
		width: 1920px;
		height: 100%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -960px;
		&:before {
			content: '';
			width: 3000px;
			height: 2000px;
			background: radial-gradient(circle, rgba($chocolate-light, .6) -10%, transparent 50%);
			position: absolute;
			bottom: -1150px;
			left: 50%;
			margin-left: -1500px;
			z-index: -1;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute !important;
		left: 50%;
		margin-left: -960px;
		top: 0;
		z-index: 2;
		.position-1 {
			top: 121px !important;
		}
		.position-2 {
			left: 290px !important;
			top: -215px !important;
		}
		.position-3 {
			width: 50px !important;
			left: auto !important;
			right: 230px !important;
			top: -30px !important;
		}
	}
}


.clients {
	min-height: 1985px;
	padding: 47px 0 300px;
	position: relative;
	z-index: 1;
	.title-section {
		margin-bottom: 73px;
		max-width: 700px;
	}
	.item-text.chocolate {
		margin: -12px 0 71px 230px;
	}
	.container {
		position: relative;
	}
	&__content {
		min-height: 1082px;
		padding-bottom: 50px;
		.container {
			position: relative;
		}
		.ipad {
			position: absolute;
			right: 40px;
		    top: 300px;
		}
	}
	&__more {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		.item-text {
			padding-top: 65px;
		}
		.video-block {
			flex-grow: 1;
			margin-right: 5px;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -960px;
		top: 0;
		z-index: 1;
		.position-1 {
			left: 73%!important;
		    top: -100px !important;
		}
		.position-2 {
			left: 71%!important;
		    top: -45px !important;
		}
		.position-3 {
			top: 60px!important;
		    left: 56%!important;
		}
		.position-4 {
			top: 265px!important;
		    left: 55%!important;
		}
		.position-5 {
			top: 466px!important;
			left: 57%!important;
		}
		.position-6 {
			top: 520px!important;
		    left: 6%!important;
		}
		.position-7 {
			top: 908px!important;
		    left: 9%!important;
		}
		.position-8 {
			top: 918px!important;
		    left: 27.5%!important;
		}
		.position-9 {
			top: 1492px!important;
		    left: 64%!important;
		}
	}
}


.about {
	position: relative;
	.bg-title {
		font: 82px/1 'GothamPro-Black';
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top: -379px;
	    left: 50%;
	    margin-left: -464px;
		transform: rotateZ(-90deg);
		opacity: .5;
	}
	&__content {
		background-color: #a4630c;
		max-width: 1920px;
		margin: 0 auto -550px;
		position: relative;
		&:before {
			content: '';
			width: 1920px;
			height: 164px;
			background: url('../img/svg/bg-wave-2.svg') no-repeat center top;
			background-size: cover;
			position: absolute;
			left: 50%;
			margin-left: -960px;
			top: -163px;
			z-index: -1;
		}
	}
	&__article {
		max-width: 970px;
		background-color: #fff;
		padding: 45px 110px 340px;
		border-radius: 10px 10px 0 0;
		position: relative;
		margin: 0 auto;
		top: -185px;
		&-content {
			position: relative;
			z-index: 1;
			text-align: center;
			h3 {
				color: #54585c;
				font-family: 'GothamPro-Medium';
			    letter-spacing: .15em;
			    margin-bottom: 28px;
			}
		}
	}
	&__list {
		max-width: 1920px;
		background-color: #231b0c;
		background: url('../img/svg/bg-wave-1.svg') no-repeat center top;
		background-size: 101%;
		margin: 0 auto;
		position: relative;
		border-bottom: 18px solid #5a3c0e;
		overflow: hidden;
		padding: 394px 0 63px;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: #231b0c;
			position: absolute;
			left: 0;
			top: 400px;
			z-index: -1;
		}
		.container {
			display: flex;
			justify-content: space-between;
			.about__item {
				flex-grow: 1;
				margin-bottom: 35px;
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 265px;
		min-height: 190px;
		padding: 30px 20px;
		border-radius: 55.5px;
		font: 22px/1.1 'GothamPro-Bold';
		background-color: #c2911f;
		background-image: linear-gradient(135deg, #b9811b 45%, #e6d22d 85%);
		color: #31230c;
		text-align: center;
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: 1;
		.element-1.style-1 {
		    transform: rotate(0) scale(.35);
		}
		.position-1 {
			top: -234px!important;
		    left: 401px!important;
			z-index: 1;
		}
		.position-2 {
			top: -367px!important;
		    left: 224px!important;
		}
		.position-3 {
			top: 100%!important;
		    left: 65.5%!important;
		    margin-top: -680px;
		    .element-1.style-1 {
		        transform: scale(.4);
		    }
		}
		.position-4 {
			top: -35px!important;
		    left: 100%!important;
		    margin-left: -158px;
		}
		.position-5 {
			top: 100%!important;
		    left: 100%!important;
	        margin: -96px 0 0 -274px;
		}
	}
}


.make-order {
	padding: 48px 0 80px;
	.main-title {
		strong {
			font-size: 40px;
		}
		.sub {
			max-width: 700px;
		}
	}
}


.portfolio {
	max-width: 1210px;
	margin: 0 auto 50px;
	padding: 6px 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-shrink: 1;
	position: relative;
	&-col {
		width: 374px;
	}
	&-slider--one,
	&-slider--two {
		.slick-list {
			border-radius: 10px;
		}
		.portfolio__item .inner {
			border-radius: 0;
		}
	}
	&-slider--one {
		.slick-prev {
			position: absolute;
			left: 50%;
			bottom: -80px;
			margin-left: 329px;
		}
		.slick-next {
			position: absolute;
			left: 50%;
			bottom: -80px;
			margin-left: 424px;
		}
	}
	&__item {
		width: 374px;
		height: 430px;
		cursor: pointer;
		overflow: hidden;
		.inner {
			width: 100%;
			height: 100%;
			background-color: #fff;
			border-radius: 10px;
			overflow: hidden;
			position: relative;
		}
		picture {
			display: block;
			height: 186px;
			margin-bottom: 30px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		h4 {
			font-family: GothamPro-Bold;
		    text-transform: uppercase;
		    letter-spacing: .08em;
		    margin-bottom: 13px;
		}
		p {
			line-height: 1.6;
			letter-spacing: .065em;
			margin-right: -15px
		}
		.info {
			padding: 0 20px 10px;
		}
		.splash {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 34px 15px 15px 15px;
			left: 0;
			top: 0;
			background-color: #c2911f;
			background-image: linear-gradient(150deg, #b9811b 45%, #e6d22d 90%);
			color: #fff;
			z-index: 1;
			text-align: center;
			transition: .5s;
			opacity: 0;
			visibility: hidden;
			.title {
				font-size: 24px;
			    line-height: 1.03;
			    text-transform: uppercase;
			    margin-bottom: 32px;
			    letter-spacing: .08em;
			}
			strong {
				font-family: 'GothamPro-Black';
			}
			&.visible {
				visibility: visible;
				opacity: 1;
			}
		}
		&:hover {
			.splash {
				visibility: visible;
				opacity: 1;
				transition: 1s;
			}
		}
	}
}


.cooperation {
	position: relative;
	padding: 35px 0 70px;
	&__content {
		padding-right: 630px;
		min-height: 275px;
		position: relative;
		&:before {
			content: '';
			width: 588px;
			height: 255px;
			background: url('../img/cooperation.jpg');
			position: absolute;
			right: 5px;
			top: 20px;
		}
		p {
			font: 16px/1.65 GothamPro-Medium;
		    margin-bottom: 20px;
		    letter-spacing: .04em;
		}
		.btn-gold {
			margin-top: 43px;
		}
	}
	&__scene {
		width: 1920px;
		height: 100%;
		position: absolute !important;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: 1;
		.position-1 {
			top: 50%!important;
		    left: 280px!important;
		    margin-top: -12px;
		}
	}
}


.our-team {
	height: 630px;
	background: url('../img/svg/bg-wave-3.svg') no-repeat center;
	background-size: cover;
	margin: 0 auto 25px;
	padding-top: 60px;
	.white-title {
		position: relative;
		left: -8px;
	}
	&__slider {
		padding-bottom: 78px;
		.slick-slide {
			padding: 0 55px;
		}
		.slick-arrow {
			width: 46px;
			height: 46px;
			background: #fff;
			color: #b2720e;
			font-size: 20px;
			position: relative;
			z-index: 1;
			[class*="i-"] {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.slick-prev {
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -75px;
		}
		.slick-next {
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: 15px;
		}
	}
	&__item {
		width: 270px;
		background-color: #322109;
		color: #fff;
		overflow: hidden;
		border-radius: 10px;
		position: relative;
		padding-bottom: 15px;
		&:before {
			content: '';
			width: 100%;
			height: 90%;
			position: absolute;
			left: 0;
			bottom: 0;
			background-image: linear-gradient(to top, rgba(#c77a0f, .2), transparent);
			z-index: 1;
		}
		picture {
			display: block;
			height: 230px;
			margin-bottom: 5px;
			position: relative;
			&:after {
				content: '';
				width: 100%;
				height: 60%;
				background-image: linear-gradient(to top, #322109, transparent);
				position: absolute;
				left: 0;
				bottom: 0;
			}
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		strong {
			display: block;
			font: 18px 'GothamPro-Bold';
			padding: 0 18px 5px;
			&:after {
				content: '';
				display: block;
				width: 50px;
				height: 4px;
				background-color: #b87f1b;
				margin-top: 4px;
			}
		}
		p {
			min-height: 27px;
			max-height: 45px;
		    overflow: hidden;
		    padding: 0 18px;
		    font-size: 12px;
		    letter-spacing: .035em;
		}
	}
}


.callback {
	max-width: 940px;
	margin: 0 auto;
	padding: 30px 0 32px;
	text-align: center;
	color: #293841;
	.input {
		margin-left: 13px;
		margin-right: 13px;
		text-align: center;
	}
	textarea {
		margin-bottom: 37px;
	}
	&__check {
		max-width: 740px;
		margin: 0 auto 37px;
	}
	&__thanks {
		
	}
}
.callback-form {
	width: 100%;
	max-width: 500px;
	padding: 30px 3%;
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	.h3 {
		margin-bottom: 25px;
	}
	.input input {
		width: 100%;
	    box-shadow: 0 0 0 0.2rem rgba(#000, .15);
	}
	.input input:focus {
	    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	}
	.btn {
		display: block;
		width: 100%;
		height: 60px;
		border-radius: 30px;
		font-size: 20px;
	}
}

.mfp-close {
  color: #fff !important;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  font-size: 50px;
}

.footer {
	color: #fff;
	background-color: #1d1509;
	position: relative;
	&__content {
		position: relative;
		background-color: #2e220c;
		background-image: linear-gradient(to top, #080806, #2e230f);
		border-bottom: 13px solid #5a3c0e;
		box-shadow: inset 0 -1px 1px rgba(#7f5312, .45);
	    padding: 30px 0 20px;
		.container {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 1;
		}
		.yandex-doc {
			margin: 0 -15px 0 auto;
		}
		&--bg {
			width: 1920px;
			height: 100%;
			overflow: hidden;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -960px;
			&:before {
				content: '';
				width: 3000px;
				height: 2000px;
				background: radial-gradient(circle, rgba($chocolate-light, .6) -10%, transparent 50%);
				position: absolute;
				bottom: -1200px;
				left: 50%;
				margin-left: -1500px;
			}
		}
		.item-text {
			padding: 20px 0;
    		margin-bottom: 55px; 
		}
	}
	&__info {
		padding: 30px 0;
	    line-height: 1.75;
		.container {
			display: flex;
			align-items: center;
		}
		.col {
			width: 33%;
		}
		.logo-rockstart {
			margin: 0 auto;
		}
		.social-icons {
			text-align: right;
			margin-right: -15px;
			padding-top: 14px;
		}
	}
	&__copy {
		background-color: #150f06;
		color: rgba(#fff, .4);
		padding: 12px 0;
		a {
			color: inherit;
			&:hover {
				color: #edd791;
			}
		}
		.container {
			display: flex;
			align-items: center;
		}
		.col {
			width: 33%;
		}
	}
	&__scene {
		width: 1920px;
		position: absolute !important;
		top: 0;
		left: 50%;
		margin-left: -960px;
		z-index: 1;
		.decor-element-2 {
			height: 337px;
		}
		.element-1.style-1 {
			transform: rotate(-15deg) scale(.35);
		}
		.position-1 {
			left: -247px!important;
		    top: -340px!important;
		}
		.position-2 {
			left: 78.4%!important;
		    top: -228px!important;
		}
		.position-3 {
			left: 69.4%!important;
		    top: auto !important;
		    bottom: -168px!important;
		}
	}
}

@import "media";