/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	min-width: 270px;
	height: 62px;
	background-color: #fff;
	outline: none;
	border-radius: 30px;
	padding: 0 35px;
	transition: border-color 0.5s, box-shadow 0.5s;
	border-radius: 7px;
	font: 18px "Mont", sans-serif;
	border: 0;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
input[type="email"].input-style,
input[type="password"].input-style,
input[type="tel"].input-style,
input[type="text"].input-style,
textarea.input-style {
    height: 92px;
}
input[type="email"].input-style:focus,
input[type="password"].input-style:focus,
input[type="tel"].input-style:focus,
input[type="text"].input-style:focus,
textarea.input-style:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.25);
}
input[type="email"].input-style::placeholder,
input[type="password"].input-style::placeholder,
input[type="tel"].input-style::placeholder,
input[type="text"].input-style::placeholder,
textarea.input-style::placeholder {
    text-transform: none;
}

textarea {
    max-width: 870px;
    width: 100%;
    height: auto;
    min-height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
}
::placeholder {
    color: #293841;
    transition: 1s;
    text-transform: uppercase;
}
:focus::placeholder {
    color: transparent;
}



/*Placeholder*/
::-webkit-input-placeholder {
	color: rgba(1, 33, 105, .3);
	-webkit-transition: .75s;
	transition: .75s;
}
::-moz-placeholder {
	color: rgba(1, 33, 105, .3);
	-moz-transition: .75s;
	transition: .75s;
}
:-ms-input-placeholder {
	color: rgba(1, 33, 105, .3);
	-ms-transition: .75s;
	transition: .75s;
}
::-ms-input-placeholder {
	color: rgba(1, 33, 105, .3);
	-ms-transition: .75s;
	transition: .75s;
}
::placeholder {
	color: rgba(1, 33, 105, .3);
	-webkit-transition: .75s;
	-o-transition: .75s;
	transition: .75s;
}
/*:focus*/
:focus::-webkit-input-placeholder {
	color: rgba(1, 33, 105, .1);
}
:focus::-moz-placeholder {
	color: rgba(1, 33, 105, .1);
}
:focus:-ms-input-placeholder {
	color: rgba(1, 33, 105, .1);
}
:focus::-ms-input-placeholder {
	color: rgba(1, 33, 105, .1);
}
:focus::placeholder {
	color: rgba(1, 33, 105, .1);
}


/*Selection*/
::-moz-selection {
	background-color: rgba(57, 174, 169, .3);
	color: #000;
}
::selection {
	background-color: rgba(57, 174, 169, .3);
	color: #000;
}