/* base */
@import "base.css";

/* style */
@import "style/blocks.css";
@import "style/ui.css";


/* libs */
@import "libs/bootstrap-grid.css";



@keyframes rotation {
  to {
      transform: rotate(360deg);
  }
}

@keyframes transformScale {
  from {
      transform: scale(0);
  }

  to {
      transform: scale(1);
  }
}

.darkmode-btn {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
}

.darkmode-btn__indicator {
  background-color: #0081ff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease;
}

.darkmode-btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode-btn__icon {
  display: flex;
  height: 100%;
  fill: #fff;
}

.darkmode-btn__icon-moon,
.darkmode-btn__icon-sun {
  display: none;
}

.darkmode-btn__icon.darkmode-moon .darkmode-btn__icon-sun {
  display: block;
}

.darkmode-btn__icon.darkmode-moon.animated .darkmode-btn__icon-sun {
  animation: transformScale 0.5s;
}

.darkmode-btn__icon.darkmode-sun .darkmode-btn__icon-moon {
  display: block;
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

@keyframes transformScale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.darkmode-btn {
	background-color: #fff;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
}

.darkmode-btn__indicator {
	background-color: #0081ff;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	position: absolute;
	transition: transform 0.3s ease;
}

.darkmode-btn__icon-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.darkmode-btn__icon {
	display: flex;
	height: 100%;
	fill: #fff;
}

.darkmode-btn__icon-moon,
.darkmode-btn__icon-sun {
	display: none;
}

.darkmode-btn__icon.darkmode-moon .darkmode-btn__icon-sun {
	display: block;
}

.darkmode-btn__icon.darkmode-moon.animated .darkmode-btn__icon-sun {
	animation: transformScale 0.5s;
}

.darkmode-btn__icon.darkmode-sun .darkmode-btn__icon-moon {
	display: block;
}

.darkmode-btn__icon.darkmode-sun.animated .darkmode-btn__icon-moon {
	animation: rotation 0.5s;
}

.darkmode {
	background: #000;
	color: #fff;
}





/* media queries */
@import "media.css";