@media only screen and (max-width : 1600px) {
	.program:before {
		right: -50px;
		top: -150px;
		transform: scale(.9);
	}

	.learning__content {
		margin-left: 15px;
	}
}

@media only screen and (max-width : 1200px) {

	.intro__info-number {
		font-size: 140px;
	}

	.about-advantages .hgroup {
		margin-bottom: 50px;
	}

	.features-list__item {
		margin-top: 0;
	}

	.program {
		&__col {
			max-width: 50%;
			padding: 0 40px;
			&:nth-child(2) {
				max-width: 50%;
			}
		}
		&__item br {
			display: none;
		}
	}

	.teacher {
		&__row {
			padding: 10px 0;
		}
		&__author {
			margin-left: -100px;
		}
	}

	.footer {

		&__content {
			justify-content: flex-start;
		}

		.logo {
			width: 33.3%;
			margin-right: 0;
		}

		.follow-me {
			margin: 0;
			width: 33.3%;
			justify-content: center;
		}

		.privacy-policy {
			width: 33.3%;
			margin: 0 0 0 auto;
			text-align: right;
		}

		.azbuka-digital {
			margin: 30px 0 0;
			width: 100%;
			text-align: center;
			font-size: 15px;
		}
	}
}

@media only screen and (max-width : 992px) {

	.h1, h1 {
		font-size: 60px;
	}
	.h2, h2 {
		font-size: 45px;
	}

	.header {
		background-image: url('../img/size-desktop/bg-header.jpg');
		.h1 {
			font-size: 65px;
			.text-center {
				text-align: left;
			}
		}
		&__action {
			text-align: left;
		}
	}

	.click-on-the-button {
		margin-left: 35px;
	}

	.intro {
		background-image: url(../img/size-desktop/bg-intro.jpg);
		&__info {
			max-width: 260px;
			font-size: 18px;
			&-number {
				font-size: 120px;
			}
		}
		.h2 br {
			display: none;
		}
	}

	.video-box {
		background-image: url(../img/size-desktop/bg-video.jpg);
		background-position: left center
	}

	.about-advantages {
		padding-bottom: 90px;
	}

	.features-list__item {
		flex-grow: 0;
		max-width: 250px;
		width: 100%;
		br {
			display: none;
		}
	}

	.program {
		&:before {
			width: 300px;
			height: 239px;
			background-image: url(../img/size-desktop/camera.png);
			transform: none;
			right: 0px;
		    top: -120px;
		}
	    &__content {
	    	font-size: 16px;
	    }
	    &__title {
	    	font-size: 18px;
	    }
	}

	.teacher {
		&:after, &:before {
			display: none;
		}
		&__content {
			padding: 0 0 30px;
			justify-content: flex-end;
		}
		&__author {
			bottom: inherit;
			top: 80px;
			margin-left: 0;
			left: 15px;
			text-align: right;
			&--name {
				margin-right: -10px;
				&:before {
					bottom: 50%;
					left: 100%;
					border-left: 8px solid #6b9ecf;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					margin: 0 0 -8px 0;
				}
			}
			&--info {
				margin-left: 0;
			}
		}
		&__bg {
			background-image: url(../img/size-desktop/bg-teacher.jpg);
		}
	}

	.contact {
		background-image: url(../img/size-desktop/bg-contact.jpg);
		background-position: left center;
	}

	.footer {
		font-size: 16px;

		.logo p {
			font-size: 14px;
		}

		.follow-me strong {
			font-size: inherit;
		}
	}

}

@media only screen and (max-width : 768px) {

	.header {
		font-size: 16px;
		&__top {
			padding: 30px 0 60px;
		}
		&__action p {
			font-size: 20px;
			max-width: 250px;
		}
		.h1 {
			font-size: 55px;
			span {
				font-size: 40px;
			}
		}
	}

	.follow-me strong {
		font-size: inherit;
	}

	.click-on-the-button {
		margin-left: 0;
	}

	.intro {
		&__info {
			max-width: 200px;
			&-number {
				font-size: 100px;
				color: lighten($dark, 20%);
			}
		}
	}

	.video-box {
		background-position: center;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(#000, .35);
			position: absolute;
			left: 0;
			top: 0;
		}
		&__content {
			color: #fff;
			position: relative;
		}
	}

	.program {
		&:before {
			display: none;
		}
		.h2 {
			text-align: center;
		}
		&__content {
			font-size: 19px;
		}
		&__title {
			font-size: 22px;
		}
		&__col, &__col:nth-child(2) {
			max-width: 100%;
		}
	}

	.teacher {
		height: auto;
		padding-top: 400px;
		&__content {
			height: auto;
		}
		&__author {
			left: 50%;
			top: 250px;
			margin-left: -152px;
			&--name {
				margin-right: 7px;
				&:before {
					bottom: 100%;
					left: 50%;
					margin: -8px 0 0 -8px;
					border-bottom: 8px solid #7aaee1;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: none;
				}
			}
		}
		&__item {
			width: 265px;
			padding-left: 30px;
			box-shadow: 0 10px 20px rgba(220,226,240,.5);
			.number {
				text-align: right;
				width: auto;
			}
		}
		&__bg {
			height: 450px;
			background-image: url('../img/size-tablet/bg-teacher.jpg');
		}
	}

	.packages {
		margin-bottom: 120px;
		&__content {
			&:before {
				right: -5px;
				top: -81px;
			}
			&:after {
				left: -2px;
				bottom: -150px;
			}
		}
	}

	.beefup {
		&__head {
			padding: 15px 80px 15px 25px;
			.i-down {
				right: 30px;
			}
		}
		&__body {
		    padding: 30px 45px;
		}
	}

	.contact {
		height: auto;
		background: url('../img/size-tablet/bg-contact.jpg') no-repeat center top / cover;
		text-align: center;
		padding: 50px 0; 

		&__form {
			max-width: 100%;
		}
	}

	.footer {
		.logo, .follow-me {
			width: 50%;
		}
		.privacy-policy {
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}
	}

}

@media only screen and (max-width : 576px) {

	input[type=email], input[type=password], input[type=tel], input[type=text], textarea {
		height: 60px;
	}

	.h2, h2 {
		font-size: 35px;
	}

	.follow-me strong {
		display: none;
	}

	.logo {
		p {
			max-width: 200px;
			font-size: 15px;
		}
		strong {
			margin-bottom: 4px;
		}
	}

	.header {
		height: auto;
		min-height: 600px;
		padding-bottom: 520px;
		background: #c3cdd4 url('../img/size-phone/bg-header.jpg') no-repeat center bottom;
		.h1 {
			font-size: 48px;
			margin-bottom: 20px;
			.text-center {
				text-align: center;
			}
			span {
				font-size: 35px;
			}
		}
		.btn {
			display: flex;
		}
		&__top {
		    padding: 20px 0 30px;
		}
		&__content {
			display: block;
			text-align: center;
			p {
				margin-bottom: 25px;
			}
		}
		&__action {
			text-align: center;
			p {
				max-width: 100%;
				font-size: 18px;
			}
		}
	}

	.click-on-the-button {
		font-size: 15px;
	}

	.btn {
		height: 84px;
		padding: 0 30px;
		&__bg:before {
			height: 80px;
		}
	}

	.service-info__item, .service-info__item>div {
		width: 100%;
	}

	.intro {
		background: none;
		min-height: auto;
		&__content {
			display: block;
			min-height: auto;
			padding-top: 20px;
		}
		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-width: 100%;
			margin-bottom: 50px;
			.i-5, .i-6 {
				display: inline-block;
				margin: 0;
			}
			.i-5 {
				order: -1;
			}
		}
	}

	.btn-play {
		width: 100px;
		height: 100px;
	}

	.video-box {
		background-image: url('../img/size-phone/bg-video.jpg');
	    padding: 25px;
	    .h3 {
	    	line-height: 1.1;
	    }
	    &__control {
	    	flex-direction: column;
	    	align-items: flex-start;
	    	&-info {
	    		margin: 40px 0 0 0;
	    	}
	    }
	}

	.program {
		&__content {
			padding-bottom: 15px;
		}
		&__col {
			padding-right: 0;
		}
		&__item {
			font-size: 17px;
			margin-bottom: 40px;
		}
		&__title {
			font-size: 20px;
		}
	}

	.teacher {
		margin-bottom: 50px;
		&__row {
			padding: 0;
			justify-content: center;
		}
		&__item {
			width: 100%;
			max-width: 420px;
			text-align: center;
			margin-bottom: 25px;
			p {
				max-width: 280px;
				margin: 0 auto;
			}
			br {
				display: none;
			}
		}
	}

	.learning {
		max-width: 100%;
		padding: 0 15px;
		.h2 {
			margin-bottom: 30px;
			text-align: center;
		}
		&__content {
			margin: 0;
		}
		&__item {
			width: 100%;
			max-width: 100%;
			margin: 0;
			picture {
				margin-bottom: 20px;
			}
			p {
				height: auto;
				padding-bottom: 35px;
			}
		}
		&__slider {
			margin-left: 0;
			padding-bottom: 190px;
			.slick-list {
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
			.next {
				left: 50%;
				margin-left: 79px;
			}
			.prev {
				left: 50%;
				margin-left: -127px;
			}
		}
	}

	.slider-paging-info {
		left: 50%;
		margin-left: -80px;
	}

	.packages {
		&__item {
			width: 100%;
			max-width: 420px;
			flex-shrink: 0;
			.subtitle-color, .btn {
				margin: 0;
			}
			.subtitle-color {
				margin-bottom: 25px;
			}
		}
	}

	.beefup {
		&__head {
			padding: 15px 50px 15px 15px;
			font-size: 17px;
			.i-down {
				right: 15px;
				font-size: 15px;
			}
		}
		&__body {
		    padding: 20px 15px;
		    font-size: 16px;
		    margin-bottom: 30px;
		}
	}

	.contact {

		.btn {
			width: 100%;
		}

		&__form {
			padding: 0;
			br {
				display: none;
			}
		}
	}

	.footer {
		.logo {
			width: 100%;
			text-align: center;
			p {
				max-width: 100%;
			}
		}
		.follow-me {
			width: 100%;
			margin-top: 30px;
		}
	}

}