// colors
$black: #212121;
$dark: #696969;
$silver: #bfbfc0;
$silver-dark: #696969;
$blue: #659fd8;
$green: #6ec64f;
$orange: #f68851;

// gradient
$gradient-blue: linear-gradient(to bottom, #66a2dc 0%,#5f8ebc 100%);
$gradient-green: linear-gradient(to bottom, #8bd248 0%,#4fb957 100%);
$gradient-orange: linear-gradient(to bottom, #f1a459 0%,#fb6747 100%);