:root {
	--color-dark: #2d2d2d;
	--color-accent: #d3a168;
	--color-gray: #c8c8c8;

	--gap-x-15: 15px;
	--gap-x-26: 26px;
}

/* Fonts - Manrope */
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-bold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Fonts - AlumniSans */
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-SemiBold.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-Bold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-ExtraBold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Fonts - RoadRadio */
@font-face {
	font-family: "RoadRadio";
	src: url(../fonts/roadradio/RoadRadio-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "RoadRadio";
	src: url(../fonts/roadradio/RoadRadio-Bold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: var(--color-dark);
	font:
		400 1.6rem/1.2 "Manrope",
		sans-serif;
	min-height: 100vh;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
}
p,
label,
address,
ul,
ol {
	margin-bottom: 0;
	margin-top: 0;
}
strong,
b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
	font-family: "AlumniSans";
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
}
h1,
.heading-1 {
	font-size: 11rem;
	line-height: 0.93;
}
h2,
.heading-2 {
	font-size: 7.7rem;
	line-height: 0.87;
}
h3,
.heading-3 {
	font-size: 5.2rem;
}
h4,
.heading-4 {
	font-size: 4.6rem;
}
h5,
.heading-5 {
	font-size: 3rem;
}
h6,
.heading-6 {
	font-size: 2.4rem;
}

/* Colors */
.color-accent {
	color: var(--color-accent);
}
.color-white {
	color: white;
}

/* Text */
.text-uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

/* Util */
.overflow-y-hidden {
	overflow-y: hidden;
}

button {
	font-family: "Manrope";
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 7.6rem;
	min-width: 280px;
	padding: 1px 3rem 0;
	font: 1.6rem sans-serif;
	color: #000;
	background-color: #fff;
	transition: 0.5s;
	border-radius: 10px;
	border: none;

	&.d-block {
		width: 100%;
	}
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
/* focus */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
	outline: 0;
	background-color: #fff;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

/*Placeholder*/
::placeholder {
	transition: 0.5s;
}
:focus::placeholder {
	color: rgba(255, 255, 255, 0.2);
}

/*Selection*/
::selection {
	background-color: orangered;
	color: #fff;
}

/* padding */
.px-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.px-15 {
	padding-left: var(--gap-x-15) !important;
	padding-right: var(--gap-x-15) !important;
}
.px-26 {
	padding-left: var(--gap-x-26) !important;
	padding-right: var(--gap-x-26) !important;
}

/* containers */
.container-full {
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	&.px-10 {
		max-width: 1620px;
	}
	&.px-15 {
		max-width: 1630px;
	}
	&.px-26 {
		max-width: 1652px;
	}
}

/* list */
.list__item {
	position: relative;
	min-height: 20px;
	padding-left: 23px;
	color: #e8e9e9;
	font-size: 2rem;
	line-height: 1.34;
	margin: 0 -20px 15px 0;
	letter-spacing: -0.05em;
}
.list__item::before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--color-accent);
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -6px;
}
.list ._weight {
	font-weight: 500;
	color: #fff;
}

.img-objectfit {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.link {
	color: var(--color-accent);
}
