
@font-face {
  font-family: 'LifehackSans-Bold';
  src: url('LifehackSans-Bold.eot?#iefix') format('embedded-opentype'),  url('LifehackSans-Bold.woff') format('woff'), url('LifehackSans-Bold.ttf')  format('truetype'), url('LifehackSans-Bold.svg#LifehackSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
