/**
  * ResetCSS
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


:root {

	--accent: #D11717;
	--green: #2AB546;
	--blue: #0097e2;

	--white: white;
	--light: #F1F3F8;

	--black: #232324;
	--dark: #363636;
	--gray: #595959;
	--graylight: #757575;
	--graywhite: #989898;

	--radius: 1rem;
	--radius-small: .6rem;
	--radius-normal: 1.2rem;
	--radius-medium: 1.6rem;
	--radius-large: 2.4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/**
  * Fonts
*/
@font-face {
	font-family: "Onest";
	src: url(../fonts/onest/Onest-Regular.woff2) format('woff2');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Onest";
	src: url(../fonts/onest/Onest-Light.woff2) format('woff2');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Onest";
	src: url(../fonts/onest/Onest-Medium.woff2) format('woff2');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Onest";
	src: url(../fonts/onest/Onest-Bold.woff2) format('woff2');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "OnestSemiBold";
	src: url(../fonts/onest/Onest-SemiBold.woff2) format('woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Jost";
	src: url(../fonts/jost/Jost.woff2) format('woff2');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Jost";
	src: url(../fonts/jost/Jost-Medium.woff2) format('woff2');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Jost";
	src: url(../fonts//jost/Jost-Bold.woff2) format('woff2');
	font-style: normal;
	font-weight: bold;
}

.font-jost {
	font-family: "Jost";
	line-height: 1.1;
}



html, body {
	overflow-x: hidden;
}
html {
	font-size: 10px;
}
body {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	font: normal 1.6rem/1.4 "Onest", sans-serif;
	background-color: white;
	color: var(--black);
	fill: var(--black);
}

a {
	color: var(--blue);
}

ul, ol {
	list-style: none;
	padding-left: 0;
}
p, label, address, ul, ol {
	margin-bottom: 0;
	margin-top: 0;
}
strong, b {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
.size-1, .size-3, .size-5,
.size-2, .size-4, .size-6 {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}
h1, .size-1 {
	font-size: 4.6rem;
}
h2, .size-2 {
	font-size: 3.6rem;
}
h3, .size-3 {
	font-size: 3rem;
}
h4, .size-4 {
	font-size: 2.4rem;
}
h5, .size-5 {
	font-size: 2.2rem;
}
h6, .size-6 {
	font-size: 1.8rem;
}


.objectfit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/**
  * Forms
*/
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 6.4rem;
    min-width: 280px;
    padding: 1px 1.7rem 0;
    font: 1.8rem "Onest", sans-serif;
    color: var(--black);
    background-color: white;
    transition: .5s;
    border-radius: .8rem;
    border: none;
}
input.d-block,
textarea.d-block {
	width: 100%;
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
input.-input-white {
	background-color: #fff;
}
/* focus */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
	outline: 0; 
	background-color: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

input.input-line {
	background-color: transparent;
	border-radius: 0;
	border-bottom: 1px solid #595959;
	transition: .3s;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.4rem;
}
input.input-line:focus {
	background-color: transparent;
	box-shadow: none;
	border-bottom-color: var(--accent);
}


/* Placeholder */
::placeholder {
	transition: .5s;
}
:focus::placeholder {
	color: rgba(255,255,255,.2);
}


/* Selection */
::selection {
	background-color: #27A6E5;
	color: #fff;
}


/* Text Weight */
.text-light {
	font-weight: 300;
}
.text-normal {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
.text-bolder {
	font-weight: 700;
}

/* Text Align */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/* Text */
.text-uppercase {
	text-transform: uppercase;
}


/* BG Colors */
.bg-white {
	background-color: white;
}
.bg-black {
	background-color: var(--black);
}

/* Colors */
.color-white {
	color: white;
}
.color-black {
	color: var(--black);
}
.color-accent {
	color: var(--accent);
}
.color-blue {
	color: var(--blue);
}
.color-green {
	color: var(--green);
}


/* Radius */
.radius {
	border-radius: var(--radius);
}
.radius-small {
	border-radius: var(--radius-small);
}
.radius-normal {
	border-radius: var(--radius-normal);
}
.radius-medium {
	border-radius: var(--radius-medium);
}
.radius-large {
	border-radius: var(--radius-large);
}


.hr {
	border: 0;
	height: 1px;
	background-color: #E8EAEE;
	margin: 0;
}