
@font-face {
  font-family: 'BrushScript';
  src: url('BrushScript.eot?#iefix') format('embedded-opentype'),  url('BrushScript.woff') format('woff'), url('BrushScript.ttf')  format('truetype'), url('BrushScript.svg#BrushScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
