.logo {
    display: inline-block;
    width: 119px;
    height: 31px;
    background: url(../../img/svg/logo.svg) no-repeat center / cover;
}

/* heading */
.heading__outline {
    display: inline-block;
    border-width: 2px;
    border-radius: 3000px;
    background-position: center center;
    border-color: #ffdf93;
    border-style: solid;
    padding: 4px 5px;
    margin: -5px 0;
}
.heading__line {
    padding-bottom: 2px;
    position: relative;
}
.heading__line::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 225px;
    height: 9.01px;
    background: url(../../img/svg/line.svg) no-repeat center;
    position: absolute;
    left: 0;
    bottom: -2px;
}


/* button */
.btn {
	min-width: 120px;
	min-height: 34px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 19px 40px;
    color: #694f11;
    font-size: 14px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 1.55;
	text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 5px;
    background-image: linear-gradient(0.294turn,rgba(255,223,147,1) 0%,rgba(255,194,51,1) 100%);
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 20px 30px 0px rgba(255,204,0,0.1);
}
.btn:hover {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}


@keyframes dwAqd {
	0% {
		transform: scale(1,1);
		animation-timing-function: linear;
	}
	44% {
		transform: scale(1.05,1.05);
		animation-timing-function: linear;
	}
	100% {
		transform: scale(1,1);
	}
}

.wdqwdqwdqw {
	animation: dwAqd 1.8s infinite linear;
	backface-visibility: hidden;
}


/* Graphic */
.fishka-bitcoin {
    display: inline-block;
    width: 421px;
    height: 424px;
    background: url(../../img/fishka-bitcoin.png) no-repeat center / contain;
}
.fishka-efir {
    display: inline-block;
    width: 283px;
    height: 283px;
    background: url(../../img/fishka-efir.png) no-repeat center / contain;
    transform: rotate(348deg);
}