:root {
	--color-light: #EFF3F7;
	--color-black: #202022;
	--color-accent: #0979CC;
}

/* Fonts */
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-Regular.woff2) format('woff2');
	font-weight: normal;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/inter/Inter-SemiBold.woff2) format('woff2');
	font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	color: var(--color-black);
	background-color: var(--color-light);
	font: normal 1.6rem "Inter", sans-serif;
	min-height: 100vh;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}
p, label, address, ul, ol {
	margin-bottom: 0;
	margin-top: 0;
}
strong, b {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}
h1, .h1 {
	font-size: 4.5rem;
}
h2, .h2 {
	font-size: 4rem;
}
h3, .h3 {
	font-size: 3rem;
}
h4, .h4 {
	font-size: 2.6rem;
}
h5, .h5 {
	font-size: 2rem;
}
h6, .h6 {
	font-size: 1.8rem;
}

.weight-400 {
	font-weight: 400;
}
.weight-500 {
	font-weight: 500;
}
.weight-600 {
	font-weight: 600;
}


/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 78px;
	min-width: 330px;
	padding: 1px 3rem 0;
	font: 1.6rem sans-serif;
	color: var(--color-black);
	background-color: rgba(246, 246, 246, .5);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	transition: .5s;
	border-radius: 50px;
	border: none;
}
input.d-block,
textarea.d-block {
	width: 100%;
}

textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}

input.-input-white {
	background-color: #fff;
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
	outline: 0;
	background-color: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

/*Placeholder*/
::placeholder {
	transition: .5s;
}
:focus::placeholder {
	color: rgba(255,255,255,.2);
}

/*Selection*/
::selection {
	background-color: orangered;
	color: #fff;
}