.logo {
	display: block;
	transition: .5s;
}
.logo:hover {
	transform: scale(1.1);
}
.logo__img {
	display: block;
	width: 111px;
}


.menu {
	display: flex;
	gap: 1.2rem 4.23rem;
	flex-wrap: wrap;
	font-size: 1.4rem;
}
.menu__link {
	color: #fff;
	text-decoration: none;
}

.social-media {
	display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-right: 3px;
}
.social-media__item {
	flex-shrink: 1;
	width: 4.3rem;
	height: 4.3rem;
	border: 1px solid rgba(255, 255, 255, .35);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media__item svg {
	fill: var(--color-accent);
	width: 2rem;
	height: 2rem;	
}

.btn {
	display: inline-flex;
	min-height: 7.6rem;
	text-decoration: none;
	background-color: var(--color-accent);
	color: #fff;
	border-radius: 1rem;
	cursor: pointer;
	transition: .5s;
}
.btn__text {
	min-height: 7.6rem;
    display: flex;
    align-items: center;
    text-align: center;
    font: 500 2.72rem "AlumniSans";
    text-transform: uppercase;
    padding: 1.8rem 2.8rem;
}
.btn__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.2rem;
	min-height: 100%;
	border-left: 1px solid rgba(21, 21, 21, .15);
	flex-shrink: 0;
}
.btn__icon svg {
	width: 1.9rem;
    height: 1.9rem;
    fill: #fff;
}
.btn__icon svg._stroke-fill {
	fill: none;
	stroke: #fff;
}
/* sizes */
.btn._small {
	min-height: 4.2rem;
}
.btn._small .btn__text {
	min-height: 4.2rem;
	padding: 1.2rem 1.5rem;
	font-size: 1.4rem;
}
.btn._small .btn__icon {
	width: 4.6rem;
}
.btn._small .btn__icon svg {
	width: 1.2rem;
	height: 1.2rem;
}
