.logo {
	display: block;
	transition: 0.5s;
}
.logo:hover {
	transform: scale(1.1);
}
.logo__img {
	display: block;
	width: 111px;
}

.menu {
	display: flex;
	gap: 1.2rem 4.23rem;
	flex-wrap: wrap;
	font-size: 1.4rem;
}
.menu__link {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		color: var(--color-accent);
	}
}

.social-media {
	display: flex;
	flex-wrap: wrap;
	gap: 1.6rem;
	margin-right: 3px;

	&._big .social-media__item {
		width: 7.8rem;
		height: 7.8rem;
		svg {
			width: 3.2rem;
			height: 3.2rem;
		}
	}
}
.social-media__item {
	flex-shrink: 1;
	width: 4.3rem;
	height: 4.3rem;
	border: 1px solid rgba(255, 255, 255, 0.35);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	&:hover {
		border-color: var(--color-accent);
	}
}
.social-media__item svg {
	fill: var(--color-accent);
	width: 2.1rem;
	height: 2.1rem;
}

.btn {
	display: inline-flex;
	min-height: 7.6rem;
	text-decoration: none;
	background-color: var(--color-accent);
	color: #fff;
	border-radius: 1rem;
	cursor: pointer;
	transition: 0.3s;
	padding: 0;
	border: 0;

	&.d-flex {
		width: 100%;
	}

	&:hover {
		background-color: var(--color-accent-hover);
	}
}
.btn__text {
	min-height: 7.6rem;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: 500 2.72rem/0.84 "AlumniSans";
	text-transform: uppercase;
	padding: 1.8rem 2.8rem;
}
.btn__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.2rem;
	min-height: 100%;
	border-left: 1px solid rgba(21, 21, 21, 0.15);
	flex-shrink: 0;
}
.btn__icon svg {
	width: 1.9rem;
	height: 1.9rem;
	fill: #fff;
}
.btn__icon svg._stroke-fill {
	fill: none;
	stroke: #fff;
}
/* sizes */
.btn._small {
	min-height: 4.2rem;
}
.btn._small .btn__text {
	min-height: 4.2rem;
	padding: 1.2rem 1.5rem;
	font-size: 1.4rem;
}
.btn._small .btn__icon {
	width: 4.6rem;
}
.btn._small .btn__icon svg {
	width: 1.2rem;
	height: 1.2rem;
}
.btn._normal {
	min-height: 6.6rem;
}
.btn._normal .btn__text {
	min-height: 6.6rem;
	padding: 1.2rem 3.7rem;
	font-size: 2.3rem;
	letter-spacing: 0.011em;
}
.btn._normal .btn__icon {
	width: 6.2rem;
}
.btn._normal .btn__icon svg {
	width: 1.7rem;
	height: 1.7rem;
}

.burger {
	display: block;
	width: 4.7rem;
	height: 4.7rem;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}
.burger__icon {
	width: 2.7rem;
	height: 1.74rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.burger ._top,
.burger ._center,
.burger ._bottom {
	position: absolute;
	width: 80%;
	height: 0.3rem;
	background-color: #fff;
	border: none;
	border-radius: 1px;
	transition: 0.3s ease-in-out;
	left: 10%;
}
.burger ._top {
	top: 0;
}
.burger ._center {
	top: 50%;
	margin-top: -0.16rem;
	width: 100%;
	left: 0;
}
.burger ._bottom {
	bottom: 0;
}
.burger.active ._top {
	top: 0.72rem;
	transform: rotate(-45deg);
	width: 100%;
	left: 0;
}
.burger.active ._center {
	top: 0.88rem;
	transform: rotate(45deg);
}
.burger.active ._bottom {
	opacity: 0;
	bottom: 0;
	transform: rotate(180deg);
}

.circle-badge {
	width: 17.7rem;
	height: 17.7rem;
	position: relative;

	&._green {
		width: 19.7rem;
		height: 19.7rem;

		.circle-badge__bg {
			fill: #5ba729;
			width: 19.7rem;
			height: 19.7rem;
		}
	}
}
.circle-badge__bg {
	position: absolute;
	width: 17.7rem;
	height: 17.7rem;
	left: 0;
	top: 0;
	fill: var(--color-accent);
	animation: spin 40s linear infinite;
}
.circle-badge__check {
	fill: none;
	stroke: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 3rem;
	z-index: 1;
	margin-top: -0.4rem;
}
.circle-badge__icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	._leaves {
		width: 9rem;
	}
}
.circle-badge__we-work,
.circle-badge__ecological {
	display: block;
	width: 13.8rem;
	height: 13.6rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -6.8rem 0 0 -6.9rem;
	z-index: 1;
	animation: spin 17s linear infinite;
}
.circle-badge__ecological {
	width: 16.3rem;
	height: 16rem;
	margin: -8rem 0 0 -8.15rem;
}

.section-heading {
	padding: 3rem 0;
}
.section-heading__heading {
	font-size: 7.7rem;
	line-height: 0.87;
	letter-spacing: 0.005em;
}
.section-heading__heading ._slash {
	font-size: 88%;
	position: relative;
	top: -0.4rem;
	transform: rotate(-5deg);
	display: inline-block;
	padding: 0 1.2rem;
}
.section-heading__description {
	font-size: 2.2rem;
	color: var(--color-gray);
	line-height: 1.25;
	padding: 0.6rem 0;
	letter-spacing: -0.016em;
}

.swiper-navigation {
	display: flex;
	justify-content: center;
	column-gap: 4.7rem;
	padding: 3.5rem 0 0;
}
.swiper-prev,
.swiper-next {
	width: 5.9rem;
	height: 5.9rem;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		border-color: var(--color-accent);
	}
}
.swiper-prev svg,
.swiper-next svg {
	fill: #fff;
	width: 1.8rem;
	height: 1.8rem;
}
.swiper-next ._right {
	transform: rotate(180deg);
}

.play-btn {
	width: 8rem;
	height: 8rem;
	background-color: var(--color-accent);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	transition: 0.3s;

	&:hover {
		background-color: var(--color-accent-hover);
	}

	&::before,
	&::after {
		content: "";
		width: 10.3rem;
		height: 10.3rem;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.24);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&::after {
		width: 12.4rem;
		height: 12.4rem;
	}
}
.play-btn__icon {
	fill: #fff;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -1.2rem 0 0 -1rem;
}

.ellipse1 {
	width: 470px;
	height: 612px;
	opacity: 0.5;
	border: 1px solid #b37634;
	border-radius: 50%;
	transform: matrix(0.72, 0.69, -0.59, 0.8, 0, 0);
}
.ellipse2 {
	width: 592px;
	height: 772px;
	border: 1.5px solid #b37634;
	border-radius: 50%;
	transform: matrix(0.72, 0.69, -0.59, 0.8, 0, 0);
}

.choise-file {
	position: relative;
}
.choise-file__input {
	width: 1px;
	height: 1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.choise-file__label {
	display: flex;
	align-items: center;
	min-height: 7.6rem;
	background-color: #fff;
	color: #989898;
	font: 500 2.6rem/0.85 "AlumniSans";
	text-transform: uppercase;
	border-radius: 10px;
	padding: 1.5rem 3rem 1rem;
	column-gap: 1.4rem;
	cursor: pointer;

	&._smeta {
		background: #fff url("../../img/book-open.png") no-repeat right bottom / 124px;
		padding-right: 130px;
	}
}
.choise-file__icon {
	width: 1.8rem;
	height: 1.8rem;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	position: relative;
	flex-shrink: 0;
	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 0.7rem;
		height: 0.7rem;
		fill: var(--color-accent);
	}
}

.swiper-pagination-bullet-active {
	background: var(--color-accent) !important;
}

.izimodal-close {
	width: 3.8rem;
	height: 3.8rem;
	border: 0;
	background-color: var(--color-accent);
	padding: 0;
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;

	svg {
		width: 1.4rem;
		height: 1.4rem;
		fill: none;
		stroke: #fff;
	}
}
