.hero {
	position: relative;
	background-color: var(--dark);
	color: var(--light);
	border-radius: 0 0 3rem 3rem;
	overflow: hidden;

	+ .bg-one {
		margin-top: -3rem;
		.bg-one__inner {
			padding-top: 9rem;
		}
	}
}
.hero__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(252.03deg, rgba(28, 18, 0, 0.09) 20.23%, rgba(28, 18, 0, 0.9) 90.06%);
		position: absolute;
		left: 0;
		top: 0;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.hero__inner {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	position: relative;
	z-index: 1;
	padding: 1rem;
}
.hero-content {
	min-height: 690px;
	max-width: 950px;
	padding: 5rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1rem;
	line-height: 1.1;
	font-size: 2rem;
}
.hero-content__descrp {
	color: var(--gray);
	margin-bottom: 5rem;
}

.header-wrap {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 10px;
}
.header {
	display: flex;
	align-items: center;
	column-gap: 3.7rem;
	width: 100%;
	padding: 1.5rem 1.7rem;
	border-radius: 100px;
	background-color: var(--light);
	color: var(--dark);
	position: relative;
	z-index: 3;
	&._white {
		background-color: var(--white);
	}
}
.header__aside {
	display: flex;
	align-items: center;
	margin-left: auto;
	column-gap: 1.5rem;
	flex-shrink: 0;
}
.header__tel {
	font-size: 1.8rem;
	line-height: 1;
	font-weight: 500;
	text-decoration: none;
	color: var(--dark);
	transition: 0.5s;
	white-space: nowrap;
	&:hover {
		color: var(--accent);
	}
}

.menu {
	flex-grow: 1;
}
.menu-sub {
	position: absolute;
	left: 0;
	top: 99%;
	padding-top: 2rem;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
}
.menu-sub__inner {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	min-width: 250px;
	background-color: var(--white);
	border-radius: 1.4rem;
	padding: 2.5rem 3rem;
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
	transform: translateY(20px);
	&::after {
		content: "";
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 7px solid var(--white);
		position: absolute;
		left: 4rem;
		bottom: 100%;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.menu__list {
	width: 100%;
	max-width: 850px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 0.2rem;
	margin: 0 -2rem;
	line-height: 1;
	position: relative;
	z-index: 1;
}
.menu__item {
	position: relative;
	cursor: pointer;
	&:has(.menu-sub) {
		.menu__link {
			text-decoration: underline;
			text-underline-offset: 5px;
			text-decoration-color: var(--accent);
			padding-right: 2rem;
		}
	}
	&:hover {
		.menu__arrow {
			transform: rotate(180deg);
		}
		.menu-sub {
			visibility: visible;
			opacity: 1;
		}
		.menu-sub__inner {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
.menu__arrow {
	width: 8px;
	height: 6px;
	position: absolute;
	right: 0.4rem;
	top: 49%;
	pointer-events: none;
	transition: 0.75s;
}
.menu__link {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0.6rem 1.2rem 0.4rem;
	text-decoration: none;
	color: var(--dark);
	transition: 0.5s;
	&:hover {
		color: var(--accent);
	}
}

.bg-one {
	&:has(.choose-tour-1) {
		.bg-one__inner {
			padding-bottom: 30rem;
		}
		.choose-tour-1 {
			margin-top: -25rem;
		}
	}
	&:has(.choose-tour-2) {
		padding-top: 5rem;
		.choose-tour-2 {
			margin-bottom: -25rem;
		}
		.bg-one__inner {
			padding-top: 33rem;
		}
	}
	&:has(.any-questions-left) {
		.bg-one__inner {
			padding-bottom: 57rem;
		}
		.any-questions-left {
			margin-top: -50rem;
		}
	}
	&:has(.tour-video-wrap) {
		.bg-one__inner {
			padding-top: 300px;
		}
		.tour-video-wrap {
			margin-bottom: -250px;
		}
	}
	&:has(.tour-operator) {
		.bg-one__inner {
			padding-top: 40rem;
		}
		.tour-operator {
			margin-bottom: -34rem;
		}
	}
	&:has(.current-tours) {
		.current-tours {
			margin-bottom: 0;
		}
	}
	&:has(.section-header) {
		.bg-one__inner {
			padding-top: 31rem;
		}
		.section-header {
			margin-bottom: -27rem;
		}
	}
}
.bg-one__inner {
	background: #d2cbc0 url(../img/bg-one.jpg) no-repeat center top / cover;
	min-height: 300px;
	padding: 6rem 0;
	margin: 0 auto;
	border-radius: 3rem;
	&._inverse-bg {
		background-position: center;
	}
}

.section-heading {
	display: flex;
	flex-direction: column;
	row-gap: 2.2rem;
	padding: 5rem 0;
	[class*="heading"] {
		letter-spacing: -0.04em;
	}
}

.card-block {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	border-radius: 2rem;
	overflow: hidden;
}
.card-block__img {
	display: block;
	height: 390px;
	border-radius: 0 0 2rem 2rem;
	overflow: hidden;
	flex-shrink: 0;
	position: relative;
	.note-mark {
		position: absolute;
		left: 3rem;
		top: 4.2rem;
	}
}
.card-block__content {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	padding: 3rem;
	color: var(--dark);
}
.card-block__title {
	font: 600 3rem/1 "Montserrat";
}
.card-block__result {
	margin-top: auto;
	align-items: center;
	padding-top: 3rem;
}
.card-block__price {
	font: 600 2.2rem/1.15 "Montserrat";
	letter-spacing: 0.005em;
	._caption {
		font-size: 2.6rem;
		color: var(--accent);
	}
}
/* card modification */
.card-block._mod-one {
	background-color: var(--light);
	.card-block__img {
		height: 31rem;
	}
	.list {
		margin-right: -2rem;
	}
}

.popular {
	.gy-5 {
		--bs-gutter-y: 3.7rem;
	}
	.section-heading {
		margin-bottom: 2rem;
	}
	.card-block {
		.btn {
			padding: 1rem 1rem 1rem 0;
			column-gap: 0;
			.btn__icon {
				margin-left: 1rem;
			}
			.btn__text {
				padding-left: 1rem;
			}
		}
	}
}

.format {
	padding-bottom: 5rem;
	.section-heading {
		margin-bottom: 2.2rem;
	}
}
.format-card {
	position: relative;
	height: 53rem;
	border-radius: 2rem;
	overflow: hidden;
}
.format-card__img {
	display: block;
	height: 100%;
}
.format-card__descrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 10px);
	position: absolute;
	left: 5px;
	bottom: 5px;
	background: rgba(250, 245, 236, 0.1);
	border: 1px solid rgba(250, 245, 236, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 18px;
	color: #fff;
	padding: 2rem;
	.btn {
		flex-shrink: 0;
	}
}
.format-card__title {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 1.1;
	padding-right: 1rem;
}

.action-block {
	padding: 1rem;
	background-color: var(--white);
	border-radius: 3rem;
	position: relative;
	overflow: hidden;
	display: flex;
	&._beach {
		min-height: 80rem;
	}
}
.action-block__img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.action-block__info {
	max-width: 760px;
	width: 100%;
	background-color: var(--white);
	padding: 7rem;
	border-radius: 2rem;
	margin: auto 0 0 auto;
	position: relative;
	z-index: 1;
}

.current-tours {
	background-color: var(--white);
	padding: 9rem 0;
	border-radius: 3rem;
	margin-bottom: 5.5rem;
	overflow: hidden;
	.section-heading {
		padding-top: 0;
	}
}
.current-tours-slider__wrap {
	position: relative;
	padding-left: 7rem;
	padding-right: 7rem;
	.swiper-prev {
		left: 1.3rem;
	}
	.swiper-next {
		right: 1.3rem;
	}
}
.current-tours-slider {
	border-radius: 2rem;
	.swiper-wrapper {
		display: flex;
	}
	.swiper-slide {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		.card-block {
			flex-grow: 1;
		}
	}
}

.action-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1600px;
	min-height: 60.6rem;
	position: relative;
	padding: 0 3rem;
	margin: 0 auto;
	&.any-questions-left {
		min-height: 100rem;
	}
	.questions-form {
		margin: auto 1rem 1rem auto;
	}
}
.action-form__bg {
	background-color: var(--dark);
	width: calc(100% - 6rem);
	height: 100%;
	position: absolute;
	left: 3rem;
	top: 0;
	overflow: hidden;
	border-radius: 3rem;
}
.action-form__inner {
	display: flex;
	width: 100%;
	flex-shrink: 0;
	color: var(--white);
	padding: 4rem;
	position: relative;
	z-index: 1;
}
.action-form__form {
	padding-left: 5rem;
	.iti {
		display: block;
	}
	input {
		width: 100%;
	}
}
.questions-form {
	width: 100%;
	max-width: 73rem;
	padding: 6.5rem 3rem 7rem 7rem;
	border-radius: 2rem;
	background-color: var(--dark);
	color: var(--light);
	position: relative;
	z-index: 1;
}
.questions-form__text {
	color: rgb(250, 245, 236, 0.8);
	margin-bottom: 3.2rem;
}
.questions-form__inputs {
	width: 100%;
	max-width: 453px;
	.iti {
		display: block;
	}
}

.about-us {
	padding: 5rem 0;
}
.about-us__header {
	margin-bottom: 8rem;
}
.about-us__content {
	margin-bottom: 5rem;
}
.about-us__block {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.about-us__header {
	display: flex;
	column-gap: 2rem;
	margin-bottom: 6rem;
}
.about-us__title {
	font-weight: 600;
	align-self: center;
}

.slider-photos__wrap {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 2rem;
}
.slider-photos {
	width: 2200px;
	left: 50%;
	margin-left: -1100px !important;
}
.slider-photos .swiper-wrapper {
	transition-timing-function: linear !important;
}
.slider-photos .swiper-slide {
	width: auto;
	height: 56rem;
	border-radius: 2rem;
	overflow: hidden;
}

.review {
	padding-top: 3rem;
}
.review__item {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	border-radius: 2rem;
	padding: 3rem;
}
.review__header {
	display: flex;
	column-gap: 2rem;
	margin-bottom: 3.5rem;
}
.review__content {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;
	margin-bottom: 2rem;
}
.review__title {
	max-width: 420px;
	font: 600 2.4rem/1 "Montserrat";
	align-self: center;
}
.review__text {
	max-width: 600px;
	color: rgb(66, 61, 55, 0.8);
	padding-right: 2rem;
	margin-top: auto;
}

.video-slider {
	&.swiper {
		padding: 5rem 0;
	}
	.swiper-slide {
		height: 49rem;
		border-radius: 2rem;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		.play-btn {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -5rem 0 0 -5rem;
		}
	}
}
.faq {
	margin-bottom: 5rem;
}
.faq-item {
	width: 100%;
	max-width: 122rem;
	margin: 0 auto 1rem;
	&.is-open .faq-plus {
		transform: rotate(45deg);
	}
}
.faq-head button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(66, 61, 55, 0.7);
	color: var(--white);
	border-radius: 8px;
	cursor: pointer;
	padding: 1rem 1rem 1rem 3rem;
	border: 0;
	font-size: 1.8rem;
	text-align: left;
	position: relative;
	z-index: 1;
}
.faq-plus {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 5rem;
	height: 5rem;
	background-color: var(--white);
	border-radius: 50%;
	margin-left: 3rem;
	transition: 0.3s;
	svg {
		width: 2.4rem;
		height: 2.5rem;
		fill: var(--accent);
		stroke: var(--accent);
	}
}
.faq-body {
	background-color: var(--white);
	padding: 3rem;
	border-radius: 8px;
}
/* white style */
.faq-item._white {
	&.is-open .faq-head button {
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
	}
	.faq-head button {
		background-color: var(--white);
		color: var(--dark-opacity-80);
		transition: 0.5s;
	}
	.faq-plus {
		background-color: var(--light);
	}
	.faq-body {
		padding-top: 5rem;
		margin-top: -2rem;
	}
}

.section-text {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 100%;
	max-width: 110rem;
	padding: 10.5rem 4rem;
	margin: 0 auto;
	text-align: center;
}

.footer {
	padding: 4rem 0;
	border-radius: 3rem 3rem 0 0;
	background-color: var(--dark);
	color: var(--light);
	.input {
		height: 5rem;
	}
	.btn._small {
		min-height: 5rem;
		.btn__icon {
			width: 3rem;
			height: 3rem;
			margin-right: 0.7rem;
			svg {
				width: 7px;
				height: 7px;
			}
		}
	}
}
.footer__title {
	opacity: 0.4;
	margin-bottom: 3rem;
}
.footer__tel {
	font-size: 3rem;
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.footer__email {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		text-decoration-style: dashed;
	}
}
.footer-menu {
	display: flex;
	flex-direction: column;
	row-gap: 1.2rem;
	line-height: 1.15;
	a {
		color: inherit;
		text-decoration: none;
		transition: 0.5s;
		&:hover {
			color: var(--accent);
		}
	}
}
.footer-content {
	display: flex;
	flex-wrap: wrap;
}
.footer-content__left {
	width: 28%;
	display: flex;
	.social-group {
		margin: 0 auto;
		align-self: flex-start;
	}
}
.footer-content__aside {
	display: flex;
	justify-content: space-between;
	width: 43%;
	margin-left: auto;
}
.footer-content__nav {
	width: 12%;
}
.footer-content__feedback {
	width: 12%;
}
.footer-sending {
	width: 265px;
	.choise__text {
		font-size: 10px;
		a {
			color: inherit;
		}
	}
}
.footer-contact {
	max-width: 300px;
	text-align: right;
}

.bread-crumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: var(--accent);
	padding: 1.5rem 0 2.7rem;
}
.bread-crumbs__item {
	margin-right: 2.8rem;
	position: relative;
	&::after {
		content: "▸";
		position: absolute;
		right: -2.2rem;
		top: 50%;
		color: var(--dark-opacity-80);
		transform: translateY(-47%);
	}
	&:last-child::after {
		display: none;
	}
}
.bread-crumbs__link {
	text-decoration: none;
	color: var(--dark-opacity-80);
	&:hover {
		text-decoration: underline;
	}
}

.tour-card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8rem;
}
.tour-card__img {
	width: 42.5%;
	position: relative;
	.rating-box {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
}
.tour-card__img-pic {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 3rem;
}
.tour-card__content {
	width: 57.5%;
	padding-left: 5rem;
}
.tour-card__descrp-text {
	max-width: 550px;
}

.rating-box {
	display: flex;
	flex-direction: column;
	width: 28rem;
	min-height: 15.9rem;
	background-color: var(--accent);
	border-radius: 2rem;
	color: var(--white);
	padding: 2rem;
}
.rating-box__stars {
	display: flex;
	margin-bottom: auto;
	svg {
		width: 2rem;
		height: 2rem;
		fill: var(--white);
	}
}

.price-box {
	display: flex;
	column-gap: 1.5rem;
	font: 3rem / 1 "Montserrat";
	letter-spacing: 0.005em;
}
.price-box__title {
	font-weight: 600;
	color: var(--accent);
}
.price-box__text {
	font-size: 1.5rem;
	color: rgba(66, 61, 55, 0.8);
}

.bg-white {
	background-color: var(--white);
	border-radius: 3rem;
	padding: 5rem 0 13rem;
}
.bg-white ~ .about-tour {
	margin-top: -3rem;
}

.slider-photo-wrap {
	padding-left: 8.5rem;
	padding-right: 8.5rem;
	position: relative;
	.swiper-prev {
		left: 0;
	}
	.swiper-next {
		right: 0;
	}
}
.slider-photo {
	border-radius: 2rem;
}
.slider-photo .swiper-slide {
	height: 48rem;
	border-radius: 2rem;
	overflow: hidden;
	img {
		display: block;
	}
}

.about-tour {
	background: var(--dark) url(../img/bg-about-tour.png) no-repeat center / cover;
	color: var(--white);
	border-radius: 3rem;
	margin-bottom: -120px;
	overflow: hidden;
}
.about-tour__map {
	width: 688px;
	height: 808px;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../img/map-about-tour.png) no-repeat -150px 0;
		opacity: 0.3;
	}
	._marker1 {
		position: absolute;
		right: 178px;
		top: 177px;
	}
	._marker2 {
		position: absolute;
		left: 228px;
		top: 307px;
		transform: scale(0.88);
	}
	._marker3 {
		position: absolute;
		left: 358px;
		top: 427px;
		transform: scale(0.75);
	}
	.tour-author {
		position: absolute;
		right: 0;
		bottom: 180px;
	}
}
.about-tour__routemap {
	position: absolute;
	left: 230px;
	top: 280px;
}
.about-tour__descrp {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	max-width: 460px;
	font: 2rem/1.4 "Montserrat";
	padding: 15rem 0 15rem 4rem;
	position: relative;
	z-index: 2;
}

.loc-marker__marker {
	width: 71px;
	height: 100px;
	fill: var(--accent);
	position: relative;
}
.loc-marker__img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 0 2px #fff;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -24px;
	top: 12px;
}

.tour-author {
	display: flex;
	column-gap: 1.5rem;
}
.tour-author__avatar {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	overflow: hidden;
}
.tour-author__descrp {
	margin-top: auto;
	.link {
		font-size: 12px;
	}
}

.tour-video-wrap {
	position: relative;
	z-index: 1;
}
.tour-video {
	height: 85rem;
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
	.play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(1.3);
	}
}

.daily-program {
	width: 100%;
	max-width: 122.4rem;
	margin: 0 auto;
}
.program-tabs__nav {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0 7rem;
}
.program-tabs__item a {
	display: flex;
	align-items: center;
	text-align: center;
	min-height: 5rem;
	height: 100%;
	padding: 1rem 2rem 0.9rem;
	background-color: var(--white);
	border: 1px solid var(--accent);
	border-radius: 5rem;
	text-decoration: none;
	color: var(--dark);
	&.active {
		background-color: var(--accent);
		color: var(--white);
	}
}
.daily-program__content {
	background-color: var(--white);
	padding: 1rem;
	border-radius: 3rem;
}
.daily-program__descrp {
	padding: 5rem;
}
.daily-program__caption {
	font: 1.4rem/1 "Montserrat";
	margin-bottom: 2.5rem;
}
.daily-program__title {
	font: 600 3rem/1 "Montserrat";
	margin-bottom: 1.8rem;
}
.daily-program__img {
	height: 100%;
	border-radius: 2rem;
	overflow: hidden;
}

.about-lager {
	padding: 9rem 0 4rem;
}
.about-lager__descrp {
	min-height: 100%;
	background: var(--dark) url(../img/elka.png) no-repeat right bottom / 38%;
	color: var(--white);
	border-radius: 2rem;
	padding: 5rem;
	font-family: "Montserrat";
	.list__item {
		color: var(--white);
	}
}

.slider-image {
	height: 100%;
	border-radius: 2rem;
	.swiper-slide {
		height: 100%;
		min-height: 500px;
		overflow: hidden;
	}
	.swiper-prev {
		left: 1.5rem;
	}
	.swiper-next {
		right: 1.5rem;
	}
}

.tour-price {
	padding: 6rem 0;
}
.tour-price__title {
	font: 600 2.7rem "Montserrat";
	margin-bottom: 4.5rem;
}
.tour-price__result {
	background-color: var(--white);
	padding: 5.5rem 2rem 6rem 5rem;
	border-radius: 2rem;
}

.gathering-place {
	background-color: var(--white);
	border-radius: 3rem;
	padding: 4rem 1rem 1rem 1rem;
	margin-bottom: 1rem;
}
.gathering-place__map {
	position: relative;
	overflow: hidden;
	border-radius: 2rem;
	margin-top: 2rem;
	iframe {
		display: block;
		width: 100%;
		height: 64rem;
	}
}

.tour-dates {
	position: relative;
	margin-bottom: 10px;
}
.tour-dates__inner {
	padding: 11rem 10px;
	position: relative;
	z-index: 1;
	color: var(--white);
}
.tour-dates__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	border-radius: 3rem;
	background-color: var(--dark);
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		left: 0;
		top: 0;
	}
}
.tour-dates-card {
	height: 100%;
	padding: 3rem 2rem 3rem 3rem;
	background-color: var(--white);
	color: var(--dark);
	border-radius: 2rem;
	display: flex;
}
.tour-dates-card__left {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding-right: 2rem;
}
.tour-dates-card__month {
	display: flex;
	font: 600 3rem/1 "Montserrat";
	margin-bottom: 3rem;
	._icon {
		flex-shrink: 0;
		width: 1.8rem;
		height: 2rem;
		fill: var(--accent);
		margin: 0.4rem 1.2rem 0 0;
	}
}
.tour-dates-card__caption {
	font-size: 1.4rem;
	color: var(--dark-opacity-80);
	margin-top: auto;
}
.tour-dates-card__dates {
	font-size: 2rem;
	color: var(--dark-opacity-80);
}

.tour-operator {
	display: flex;
	align-items: flex-start;
	padding: 1rem;
	min-height: 93rem;
	position: relative;
}
.tour-operator__bg {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 3rem;
	overflow: hidden;
}
.tour-operator__content {
	width: 100%;
	max-width: 79rem;
	padding: 5rem;
	position: relative;
	z-index: 1;
	margin: auto 0 0 auto;
	color: var(--white);
}
.tour-operator__content::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(255, 253, 248, 0.1);
	border: 1px solid rgba(255, 253, 248, 0.4);
	backdrop-filter: blur(10px);
	border-radius: 2rem;
	position: absolute;
	left: 0;
	top: 0;
}
.tour-operator__card {
	height: 100%;
	padding: 2.5rem;
	background-color: var(--white);
	color: var(--dark);
	border-radius: 2rem;
	&._accent {
		background-color: var(--accent);
		color: var(--white);
		.icon {
			fill: var(--white);
		}
	}
}
.tour-operator__card-icon {
	height: 7rem;
}
.tour-operator__card-text {
	font: 2rem/1.2 "Montserrat";
}

.section-header {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 55rem;
}
.section-header__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 3rem;
	background-color: var(--dark);
	left: 0;
	top: 0;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(252.03deg, rgba(28, 18, 0, 0.06) 10.23%, rgba(28, 18, 0, 0.7) 70.06%);
		position: absolute;
		left: 0;
		top: 0;
	}
}
.section-header__content {
	max-width: 105rem;
	padding: 4rem;
	color: var(--light);
	position: relative;
	z-index: 1;
	margin-top: auto;
}
.section-header__text {
	max-width: 74rem;
}

.search-control {
	width: 100%;
	position: relative;
}
input.search-control__input {
	height: 6rem;
	display: block;
	width: 100%;
	border-radius: 5rem;
	border-color: var(--accent);
	padding-left: 7rem;
}
.search-control__icon {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: var(--accent);
	fill: var(--white);
	position: absolute;
	left: 1rem;
	top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0;
	svg {
		width: 1.6rem;
		height: 1.6rem;
	}
}

.season {
	padding: 3rem 0 6rem;
}
.season-card {
	height: 60rem;
	position: relative;
	border-radius: 2rem;
	overflow: hidden;
}
.season-card__img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.season-card__content {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	height: 100%;
	background: linear-gradient(180deg, #423d37 0%, rgba(66, 61, 55, 0) 14.24%, rgba(66, 61, 55, 0) 83.49%, #423d37 101.99%);
	padding: 0.5rem 0.5rem 3rem;
}
.season-card__heading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	padding: 1.5rem 2rem 1.3rem;
	color: var(--white);
	font-size: 3.8rem;
	min-height: 8.5rem;
	line-height: 1;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(250, 245, 236, 0.1);
		border: 1px solid rgba(250, 245, 236, 0.5);
		backdrop-filter: blur(10px);
		border-radius: 2rem;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.tour-map {
	border-radius: 3rem;
	min-height: 80rem;
	padding: 10rem 2rem;
	background: var(--white) url(../img/bg-map.jpg) no-repeat center / cover;
	margin-bottom: 10px;
}
.tour-map__content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	margin-top: 7rem;
}
.tour-map__map img {
	display: block;
	width: 100%;
}

.catalog {
	display: flex;
	padding: 9rem 0;
	column-gap: 3rem;
	.card-block__img {
		height: 30rem;
		.note-mark {
			left: 2.5rem;
			top: 2.5rem;
		}
	}
	.card-block__content {
		padding: 2.5rem;
	}
}
.catalog-aside {
	display: flex;
	flex-direction: column;
	row-gap: 3.5rem;
	width: 41rem;
	flex-shrink: 0;
	background-color: var(--white);
	padding: 3rem 2rem;
	border-radius: 2rem;
	align-self: flex-start;
	.gy-30 {
		display: flex;
		flex-direction: column;
		row-gap: 3rem;
	}
}
.catalog-aside__title {
	display: flex;
	font: 600 2.4rem/1.1 "Montserrat";
	margin-bottom: 2rem;
}
.catalog-content {
	flex-grow: 1;
}

.from-to-control {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}
.from-to-control__item {
	width: 120px;
	position: relative;
	input {
		width: 100%;
		padding: 1.9rem 1.5rem 0.5rem 1.5rem;
		height: 6rem;
		font-size: 1.9rem;
	}
}
.from-to-control__caption {
	font-size: 10px;
	color: rgba(66, 61, 55, 0.7);
	position: absolute;
	top: 5px;
	left: 1.5rem;
	pointer-events: none;
}

.catalog-filter-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	margin-bottom: 3.5rem;
}
.catalog-filter-nav__item {
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	transition: 0.5s;
	padding: 0.5rem;
	&:hover {
		text-decoration: underline;
	}
	&._active {
		font-weight: 600;
		color: var(--accent);
		cursor: default;
		&:hover {
			text-decoration: none;
		}
	}
}

.contacts {
	padding: 4rem 0;
	.bg-white {
		display: flex;
		flex-direction: column;
		padding: 2.5rem 3rem;
		height: 100%;
	}
}
.contacts-element {
	font: 600 2.4rem "Montserrat";
	text-decoration: none;
	color: inherit;
}

.blog {
	padding: 9rem 0;
	.card-block__img {
		height: 40rem;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem;
}
.pagination__btn {
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 500;
	border-radius: 50%;
	flex-shrink: 0;
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
	&:hover {
		color: var(--primary);
	}
	&._active {
		background-color: rgba(245, 92, 58, 0.1);
		cursor: default;
		&:hover {
			color: inherit;
		}
	}
	&._arrow {
		background-color: var(--accent);
		&:hover {
			background-color: var(--primary);
		}
	}
	svg {
		width: 1.6rem;
		height: 1.6rem;
		fill: #fff;
	}
}

.useful-section {
	padding: 9rem 0;
	.bg-white {
		border-radius: 2rem;
		padding: 3rem 2.5rem;
		height: 100%;
	}
}
.useful-section__photo {
	display: block;
	height: 100%;
	overflow: hidden;
	border-radius: 2rem;
}

.article-header {
	display: flex;
	justify-content: space-between;
	column-gap: 3rem;
}
.article-header__content {
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	flex-grow: 1;
	max-width: 600px;
	padding-top: 3rem;
}
.article-header__picture {
	width: 100%;
	max-width: 650px;
	display: block;
	border-radius: 3rem;
	overflow: hidden;
}
.article-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	column-gap: 3rem;
	padding: 10rem 0;
}
.article-content {
	width: 500px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	row-gap: 4rem;
}
.article-aside {
	background-color: var(--white);
	flex-shrink: 0;
	width: 49rem;
	padding: 3rem;
	border-radius: 3rem;
	align-self: flex-start;
}
.article-aside__cards {
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	.card-block {
		border-bottom: 1px solid rgba(66, 61, 55, 0.15);
		border-radius: 0;
		&:last-child {
			border-bottom: 0;
		}
	}
	.card-block__img {
		height: 260px;
		border-radius: 2rem;
	}
	.card-block__content {
		padding: 2.5rem 0;
		row-gap: 2rem;
	}
	.card-block__title {
		font-size: 2.5rem;
		line-height: 1.2;
	}
}

.spoiler-item {
	background-color: #f6ede0;
	border-radius: 3rem;
	padding-bottom: 1.5rem;
	&.is-open {
		.spoiler-head__arrow {
			transform: rotate(180deg);
		}
	}
}
.spoiler-head button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 3rem;
	width: 100%;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	border-radius: 3rem;
	margin-bottom: -1.5rem;
	&:hover {
		.spoiler-head__arrow {
			background-color: rgba(255, 255, 255, 0.4);
		}
		.spoiler-head__title {
			color: var(--accent);
		}
	}
}
.spoiler-head__title {
	font: 3rem/1.1 "Montserrat";
	transition: 0.5s;
}
.spoiler-head__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	transition: 0.5s;
	margin-right: -1rem;
	svg {
		width: 1.4rem;
		height: 2.6rem;
		fill: var(--accent);
	}
}
.spoiler-body {
	position: relative;
	z-index: 1;
	padding: 0.5rem 2.5rem 1.5rem;
}

.sliderCards {
	margin: 0 -1rem !important;
	padding-left: 1rem !important;
}
.sliderCards .swiper-wrapper {
	align-items: stretch;
}
.sliderCards .swiper-slide {
	height: auto;
}
