/**
  * ResetCSS
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


:root {
	--color-dark: #2D2D2D;
	--color-accent: #D3A168;
	--color-gray: #C8C8C8;

	--gap-x-15: 15px;
	--gap-x-26: 26px;
}

/* Fonts - Manrope */
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/manrope/manrope-bold.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Fonts - AlumniSans */
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-SemiBold.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-Bold.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "AlumniSans";
	src: url(../fonts/alumnisans/AlumniSans-ExtraBold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Fonts - RoadRadio */
@font-face {
	font-family: "RoadRadio";
	src: url(../fonts/roadradio/RoadRadio-Light.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "RoadRadio";
	src: url(../fonts/roadradio/RoadRadio-Bold.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
	position: relative;
	overflow-x: hidden;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: var(--color-dark);
	font: 400 1.6rem "Manrope", sans-serif;
	min-height: 100vh;
}


ul, ol {
	list-style: none;
	padding-left: 0;
}
p, label, address, ul, ol {
	margin-bottom: 0;
	margin-top: 0;
}
strong, b {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
	font-family: "AlumniSans";
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
}
h1, .heading-1 {
	font-size: 11rem;
	line-height: .93;
}
h2, .heading-2 {
	font-size: 7.7rem;
	line-height: 0.87;
}
h3, .heading-3 {
	font-size: 5.2rem;
}
h4, .heading-4 {
	font-size: 4.6rem;
}
h5, .heading-5 {
	font-size: 3rem;
}
h6, .heading-6 {
	font-size: 2.4rem;
}

/* Colors */
.color-accent {
	color: var(--color-accent);
}

/* Text */
.text-uppercase {
	text-transform: uppercase;
}

/* Util */
.overflow-y-hidden {
	overflow-y: hidden;
}

/* Forms */
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
	height: 78px;
	min-width: 330px;
	padding: 1px 3rem 0;
	font: 1.6rem sans-serif;
	color: #000;
	background-color: rgba(246, 246, 246, .5);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	transition: .5s;
	border-radius: 50px;
	border: none;
}
textarea {
	max-width: 870px;
	width: 100%;
	height: auto;
	min-height: 140px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}
/* focus */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
textarea:focus {
	outline: 0;
   background-color: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

/*Placeholder*/
::placeholder {
	transition: .5s;
}
:focus::placeholder {
	color: rgba(255,255,255,.2);
}

/*Selection*/
::selection {
	background-color: orangered;
	color: #fff;
}