// util

.z-index {
	position: relative;
	z-index: 1;
}


// container
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}


// visible blocks
.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
}

.d-block {
	display: inherit;
}



@media only screen and (max-width : 1200px) {

	// block hidden
	.d-none-xl {
		display: none;
	}

	// block visible 
	.d-block-xl {
		display: inherit;
	}

}