// default
html, body {
	height: 100%;
	overflow-x: hidden;
}
body {
	font-family: 'ProximaNova';
}
p, address {
	margin-bottom: 0;
}
a {
	color: #a1b7ff;
}

// container
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

// typography
.h1 {
	font: normal 40px/1.4 TrajanPro3;
	letter-spacing: .035em;
	.c-accent {
		color: $accent;
	}
	.sz-52 {
		font-size: 52px;
		line-height: 1.1;
	}
	.sz-35 {
		font-size: 35px;
	    letter-spacing: .03em;
	}
}

// text
.text-right {
	text-align: right;
}

// - footer to bottom
body {
	display: flex;
	flex-direction: column;
}
.header {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}