/* Liberation-Sans */
@font-face {
	font-family: "Liberation-Sans";
	src: url("fonts/liberation-sans/regular/liberation-sans-regular.woff2") format("woff2"),
		  url("fonts/liberation-sans/regular/liberation-sans-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Liberation-Sans";
	src: url("fonts/liberation-sans/bold/liberation-sans-bold.woff2") format("woff2"),
		  url("fonts/liberation-sans/bold/liberation-sans-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}