@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {

}

@media only screen and (min-width : 3001px) {

.btn-box .btn-hand {
	display: none
}

}

@media only screen and (max-width : 1920px) {

.btn-box .btn-hand {
	width: 385px;
	height: 567px;
	background-image: url("../img/@media/1920/hand.png");
}

}

@media only screen and (max-width : 1601px) {

.btn-box .btn-hand {
	display: none
}

.s-service::after {
	width: 190px;
	height: 321px;
	background-image: url("../img/@media/1600/magnet.png");
	top: 100%;
	margin-top: -180px;
}

.itemtext {
	max-width: 380px;
}
.itemtext__ico {
	margin-left: 0
}
.itemtext.-right .itemtext__ico {
	margin-left: 15px;
	margin-right: 0;
}

.project-card {
	margin: 30px 7.5px 20px;
}

}

@media only screen and (max-width : 1401px) {

.boximg .graphic-img-geocamera {
	right: -55px;
	bottom: -50px;
}
.boximg .graphic-img-repair {
	left: -35px;
	bottom: -50px;
}

.infbox:nth-child(even) .infbox__article {
	left: 35px;
}
.infbox .lnk-group {
	padding-right: 0
}

.tab-nav__helper {
	left: 0
}
.tab-nav__helper .helperbox.-style-1 .helperbox__arr {
	transform: translate(-23px, -22px) rotate(10deg) scaleY(1) scale(0.6);
	left: 0;
	top: 100%;
	margin-top: 7px;
	margin-left: 0;
}
.tab-nav__helper .helperbox__inf {
	width: auto;
}

.recording .areabox-wrap {
	margin-left: 0
}
.recording__content-img {
	margin-left: -600px;
}

.boxcontent-wrap,
.statistics-card {
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.boxcontent__header,
.boxcontent__main {
	padding-left: 3.5rem;
}

.statistics-card__item {
	padding-bottom: 0
}

.call-lead__mac {
	width: auto;
	padding-right: 0;
}
.call-lead__form {
	width: auto;
	margin: 0 auto;
}

.call-lead .areabox-wrap {
	padding-top: 3rem;
}

.call-lead__info {
	width: 100%;
	max-width: 700px;
}
.call-lead__soc {
	max-width: 470px;
	margin: 0 auto;
	padding: 15px;
}

.project-grid {
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.project-card {
	width: calc(33.333% - 15px);
	max-width: auto;
}

}


@media only screen and (max-width : 1200px) {

.container {
	max-width: 100%;
}

.tab__bright-tip {
	margin-left: 5px;
}
.tab-content {
	padding: 30px 60px;
}
.s-result .section-heading {
	max-width: 999px;
}

.infbox__article {
	width: 50%;
	padding-right: 10px
}
.infbox__aside {
	width: 50%;
}
.infbox:nth-child(even) .infbox__article {
	left: 0;
	padding-left: 3.5rem;
}

/* Big graphic icons */
.big-ico-analysis {
	position: relative;
	display: inline-block;
	width: 356px;
	height: 297px;
}
.big-ico-analysis::after {
	content: "";
	width: 451px;
	height: 333px;
	background-image: url("../../img/@media/1200/big-icons/analysis.png");
	position: absolute;
	left: -37px;
	top: -12px;
}

.tab-content-1 {
	min-height: 400px;
}
.tab-content .big-ico-analysis {
	right: 20px;
	bottom: 20px;
}
.tab-content .h2 {
	margin: 0 0 4rem 0;
}
.tab-content .numbered-list {
	max-width: 777px;
	padding-right: 222px;
}

.graphic-img-marketingbox {
	width: 317px;
	height: 234px;
}
.graphic-img-marketingbox::before {
	width: 500px;
	height: 317px;
	background-image: url(../img/@media/1200/marketingbox.png);
	margin: 0;
	left: -82px;
	top: -65px;
}

.resultbox {
	padding-bottom: 50px;
}
.resultbox::before {
	content: "";
	width: 555px;
	height: 393px;
	background: url(../img/@media/1200/smokecloud.png) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -265px 0 0 -277.5px;
	pointer-events: none;
	opacity: .75;
}
.resultbox__row.-top .itemtext {
	min-height: 111px;
}
.resultbox__row.-center {
	max-width: 1040px;
}
.itemtext.-center .itemtext__ico {
	margin-left: 0;
	margin-right: 0;
}
.resultbox__row.-footer {
	margin-top: -30px;
}
.resultbox__lines {
	max-width: 430px;
	padding: 0;
	margin-bottom: -20px;
}
.resultbox__img {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -88px;
}
.decorlines {
	transform: scale(.8);
}
.decorlines.--invert {
	transform: scale(-.8, .8);
}

.itemtext {
	padding: 10px;
}
.itemtext__ico {
	width: 42px;
	height: 42px;
	margin-right: 10px;
}
.itemtext.-right .itemtext__ico {
	margin-left: 10px;
}

.recording + .bg-two {
	padding-top: 180px;
}

.listinfotxt.-col {
	padding-bottom: 9px;
}

.boxcontent__heading {
	max-width: 100%;
	padding-right: 10px;
}
.boxcontent__header {
	align-items: flex-start;
	min-height: 120px;
}
.boxcontent__header, .boxcontent__main {
	padding-left: 2.5rem;
}
.boxcontent__conversion {
	min-width: 175px;
	width: auto;
	margin-left: auto;
}
.boxcontent__conversion-info {
	position: relative;
	top: -12px;
}
.boxcontent__conversion-info .-conversion {
	font-size: 40px;
}
.boxcontent__conversion-img img {
	/*position: absolute;
	right: 0;*/
}
.boxcontent__conversion-img img.--el-1 {
	top: -20px;
}
.boxcontent__conversion-img img.--el-2 {
	top: -10px;
}

.stepsinform__ico {
	margin-right: 20px
}

.project-card {
	width: 100%;
	max-width: 440px;
	margin-top: 0;
	margin-bottom: 30px;
}
.project-card.--client {
	order: 1;
}


.macbook {
	width: 500px;
	height: 345px;
	background-image: url(../../img/@media/1200/macbook/device.png);
}
.macbook__screen {
	width: 399px;
	height: 248px;
	left: 51px;
	top: 18px;
}
.macbook.-brus::before {
	right: 37px;
	top: -7px;
}
.macbook.-brus::after {
	left: 14px;
	bottom: 76px;
}

.call-lead__content {
	padding-top: 0;
}
.call-lead .macbook {
	margin-left: 15px;
	margin-right: 15px;
}
.call-lead .areabox-wrap {
	padding-top: 0;
}
.call-lead__mac {
	padding-top: 50px;
}
.call-lead__mac .helperbox__inf  {
	max-width: 392px;
}
.call-lead__mac .helperbox__arr {
	transform: translate(-26px, -54px) rotate(25deg) scale(0.5, 0.6);
	left: 0;
	margin: 64px 0 0 7px;
}
.call-lead__footer {
	align-items: center;
}
.call-lead__info {
	max-width: 530px;
	align-items: center;
}
.call-lead__soc {
	flex-shrink: 0;
	width: 100%;
	max-width: 470px;
	margin: 0 auto;
}


}



@media only screen and (max-width : 992px) {

.infbox__container {
}
.infbox__inner {
	padding: 3rem 2.5rem 4rem;
}
.infbox__article {
	max-width: 612px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0;
	padding-left: 0;
}
.infbox__aside {
	width: 100%;
	margin-bottom: 30px;
	order: -1;
}
.infbox__aside .boximg {
	margin-left: auto;
	margin-right: auto;
}
.infbox:nth-child(even) .infbox__article {
	padding-left: 0;
}

.tab-content .h2 {
	margin-bottom: 2.5rem;
}

.s-service .decor-title {
	padding-bottom: 145px;
}


.resultbox__row.-top .itemtext {
	min-height: 230px;
	padding: 40px 10px 80px;
}
.resultbox__row.-center .itemtext {
	min-height: 180px;
	padding: 30px 10px;
}
.itemtext {
	max-width: 333px;
}
.itemtext__title {
	font-size: 2.2rem;
	line-height: 1.1;
}

.statistics-card__item {
	width: 100%;
}

.call-lead__content {
	flex-wrap: wrap;
	justify-content: center;
}
.call-lead__soc {
	width: 50%;
	max-width: auto;
}
.call-lead__title {
	font-size: 4rem;
}
.call-lead__soc .call-lead__txt {
	margin-left: 0;
	text-align: center;
}


}


@media only screen and (max-width : 768px) {

}


@media only screen and (max-width : 576px) {

}


@media only screen and (max-width : 440px) {

}