/* import libs */
@import "import/libs/grid.css";
@import "import/libs/util.css";
@import "import/libs/gridtab.min.css";

/* import style */
@import "import/base.css";
@import "import/ui.css";


/* ————————————————————
 Style — W/.CodeMaster ™
————————————————————— */


.bg-dark {
	padding: 25px 15px 0;
	background-color: #101010;
	position: relative;
	margin-bottom: -35px;
	z-index: 1;
}
.bg-dark::after {
	content: "";
	width: 100%;
	height: 176px;
	background: url("../img/dark-cloud.png") center;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
}
.bg-dark__content {
	position: relative;
	z-index: 2;
}

/*section Casework*/
.s-casework {
	padding: 42px 0 0;
}
.s-casework__more {
	text-align: center;
}

/* info-box */
.infbox-list {

}
.infbox-list .infbox:last-child {
	margin-bottom: 49px;
}
.infbox {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto 57px;
	position: relative;
	font-size: 1.8rem;
	color: #fff;
}
.infbox::after {
	content: "";
	width: 94%;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 3%;
	box-shadow: 0 25px 30px #000;
	border-radius: 0 0 15px 15px;
}
.infbox__inner {
	width: 100%;
	padding: 4rem 20px 6.3rem;
	background-color: #222126;
	border-radius: 15px;
	position: relative;
	z-index: 1;
}
.infbox__container {
	width: 100%;
	max-width: 1252px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.infbox__article {
	width: 51.1%;
}
.infbox:nth-child(even) .infbox__article {
	order: 1;
	padding-left: 15px;
	position: relative;
	left: 75px;
}
.infbox__table {
	width: 100%;
}
.infbox__table td {   
	padding: 3px 10px 7px 0;
}
.infbox__table td:nth-child(1) {
	width: 53%;
}

.infbox__aside {
	width: 48.9%;
}

.infbox .lnk-group {
	padding-right: 35px;
}

/* boxing images */
.boximg {
	width: 100%;
	max-width: 612px;
	position: relative;
	margin-bottom: 3rem;
	margin-top: 4px;
}
.boximg__pic {
	display: block;
	max-height: 380px;
	overflow: hidden;
	border-radius: 11px;
	background-color: #f9f9f9;
}
.boximg img {
	display: block;
}
/* elements */
.boximg .graphic-img-geocamera {
	position: absolute;
	right: -109px;
	bottom: -72px;
}
.boximg .graphic-img-repair {
	position: absolute;
	left: -92px;
	bottom: -62px;
}



/* background section 1 */
.bg-one {
	min-height: 333px;
	background: #2C1237 url("../img/bg-1.jpg") no-repeat center top / cover;
	padding: 50px 0;
	position: relative;
	color: #fff;
}
.bg-one .bg-cloud {
	position: absolute;
	left: 0;
	bottom: -1px;
}

/* background section 2 */
.bg-two {
	min-height: 555px;
	background: #2C1237 url("../img/bg-2.jpg") repeat-y center top;
	background-size: 100% auto;
	padding: 50px 0 20px;
	position: relative;
	color: #fff;
}
.bg-two .bg-cloud {
	position: absolute;
	left: 0;
	top: -1px;
}

/* background cloud */
.bg-cloud {
	width: 100%;
	height: 253px;
	background: url("../img/top-cloud.png") center center;
	pointer-events: none;
}
.bg-cloud.-invert {
	transform: scaleY(-1);
}


/* section - Service */
.s-service {
	position: relative;
	min-height: 777px;
	padding: 138px 0 68px;
}
.s-service::after {
	content: "";
	width: 287px;
	height: 485px;
	background-image: url(../img/magnet.png);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -242px;
}
.s-service .decor-title {
	padding-bottom: 93px;
}


/* Tabs */
.tab-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
/* tab container */
.tab-container {
	width: 100%;
	max-width: 1170px;
	color: #000;
	margin: 0 auto;
	border-radius: 10px;
	background: #fff url("../img/texture.jpg") center top;
}
/* tab navigation */
.tab-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 36px;
}
.tab-nav__helper {
	position: absolute;
	left: -76px;
	bottom: 100%;
	margin-bottom: 38px;
}
.tab-nav__helper .helperbox__inf {
	width: 200px;
	line-height: 1.05;
	flex-direction: column;
}
/* tab nav helper */
.tab-nav__list {
	width: 100%;
	max-width: 1070px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tab-nav__btn {
	display: block;
	padding: 7px 5px;
	height: 100%;
	transition: .5s ease-in;
	opacity: .5;
}
.tab-nav__btn .step-item {
	width: 166px;
}
.tab-nav__btn .step-item__btn {
	width: 100%;
}
/* event hover */
.tab-nav__btn:hover {
	opacity: 1;
}
/* active tab */
.tab-nav__btn.active {
	opacity: 1;
}
.tab-nav__btn.active .step-item__btn {
	background-color: #72abe4;
	color: #fff;
}
.tab-nav__btn.active .step-item__btn::before {
	background-image: linear-gradient(to top, transparent, rgba(255,255,255,.25));
}
/* tab content */
.tab-content {
	position: relative;
	min-height: 333px;
	padding: 31px 77px;
}
.tab-content .h2 {
	font-size: 4rem;
	margin: 0 0 44px 15px;
}
.tab-content .big-ico-analysis {
	position: absolute;
	right: 44px;
	bottom: 20px;
}
.tab-content-1 {
	min-height: 480px;
}
.tab__bright-tip {
	width: 20px;
	height: 20px;
	outline: 1px solid lightgreen;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -10px 0 0 -10px;
	transform: rotate(-90deg);
}
.tab__bright-tip .bright-tip {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


/*section Result*/
.s-result {
	padding: 40px 0;
}

/*Result box*/
.resultbox {
	width: 100%;
	max-width: 1450px;
	min-height: 555px;
	margin: 0 auto;
	position: relative;
	padding: 10px 0 118px;
}
.resultbox::before {
	content: "";
	width: 790px;
	height: 559px;
	background: url("../img/smokecloud.png") no-repeat;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -395px;
	pointer-events: none;
}
.resultbox__img {
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	top: 105px;
}
.resultbox__lines {
	display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
    padding: 2px 0 23px 0;
}
.resultbox__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index: 1;

	width: 100%;
	margin: 0 auto;
	position: relative;
}
/*row - top*/
.resultbox__row.-top {
	padding-bottom: 90px;
}
.resultbox__row.-top .itemtext {
	min-height: 210px;
}
.resultbox__row.-top .decorlines {
	position: absolute;
	left: 14.5%;
	bottom: 10px;
}
.resultbox__row.-top .decorlines.--invert {
	left: inherit;
	right: 14.5%;
}
/*row - center*/
.resultbox__row.-center {
	max-width: 1260px;
	padding-bottom: 70px;
}
.resultbox__row.-center .itemtext {
	min-height: 137px;
	padding-bottom: 15px;
}
.resultbox__row.-center .decorlines {
	position: absolute;
    left: 26.2%;
    bottom: -6px;
}
.resultbox__row.-center .decorlines.--invert {
	left: inherit;
	right: 26.2%;
}
/*row - footer*/
.resultbox__row.-footer {
	max-width: 306px;
	justify-content: center;
	margin-top: -96px;
}

/*decorlines*/
.decorlines {
	background-image: url("../img/sprite.png");
	pointer-events: none;
}
.decorlines.-top {
	width: 210px;
	height: 88px;
	background-position: -110px 0;
}
.decorlines.-center {
	width: 26px;
	height: 71px;
	background-position: -320px 0;
}
.decorlines.-bottom {
	width: 156px;
	height: 80px;
	background-position: -346px 0;
}
/*inver element*/
.decorlines.--invert {
	transform: scaleX(-1);
}



/*section - Fishki*/
.fishki {
	min-height: 333px;
	position: relative;
	margin-bottom: 32px;
}
.fishki::before, .fishki::after {
	content: "";
	width: 141px;
	height: 260px;
	pointer-events: none;
	background: url(../img/sprite-1.png) 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
.fishki::after {
	width: 213px;
	height: 317px;
	background-position: -141px 0;
	right: inherit;
	left: 0;
	top: inherit;
	bottom: 0;
}
.fishki__content {
	width: 100%;
	max-width: 1300px;
	padding: 17px 0;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.fishki__item {
	display: flex;
	flex-direction: column;
	max-width: 316px;
	padding: 0 5px 30px;
}
.fishki__item .infocard {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.fishki__item .infocard__content {
	flex: 1 0 auto;
}
.fishki__item .infocard__bg,
.fishki__item .infocard__bg::before {
	transition: 1.5s ease;
}
.fishki__item:hover .infocard__bg::before {
	opacity: .8;
}
.fishki__item:hover .infocard__bg {
	background-color: #F7711E;
}

.fishki .section-heading {
	margin-bottom: 10px;
}


/*section - Recording*/
.recording {}
.recording .areabox-wrap {
	width: 100%;
	max-width: 440px;
	margin-left: 74px;
	margin-bottom: -210px;
	position: relative;
	z-index: 2;
}
.recording + .bg-two {
	padding-top: 378px;
}
.recording__content {
	min-height: 333px;
	padding-top: 30px;
	position: relative;
}
.recording__content-img {
	width: 860px;
	position: absolute;
	pointer-events: none;
	margin-left: -490px;
	left: 50%;
	top: 0;
	z-index: 1;
}


/*client form*/
.client-form {
	padding-bottom: 12px;
	overflow: visible;
}
.client-form__header {
	padding: 12px 0 12px 7px;
	font-size: 1.8rem;
}
.client-form__title {
	font-size: 2.8rem;
	margin-bottom: 11px;
}
.client-form .lnkbtn-group {
	margin-left: -5px;
	margin-right: -5px;
}
.client-form .bttn {
	margin: 10px 0 30px;
}
.client-form .icoandtxt {
	margin: 0 -30px 5px -10px;
	letter-spacing: -.007em;
}


/*section - Statistics*/
.s-statistics {
	padding: 70px 0 40px;
}
.s-statistics .decor-title {
	padding-bottom: 25px;
}
.s-statistics .listinfotxt {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding-right: 3%;
}
/*Statistics card*/
.statistics-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1546px;
	margin: 0 auto;
}
.statistics-card__item {
	width: 50%;
	padding: 13px 0;
}
.statistics-card__item .boxcontent-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.statistics-card__item .boxcontent {
	flex: 1 1 auto;
}
.statistics-card__item .foolines {
	flex: 0 1 auto;
}


/*section - Project*/
.s-project {
	padding: 35px 0 20px;
}
.s-project .section-heading {
	margin-bottom: 30px;
}
.s-project .section-heading > * {
    margin-bottom: 25px;
}


/*box content*/
.boxcontent-wrap {
	width: 100%;
	max-width: 696px;
	padding: 15px;
	margin: 0 auto;
}
.boxcontent-wrap .foolines {
	padding: 0 20px;
}
.boxcontent-wrap .foolines__el.-after {
	margin: 0 25px;
}
.boxcontent {
	display: flex;
	flex-direction: column;
	min-height: 111px;
	background: #fff;
	border-radius: 12px;
	overflow: hidden;
	color: #121212;
}
/*header*/
.boxcontent__header {
	min-height: 192px;
	display: flex;
	align-items: stretch;
	padding: 2.5rem 0 2.5rem 5.5rem;
}
.boxcontent__heading {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 15px;
}
.boxcontent__heading .h3 {
	font-size: 3.2rem;
	line-height: 1.1;
	padding-bottom: 3px;
}
.boxcontent__conversion {
	flex-shrink: 0;
	width: 233px;
	position: relative;
}
.boxcontent__conversion-info {
	line-height: .98;
	font-weight: 900;
	font-size: 18px;
	opacity: .15;
}
.boxcontent__conversion-info .-conversion {
	font-size: 48px;
	font-weight: inherit;
	letter-spacing: 0.02em;
}
.boxcontent__conversion-img {
	display: flex;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: none;
}
.boxcontent__conversion-img img {
	max-width: 100%;
	height: auto;
	position: relative;
	margin-left: auto;
}
.boxcontent__conversion-img .--el-2 {
	top: -4px;
}
.boxcontent__conversion-img .--el-3 {
	top: 28px;
}
.boxcontent__conversion-img .--el-4 {
	top: 31px;
}
/*main*/
.boxcontent__main {
	padding: 0 2rem 0 5rem;
}
/*footer*/
.boxcontent__footer {
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-top: auto;
}
.boxcontent__footer .right-corner-box {
	flex-shrink: 0;
	margin-top: -14px;
	margin-right: -20px;
}
.boxcontent__footer .lnk {
	padding: 9px;
	margin: 0 5px 8px auto;
}


/*section - Call Lead*/
.call-lead {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
	padding: 10px 0 20px;
}
.call-lead .helperbox {
	margin-bottom: 27px;
}
.call-lead .macbook {
	margin: auto;
}
.call-lead .areabox-wrap {
	margin: inherit;
}
.call-lead__content {
	display: flex;
	padding-top: 26px;
}
.call-lead__mac {
	padding: 12px 4.9% 10px 0;
	width: 61.2%;
}
.call-lead__form {
	flex-shrink: 0;
	padding: 15px;
	width: 38.8%;
}
.call-lead__footer {
	display: flex;
}
.call-lead__info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 12px 10px 15px 15px;
	width: 61.2%;
}
.call-lead__title {
	margin-bottom: 29px;
	line-height: 1.15;
}
.call-lead__txt {
	margin-bottom: 15px;
}
.call-lead__soc {
	padding: 15px;
	width: 38.8%;
}
.call-lead__soc .call-lead__txt {
	margin-left: 35px;
}