.logo-name {
	font-size: 32px;
	font-weight: 100;
	text-decoration: none;
	color: #1f1f1f;
}
	.logo-name.white {
		color: #fff;
	}
.logo-name em {
	font-family: 'PlayfairDisplay-BlackItalic';
	color: #ffc80a;
}
.logo-name span {
	font-weight: 400;
	display: inline-block;
}
.logo-name mark {
	background: none;
	animation: logoAnimation 1s infinite;
	color: #ffc80a;
	display: inline-block;
}
@keyframes logoAnimation {
0% {
	opacity: 1;
}
100% {
	opacity: 0;
}
}


.home-content {
	position: relative;
	z-index: 1;
	margin: auto 0;
}
.home-title {
	text-align: center;
	font-size: 38px;
	line-height: 1.8;
}
.home-title strong {
	display: block;
	font-weight: 800;
}
.home-title strong .mdash {
	font-weight: 100;
}
.home-title mark {
	background: #fff;
	padding: 0 10px;
}


.layout-portfolio {
	width: 790px;
	height: 680px;
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
	perspective: 1000px;
}
.layout-portfolio_container {
	width: 790px;
	height: 680px;
	transform: rotateZ(36deg);
	position: relative;
	top: 320px;
	right: -160px;
}
.portfolio-item {
	background-color: #fff;
	width: 280px;
    height: 170px;
	margin: 10px;
	float: left;
	transition: 1s;
	cursor: pointer;
	box-shadow: 0 0 20px #000;
	position: relative;
}

.portfolio-item:hover {
	transform: scale(1.1);
}

.portfolio-item.transparent {
	background-color: transparent;
	box-shadow: none;
}

.portfolio-item img {
	display: block;
	width: 100%;
}

.portfolio-item--wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
	transition: .3s;
}
.portfolio-item:hover .portfolio-item--wrap {
	background: rgba(0,0,0,.25);
}

.portfolio-item .i-search {
	transition: .3s;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
}
.portfolio-item:hover .i-search {
	transform: translate(-50%, -50%) scale(1);
}

.notebook {
	width: 450px;
	height: 459px;
	background: url('../img/notebook.png');
	position: absolute;
	right: 0;
	top: 12px;
}