@import "normalize.css";
@import "fonts.css";
@import "components.css";
@import "layout.css";

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.section.one {
	background: #2c2c2c;
	color: #fff;
	position: relative;
	min-height: 500px;
}
.section.one:before {
	content: '';
	width: 545px;
	height: 545px;
	background: #292929;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.one-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.header-bar {
	padding: 30px 0;
	display: flex;
	justify-content: center;
}

.technology-skills {
	position: relative;
	z-index: 12;
}
.technology-skills--main {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 10px;
}
.technology-skills--main [class*="i-"] {
	margin: 0 20px;
}
.technology-skills--all {
	display: flex;
	justify-content: center;
	align-items: center;
}
.technology-skills--all [class*="i-"] {
	margin: 0 10px;
}

.i-html {
	display: inline-block;
	width: 60px;
	height: 80px;
	background: url('../img/svg/html.svg') no-repeat center;
	background-size: contain;
}
.i-css {
	display: inline-block;
	width: 60px;
	height: 80px;
	background: url('../img/svg/css.svg') no-repeat center;
	background-size: contain;
}
.i-js {
	display: inline-block;
	width: 58px;
    height: 59px;
	background: url('../img/svg/js.svg') no-repeat center;
	background-size: contain;
    position: relative;
    top: -6px;
}
.i-jquery {
	display: inline-block;
	width: 124px;
    height: 46px;
	background: url('../img/svg/jquery.svg') no-repeat center;
	background-size: contain;
	position: relative;
	top: 5px;
}
.i-boostrap {
	display: inline-block;
	width: 40px;
    height: 40px;
	background: url('../img/svg/boostrap.svg') no-repeat center;
	background-size: contain;
}
.i-sass {
	display: inline-block;
	width: 60px;
    height: 57px;
	background: url('../img/svg/sass.svg') no-repeat center;
	background-size: contain;
}
.i-gulp {
	display: inline-block;
    width: 36px;
    height: 76px;
    background: url(../img/svg/gulp.svg) no-repeat center;
    background-size: contain;
    position: relative;
    top: -6px;
}


.i-search {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../img/svg/search.svg) no-repeat center;
	transform: rotate(-10deg);
}

.bt-header-down {
  padding-top: 70px;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.bt-header-down:focus {
	outline: none;
}
.bt-header-down span {
	display: block;
}
.bt-header-down span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.one-wrapper .bt-header-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.one-wrapper .bt-header-down:hover {
  opacity: .5;
}