
@font-face {
  font-family: 'BebasNeueCyrillic';
  src: url('BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),  url('BebasNeueCyrillic.woff') format('woff'), url('BebasNeueCyrillic.ttf')  format('truetype'), url('BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}
