header#header
  h1#title
  #controls
    .btn#btn-wave
      i.fa.fa-exchange
    .btn#btn-lights
      i.fa.fa-sun-o
    .btn#btn-prev
      i.fa.fa-backward
    .btn#btn-play
      i.fa.fa-play
    .btn#btn-next
      i.fa.fa-forward
#background.loading
#loader
  #spinner
  h2#loading-text Loading...
canvas#canvas
audio#audio
a#codepen-link(href='http://www.codepen.io/seanfree' target='_blank')