/* base */
@import "reset.css";
@import "base.css";

/* style */
@import "style/section.css";
@import "style/ui.css";
@import "style/app.css";


/* libs */
@import "libs/bootstrap-grid.css";
<<<<<<<< HEAD:sintez-bitrix/css/style.css
@import "libs/animate-css.css";
@import "libs/magnific-popup.css";
@import "libs/magnific-popup.css";
@import "libs/swiper.css";
========
>>>>>>>> 967f97e05ad33e65df8664668226f6e4fde57c5b:patricolar3/css/style.css


/* media queries */
@import "media.css";
