/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {

.header {
	&__top {
		padding: 10px 15px;
	}
	&__product {
		right: 5%;
	}
	&__info {
		padding-left: 140px;
		& h1 {
			font-size: 48px;
		}
		& h2 {
			font-size: 38px;
		}
		& p {
			padding-right: 0;
		}
	}
}

.logo {
	width: 230px;
	height: 56px;
}
.footer-logo {
	width: 230px;
	height: 56px;
}

.b-t-n.gift {
	font-size: 20px;
	width: 420px;
}

.nav {
	font-size: 18px;
}

.request-call {
	display: block;
	&__title {
		font-size: 14px;
	}
	&__tel {
		font-size: 20px;
		padding-bottom: 0;
		& .i-phone {
			font-size: 18px;
		}
	}
	&__link {
		font-size: 17px;
	}
}

.brand {
	& .container-1920px {
		padding-left: 140px;
	}
	&__article {
		&--description {
			font-size: 21px;
		}
	}
}

.section-title {
	font-size: 16px;
	&--inner:before {
		left: 12px;
	}
}
.hgroup-titles {
	& h2 {
		font-size: 40px;
	}
	& h3 {
		font-size: 23px;
		margin-bottom: 15px;
	}
}

.identity-line {
	height: 6px;
}

.review {
	&__content {
		padding-left: 140px;
	}
}
.owl-review {
	&__item {
		font-size: 18px;
		& > div {
			padding: 35px 15px;
		}
	}
	&__avatar {
		width: 160px;
		height: 160px;
	}
	&__name {
		& h4 {
			font-size: 22px;
		}
		& p {
			font-size: 18px;
		}
	}
}

.read-more__link {
	font-size: 17px;
}

.advantages {
	& .container-1920px {
		padding-left: 140px;
	}
	&__article {
		padding: 0;
		& p {
			font-size: 21px;
		}
	}
	&__features {
		padding-top: 15px;
		& h3 {
			font-size: 23px;
		}
		& p {
			font-size: 20px;
		}
		& li {
			padding: 15px 120px 30px 110px;
			& [class*=i-] {
				font-size: 80px;
				top: 30px
			}
		}
	}
	& .circle-pulse--wrap {
		width: 400px;
		height: 400px;
	}
}

.about {
	& .container-1920px {
		padding-left: 140px;
	}
	&__article {
		padding: 0 0 40px;
		& p {
			font-size: 18px;
		}
	}
	&__features {
		& h4 {
			font-size: 22px;
		}
		& p {
			font-size: 20px;
		}
	}
}


.catalog {
	& .container-1920px {
		padding-left: 140px;
	}
	&__item {
		&--content {
			& a {
				font-size: 17px;
			}
		}
	}
}

.download {
	&__form {
		&--subtitle {
			font-size: 20px;
		}
	}
}

.footer {
	&__top {
		& h2 {
			font-size: 34px;
		}
		& h3 {
			font-size: 22px;
		}
		&--content {
			padding-left: 140px;
		}
	}
	&__call {
		&--form {
			padding-right: 15px;
		}
		& .container-1920px {
			padding-left: 140px;
		}
	}
	&__bottom {
		& .container-1920px {
			padding: 0 15px;
		}
	}
	&-copy {
		font-size: 21px;
	}
	& .request-call {
		&__tel {
			font-size: 23px;
			margin-bottom: 5px;
		}
		&__link {
			font-size: 19px;
		}
	}
}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

.header {
	&__product {
		right: 0;
		width: 600px;
		height: 600px;
		margin-top: -300px;
		&--helper {
			font-size: 15px;
		    bottom: 59px;
		    max-width: 250px;
		    right: 30px;
		}
		& .helpers .helpers__item:nth-child(1) {
			left: 150px;
			bottom: 260px;
		}
		& .helpers .helpers__item:nth-child(2) {
			position: absolute;
			left: inherit;
			left: 70px;
		    top: -10px;
		    & .helpers__item--btn {
		    	left: inherit;
		    	right: 0;
		    	transform: translate(50%, -50%);
		    }
		}
		& .helpers .helpers__item:nth-child(3) {
			bottom: 80px;
		    right: 145px;
		}
	}
	&__info {
		padding-left: 100px;
		& h1 {
			font-size: 46px;
		}
		& h2 {
			font-size: 32px;
		}
		& p {
			font-size: 18px;
		}
	}
	&__gift--info {
		font-size: 16px;
	}
}

.nav {
	font-size: 15px;
}

.request-call {
	&__tel {
		font-size: 18px;
	}
}

.helpers {
	&__item {
		& > div {
			width: 300px;
		}
		&--content {
			width: 300px;
			padding: 30px 40px;
			font-size: 18px;
		}
	}
}

.b-t-n.gift {
	font-size: 18px;
}


.hgroup-titles {
	& h2 {
		font-size: 36px;
	}
	& h3 {
		font-size: 21px;
	}
}

.brand__article {
	&--description {
		padding: 0;
		font-size: 18px;
		& p {
			margin-bottom: 25px;
			&:nth-child(2) {
				margin-bottom: 25px;
			}
		}
	}
}
.owl-brand {
	&__item {
		width: 450px;
		height: 545px;
	}
	& .owl-dots {
		width: 450px;
	}
}

.owl-review {
	&:after {
		display: none;
	}
}

.section-title {
	font-size: 14px;
	&--inner:before {
		left: 10px;
	}
}

.tabs {
	& .tab {
		font-size: 16px;
	}
}


.advantages {
	&__article {
		margin-right: -100px;
		min-height: 250px;
		& p {
			font-size: 19px;
		}
	}
	&__features {
		& li {
			padding-bottom: 15px;
		}
		& h3 {
			font-size: 21px;
		}
		& p {
			font-size: 16px;
		}
	}
	& .circle-pulse--wrap {
		right: 10%;
		top: 100px;
		& > div:before {
			width: 350px;
			height: 350px;
			background-size: cover;
		}
	}
}


.about {
	&__article {
		& p {
			font-size: 18px;
		}
	}
	&__features {
		& h4 {
			font-size: 18px;
			padding-bottom: 10px;
			min-height: 45px;
		}
		& p {
			font-size: 16px;
		}
	}
}

.block-brands {
	width: 650px;
	height: 650px;
	&__circle {
		width: 100%;
		height: 100%;
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
}

.logo-baseus {
	width: 180px;
	height: 58px;
}
.logo-awei {
	width: 172px;
	height: 40px;
}
.logo-borofone {
	width: 172px;
	height: 40px;
}
.logo-inkax {
	width: 188px;
	height: 58px;
}
.logo-hoco {
	width: 150px;
	height: 65px;
}

.catalog__item--content a {
	font-size: 16px;
	& .i-download {
		font-size: 14px;
	}
}

.owl-catalog {
	padding-bottom: 25px;
}

.download {
	&__form {
		width: 95%;
		margin: 0 auto;
	}
}


.footer {
	&-copy {
		font-size: 18px;
	}
	&__top {
		height: 62%;
		& .b-t-n {
			margin-top: 25px;
		}
		&--content {
			padding-left: 25px;
			&-inner {
				width: 100%;
				max-width: 800px;
			}
		}
	}
	&__call {
		& .container-1920px {
			padding: 0 25px;
		}
		&--phone {
			width: 40%;
			& h4 {
				font-size: 23px;
			}
			& strong {
				font-size: 42px;
			}
		}
		&--form {
			width: 60%;
			display: flex;
			justify-content: space-between;
			padding: 0;
			& .input {
				width: 47%;
				margin: 0;
			}
			& .b-t-n {
				width: 47%;
				padding: 0 25px;
				margin: 0;
			}
		}
	}
	&__bottom {
		height: 15%;
	}
}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
body:not(.fp-viewing-section1) .header__top .nav {
	font-size: 15px;
}
.nav {
	font-size: 15px;
	&__item {
		padding: 10px;
		&:after {
			width: calc(100% - 20px);
			height: 4px;
			left: 10px;
		}
	}
}
.logo {
	width: 40px;
	height: 40px;
	background: url('../img/logo-mini.jpg');
	background-size: cover;
}
.request-call {
	display: none;
}
.request-call-phone {
	display: block;
}
.header {
	&-circle {
		width: 600px;
		height: 600px;
		background-image: url('../img/header-circle--600x600.jpg');
		left: 190px;
	}
	&__bg .circle-pulse--wrap {
		right: 500px;
	}
	&__product {
		width: 500px;
		height: 500px;
		&--helper {
			font-size: 12px;
		    max-width: 200px;
		    right: 40px;
		    bottom: 50px;
		}
	}
	&__info {
		padding-left: 25px;
		& h1 {
			font-size: 36px;
		}
		& h2 {
			font-size: 28px;
			line-height: 1.1;
		}
		& p {
			font-size: 16px;
		}
	}
	&__gift {
		&--info {
			font-size: 12px;
		}
	}
}
.circle-pulse--wrap {
	width: 350px;
	height: 350px;
	right: 400px;
}
.helpers {
	&__item {
		width: 230px;
		height: 110px;
		& > div {
			width: 100%;
			height: 100%;
		}
		&--btn {
			width: 50px;
			height: 50px;
		}
		&--content {
			width: 230px;
			padding: 30px 20px 30px 40px;
			font-size: 14px;
			line-height: 1.1;
		}
	}
}
.header__product .helpers .helpers__item:nth-child(3) .helpers__item--btn {
	right: 0;
    transform: translate(50%,-50%);
}

.b-t-n {
	height: 70px;
	padding: 0 25px;
	box-shadow: 0 8px 32px rgba(229,45,39,.5), inset 0 -3px 0 rgba(179,18,23,.7), inset 0 3px 0 rgba(229,45,39,.4);
	&.gift {
		padding-right: 100px;
		font-size: 14px;
		&:after {
			width: 116px;
			height: 82px;
			background-size: cover;
		}
	}
}

.section-title {
	display: none;
}

.hgroup-titles {
	& h2 {
		font-size: 28px;
		margin-bottom: 3px;
	}
	& h3 {
		font-size: 17px;
		margin-bottom: 14px;
	}
}

.identity-line {
	height: 5px;
	width: 40px;
}

.brand {
	& .container-1920px {
		padding-left: 25px;
	}
	&__article--description {
		font-size: 16px;
	}
}
.owl-brand {
	margin-left: 0;
	&__item {
		width: 360px;
		height: 430px;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
	}
	& .owl-stage-outer {
		padding-left: 15px;
		padding-bottom: 15px;
	}
	& .owl-dots {
		width: 360px;
		bottom: 80px;
		& .owl-dot {
			margin: 0 5px !important;
		}
	}
	& .owl-prev, & .owl-next {
		margin-right: 10px !important;
	}
}

.owl-dots .owl-dot span {
	width: 8px;
	height: 8px;
}

.owl-btn {
	width: 40px;
	height: 40px;
	&:before {
		width: 36px;
		height: 36px;
		left: 2px;
		top: 2px;
	}
}

.review {
	&__header {
		margin-bottom: 0;
	}
	&__content {
		padding-left: 25px;
	}
	& .hgroup-titles {
		padding-bottom: 0;
	}
	& .pattern-circles--bg {
		bottom: -50px;
	}
}

.owl-review {
	&__item {
		padding: 35px 10px 30px;
		& > div {
			box-shadow: 0 5px 15px rgba(0,0,0,.1);
			border-radius: 15px;
		}
	}
	&__avatar {
		width: 130px;
		height: 130px;
		margin-bottom: 15px;
	}
	&__name {
		& h4 {
			font-size: 17px;
		}
		& p {
			font-size: 14px;
		}
	}
}

.read-more {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
	&__link {
		font-size: 14px;
	}
}

.tabs {
	padding-right: 0;
	& .tab {
		margin-left: 0;
		font-size: 14px;
		font-weight: 700;
		padding-top: 10px;
		padding-bottom: 10px;
		&:after {
			height: 3px;
		}
	}
}

.advantages {
	& .container-1920px {
		padding-left: 25px;
	}
	&__article {
		margin-right: 0;
		min-height: 170px;
		padding-bottom: 15px;
		& p {
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	& .circle-pulse--wrap {
		right: 0;
		top: 50px;
		& > div:before {
			width: 280px;
			height: 280px;
		}
	}
	&__features {
		& li {
			width: 50%;
			padding: 0 50px 20px 75px;
			&:nth-child(even), &:nth-child(odd) {
				width: 50%;
			}
			& [class*="i-"] {
				font-size: 60px;
				top: 6px;
			}
			& .i-return-money {
				font-size: 55px;
			}
		}
		& h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		& p {
			font-size: 15px;
			padding-right: 7%;
		}
	}
	&__bg--circle {
		width: 600px;
		height: 600px;
		left: -190px;
	}
}

.about {
	& .container-1920px {
		padding-left: 25px;
	}
	& .block-brands {
		width: 600px;
		height: 600px;
		right: -100px;
	}
	&__article {
		width: 48%;
		& p {
			font-size: 15px;
			margin-bottom: 15px;
			line-height: 1.2;
		}
	}
	&__features {
		& h4 {
			min-height: 35px;
			font-size: 16px;
			padding: 0 0 0 30px;
		}
		& p {
			font-size: 14px;
		}
		& .i-check-list {
			font-size: 22px;
		}
	}
}
.logo-baseus {
	width: 151px;
	height: 49px;
	left: 90px;
}
.logo-awei {
	width: 150px;
	height: 35px;
	left: 280px;
	top: 170px;
}
.logo-borofone {
	width: 145px;
	height: 35px;
	left: 50px;
    top: 210px;
}
.logo-inkax {
	width: 156px;
	height: 47px;
	left: 240px;
    top: 250px;
}
.logo-hoco {
	width: 126px;
	height: 54px;
	left: 100px;
	top: 280px;
}


.catalog {
	& .container-1920px {
		padding-left: 25px;
	}
	&__inner {
		padding-top: 120px;
	}
	&__item {
		margin-bottom: 20px;
	}
	&__item--content {
		padding: 15px;
		& h3 {
			font-size: 18px;
			margin-bottom: 15px;
		}
		& a {
			font-size: 14px;
			& .i-download {
				font-size: 11px;
			}
		}
	}
}
.owl-catalog:after {
	display: none;
}
.owl-catalog__item {
	padding: 10px;
}

.download {
	background: #fff url('../img/bg-download--1200.jpg') no-repeat center bottom;
	&__content {
		padding: 70px 0;
	}
	&__form {
		width: 85%;
		padding: 50px 25px;
		&--title {
			font-size: 26px;
			max-width: 600px;
			padding: 0;
			margin: 0 auto 15px;
		}
		&--subtitle {
			font-size: 16px;
		}
		&--content {
			padding-top: 30px;
			& .input {
				width: 350px;
				height: 70px;
				font-size: 14px;
			}
			& .b-t-n {
				width: 350px;
				top: 0;
				text-align: left;
			}
		}
		& footer {
			font-size: 13px;
			padding-top: 25px;
			& p {
				margin: 0px;
			}
		}
	}
}


.footer {
	&__top {
		height: 67%;
		padding-top: 60px;
		&--content {
			&-inner {
				max-width: 500px;
			}
		}
		& h2 {
			font-size: 26px;
		}
		& h3 {
			font-size: 17px;
		}
		& .b-t-n {
			font-size: 17px;
		}
	}
	&__call {
		& h4 {
			font-size: 17px;
		}
		& strong {
			font-size: 30px;
		}
		&--form {
			& .input {
				height: 70px;
				font-size: 16px;
			}
			& .b-t-n {
				font-size: 16px;
			}
		}
	}
	&__bottom {
		height: 10%;
		padding-bottom: 0;
	}
	& .footer-logo {
		display: none;
	}
	&-copy {
		font-size: 16px;
	}
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.sandwich-box {
	display: block;
}
.header {
	&__top .col-2 .logo {
		display: none;
	}
	&__top .col-8 .logo {
		display: block;
		margin: 0 auto;
	}

	&__info {
		width: 60%;
		& p {
			font-size: 15px;
		}
	}

	& .b-t-n.gift {
		width: 380px;
		margin-right: 35px;
		padding-right: 80px;
		& .i-download {
			font-size: 13px;
			margin-right: 10px;
		}
	}

	&__product {
		width: 450px;
		height: 450px;
		margin-top: -250px;
		right: -50px;
		&--helper {
			display: none;
		}
		& .helpers {
			& .helpers__item:nth-child(1) {
				left: 120px;
				bottom: 200px;
			}
			& .helpers__item:nth-child(2) {
				left: 20px;
			}
			& .helpers__item:nth-child(3) {
				bottom: 70px;
			    right: 110px;
			}
		}
	}
	&__bg {
		& .circle-pulse--wrap {
			width: 250px;
			height: 250px;
			right: 30%;
		}
	}
}

.scroll-down {
	width: 60px;
	height: 100px;
	bottom: 30px;
}

.wrapper-nav {
	& .nav {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__item {
			display: block;
			padding: 7px;
			font-size: 17px;
			&:after {
				display: none;
			}
			& span {
				display: inline-block;
				position: relative;
				padding: 8px 0;
				&:after {
					content: '';
					width: 100%;
					height: 4px;
					position: absolute;
					left: 0;
					bottom: 0;
					background: transparent;
				}
			}
		}
		& .active .nav__item span:after {
			background: $red linear-gradient(to right, $red, $red-dark);
		}
	}
}

.nav {
	& li {
		width: 100%;
		text-align: center;
	}
	&__item {
		display: inline-block;
		color: #fff;
	}
}

.brand {
	& .pattern-circles--bg {
		opacity: .4;
	}
	&__article--description p {
		font-size: 14px;
	}
}

.owl-review {
	&__item > div {
		padding: 25px 15px;
	}
}
.read-more {
	font-size: 15px;
}

.hgroup-titles {
	padding: 0 0 25px;
	& h2 {
		font-size: 26px;
	}
	& h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.identity-line {
	height: 3px;
	background: $red;
}

.advantages {
	&__article {
		& p {
			font-size: 14px;
		}
	}
	&__features {
		& h3 {
			font-size: 16px;
			margin-bottom: 5px;
		}
		& p {
			font-size: 13px;
		}
		& li {
			padding-left: 65px;
			& [class*="i-"] {
				font-size: 50px;
			}
		}
	}
	& .circle-pulse--wrap {
		width: 300px;
		height: 300px;
		top: 85px;
		right: 50px;
	}
}

@keyframes scaleIn2 {
  from {
    transform: scale(1, 1);
    opacity: .3;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.about {
	&__article {
		width: 46%;
		& p {
			font-size: 14px;
		}
	}
	&__features {
		& li {
			padding-right: 20px;
		}
		& h4 {
			font-size: 15px;
			margin-bottom: 10px;
		}
		& p {
			font-size: 13px;
		}
	}
	& .hgroup-titles .col-6 {
		flex: 0 0 100%;
	    max-width: 100%;
	}
	& .block-brands {
		width: 500px;
		height: 500px;
	}
	& .logo-baseus {
		left: 55px;
	}
	& .logo-awei {
		left: 230px;
	}
	& .logo-borofone {
		left: 30px;
	}
	& .logo-inkax {
		left: 200px;
	}
	& .logo-hoco {
		left: 55px;
	}
}

.catalog {
	&__inner {
		padding-top: 80px;
	}
	& .owl-nav {
		top: -50px;
	}
}

.download {
	height: 100vh;
	padding-top: 75px;
	&__content {
		padding: 15px 0;
	}
	&__form {
		padding: 25px 15px;
		&--title {
			font-size: 24px;
			line-height: 1.2;
		}
		&--subtitle {
			font-size: 14px;
		}
		&--content {
			& .input {
				height: 60px;
			}
		}
		& footer {
			padding-top: 15px;
			font-size: 12px;
		}
	}
}

.footer {
	&__top {
		&--content {
			width: 60%;
			margin: 0;
			& h2 {
				font-size: 24px;
				line-height: 1.2;
			}
			& h3 {
				font-size: 15px;
			}
		}
		&:after {
			width: 40%;
			background-position: center bottom;
		}
	}
	&__call {
		&--phone {
			& h4 {
				font-size: 14px;
			}
			& strong {
				font-size: 24px;
			}
		}
		&--form {
			& .input {
				height: 60px;
				padding: 0 25px;
			}
			& .b-t-n {
				height: 60px;
				padding: 0;
			}
		}
	}
	&-copy {
		font-size: 12px;
	}
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

body:not(.fp-viewing-section1) .header__top .logo {
	width: 35px;
	height: 35px;
}

.wrapper-nav .nav__item {
	font-size: 15px;
}

.header {
	&__top {
		padding: 7px 15px;
	}
	&__product {
		width: 400px;
		height: 400px;
		margin-top: -200px;
		right: -70px;
	}
	&__info {
		width: 50%;
		padding-left: 15px;
		& h1 {
			font-size: 32px;
		}
		& h2 {
			font-size: 20px;
			margin-right: -50px;
		}
		& p {
			font-size: 14px;
			& br {
				display: none;
			}
		}
	}
	&__gift {
		flex-wrap: wrap;
		padding: 0;
		&--info {
			display: none;
		}
	}
	& .b-t-n.gift {
		width: 100%;
	}
	&-circle {
		width: 500px;
		height: 500px;
		left: 450px;
		opacity: .75;
	}
}
.sandwich-box {
	top: 7px;
	left: 6px;
}

.request-call-phone {
	top: -2px;
	right: -13px;
	& .svg-call {
		width: 30px;
	}
}

.helpers {
	display: none;
}


.brand {
	padding-top: 90px;
	& .container-1920px {
		padding-left: 15px;
	}
	&__article--description {
		& p {
			font-size: 13px;
			margin-bottom: 10px;
			line-height: 1.1;
			color: #000;
			&:nth-child(2) {
				margin-bottom: 10px;
			}
		}
	}
}
.owl-brand {
	&__item {
		width: 240px;
		height: 280px;
	}
	& .owl-stage-outer {
		padding-top: 10px;
	}
	& .owl-dots {
		width: 240px;
		bottom: 70px;
	}
}

.owl-btn {
	width: 35px;
	height: 35px;
	font-size: 12px;
	&:before {
		width: 31px;
		height: 31px;
	}
}

.hgroup-titles {
	padding-bottom: 15px;
	& h2 {
		font-size: 24px;
		margin-bottom: 0;
	}
	& h3 {
		font-size: 15px;
		margin-bottom: 6px;
	}
}

.review {
	&__content {
		padding-left: 15px;
	}
	& .owl-review {
		margin-left: 0;
	}
}

.owl-review {
	&__item {
		padding: 25px 7.5px 15px;
		& > div {
			box-shadow: 0 3px 10px rgba(#000, .1);
		}
	}
	&__name {
		margin-bottom: 10px;
	}
	& .read-more {
		padding-left: 0;
		padding-right: 0;
		font-size: 14px;
		&__link {
			font-size: 13px;
		}
	}
}

.tabs {
	& .tab {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
		&:after {
			width: calc(100% - 20px);
			left: 10px;
		}
	}
}

.advantages {
	& .container-1920px {
		padding-left: 15px;
	}
	&__article {
		min-height: auto;
		& p {
			margin-bottom: 10px;
			font-size: 13px;
		}
	}
	&__features {
		padding-top: 0;
		& li {
			padding: 0 25px 15px 50px;
			& h3 {
				font-size: 15px;
			}
			& p {
				font-size: 12px;
			}
			& [class*="i-"] {
				font-size: 40px;
			}
		}
	}
	& .circle-pulse--wrap {
		width: 230px;
		height: 230px;
		top: 70px;
	    right: 20px;
		& > div:before {
			width: 210px;
			height: 210px;
		}
	}
}

.about {
	& .container-1920px {
		padding-left: 15px;
	}
	&__article {
		width: 50%;
		padding-bottom: 0;
		& p {
			font-size: 12px;
		}
	}
	& .block-brands {
		width: 300px;
		height: 300px;
		right: -50px;
		top: 200px;
	}
	& .logo-baseus {
		transform: scale(.75);
		left: 10px;
		top: 25px;
	}
	& .logo-awei {
		transform: scale(.75);
		left: 90px;
		top: 75px;
	}
	& .logo-borofone {
		transform: scale(.85);
		left: 0;
		top: 110px;
	}
	& .logo-inkax {
		transform: scale(.75);
		left: 90px;
		top: 145px;
	}
	& .logo-hoco {
		transform: scale(.75);
		left: 15px;
		top: 175px;
	}

	&__features {
		padding-top: 15px;
		& li {
			padding-right: 15px;
		}
		& h4 {
			font-size: 15px;
			line-height: 1.1;
			padding-left: 25px;
			& [class*="i-"] {
				font-size: 17px;
			}
		}
		& p {
			display: none;
		}
	}
}

.catalog {
	& .container-1920px {
		padding-left: 15px;
	}
	&__item--content {
		& h3 {
			font-size: 16px;
			margin-bottom: 5px;
		}
		& a {
			font-size: 13px;
		}
	}
}
.owl-catalog {
	padding-bottom: 0;
	margin: -10px;
}

.download {
	background: #fff url('../img/bg-download--768.jpg') no-repeat center bottom;
	&__form {
		&--title {
			font-size: 18px;
		}
		&--subtitle {
			font-size: 13px;
		}
		&--content {
			& .input {
				height: 50px;
			}
		}
		& .b-t-n {
			height: 60px;
		}
	}
}

.footer {
	&__top {
		padding: 75px 0 0 15px;
		&--content {
			padding-left: 0;
			& h2 {
				font-size: 21px;
				line-height: 1.1;
				margin-bottom: 10px;
			}
			& h3 {
				font-size: 13px;
			}
			& .b-t-n {
				height: 60px;
				font-size: 13px;
				margin-top: 15px;
				padding: 0 25px;
			}
		}
		&:after {
			width: 50%;
			right: -15px;
		}
	}

	&__call {
		& .container-1920px {
			padding: 0 15px;
		}
		&--phone {
			& h4 {
				font-size: 13px;
			}
			& strong {
				font-size: 19px;
			}
		}
		&--form {
			& .input {
				width: 49%;
				height: 50px;
				font-size: 14px;
				padding: 0 15px;
			}
			& .b-t-n {
				width: 49%;
				height: 50px;
				font-size: 14px;
			}
		}
	}
}

.call-modal {
	width: 380px;
	padding: 30px 15px;
	& h3 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	& .input {
		height: 65px;
	}
	& .b-t-n {
		height: 70px;
		margin-top: 0;
	}
}
.white-popup .mfp-close {
	transform: scale(1.6);
	top: -35px;
	right: -35px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 540px) {

.header {
	&__content  {
		padding: 60px 0 30px;
	}
	&__product {
		width: 350px;
		height: 350px;
		right: -60px;
		margin-top: -175px;
	}
	&__info {
		& p {
			font-size: 13px;
		}
	}

	& .scroll-down {
		bottom: -15px;
		left: 50%;
		margin-left: -30px;
	}
}

.b-t-n.gift {
	height: 60px;
	font-size: 13px;
	line-height: 1.1;
	&:after {
		top: 4px;
	}
	& .i-download {
		font-size: 11px;
	}
}

.brand {
	padding: 70px 0 0;
	&__article {
		padding-right: 15px;
	}
}
.owl-brand {
	& .owl-stage-outer {
		padding-left: 0;
	}
	& .owl-dots {
		display: none;
	}
	& .owl-nav {
		margin-left: 0;
		position: absolute;
		top: 25px;
		left: 15px;
	}
}

.review {
	padding-top: 70px;
	height: 100vh;
	& .pattern-circles--bg {
		opacity: .4;
	}
}
.owl-review {
	&__item {
		& > div {
			padding: 10px 15px 15px;
		}
	}
	&__avatar {
		width: 90px;
		height: 90px;
		margin-bottom: 5px;
	}
	&__name {
		& h4 {
			font-size: 15px;
		}
		& p {
			font-size: 12px;
		}
	}
	& .read-more {
		height: 80px !important;
		font-size: 13px;
		margin-bottom: 5px;
		&.expanded {
			height: auto !important;
		}
	}
}

.tabs {
	padding-right: 5px;
	& .tab {
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
		&:after {
			width: calc(100% - 10px);
			left: 5px;
		}
	}
}

.advantages {
	padding-top: 70px;
	&__features {
		& li {
			height: 50px;
			padding-bottom: 0;
			display: flex;
			align-items: center;
			& [class*="i-"] {
				font-size: 37px;
			}
			& h3 {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
		& p {
			display: none;
		}
	}
}

.about {
	padding: 70px 0 20px;
	&__article p {
		line-height: 1.1;
		margin-bottom: 10px;
	}
	&__features {
		& h4 {
			margin-bottom: 0;
			font-size: 14px;
		}
	}
}

.catalog {
	padding-top: 70px;
	&__item {
		&--content {
			padding: 10px 15px;
			& h3 {
				font-size: 14px;
			}
			& a {
				font-size: 12px;
				& .i-download {
					font-size: 10px;
					margin: 0 0 0 -2px;
				}
			}
		}
	}
}

.download {
	padding: 70px 0 30px;
	&__form {
		&--title {
			font-size: 17px;
			margin-bottom: 5px;
		}
		&--subtitle {
			font-size: 12px;
		}
		&--content {
			padding-top: 20px;
			& .input {
				width: 300px;
				height: 45px;
				margin-bottom: 10px;
				padding: 0 20px;
				font-size: 13px;
			}
			& .b-t-n {
				width: 300px;
				height: 55px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				margin: 0;
				&:after {
					display: none;
				}
				& span {
					position: static;
					width: auto;
				}
				& .i-download {
					display: none;
				}
			}
		}
		& footer {
			font-size: 10px;
			max-width: 300px;
			margin: 0 auto;
		}
	}
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.sandwich-box {
	top: 4px;
}
.header {
	&__top .col-8 .logo {
		width: 34px;
		height: 34px;
	}
	&__content {
		padding: 0;
	}
	&__info {
		width: 100%;
		padding-right: 15px;
		text-align: center;
		& h2 {
			margin-right: 0;
			font-size: 18px;
			margin-bottom: 15px;
			& .header__info--title-line {
				display: none;
			}
		}
		& .header__product--picture {
			display: block;
			width: 230px;
			height: 230px;
			margin: -35px auto -15px;
		}
	}
	&__product {
		display: none;
	}
	& .header-circle {
		left: 492px;
	    margin-top: 25px;
	}
	& .circle-pulse--wrap {
		width: 200px;
	    height: 200px;
	    left: 50%;
	    margin-left: -100px;
	    right: inherit;
	    top: 64%;
	}
	&__gift {
		& .b-t-n.gift {
			width: 240px;
			margin: 0 auto;
			top: 20px;
		}
	}
	& .scroll-down {
		height: 90px;
		bottom: -20px;
	}
}

.hgroup-titles {
	text-align: center;
	& h3 {
		font-size: 14px;
	}
	& .identity-line {
		margin: 0 auto;
	}
}

.review {
	&__content {
		padding-right: 15px;
	}
	&__header {
		display: block;
	}
	& .hgroup-titles {
		padding-bottom: 20px;
	}
}

.owl-review {
	& .owl-nav {
		padding-left: 0;
		text-align: center;
	}
}

.tabs {
	padding-right: 0;
	text-align: center;
}

@keyframes scaleIn2 {
  from {
    transform: scale(1, 1);
    opacity: .4;
  }
  to {
    transform: scale(3, 3);
    opacity: 0;
  }
}

.advantages {
	text-align: center;
	& .container-1920px {
		padding-right: 15px;
	}
	& .circle-pulse--wrap {
		opacity: .2;
	}
	& .col-6 {
		flex: 0 0 100%;
	    max-width: 100%;
	}
	&__features {
		& li {
			width: 100%;
			&:nth-child(odd),
			&:nth-child(even) {
				width: 100%;
			}
		}
	}
	& .circle-pulse--wrap {
		left: 50%;
		margin-left: -115px;
		top: 50%;
		margin-top: -115px;
		& > div:before {
			display: none;
		}
	}
}

.about {
	& .container-1920px {
		padding-right: 15px;
	}
	&__article {
		width: 100%;
	}
	& .block-brands {
		width: 100%;
		height: auto;
		position: static;
		border-radius: 0;
		transform: translate(0, 0);
		text-align: center;
		&__inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			&:after {
				display: none;
			}
		}
		& .logo-baseus {
			position: static;
			display: inline-block;
			width: 120px;
			height: 39px;
			transform: scale(1);
			margin: 5px;
		}
		& .logo-awei {
			position: static;
			display: inline-block;
			width: 115px;
			height: 27px;
			transform: scale(1);
			margin: 5px;
		}
		& .logo-borofone {
			position: static;
			display: inline-block;
			width: 115px;
			height: 28px;
			transform: scale(1);
			margin: 5px;
		}
		& .logo-inkax {
			position: static;
			display: inline-block;
			width: 100px;
			height: 31px;
			transform: scale(1);
			margin: 5px;
		}
		& .logo-hoco {
			position: static;
			display: inline-block;
			width: 100px;
			height: 43px;
			transform: scale(1);
			margin: 5px;
		}
		& .block-brands__circle {
			display: none;
		}
	}
	&__features {
		display: none;
	}
}

.footer {
	text-align: center;
	&__top {
		padding-right: 15px;
		padding-top: 65px;
		&:after {
			display: none;
		}
		&--content {
			width: 100%;
		}
	}

	&__call {
		&--phone {
			display: none;
		}
		&--form {
			width: 100%;
		}
	}

	&__bottom {
		& .col-4 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

.call-modal {
	width: 280px;
	padding: 20px 10px 35px ;
	& h3 {
		font-size: 19px;
		margin-bottom: 15px;
	}
	& .input {
		height: 55px;
		font-size: 16px;
		padding: 0 15px
	}
	& .b-t-n {
		height: 60px;
		margin-top: 0;
		font-size: 18px;
	}
}
.white-popup .mfp-close {
	transform: scale(1.6);
	top: -40px;
	right: -10px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}