@import "vars";

.logo {
	display: inline-block;
	width: 268px;
	height: 65px;
	background: url('../img/logo.jpg');
	background-size: cover;
}
.footer-logo {
	display: inline-block;
	width: 268px;
	height: 65px;
	background: url('../img/logo-footer.jpg');
	background-size: cover;
}

.wrapper-nav {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(#000, .8);
	z-index: 999;
}
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 20px;
	&__item {
		display: block;
		padding: 15px;
		position: relative;
		color: #000;
		transition: .3s;
		&:hover {
			color: $red;
			text-decoration: none;
		}
		&:after {
			content: '';
			width: calc(100% - 30px);
			height: 5px;
			background: $red linear-gradient(to right, $red, $red-dark);
			position: absolute;
			left: 15px;
			bottom: 0;
			transition: .3s;
			visibility: hidden;
			opacity: 0;
		}
	}
	& .active .nav__item {
		font-weight: 700;
		&:hover {
			color: inherit;
		}
		&:after {
			visibility: visible;
			opacity: 1;
		}
	}
}

.helpers {
	&__item {
		position: relative;
		z-index: 3;
		& > div {
			width: 350px;
			height: 140px;
			position: relative;
		}
		&--btn {
			width: 72px;
			height: 72px;	
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			&:hover {
				& .helpers__item--icon {
					transform: rotate(225deg);
				}
				& .helpers__item--btn:before {
					transform: scale(0);
				}
				& + .helpers__item--content {
					opacity: 1;
					visibility: visible;
				}
			}

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(#341dd5, .3);
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				transition: .3s;
			}
			&:after {
				content: '';
				width: 68%;
				height: 68%;
				background: #341dd5 linear-gradient(to top,#1100a0, #351bef);
				border-radius: 50%;
				position: absolute;
				left: 16%;
				top: 16%;
			}
		}
		&--icon {
			display: inline-block;
			width: 12px;
			height: 12px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -6px 0 0 -6px;
			transition: .3s;
			z-index: 1;
			&:before,
			&:after {
				content: '';
				display: block;
				width: 12px;
				height: 2px;
				background-color: #fff;
				border-radius: 1px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:after {
				width: 2px;
				height: 12px;
			}
		}
		&--content {
			width: 100%;
			font-size: 20px;
			line-height: 1.5;
			padding: 40px 60px;
			background-color: #fff;
			box-shadow: 0 10px 30px rgba(#000,.25);
			transition: .3s;
			opacity: 0;
			visibility: hidden;
			margin: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.request-call {
	display: inline-block;
	line-height: 1.2;
	position: relative;
	&__title {
		font-size: 16px;
		color: $silver-light;
	}
	&__tel {
		font-size: 26px;
	    position: relative;
	    padding: 4px 0 6px;
		& a {
			color: #000;
		}
		& .i-phone {
			position: absolute;
			left: -32px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 21px;
		}
	}
	&__link {
		color: $red;
		font-size: 19px;
	}
}

.request-call-phone {
	display: none;
	font-size: 22px;
	text-align: right;
	position: relative;
	top: -5px;
}
.svg-call {
  overflow: visible;
}

.svg-call .svg-phone {
  animation: call 1s infinite;
  transform-origin: center;
}

@keyframes call {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.phone-line-1, .phone-line-2, .phone-line-3, .phone-line-4 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.phone-line-1 {
  animation-name: fade1;
}

.phone-line-2 {
  animation-name: fade2;
}

.phone-line-3 {
  animation-name: fade3;
}

.phone-line-4 {
  animation-name: fade4;
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@keyframes fade2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

@keyframes fade3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
}

@keyframes fade4 {
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.b-t-n {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 96px;
	background-color: $red;
	background: linear-gradient(to right, $red 0%, $red-dark 100%);
	box-shadow: 0 8px 32px rgba($red, .5), inset 0 -5px 0 rgba($red-dark, .7), inset 0 5px 0 rgba($red, .4);
	color: #fff;
	border-radius: 50px;
	padding: 0 40px;
	position: relative;
	font-size: 22px;
	font-weight: 700;
	border: none;
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: $blue;
		background: linear-gradient(to right, $blue 0%, $blue-dark 100%);
		box-shadow: 0 8px 32px rgba($blue, .5), inset 0 -5px 0 rgba($blue-dark, .7), inset 0 5px 0 rgba($blue, .4);
	}
	&:focus {
		outline: none;
	}
	&.white {
		background: #fff;
		color: #000;
		box-shadow: none;
		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}
	& .i-download {
		display: inline-block;
		margin-right: 15px;
		font-size: 15px;
	}
	&.gift {
		padding-right: 162px;
	    margin-right: 52px;
		flex-wrap: nowrap;
		&:after {
			content: '';
			width: 184px;
			height: 132px;
			background: url(../img/btn-gift.png);
			position: absolute;
			right: -31px;
		    top: 9px;
		}
	}
	&.text {
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	& .b-t-n--bold {
		width: 100%;
		font-weight: 700;
		text-transform: uppercase;
	}
	& .b-t-n--text {
		width: 100%;
		font-weight: 300;
	}
}

.input {
	height: 96px;
	border: 2px solid transparent;
	background-color: #f6f6f7;
	border-radius: 50px;
	transition: .5s;
	padding: 0 30px;
	font-size: 23px;
	&:focus {
		outline: none;
		border-color: rgba(#000, .1);
	}
	&.white {
		background: transparent;
		border: 2px solid #fff;
		color: #fff;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
}

.section-title {
	position: absolute;
    top: 25px;
    left: 3.1%;
    font-weight: 400;
    color: #6f6e6d;
    font-size: 17px;
	&--inner {
		position: relative;
		width: 300px;
		height: 300px;
		&:before {
			content: '';
		    width: 2px;
		    height: 80px;
		    background-color: #6f6e6d;
		    position: absolute;
		    left: 14px;
		    top: 0;
		    opacity: .6;
		}
		& span {
			display: block;
			transform: rotate(-90deg);
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			text-align: right;
			padding-right: 108px;
			letter-spacing: .1em;
		}
	}
}


.scroll-down {
  position: absolute;
  left: 10%;
  bottom: 65px;
  width: 100px;
  height: 150px;
  opacity: .5;
  margin-left: -14px;
  &.animated {
  	animation-duration: 2s;
  	animation-delay: 4s;
  }
}
.scroll-down span {
  display: block;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
  background-size: 0 auto;
  animation: pulse-scroll 3s .5s infinite;
  background-image: url("../img/svg/i-arrow-down.svg");
  background-repeat: no-repeat;
}
.scroll-down span:before, .scroll-down span:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/svg/i-arrow-down.svg") no-repeat center top;
  background-size: 100% auto;
}
.scroll-down span:before {
  animation: pulse-scroll 3s 1s infinite;
}
.scroll-down span:after {
  animation: pulse-scroll 3s 1.5s infinite;
}


.circle-pulse--wrap {
	width: 450px;
	height: 450px;
	position: relative;
}
.circle-pulse {
	border: 1px solid silver;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: scaleIn 12s infinite cubic-bezier(.36, .11, .89, .32);
	position: absolute;
	left: 0;
	top: 0;
}

.size-430x210 {
	width: 430px;
	height: 210px;
}

.owl-dots {
	& .owl-dot {
		margin: 0 5px;
		&.active {
			& span {
				background: linear-gradient(to top, #b70400 0%, #ff1812 100%);
			}
		}
		& span {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 5px 15px rgba(#000, .5);
			transition: .75s;
		}
		&:focus {
			outline: none;
		}
	}
}

.owl-nav {
	& .owl-prev, & .owl-next {
		&:focus {
			outline: none;
		}
	}
}

.owl-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	background: linear-gradient(to top, #b70400 0%, #ff1812 100%);
	position: relative;
	&:before {
		content: '';
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		left: 4px;
		top: 4px;
		transition: .3s;
	}
	& [class*='i-'] {
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		color: #f91a1b;
		&:before {
			transition: .5s;
			position: relative;
		}
	}
	& .i-left {
		margin-left: -2px;
	}
	& .i-right {
		margin-left: 2px;
	}

	&:hover {
		&:before {
			opacity: 0;
		}
		& [class*='i-'] {
			color: #fff;
		}
	}

	&:active {
		& .i-left:before {
			transition: .1s;
			left: -3px;
		}
		& .i-right:before {
			transition: .1s;
			right: -3px;
		}
	}
}

.hgroup-titles {
	padding-top: 10px;
	padding-bottom: 30px;
	color: #000;
	&:after {
		content: '';
	}
	& h2 {
		letter-spacing: -.02em;
	}
	& h3 {
		font-weight: 400;
		margin-bottom: 25px;
	}
}

.identity-line {
	width: 64px;
	height: 8px;
	background: linear-gradient(to top, #b70400 0%, #ff1812 100%);
	border: none;
	margin: 0;
	position: relative;
	&:before {
		content: '';
		height: 7px;
		width: 100%;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
		position: absolute;
		left: 0;
		top: 0;
		opacity: .4;
	}
}


.expandable {
    transition: .7s;
	& p {
		font-size: 22px;
	    line-height: 1.25;
	    padding: 0 10px;
	}
}

.expand-bar {
	position: absolute;
	display: block;
	left: 0px;
	bottom: 30px;
	width: 100%;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	box-sizing: border-box;
	font-size: 19px;
	text-align: center;
	& .more, & .less {
		transition: .5s;
		&:hover {
			color: #e11811;
		}
	}
}
.expandable .expand-bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    top: -90px; left: 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
}

// .expandable .expand-bar i {
//     transition: all 250ms ease-in-out;
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     display: block;
//     top: 50%;
//     right: 10px;
//     margin-top: -10px;
//     transform: rotate(-90deg);
// }

// .expandable.expanded .expand-bar i {
//     transform: rotate(90deg);
// }

// .expandable .expand-bar i::before, .expandable .expand-bar i::after {
//     position: absolute;
//     width: 10px;
//     height: 1px;
//     background: #1d1d1d;
//     content: "";
//     left: 5px;
// }

// .expandable .expand-bar i::before {
//     transform: rotate(45deg);
//     top: 13px;
// }

// .expandable .expand-bar i::after {
//     transform: rotate(-45deg);
//     top: 6px;
// }

.block-brands {
	width: 800px;
	height: 800px;
	&__inner {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			width: 200px;
			height: 100%;
			background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&__circle {
		width: 900px;
		height: 900px;
		background-color: #f7f7f8;
		position: absolute;
		border-radius: 50%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		overflow: hidden;
		&:before, &:after {
			content: '';
			width: 100%;
			height: 150px;
			position: absolute;
			left: 0;
			top: 50px;
			background: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
		}
		&:after {
			position: absolute;
			left: 0; top: auto; bottom: 50px;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
		}
	}
}
.logo-baseus {
	width: 240px;
	height: 78px;
	background: url('../img/logo-baseus.png');
	left: 160px;
	top: 122px;
}
.logo-awei {
	width: 230px;
	height: 54px;
	background: url('../img/logo-awei.png');
	right: 68px;
    top: 193px;
}
.logo-borofone {
	width: 230px;
	height: 55px;
	background: url('../img/logo-borofone.png');
	left: 81px;
    top: 255px;
}
.logo-inkax {
	width: 250px;
	height: 77px;
	background: url('../img/logo-inkax.png');
	right: 136px;
    top: 305px;
}
.logo-hoco {
	width: 200px;
	height: 86px;
	background: url('../img/logo-hoco.png');
	left: 159px;
    top: 360px;
}
.logo-baseus, .logo-awei, .logo-borofone, .logo-inkax, .logo-hoco {
	position: absolute;
	background-size: cover;
	z-index: 1;
}

.tabs {
	padding-right: 45px;
	& .tab {
		display: inline-block;
		margin-left: 30px;
		position: relative;
		cursor: pointer;
		padding: 15px;
		transition: .3s;
		&:after {
			content: '';
			width: calc(100% - 30px);
			height: 5px;
			background: $red linear-gradient(to right, $red, $red-dark);
			position: absolute;
			left: 15px;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			transition: .3s;
		}
		&:hover {
			color: $red;
		}
		&.active {
			&:after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}


.read-more {
	position: relative;
	margin-bottom: 25px;
	&:after {
		content: '';
		width: 100%;
		height: 30px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
	}
	& p {
		margin: 0;
	}
	&.expanded:after {
		display: none;
	}
	&__link {
		cursor: pointer;
		font-weight: 700;
		font-size: 18px;
		transition: .3s;
		&:hover {
			text-decoration: underline;
			color: $red;
		}
	}
}


.sandwich-box {
  display: none;
  width: 46px;
  height: 42px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  left: 15px;
  top: 10px;
}
.sandwich-icon {
  width: 30px;
  position: relative;
  top: 12px;
  left: 9px;
}
.sw-top {
    position: relative;
    top: 0;
    width: 30px;
    height: 2px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
}

.sw-center {
  position: relative;
  width: 30px;
  height: 2px;
  top: 6px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-bottom {
  position: relative;
  width: 30px;
  height: 2px;
  top: 12px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich-icon.active {
  & .sw-top {
    top: 8px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  & .sw-center {
    top: 6px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  & .sw-bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
    background-color: #fff;
  }
}


.call-modal {
	width: 500px;
	padding: 50px 25px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(#000, .3);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	& h3 {
		font-size: 28px;
		margin-bottom: 35px;
	}
	& .input {
		width: 80%;
		height: 80px;
		margin-bottom: 15px;
		font-size: 20px;
		box-shadow: 0 2px 5px rgba(#000, .1);
		&:focus {
			box-shadow: none;
		}
	}
	& .b-t-n {
		width: 80%;
		height: 80px;
		margin-top: 15px;
	}
}

.white-popup .mfp-close {
    color: #fff;
    transform: scale(2);
    opacity: 1;
    top: -40px;
    right: -40px;
    &:hover {
    	color: $red;
    }
}