.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 6rem;
}
.header__row {
    align-items: center;
}


.menu__list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.menu__link {
    text-decoration: none;
    color: rgba(32, 32, 34, .5);
    transition: .2s;
}
.menu__link:hover {
    color: var(--color-accent);
}


.hello {
    position: relative;
    background-color: var(--color-black);
    color: #fff;
    border-radius: 4rem;
    overflow: hidden;
    margin-bottom: 5rem;
}
.hello__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 52rem;
    padding: 6rem 10rem;
    position: relative;
    z-index: 1;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 14.35%, rgba(0, 0, 0, 0.9) 100%);
}
.hello__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.hello__bg img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right center;
    opacity: .4;
}
.hello__heading {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 4.5rem;
}
.hello__heading .logo-icon {
    width: 5rem;
    height: 5rem;
    fill: #fff;
}
.hello__text {
    opacity: .8;
    margin-bottom: 2rem;
}


/* Hero */
.hero {
    display: flex;
    padding: 5rem 0;
}
.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 525px;
}
.hero-content__title {
    max-width: 380px;
    margin-bottom: 3rem;
}
.hero-content__text {
    max-width: 432px;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    opacity: .8;
}
.hero-content__btn {
    margin-top: auto;
}
.hero-service {
    width: 100%;
    max-width: 610px;
    margin-left: auto;
}
.hero-card {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2.5rem 2rem;
}
.hero-card.-full-width {
    padding-bottom: 5rem;
}
.hero-card .icon-box {
    margin: 0 0 1rem auto;
}
.hero-card.-full-width .icon-box {
    margin-bottom: -3rem;
}
.hero-card__title {
    margin-bottom: 2rem;
}
.hero-card__text {
    max-width: 225px;
    opacity: .8;
}
.hero-card.-full-width .hero-card__text {
    max-width: 410px;
}


/* Earnings */
.earnings {
    padding: 5rem 0;
}


/* Team */
.team {
    padding: 5rem 0;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    background-color: #fff;
    border-radius: 2rem;
    padding: 2.5rem 2rem;
    text-align: center;
}
.team-card__photo {
    width: 18.1rem;
    height: 18.1rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.team-card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.team-card__text {
    opacity: .8;
    line-height: 1.5;
    max-width: 222px;
}


/* Tariff */
.tariff-card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3.5rem 3rem;
}
.tariff-card__header {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.tariff-card__action {
    text-align: center;
}
.tariff-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.tariff-list__item {
    display: flex;
}
.tariff-list__checkbox {
    width: 2.2rem;
    height: 2.2rem;
    fill: #CDCDCD;
    margin-right: 1rem;
}
.tariff-list__checkbox.-active {
    fill: var(--color-accent);
}
.tariff-list__text {
    padding: 2px 0;
}