@font-face {
	font-family: 'Conv_Ptrootuimedium';
	src: url('../css/fonts/pt-root-medium/Ptrootuimedium.eot');
	src: local('☺'), url('../css/fonts/pt-root-medium/Ptrootuimedium.woff') format('woff'), url('../css/fonts/pt-root-medium/Ptrootuimedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Ptrootuibold';
	src: url('../css/fonts/pt-root-bold/Ptrootuibold.eot');
	src: local('☺'), url('../css/fonts/pt-root-bold/Ptrootuibold.woff') format('woff'), url('../css/fonts/pt-root-bold/Ptrootuibold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html, body {
	overflow-x: hidden;
}
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #292D32;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Conv_Ptrootuibold';
	background: #F0F0F0;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #783BF9;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration:none;
}
a:focus, a:active {
	color: #000;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
/*Start Preloader*/
.no-scroll-y {
	overflow-y: hidden;
}


/* Preloader */
.ctn-preloader {
	-webkit-box-align: center;
	        align-items: center;
  cursor: ;
	display: -webkit-box;
	display: flex;
  height: 100%;
  -webkit-box-pack: center;
          justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 9999;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}


.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect in loading animation */
.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

.loaded .loader-section.section-right {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}

/* Animation of the letters loading from the preloader */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

/* Backward laptop size (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.ctn-preloader .animation-preloader #loader {
	    width: 70px;
    height: 70px;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	.ctn-preloader .animation-preloader #loader {
		 width: 70px;
    height: 70px;
	}

	/* Text Loading */
	.ctn-preloader .animation-preloader .txt-loading #loader {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}

/* Copy-right by ARiyou2000 in May2020*/

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -75px 0 50px -45px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*End Preloader*/


.header {

}

.container {
	max-width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 15px 0 15px;
}

.header__top {
	overflow: hidden; 
	padding: 30px 0 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a.logo {
	color: #000000;
	text-decoration: none;
	font-size: 2em;
}

.logo-icon {
   margin-bottom: -2px;
}

.block__right {
	display: flex;
	align-items: center;
}

.online {
	color: #292D32;
	font-size: 1.125em;
	margin: 0 20px 0 0;
}

.online a {
	text-decoration: none;
	/* Переход */
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.online a:hover {
	color: #C159DA;
}

a.is__free {
	background: #783BF9;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 9px 29px;
    margin: 0 20px 0 0;
    border: 1px solid #783BF9;
    /* Переход */
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}

a.is__free:hover {
	background: #fff;
	color: #783BF9;
	border: 1px solid #C7C7C7;
}

a.sign__in {
	border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    color: #292D32;
    text-decoration: none;
    padding: 10px 30px;
    margin:0 6px 0 0;
      /* Переход */
     -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}

a.sign__in:hover {
	background: #fff;
	color: #783BF9;
	border: 1px solid #C7C7C7;
}


/* --------------- Mobile navigation button ----------- */

.menu__icon {
    z-index: 19;
    position: relative;
    display: none;
	width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 30px;
}

.menu__icon-line {
	position: relative;
	width: 25px;
	height: 4px;
	background-color: #783BF9;
}

.menu__icon-line::before {
	position: absolute;
	left: 0;
	top: -8px;
	content: '';
	width: 25px;
	height: 4px;
	background-color: #783BF9;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu__icon-line::after {
	position: absolute;
	left: 0;
	top: 8px;
	content: '';
	width: 25px;
	height: 4px;
	background-color: #783BF9;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu__icon.menu-icon-active .menu__icon-line {
	background-color: transparent;
}

.menu__icon.menu-icon-active .menu__icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu__icon.menu-icon-active .menu__icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* ----------------- Мобильная навигация ----------------- */
.mobile__nav {
    z-index: 9;
    display:block;
    position: absolute;
    left: -450px;
    width: 350px;
    padding: 20px 45px 20px 45px;
    background-color: #F0F0F0;
    transition: 0.4s ease-in;
    top: 60px;
    height: 86.7%;
}

.mobile-nav--active {
	/*right: 15px;*/
      transform: translateX(100%);
}


.block__right-mobile {
	display: flex;
	flex-direction: column;
}


.content {
	overflow: hidden;
	margin: 15px 0 20px 0;
}

.content__block {
	background: #FFFFFF;
    border-radius: 20px;
    padding: 30px 0;
    overflow: hidden;
}

.content__top {
	overflow: hidden;
	margin-bottom: 20px;
}

.content__top-text {
	padding: 0 20px 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.vip__accommodation {
	color: #783BF9;
	font-size: 1.125em;
}

.accommodation {
	color: #292D32;
}

.ads {
    text-decoration: none;
    color: #783BF9;
    font-size: 1.125em;
       /* Переход */
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.content__top-cards {
	padding: 30px 0 0 50px;
	overflow: hidden;

}

.button__cards {
	height: 100px;
padding: 35px 68px 35px 32px;
background-image:  url(../images/border.svg);
background-position: center;
border: none;
border-radius: 10px;
cursor: pointer;
margin-right: 20px;
background-color: #fff;
float: left;

     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.button__cards:hover {
background-image:  url(../images/border-two.svg);
background-position: center;
}

.slider__block {
   margin: -10px 0 0 120px;
   height: 100px;
}

.card__section {
	width: 240px;
	height: 63px;
	display: table-caption;
	background: #FAFAFA;
    border-radius: 10px;
    position: relative;
    padding: 19px 0 18px 20px;
    margin:10px 0 0 0;
    text-decoration: none;
    -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.card__section:hover {
	background:#F5F5F5; 
	text-decoration: none;
}

.smile {
	position: absolute;
	right: 10px;
	top: -10px;
}

.card__name {
	color: #66E11A;
	font-size: 0.875em;
}

.name {
	color: #783BF9;
	text-decoration: none;
	margin-right: 8px;
}

.card__text {
	color: #292D32;
	font-size: 1em;
	margin: 5px 0 0 0;
}

.cards .card__section:last-child {
	margin: 0 0 0 0;
}

.content__bottom {
	overflow: hidden;
	display: flex;
	padding: 0 50px;
}

.content__bottom-left {
	background: #FFFFFF;
border: 1px solid #EAEAEA;
box-sizing: border-box;
border-radius: 10px;
    width: 45.41%;
    position: relative;
    
    padding-bottom: 111px;
    margin: 0 50px 0 0;
   overflow: hidden;
}

.hello-chat {
	display: flex;
    flex-direction: column;
}

.chat-opros {
	display: none;
	padding: 67px 30px 0 30px;
}
.chat-welcome.active .chat-opros {
	display: block;
	-webkit-animation: ZoomIn .5s;
	-moz-animation: ZoomIn .5s;
	-o-animation: ZoomIn .5s;
	animation: ZoomIn .5s;
}
.chat-welcome:not(.active) .hello-chat {
	-webkit-animation: ZoomIn .5s;
	-moz-animation: ZoomIn .5s;
	-o-animation: ZoomIn .5s;
	animation: ZoomIn .5s;
}
.chat-welcome.active .hello-chat {
	display: none;
}

@keyframes ZoomIn {
	0% {
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes ZoomIn {
	0% {
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes ZoomIn {
	0% {
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes ZoomIn {
	0% {
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}




.gender {
	text-align: left;
	font-size: 1.25em;
	margin-bottom: 20px;
}

.gender__opros {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 30px;

}

.gender__item {
	background: #EEEEEE;
	border-radius: 10px;
	text-decoration: none;
	padding: 15px 25px;
	-webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
     transition: background 9999999s;
     position: relative;
     overflow: hidden;
}

.gender__item input {
	display: none;
}

.gender__active {
	width: 100%;
	height: 100%;
	background-color: #AF3ACC;
	position: absolute;
	left: 0;
	top: 0;
	transition: .5s;
	opacity: 0;
}

.gender__item input:checked + .gender__active {
	opacity: 1;
}

.gender__emodzi {
	font-size: 2.5em;
	margin-bottom: 15px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.gender__person {
	text-align: center;
	font-size: 1em;
	color: #292D32;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
      transition: color 9999999s;
      position: relative;
}

.age {
	text-align: left;
	font-size: 1.25em;
	margin-bottom: 3px;
}

.gender__btn{
	margin-top: 47px;
	width: 100%;
	background-color: #AF3ACC;
	color: #fff;
	border:none;
	padding: 18px 0;
	border-radius: 50px;
	cursor: pointer;
	border: 1px solid  #AF3ACC;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.gender__btn:hover {
	background-color: #EEEEEE;
	color: #AF3ACC;
}


.settings__button {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 30px;
	top: 30px;
	background:none;
	border:none;
	cursor: pointer;
	transition: .5s;
	border-radius: 3px;
	padding: 0;
}

.settings__button .settings__icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -11px 0 0 -12px;
}
.settings__button .settings__close {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -14px 0 0 -15px;
}


.chat-welcome.active .settings__close {
	display: inline-block;
	-webkit-animation: ZoomIn2 .3s;
	-moz-animation: ZoomIn2 .3s;
	-o-animation: ZoomIn2 .3s;
	animation: ZoomIn2 .3s;
}
.chat-welcome.active .settings__icon {
	display: none;
}

.settings__icon {
	display: inline-block;
	width: 24px;
	height: 22px;
	background: url('../images/settings.svg') no-repeat center / contain;
	-webkit-animation: ZoomIn2 .3s;
	-moz-animation: ZoomIn2 .3s;
	-o-animation: ZoomIn2 .3s;
	animation: ZoomIn2 .3s;
}

.settings__close {
	display: none;
	position: relative;
	height: 26px;
    width: 30px;
	background: none;
	border:none;
	cursor: pointer;
}
.settings__close::before {
	position: absolute;
	left: 5px;
	top: 11px;
	content: '';
	width: 22px;
	height: 3px;
	background-color: #000;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transform: rotate(-45deg);
}
.settings__close::after {
	position: absolute;
	left: 5px;
	top: 11px;
	content: '';
	width: 22px;
	height: 3px;
	background-color: #000;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	transform: rotate(45deg);
}


@keyframes ZoomIn2 {
	0% {
		-webkit-transform: scale(.1);
		-moz-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes ZoomIn2 {
	0% {
		-webkit-transform: scale(.1);
		-moz-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes ZoomIn2 {
	0% {
		-webkit-transform: scale(.1);
		-moz-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes ZoomIn2 {
	0% {
		-webkit-transform: scale(.1);
		-moz-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}


.online__chat {
	padding:115px 0 30px 0;
	text-align: center;
	color: #292D32;
	font-size: 2.625em;
	font-family: 'Conv_Ptrootuimedium';
	line-height: 1.1;
}

.form {
	/*width: 360px;*/
	margin: 0 auto 30px auto;
	display: flex;
}

.btn {
	border: none;
	cursor: pointer;
	background: #783BF9;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px solid #8A53FE;
    color: #fff;
    font-size: 1.125em;
    padding: 16px 79px 17px 79px;
      -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}

.btn:hover {
	
	background: #C159DA;

}




.content__spisok {
	list-style: none;
	margin: 0 0 0 68px;
}

.auditoria, .search {
	margin-bottom: 20px;
}

.line {
	width: 1px;
	background: #ECECEC;
}

.online__two {
	color: #292D32;
	font-size: 1.125em;
	display: none;
}

.online__two a {
	text-decoration: none;
	/* Переход */
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.online__two a:hover {
	color: #C159DA;
}

.content__bottom-right {
	background: #B13BCF;
border: 1px solid #EAEAEA;
box-sizing: border-box;
border-radius: 10px;
    width: 45.41%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
    padding-bottom: 50px;
   
}

.fire__one {
	height: 100px;
	width: 100px;
	position: absolute;
	right: 40px;
	top: 25px;
}

.boom {
	height: 115px;
	width: 115px;
	position: absolute;
	top: 95px;
	left: 15px;
}

.fire__two {
	height: 100px;
	width: 100px;
	position: absolute;
	left: 50px;
	bottom: 81px;
	transform: rotate(50deg);
}

.daemon__two {
	height: 120px;
	width: 120px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.bottom__right-text {
	margin:161px auto 0 auto;
	z-index: 4;
	display: flex;
	flex-direction: column;
}

.chat__right {
	text-align: center;
color: #FFC076;
font-family: 'Conv_Ptrootuimedium';
font-size: 2.25em;
margin-bottom: 15px;
}

.text__right {
	text-align: center;
    color: #FFFFFF;
    font-size: 1em;
font-family: 'Conv_Ptrootuimedium';
margin-bottom: 30px;
}

.sign__btn {
	border:none;
	background: #C159DA;
	color: #fff;
	border-radius: 10px;
	font-size: 1em;
	text-align: center;
	padding: 18px 0;
	cursor: pointer;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.sign__btn:hover {
	background: #fff;
	color: #C159DA;
}

.sign__btn-two {
	display: none;
	border:none;
	background: #783BF9;
	color: #fff;
	border-radius: 10px;
	font-size: 1em;
	text-align: center;
	padding: 18px 0;
	cursor: pointer;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.sign__btn-two:hover {
	background: #C159DA;
}

.footer {
	overflow: hidden;
}

.footer__block {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #C7C7C7;
	padding: 20px 0 30px 0;
}

.menu{

}

.menu__list {
	display: flex;
}

.menu__list-item {
	margin-right: 30px;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

.menu__list-item:hover {
	transform: scale(1.1);
}

a.menu__link {
	text-decoration: none;
	color: #969696;
	font-size: 1em;
font-family: 'Conv_Ptrootuimedium';
-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;

}

a.menu__link:hover {
	color: #783BF9;
}

.copuright {
	color: #969696;
	font-size: 1em;
font-family: 'Conv_Ptrootuimedium';
}






@media (max-width: 1024px) {

.online__chat {
	font-size: 2.2em;
}


.content__spisok {
	margin-left: 60px;
}

.content__spisok li {
	font-size: 0.875em;
}

.content__bottom-left {
	padding-bottom: 80px;
	margin-right: 35px;
}

.content__bottom-right {
	margin-left: 35px;
}

.chat__right {
	font-size: 1.9em;
}

.text__right {
	font-size: 0.875em;
}

.sign__btn {
	margin:0 15px;
}

}


@media (max-width: 995px) {

	.gender__emodzi {
		font-size: 1.8em;

	}

	.gender__person {
		font-size: 0.875em;

	}

	.btn {
    padding: 16px 50px 17px 50px;
    
}
	
}


@media (max-width: 904px) {

	.gender__emodzi {
		font-size: 1.5em;

	}

	.gender__person {
		font-size: 0.875em;

	}

	.gender__item {
		padding: 12px 20px;
	}

	.chat-opros {
    padding: 67px 20px 0 20px;
}

.settings__button {
	right: 20px;
}
	
}




@media (max-width: 865px) {

   a.logo {
    font-size: 1.7em;
}

a.sign__in {
	font-size: 0.875em;
}

a.is__free {
	font-size: 0.875em;
}

.online {
	font-size: 0.875em;
}



	.online__chat {
	font-size: 2em;
	padding-top: 95px;
}

 .btn {
    font-size: 0.875em;
}

.content__spisok {
	margin-left: 55px;
}

.content__spisok li {
	font-size: 0.875em;
}

.content__bottom-left {
	padding-bottom: 60px;
	margin-right: 30px;
}

.content__bottom-right {
	margin-left: 30px;
}

.chat__right {
	font-size: 1.7em;
}

.text__right {
	font-size: 0.875em;
}

.sign__btn {
	margin:0 15px;

}

.menu__list-item {
	margin-right: 15px;
}

a.menu__link {
	font-size: 0.875em;
}
}


@media (max-width: 838px) {

     .content__spisok {
	margin-left: 50px;
}

	.content__spisok li {
	font-size: 0.8125em;
}

.text__right {
	font-size: 0.8125em;
}

.content__bottom-left {
	margin-right: 25px;
}

.content__bottom-right {
	margin-left: 25px;
}


}


@media (max-width: 768px) {

.container {
	padding-right: 0;
}

.content__top-text {
	padding: 0 35px 0 50px;
}

.content__bottom {
	padding: 0 65px 0 50px;
}


	   a.logo {
    font-size: 2em;
        margin: 0 auto;
}

a.sign__in {
	font-size: 1em;
}

a.is__free {
	font-size: 1em;
}

.online {
	font-size: 1.125em;
	font-family: 'Conv_Ptrootuimedium';
}

	.block__right {
		display: none;
	}

	 .menu__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 20px;
    }


.online {
    margin: 0;
    text-align: center;
}


    a.is__free {
    	margin: 15px 0 15px 0;
    }
      a.is__free:hover {
   	border:1px solid #783BF9 ;
   }

   a.sign__in {
   	border: 1px solid #9A9A9A;
   	margin:0;
   }

   a.sign__in:hover {
   	border:1px solid #783BF9 ;
   }

   .content__bottom {
   	display: flex;
   	flex-direction: column;
   	align-items: center;
   }

   .content__bottom-left {
   	margin: 10px 0 0 0;
   	width: 80%;
   	display: flex;
   	justify-content: center;
   	position: unset;
   	border:none;
   }

.online__chat {
	padding-top: 0;
	padding-bottom: 25px;
	font-size: 2.30em;
}

.chat-welcome:not(.active) .hello-chat {
    animation: none;
}


.settings__button {
    right: 5px;
    top: 9px;
}

.chat-welcome.active .chat-opros {
    z-index: 20;
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    background: white;
    animation: ZoomIn .5s;
}

.gender {
    margin-left: 15px;
}

.gender__opros {
    padding: 0 15px;
}

.age {
	padding-left: 15px;
}

.range__slider {
	padding: 0 15px;
}

   .content__spisok {
   	display: none;
   }

   .content__bottom-right {
   	margin: 0 0 0 0;
   	width: 80%;
   	background: #fff;
   	border: none;
   	padding: 0;
   }

.content__bottom-right img, h2, .sign__btn {
	display: none;
}


 .bottom__right-text {
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
}

   .line {
   	display: none;
   }

   .online__two {
    position: absolute;
    display: block;
    text-align: center;
    font-family: 'Conv_Ptrootuimedium';
    top: 460px;
}

   .content {
    overflow: hidden;
    margin: 15px 0 19px 0;
}

   .footer {
   	display: none;
   }

   .accommodation {
    display: none;
}

.ads__two {
	display: none;
}

.sign__btn-two {
	width: 267.7px;
	display: block;
	font-size: 0.875em;
	height: 62px;

}

body {
	background: #fff;
}

.header {
	background: #F0F0F0;
}


.header__top {
	padding: 10px 0 15px 0;
}

.form {
	margin-bottom: 0;
}

.content__bottom-left {
    padding-bottom: 86px;
}

.text__right {
	display: none;
}

.content__block {
	padding: 10px 0 0 0;
}

.mobile__nav {
	height: 90.2%;
}

}


@media (max-width: 555px) {

	a.logo {
		font-size: 1.7em;
		margin-top: 5px;
	}

	.content__top-text {
    padding: 0 15px 0 0;
}

	.card__section {
		width: 220px;
	}

	.content__top-cards {
		padding: 20px 0 0 0;
	}

	.content__bottom {
		padding: 0 30px 0 15px;
	}

	.fire__one {
		width: 70px;
		height: 70px;
	}

	.boom {
    height: 80px;
    width: 80px;
}

.fire__two {
    height: 70px;
    width: 70px;
    left: 50px;
    bottom: 11px;
}

.daemon__two {
    height: 80px;
    width: 80px;
    }

	  .content__bottom-left {
   	width: 100%;
   	display: flex;
   	justify-content: center;
   	position: unset;
   }

     .content__bottom-right {
   	
   	width: 100%;
  
   }

   .online__two {
   	top: 447px;
   }
	
}


@media (max-width: 460px) {
	.mobile__nav {
    width: 230px;
    left: -350px;

}

.online {
	    font-size: 0.875em;
}


.block__right-mobile {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

a.is__free {
    margin: 15px 0 15px 0;
    font-size: 0.875em;
}

a.sign__in {
    border: 1px solid #9A9A9A;
    margin: 0;
    font-size: 0.875em;
}
}




@media (max-width: 425px) {

.button__cards {
  height: 80px;
  padding: 0 40px;
    background-image: url(../images/border__375.svg);
    background-position: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    float: left;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button__cards:hover {
    background-image: url(../images/border__two375.svg);

}

.slider__block {
    margin: -10px 0 0 90px;
}

.button__cards {
	margin-right: 0;
}

.card__section {
	margin: 10px 10px 0 0;
	width: 150px;
	padding: 9px 0 8px 12px;
}

.card__text {
    font-size: 0.75em;
}
.card__name {
    font-size: 0.625em;
    margin-top: 5px;
}

	.vip__accommodation {
		font-size: 1em;
	}

	.ads {
		font-size: 1em;
	}

	.card__name {
		font-size: 0.75em;
		margin-top: 5px;
	}

	.card__text {
		font-size: 0.875em;
	}

	.smile {
		height: 22px;
		width: 22px;
	}

	.card__section {
    width: 180px;
}

.online__two {
    top: 436px;
}
}


@media (max-width: 375px) {

	.online__two {
    top: 418px;
}

	a.logo {
    font-size: 1.4em;
    margin-top: 8px;
}

.vip__accommodation {
    font-size: 0.875em;
}

.ads {
    font-size: 0.875em;
}

.form {
	height: 50px;
}

.sign__btn-two {
	height: 50px;
	padding-top: 15px;
}


.text__right {
    font-size: 0.67em;
}

.online__two {
    font-size: 0.995em;
}

 .btn {
 	padding: 16px 35px 17px 35px;
 }

 .sign__btn-two {
 	width: 237.7px;
 }
 .mobile__nav{
 	height: 87.7%;
 }
}



@media (max-width: 320px) {
	.card__section {
    width: 145px;
}
}





































