.header {
    padding-top: 68px;
    position: relative;
}
.header .logo {
    margin-left: -.8rem;
    margin-right: 2.8rem;
}
.header-top {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-top__aside {
    display: flex;
    align-items: center;
    column-gap: 15px;
}


.hero {
    padding-top: 4.4rem;
    margin-bottom: 125px;
}
.hero-content {
    max-width: 700px;
    padding-top: 3.3rem;
}
.hero-content__heading {
    font-size: initial;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 5.3rem;
    color: var(--color-blacklight);
    letter-spacing: .001rem;
}
.hero-content__heading ._normal {
    font-size: 4.82rem;
    line-height: 1.07;
}
.hero-content__heading ._small {
    display: inline-block;
    font-size: 2.5rem;
    position: relative;
    padding-top: 7px;
}
.hero-content__text {
    font-size: 1.74rem;
    letter-spacing: .045rem;
    line-height: 1.12;
    margin-bottom: 4.2rem;
}
.hero-content__btn {
    margin-bottom: 5.8rem;
}
.hero-content__btn .btn {
    padding-right: 4.8rem;
}
.hero-img {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -117px;
}

.reviews-avatars {
	display: flex;
	align-items: center;
	column-gap: 10px;
    margin-bottom: 4.3rem;
}
.reviews-avatars__img {
	width: 160px;
}
.reviews-avatars__img img {
	width: 100%;
	display: block;
}
.reviews-avatars__text {
	font-size: 1.3rem;
	line-height: 1.4;
	position: relative;
	top: 1px;
}


.current-offers-info {
    display: flex;
    color: var(--color-darklight);
    column-gap: 7px;
    letter-spacing: .062rem;
    margin-bottom: 3.3rem;
}
.current-offers-info__icon {
    flex-shrink: 0;
    width: 30px;
    height: 20px;
    fill: var(--color-darklight);
    opacity: .3;
}


.user-info-protection {
    display: flex;
    color: var(--color-darklight);
    column-gap: 7px;
    letter-spacing: .062rem;
    line-height: 1.2;
}
.user-info-protection__icon {
    flex-shrink: 0;
    width: 30px;
    height: 24px;
    fill: var(--color-darklight);
}


.features-hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.features-hero__item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.features-hero__text {
    font-size: 1.45rem;
    color: var(--color-darklight);
}



.portfolio-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 400px;
    gap: 15px;
    margin: -60px 0 50px auto;
}
.portfolio-tags__item {
    background-color: var(--color-light);
    color: var(--color-blacklight);
    padding: 9px 12px 8px;
    border-radius: 8px;
    font-size: 12px;
}
.portfolio-tags__item._active {
    background-color: var(--color-accent);
    color: white;
}
.portfolio__content {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 70px;
}
.portfolio__item {
    width: calc(50% - 2.5rem);
}
.portfolio-card {
    width: 100%;
    min-width: 260px;
    height: 400px;
    border-radius: 12px;
    background-color: var(--color-accent);
    overflow: hidden;
    position: relative;
}
.portfolio-card:after {
    content: "";
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(68,68,68,1) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.portfolio-card__img {
    width: 100%;
    height: 100%;
}
.portfolio-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-card__info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    color: white;
}
.portfolio-card__info ._btn {
    flex-shrink: 0;
}


.lead-form {
    background-color: #242938;
    border-radius: 1.2rem;
    padding: 25px 30px;
    color: white;
}
.lead-form__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.lead-form__design {
    width: 471px;
    margin: -25px -20px -90px 0;
}


.terms-user-agreement {
    display: flex;
    column-gap: 12px;
}
.terms-user-agreement__text {
    font-weight: 300;
    cursor: pointer;
}


.lead-form-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    column-gap: 3rem;
}
.lead-form-list__item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.lead-form-list__item .iconbox {
    flex-shrink: 0;
}


.work-steps-post__item {
    padding: 35px 0 0;
    position: relative;
    margin-bottom: 40px;
}
.work-steps-post__item ._corner {
    width: 299px;
    height: 110px;
    fill: #fffce8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.work-steps-post__block {
    min-height: 90px;
    background-color: var(--color-light);
    border-radius: 8px;
    padding: 2.5rem 3rem;
}
.work-steps-post__header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.work-steps-post__icon {
    /* margin-right: 10px; */
}
.work-steps-post__icon svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color-accent);
}
.work-steps-post__icon ._icon-target-eye {
    fill: none;
    stroke: var(--color-accent);
}
.work-steps-post__title {
    font-size: 1.8rem;
    color: var(--color-blacklight);
}
.work-steps-post__text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    min-height: 90px;
    padding-right: 15px;
    font-size: 1.5rem;
    color: var(--color-darklight);
}