/* Gilroy - Regular */
@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* Gilroy - SemiBold */
@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy/Gilroy-SemiBold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

/* Manrope - Thin */
@font-face {
	font-family: 'Manrope';
	src: url('fonts/Manrope/Manrope-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
/* Manrope - Regular */
@font-face {
	font-family: 'Manrope';
	src: url('fonts/Manrope/Manrope-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* Manrope - Bold */
@font-face {
	font-family: 'Manrope';
	src: url('fonts/Manrope/Manrope-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/* GothamPro - Regular */
@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* GothamPro - Medium */
@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/GothamPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
/* GothamPro - Bold */
@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}