/* Import Style */

/* Libs */
@import "libs/normalize.css";
@import "libs/grid.css";
@import "libs/slick.css";
@import "libs/slick-theme.css";

/* Style */
@import "base.css";
@import "fonts.css";
@import "ui.css";

.wrap {
	min-height: 100%;
}

.header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #14151a url("../img/header.jpg") no-repeat right center / cover;
	color: #797979;
	padding-bottom: 50px;
	margin: 0 auto;
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Gilroy';
	padding: 0 15px;
	width: 100%;
	max-width: 1710px;
	margin: 0 auto;
}

.header .calculate-cost-link {
	margin: 0 130px 10px 50px;
}
.header .socialbox {
	margin: 0 8px 6px 0;
}

.header__content {
	margin: auto 0;
}

.offer {
	padding: 30px 0 50px;
	max-width: 750px;
	color: #fff;
}
.offer__subtitle {
	color: #797979;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 32px;
	letter-spacing: .05em;
}
.offer__title {
	margin-bottom: 20px;
}
.offer__descrp {
	max-width: 590px;
	font: 20px/1.5 'GothamPro';
	letter-spacing: -.005em;
	margin-bottom: 36px;
}


.features {
	width: 100%;
	max-width: 1710px;
	margin: 0 auto;
}
.features__item {
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 240px;
	background-color: #faf8f5;
	border-radius: 5px;
	color: #252525;
	position: relative;
	overflow: hidden;
}
.features__content {
	font: 14px 'GothamPro';
	letter-spacing: .03em;
	padding: 20px 30px 20px 120px;
	position: relative;
	z-index: 1;
}
.features__title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}
.features__text {
	line-height: 1.3;
}
.features__img {
	position: absolute;
	left: 0;
}
.features__img img {
	display: block;
}
.features__img.img-1 {
	bottom: 0;
}
.features__img.img-2 {
	height: 100%;
}
.features__img.img-2 img {
	object-fit: cover;
	height: 100%;
}

.result-client {
	padding-top: 50px;
	position: relative;
	z-index: 2;
}
.result-client__content {
	padding: 50px 0;
}
.client-slider {
	max-width: 1920px;
	margin: 0 auto;
}
.client-slider .slick-slide:focus {
	outline: none;
}
.client-slider.slick-dotted.slick-slider {
	margin-bottom: 50px;
}
.client-slider .slick-dots {
	bottom: -35px;
}
.client-slider .slick-dots li {
	margin: 0;
}
.client-slider .slick-dots li button:before {
	transition: .5s;
}


.map-client {
	min-height: 804px;
	position: relative;
	margin: -140px 0 47px;
}
.map-client::before {
	content: "";
	width: 1550px;
	height: 804px;
	background-image: url("../img/map.jpg");
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -651px;
}
.map-client__content {
	padding: 222px 0 22px;
	position: relative;
	z-index: 1;
}
.map-client .number-mark.num-1 {
	position: absolute;
	left: 50%;
	top: 402px;
	margin-left: -404px;
}
.map-client .number-mark.num-2 {
	position: absolute;
	left: 50%;
	top: 583px;
	margin-left: -31px;
}
.map-client .number-mark.num-3 {
	position: absolute;
	left: 50%;
	top: 337px;
	margin-left: -529px;
}
.map-client .number-mark.num-4 {
	position: absolute;
	left: 50%;
	top: 425px;
	margin-left: -584px;
}
.map-client .number-mark.num-5 {
	position: absolute;
	left: 50%;
	top: 490px;
	margin-left: 14px;
}
.map-client .number-mark.num-6 {
	position: absolute;
	left: 50%;
	top: 603px;
	margin-left: 224px;
}
.map-client .number-mark.num-7 {
	position: absolute;
	left: 50%;
	top: 429px;
	margin-left: -481px;
}
.map-client .number-mark.num-8 {
	position: absolute;
	left: 50%;
	top: 172px;
	margin-left: -426px;
}


.example-client {

}
.example-client__phone {
	height: 890px;
	position: relative;
	z-index: 1;
}
.example-client__phone::before {
	content: "";
	width: 897px;
	height: 1263px;
	background-image: url("../img/phone.png");
	position: absolute;
	right: 31px;
	bottom: -161px;
	pointer-events: none;
}


.lead {
	min-height: 999px;
	background: url("../img/bg-lead.jpg") no-repeat center top / cover;
	padding: 70px 0 222px;
	position: relative;
}
.lead__photo-left {
	position: absolute;
	left: 0;
	top: -200px;
	pointer-events: none;
}
.lead .img-sheet-1 {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 300px;
}
.lead .img-sheet-2 {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: 300px;
}
.lead .img-sheet-3 {
	position: absolute;
	top: 350px;
	left: 50%;
	margin-left: 340px;
	z-index: 1;
}
