.logo {
	display: flex;
	padding: 20px 0;
}
.logo__img {
	margin-right: 30px;
}
.logo__text {
	font-size: 12px;
	max-width: 222px;
}

.ratingbox {
	display: flex;
	align-items: center;
}
.ratingbox__block {
	width: 145px;
	height: 102px;
	background-image: url("../img/ratingbox.png");
	text-align: center;
	margin-right: 15px;
	padding-top: 25px;
}
.ratingbox__counter {
	color: #323232;
	font: 25px/1 'Manrope';
	letter-spacing: -.05em;
	margin-bottom: 5px;
}
.ratingbox__stars {
	display: flex;
	justify-content: center;
}
.ratingbox__stars svg {
	display: block;
	width: 12px;
	height: 12px;
	fill: #fec341;
	margin: 0 1px;
}
.ratingbox__text {
	max-width: 111px;
	font-size: 12px;
	margin-bottom: 10px;
}

.calculate-cost-link {
	color: white;
	font: 500 10px 'Gilroy';
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .05em;
}
.calculate-cost-link:hover {
	text-decoration: underline;
}

.socialbox {

}
.socialbox__title {
	display: block;
	font-size: 12px;
	margin-bottom: 7px;
}
.socialbox__list {
	display: flex;
}
.socialbox__item {
	text-align: center;
	width: 26px;
	height: 22px;
	background-color: #239ad6;
	border-radius: 4px/11px;
	margin: 0 5px 5px 0;
}
.socialbox__item svg {
	display: inline-block;
	width: 12px;
	height: 12px;
	fill: #fff;
	vertical-align: middle;
}
.socialbox__whatsapp {
	background-color: #29a71a;
}
.socialbox__vk {
	background-color: #4c75a3;
}


.callbox {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}
.callbox__tel {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}
.callbox__tel-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	fill: #fff;
	margin-right: 15px;
}
.callbox__tel-num {
	color: #fff;
	text-decoration: none;
	font: 21px/1 'Manrope';
}
.callbox__info {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.callbox__info-text {
	font-size: 12px;
	margin-left: 20px;
	letter-spacing: .02em;
}
.callbox__indicator {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #29a71a;
	border-radius: 50%;
}


/* button */
.btn {
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 77px;
	padding: 15px 31px 10px;
	position: relative;
	text-decoration: none;
	background-color: transparent;
	z-index: 1;
}
.btn.--big {
	min-height: 87px;
}
.btn::before ,
.btn::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.btn::before {
	border-radius: 15px/30px;
	background-color: #dda52e;
	top: 5px;
}
.btn::after {
	background-color: #9dc6cc;
	box-shadow: inset 0 -4px 18px rgba(255,217,134,.66);
	border-radius: 15px/30px
}
.btn__text {
	display: inline-block;
    padding-bottom: 5px;
    letter-spacing: .06em;
    color: #4e442d;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

/* button group */
.btn-group {
	display: flex;
	align-items: center;
}
.btn-group .btn {
	margin-right: 19px;
}
.btn-group .marktext {
	margin-bottom: -5px;
}

.marktext {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}
.marktext__el {
	color: #797979;
    font: 12px/1 'GothamPro';
    letter-spacing: .03em;
    background-color: #fff;
    text-transform: uppercase;
    padding: 6px 10px 7px;
    margin-bottom: -3px;
}

.number-mark {
	width: 55px;
	height: 55px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.number-mark::after {
	content: "";
	width: 55px;
	height: 64px;
	background-image: url("../img/number-mark.png");
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}
.number-mark.--shadow::after {
	width: 96px;
	height: 104px;
	background-image: url("../img/number-mark--shadow.png");
	left: -9px;
}
.number-mark__text {
	color: #4b3412;
	font-size: 28px;
	padding-top: 4px;
	line-height: 1;
	font-weight: bold;
	position: relative;
	z-index: 1;
}


.infobox {
	width: 460px;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 37px 37px 45px 37px;
	margin-right: 20px;
}
.infobox__header {
	display: flex;
	align-items: center;
	margin-bottom: 38px;
}
.infobox__header .number-mark {
	margin-right: 25px;
}
.infobox__title {
	font-size: 21px;
	letter-spacing: .03em;
	display: inline-block;
	padding-top: 5px;
	letter-spacing: .035em;
}
.infobox__table {
	width: 100%;
	color: #252525;
	font: 18px 'GothamPro';
}
.infobox__table td {
	padding: 6px 0;
}
.infobox__icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	fill: #252525;
	margin-right: 13px;
}
.infobox__text {
	opacity: .7;
	padding-right: 8px;
}


.section-descrp {
	max-width: 540px;
}


.circle-check {
	display: inline-block;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 4px 35px rgba(239,215,131,.17);
	text-align: center;
	line-height: 39px;
}
.circle-check svg {
	display: inline-block;
	width: 12px;
	height: 12px;
	fill: #fec341;
}

.listing {
	padding: 12px 0;
	font: 18px 'GothamPro';
}
.listing__item {
	display: flex;
	align-items: center;
	padding: 12px 0;
}
.listing__icon {
	flex-shrink: 0;
	margin: 0 15px auto 0;
}

.checkpoint {
	display: flex;
	align-items: center;
}
.checkpoint__icon {
	flex-shrink: 0;
	margin: 0 30px auto 0;
}

.decorbox {
	width: 262px;
	position: relative;
	margin-bottom: 15px;
}
.decorbox::before {
	content: "";
	width: 362px;
	height: 100%;
	background: url("../img/decorbox-bg.png") repeat-y;
	position: absolute;
	left: -50px;
	top: 0;
}
.decorbox__top ,
.decorbox__bottom {
	width: 362px;
	height: 85px;
	background: url("../img/decorbox-corners.png") no-repeat 0 0;
	position: absolute;
	left: -50px;
	top: -85px;
}
.decorbox__bottom {
	height: 61px;
	background-position: 0 bottom;
	top: inherit;
	bottom: -61px;
}
.decorbox__inner {
	position: relative;
	z-index: 1;
	padding: 5px 30px 40px 40px;
	font-family: 'GothamPro';
}
.decorbox__title {
	line-height: 1.2;
	margin-bottom: 15px;
}


/* image elements */
.img-sheet-1 {
	width: 464px;
	height: 374px;
	position: relative;
	pointer-events: none;
}
.img-sheet-1::before {
	content: "";
	width: 541px;
	height: 588px;
	background-image: url("../img/sheet-1.png");
	position: absolute;
	left: 0;
	top: 0;
}

.img-sheet-2 {
	width: 547px;
	height: 481px;
	background-image: url("../img/sheet-2.png");
	pointer-events: none;
}

.img-sheet-3 {
	width: 391px;
	height: 326px;
	background-image: url("../img/sheet-3.png");
	pointer-events: none;
}