.header-top.animated {
   animation-delay: .5s;
}
.header-service.animated {
   animation-delay: 1.25s;
   animation-duration: 1.5s;
}
.header-offer__heading.animated {
   animation-delay: 1.5s;
}
.header-offer__txt.animated {
   animation-delay: 1.75s;
   animation-duration: 2s;
}
.services__card.animated:nth-child(2) {
   animation-delay: .15s;
}
.services__card.animated:nth-child(3) {
   animation-delay: .3s;
}
.services__card.animated:nth-child(4) {
   animation-delay: .45s;
}
.services__card.animated:nth-child(6) {
   animation-delay: .15s;
}
.services__card.animated:nth-child(7) {
   animation-delay: .3s;
}

.about-us .in-numbers__item.animated:nth-child(2) {
   animation-delay: .15s;
}
.about-us .in-numbers__item.animated:nth-child(3) {
   animation-delay: .3s;
}

.bitrix__lists .ul.animated:nth-child(1) {
   animation-delay: .3s;
}
.bitrix__logo.animated {
   animation-delay: 1.5s;
}
.competence__item:nth-child(1) {
   animation-delay: .15s;
}
.competence__item:nth-child(2) {
   animation-delay: .3s;
}
.competence__item:nth-child(3) {
   animation-delay: .45s;
}
.competence__item:nth-child(4) {
   animation-delay: .6s;
}

.consut-form__inputs .input.animated:nth-child(2) {
   animation-delay: .15s;
}
.consut-form__action .btn.animated {
   animation-delay: .3s;
}
.consut-form__agreement.animated {
   animation-delay: .6s;
}

.article-item.animated:nth-child(2) {
   animation-delay: .15s;
}
.article-item.animated:nth-child(3) {
   animation-delay: .3s;
}
.article-item.animated:nth-child(4) {
   animation-delay: .45s;
}