/* Logo */
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo__ico {
    width: 55px;
    height: 55px;
    margin-right: 14px;
    fill: #fff;
}
.logo__txt {
    width: 225px;
    height: 29px;
    margin-top: 3px;
    fill: #fff;
}
/* hover */
.logo:hover {
    color: inherit;
}


/* CallBox */
.callbox {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.callbox__ico {
    width: 24px;
    height: 24px;
    stroke: var(--color-accent);
    margin-right: 15px;
}
.callbox__tel {
    font-weight: 700;
    font-size: 2.4rem;
}
/* hover */
.callbox:hover {
    color: inherit;
}


/* Menu */
.menu {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.menu__link {
    width: 100%;
    font-size: 3rem;
    padding: 19px 0 21px;
    display: flex;
    align-items: center;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.menu__link:hover {
    color: var(--color-accent);
    text-decoration: underline;
}
.menu__link:active {
    color: var(--color-accent);
    text-decoration: none;
}
.menu__link.mPS2id-highlight {
    color: var(--color-accent);
    text-decoration: underline;
}
.menu__link.mPS2id-highlight:hover {
    text-shadow: none;
    background-color: transparent;
    cursor: default;
}


/* Btn */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 68px;
    padding-left: 35px;
    padding-right: 35px;

    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: var(--color-accent);
    color: #fff;
    border-radius: 50px;
    cursor: pointer;

    transition: .5s;
}
.btn__circle-box {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    order: -1;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    margin-left: -28px;
    background-color: var(--color-black);
    border-radius: 50%;
    transition: .5s;
}
.btn__circle-box.-right {
    order: 1;
    margin-right: -29px;
    margin-left: 10px;
}
.btn__ico {
    width: 18px;
    height: 18px;
    fill: #fff;
    transition: .3s;
}
.btn__ico-right {
    width: 22px;
    height: 22px;
}
.btn__txt {
    flex-shrink: 0;
}
 /* size */
.btn-normal {
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: .032em;
    padding-left: 22px;
    padding-right: 22px;
}
.btn-normal .btn__circle-box {
    width: 38px;
    height: 38px;
}
.btn-normal .btn__circle-box {
    margin-left: -16px;
    margin-right: 12px;
}
.btn-normal .btn__circle-box.-right {
    margin-right: -16px;
    margin-left: 19px;
}
.btn-normal .btn__ico-right {
    width: 17px;
    height: 17px;
}
.btn-small {
    height: 45px;
    font-size: 1.8rem;
    padding-left: 27px;
    padding-right: 27px;
}
.btn-small .btn__circle-box {
    width: 28px;
    height: 28px;
}
.btn-small .btn__ico-right {
    width: 12px;
    height: 12px;
}
/* style */
.btn-outline {
    background-color: transparent;
    border-color: var(--color-black);
    color: var(--color-black);
}
.btn-trans {
    font-size: 2.2rem;
    color: var(--color-black);
    background-color: transparent;
    border-color: transparent;
}
.btn-white {
    color: #fff;
}
.btn-outline-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-white .btn__circle-box,
.btn-outline-white .btn__circle-box {
    background-color: var(--color-accent);
}

/* hover */
.btn:hover {
    background-color: transparent;
    color: var(--color-accent);
    border-color: var(--color-accent);
}
.btn:hover .btn__circle-box {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.btn:hover .btn__ico {
    fill: var(--color-black);
}
.btn-outline:hover {
    border-color: var(--color-accent);
}
.btn-trans:hover {
    border-color: transparent;
    color: var(--color-accent);
}
.btn-outline-white:hover {
    border-color: var(--color-accent);
}
/* active */
.btn:active {
    color: #fff;
    transition: none;
}
.btn-outline:active {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    transition: none;
}


/* link */
.link {
    display: inline-flex;
    align-items: center;
    color: #575566;
    text-decoration: none;
    transition: .3s;
    letter-spacing: .03em;
}
.link .color-dark {
    color: #26263D;
    transition: .3s;
}
.link__ico {
    order: -1;
    width: 20px;
    height: 20px;
    margin-right: 11px;
    fill: #2C293E;
    transition: .3s;
}
.link:hover {
    color: var(--color-accent);
}


/* InNumbers */
.in-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}
.in-numbers__item {
    margin-right: 73px;
    margin-bottom: 20px;
    letter-spacing: .05em;
}
.in-numbers__item:last-child {
    margin-right: 0;
}
.in-numbers__num {
    font-weight: 500;
    font-size: 4.8rem;
    color: var(--color-accent);
    line-height: 1;
    padding: 5px 0 4px;
}
.in-numbers__txt {
    font-size: 2.4rem;
}


/* ListPoint */
.list-point {
}
.list-point__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.list-point__item:last-child {
    margin-bottom: 0;
}
.list-point__ico {
    flex-shrink: 0;
    width: 74px;
    text-align: center;
}
.list-point__svg {
    fill: var(--color-accent);
}
.list-point__svg._ico1 {
    width: 34px;
    height: 27px;
}
.list-point__svg._ico2 {
    width: 34px;
    height: 30px;
}
.list-point__svg._ico3 {
    width: 44px;
    height: 44px;
}


.phone-panel {
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: var(--color-black);
    color: #fff;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    transition: 1s;
    transform: translateX(-100%);
}
.phone-panel._active {
    display: block;
	transform: translateX(0);
}
.phone-panel__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1682px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 90px 40px 40px;
    overflow-y: auto;
}
.phone-panel__action {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.phone-panel__action .btn {
    height: 52px;
    font-weight: 500;
}
.phone-panel__action .btn-trans {
    padding: 0 10px;
    letter-spacing: .3em;
}

.sandwich-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.sandwich-box.active {
    background-color: transparent;
}
.sandwich-icon {
    width: 30px;
    height: 20px;
    position: relative;
}
.sw-bottom,
.sw-center,
.sw-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    border: none;
    transition: background-color 0.5s, transform 0.5s, top 0.2s;
}
.sw-center {
    top: 7px;
}
.sw-bottom {
    top: 14px;
}
.sandwich-box:hover .sw-bottom,
.sandwich-box:hover .sw-center,
.sandwich-box:hover .sw-top {
    background-color: #fff;
}
.sandwich-box.active .sw-bottom,
.sandwich-box.active .sw-center,
.sandwich-box.active .sw-top {
    background-color: var(--color-accent);
}
.sandwich-box.active .sw-top {
    top: 8px;
    transform: rotate(-45deg);
}
.sandwich-box.active .sw-center {
    top: 6px;
    transform: rotate(45deg);
}
.sandwich-box.active .sw-bottom {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
}

/* social */
.social-box {
    display: flex;
}
.social-box__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: var(--color-accent);
    transition: .3s;
}
.social-box__ico {
    width: 20px;
    height: 20px;
    fill: #fff;
}
/* vkontakte */
.social-box__vk {
    background-color: #2787f5;
    transition: .3s;
}
.social-box__vk .social-box__ico {
    width: 23px;
    height: 23px;
    margin-left: 2px;
}
/* telegram */
.social-box__tg {
    background-color: #25a1e1;
    transition: .3s;
}
.social-box__tg .social-box__ico {
    margin-left: -1px;
}
/* viber */
.social-box__vb {
    background-color: #735ff4;
    transition: .3s;
}
.social-box__vb .social-box__ico {
    width: 24px;
    height: 24px;
    stroke-width: .0300125;
    margin-top: 1px;
}
.social-box__btn:hover {
    transform: scale(1.15);
}

/* bread nav */
.bread {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 1.8rem;
}
.bread__item {
    margin-right: 9px;
    padding-right: 23px;
    position: relative;
}
.bread__item:last-child {
    margin-right: 0;
    padding-right: 0;
}
.bread__link {
    margin-right: 0;
    text-decoration: none;
    color: #7e8495;
}
.bread__arrow {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    fill: #7e8495;
}

/* loader */
.loading-page {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: var(--color-black);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.swiper-loader {
    width: 100%;
    max-width: 320px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.swiper-loader:before,
.swiper-loader:after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 2;
    left: 0;
}
.swiper-loader:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(15,13,35,1) 0%,rgba(0,0,0,0) 100%);
}
.swiper-loader:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(15,13,35,1) 100%);
}
.swiper-loader .swiper-wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
}
.swiper-loader__item {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 5px;
    transition: .5s;
    transform: scale(.95);
}
.swiper-loader__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    opacity: .4;
    transition: .5s;
}
.swiper-loader__ico svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: .5s;
}
.swiper-loader__txt {
    opacity: .4;
    font-size: 2rem;
    transition: .5s;
}
.swiper-slide-active .swiper-loader__item {
    transform: scale(1);
}
.swiper-slide-active .swiper-loader__ico {
    opacity: 1;
    background-color: #fff;
}
.swiper-slide-active .swiper-loader__ico svg {
    fill: var(--color-accent);
}
.swiper-slide-active .swiper-loader__txt {
    opacity: 1;
}