/* Max-Width media */

/* 1400px */
@media only screen and (max-width : 1400px) {

.header__menu .menu {
   max-width: 500px;
}

}



/* Min-Width media */

/* 1920px */
@media only screen and (min-width : 1920px) {
   .hero-s {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
   }
}