/* MuseoSans-100 */
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/museo-sans/100/museo-sans-100.woff2') format('woff2'),
		  url('../fonts/museo-sans/100/museo-sans-100.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
/* MuseoSans-300 */
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/museo-sans/300/museo-sans-300.woff2') format('woff2'),
		  url('../fonts/museo-sans/300/museo-sans-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* MuseoSans-500 */
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/museo-sans/500/museo-sans-500.woff2') format('woff2'),
		  url('../fonts/museo-sans/500/museo-sans-500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
/* MuseoSans-700 */
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/museo-sans/700/museo-sans-700.woff2') format('woff2'),
		  url('../fonts/museo-sans/700/museo-sans-700.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/* MuseoSans-900 */
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/museo-sans/900/museo-sans-900.woff2') format('woff2'),
		  url('../fonts/museo-sans/900/museo-sans-900.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}