.list-point {
	max-width: 370px;
	font-weight: 500;
	font-size: 18px;
	li {
		min-height: 30px;
		padding: 14px 10px 14px 50px;
		position: relative;
	}
	[class*="i-"] {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		color: $blue;
		margin-top: -4px;
	}

	&.normal {
		font-size: 16px;
		font-weight: normal;
		li {
			min-height: 50px;
			padding-left: 55px;
			margin-bottom: 10px;
		}
		[class*="i-"] {
			font-size: 40px;
		}
	}

	&.big {
		font-size: 16px;
		max-width: 550px;
		.h6 {
			display: block;
			margin-bottom: 10px;
		}
		p {
			font-weight: normal;
			font-size: 14px;
			line-height: 1.45;
			color: $dark;
		}
		li {
			padding-left: 90px;
		}
		[class*="i-"] {
			font-size: 60px;
			left: 10px;
		}
	}
}

.list-items {
	padding: 24px 0;
}