@import "vars";


/*==========  Desktop First  ==========*/

// ≥1170px
@include media-breakpoint-down(lg) {
body {
	font-size: 15px;
}
.container {
	max-width: 100%;
}

.client__info {
	justify-content: center;
}

.advantages {
	&__bg {
		&--left {
			margin-left: -230px;
		}
		&--right {
			margin-left: 90px;
		}
	}
	&__infographics {
		max-width: 992px;
		margin: 0 auto;
		.item {
			font-weight: 500;
			font-size: 15px;
		}
	}
}

.tab__content--item {
	.illustration-3-2 {
	    margin-left: -120px;
	}
	.illustration-3-3 {
	    top: -130px;
        margin-left: 70px;
	}
}

.logics:before {
	margin-left: -580px;
	top: 132px;
}

.engineering:before {
	margin-left: -194px;
	bottom: 118px;
}

.programming:before {
    margin-left: -111px;
}

.client:before {
	margin-left: -577px;
	bottom: 119px;
}

.footer__list li {
	padding-left: 25px;
}

}

// ≥992px
@include media-breakpoint-down(md) {

.header {
    margin-bottom: 50px;
    &__offer {
    	height: 560px;
    }
}
.header__offer {
	&:before {
		top: 29px;
	    margin-left: 33px;
	}
	.h1 {
		margin-bottom: 25px;
	}
}

.advantages {
	&__header {
		text-align: center;
	}
	&__bg {
		&--left,
		&--right {
			display: none;
		}
		&--left-sm {
			display: block;
			width: 100px;
			height: 462px;
			top: 50%;
			transform: translateY(-50%);
			margin-left: -190px;
			z-index: 1;
		}
		&--right-sm {
			display: block;
			width: 100px;
			height: 462px;
			top: 50%;
			transform: translateY(-50%);
			margin-left: 90px;
			z-index: 1;
		}
	}
	&__infographics {
		max-width: 700px;
		height: 800px;
		margin-bottom: -20px;
		&:before {
		    top: 50%;
		    transform: translateY(-50%);
		    z-index: -1;
		}
		[class*="line-"] {
			display: none;
		}
		.item {
			width: 200px;
			height: auto;
			font-size: 13px;
			&.center {
				text-align: right;
			}
			.i-question {
				font-size: 30px;
				left: -24px;
			    top: -19px;
			}
			.i-x {
				top: -12px !important;
			    font-size: 40px !important;
			    left: -25px !important;
			}
			&.item-1 {
				right: 35px;
				bottom: 641px;
			}
			&.item-2 {
				right: 0px;
			    bottom: 541px;
			}
			&.item-3 {
				right: 0;
			    bottom: inherit;
			    top: 460px;
			}
			&.item-4 {
				right: 30px;
			    top: 568px;
			}
			&.item-5 {
				right: 80px;
				top: 636px;
			}
			&.item-6 {
				left: 88px;
				top: 637px;
			}
			&.item-7 {
				left: 30px;
			    top: 568px;
			}
			&.item-8 {
				left: 0;
			    top: 461px;
			}
			&.item-9 {
				left: 0;
			    bottom: 542px;
			}
			&.item-10 {
				left: 34px;
			    bottom: 640px;
			}
			&.item-11 {
				margin-left: -100px;
			    bottom: 710px;
			    &:before {
			    	height: 210px;
			    }
			}
		}
	}
}

.services {
	margin-bottom: 20px;
	.h2 {
		font-size: 22px;
		br {
			display: none;
		}
	}
	.h5 {
		font-size: 17px;
	}
	&__content {
		padding-bottom: 20px;
	}
	&__item {
		p {
			font-size: 13px;
		}
	}
}

.steps {
    margin-bottom: 60px;
}

.logics {
	margin-bottom: 100px;
	&__header {
		.h2 {
			br {
				display: none;
			}
		}
	}
}

.engineering, .portfolio, .programming, .client {
	margin-bottom: 60px;
}

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
